Repository noobaa/noobaa-core, pull requests merged in 2020-09, with the labels that each got.

#6152 NS-CACHE: Added support for GET and PUT object ACL
  config.js
  src/endpoint/s3/ops/s3_get_object_acl.js
  src/endpoint/s3/ops/s3_put_object_acl.js
  src/endpoint/s3/s3_utils.js
  src/sdk/namespace_blob.js
  src/sdk/namespace_cache.js
  src/sdk/namespace_merge.js
  src/sdk/namespace_nb.js
  src/sdk/namespace_s3.js
  src/sdk/object_sdk.js
Labels: Comp-Namespace

#6167 Fix content-length in get object response on namespace bucket
  src/endpoint/s3/s3_rest.js
  src/sdk/namespace_s3.js
  src/test/unit_tests/test_s3_ops.js
Labels: Comp-Namespace, Priority 1 Critical

#6163 NS-CACHE: Cache object with size <= config.INLINE_MAX_SIZE
  src/api/object_api.js
  src/sdk/namespace_cache.js
  src/sdk/object_io.js
  src/server/object_services/object_server.js
  src/test/pipeline/namespace_cache_normal_test.js
  src/test/unit_tests/test_namespace_cache.js
  src/test/unit_tests/test_object_io.js
  src/test/utils/namespace_context.js
Labels: Comp-Namespace

#6027 RPC: Decouple message creation from message encoding/decoding
  src/rpc/rpc.js
  src/rpc/rpc_base_conn.js
  src/rpc/rpc_fcall.js
  src/rpc/rpc_http.js
  src/rpc/rpc_message.js
  src/rpc/rpc_request.js
  src/server/node_services/nodes_monitor.js
  src/util/js_utils.js
Labels: Performance, Type:Enhancement
