Repository noobaa/noobaa-core, pull requests merged in 2021-08, with the labels that each got.

#6687 Replication BG worker- initial implementation
  config.js
  src/api/api.js
  src/api/replication_api.js
  src/sdk/nb.d.ts
  src/server/bg_services/replication_scanner.js
  src/server/bg_services/replication_server.js
  src/server/bg_workers.js
  src/server/server_rpc.js
  src/server/system_services/bucket_server.js
  src/server/system_services/replication_store.js
  src/server/system_services/schemas/replication_configuration_schema.js
  src/test/unit_tests/index.js
  src/test/unit_tests/test_bucket_replication.js
  src/util/cloud_utils.js
  src/util/postgres_client.js
Labels: size/XXL

#6715 GH Action Build: Add push to quay.io
  .github/workflows/manual-full-build.yaml
Labels: size/S

#6717 [Backport to 5.7] postgres performance improvements - Write path
  package-lock.json
  package.json
  src/server/object_services/md_store.js
  src/server/object_services/schemas/data_chunk_indexes.js
  src/server/system_services/system_server.js
  src/test/system_tests/ceph_s3_tests_deploy.sh
  src/tools/s3perf.js
  src/util/mongo_client.js
  src/util/postgres_client.js
Labels: size/L

#6718 Exposing odf_health_status metrics
  src/server/analytic_services/prometheus_reports/noobaa_core_report.js
  src/server/system_services/stats_aggregator.js
Labels: size/M

#6694 Bucket replication metrics
  src/server/analytic_services/prometheus_reports/noobaa_core_report.js
  src/server/bg_services/replication_scanner.js
  src/server/system_services/replication_store.js
  src/server/system_services/schemas/replication_configuration_schema.js
  src/test/unit_tests/test_bucket_replication.js
Labels: size/L
