Repository noobaa/noobaa-core, pull requests merged in 2021-09, with the labels that each got.

#6726 Semaphore improvement and addition to upload flows
  src/sdk/namespace_fs.js
  src/test/unit_tests/test_semaphore.js
  src/util/semaphore.js
Labels: size/M

#6728 Backport to 5.9: Bump tar from 6.1.8 to 6.1.11
  package-lock.json
Labels: size/XS

#6736 Backport to 5.9: change bucket replication dns to internal
  src/util/cloud_utils.js
Labels: size/XS

#6638 BucketSpaceFS using native ops
  src/sdk/bucketspace_fs.js
Labels: size/M

#6738 Validating any objects of type in system before looking for specific one
  src/server/system_services/bucket_server.js
  src/server/system_services/tier_server.js
Labels: size/S
