Repository noobaa/noobaa-core, pull requests merged in 2021-11, with the labels that each got.

#6790 Build container images on 5.9 changes
  .github/workflows/current-ver-build.yaml
Labels: size/S

#6791 Bumped prom-client to 14.0.0
  package-lock.json
  package.json
  src/server/analytic_services/prometheus_reports/noobaa_endpoint_report.js
Labels: size/S

#6789 Bumped ws to 8.2.3
  package-lock.json
  package.json
  src/rpc/rpc_ws.js
  src/rpc/rpc_ws_server.js
Labels: size/S

#6793 Configuration of FSync
  config.js
  src/sdk/namespace_fs.js
Labels: size/S

#6794 tools: fs_speed improved for nsfs perf troubleshooting
  src/test/unrelated/test_pipeline_stuck_on_destroyed_stream.js
  src/test/unrelated/test_pipeline_vs_pipe.js
  src/tools/fs_speed.js
  src/util/rand_stream.js
  src/util/speedometer.js
Labels: size/L

#6795 fix overriding config.js from env to false (bool)
  config.js
Labels: size/XS

#6796 Change node service storage counter's type number -> bigint
  src/server/node_services/node_schema.js
Labels: size/S

#6797 Backport to 5.8
  src/server/system_services/bucket_server.js
Labels: size/XS

#6799 [Backport to 5.8]: Remove ssh2
  package-lock.json
  package.json
  src/test/qa/rebuild_replicas_test.js
  src/test/utils/agent_functions.js
  src/test/utils/ssh_functions.js
  src/tools/node_ssh.js
Labels: size/L

#6801 Danny backport 5.8 b
  src/server/bg_services/db_cleaner.js
  src/server/object_services/md_store.js
  src/server/system_services/bucket_server.js
  src/server/system_services/system_server.js
  src/util/postgres_client.js
Labels: size/M

#6803 Fixing NSFS buffer release on complete
  src/sdk/namespace_fs.js
Labels: size/S

#6804 NSFS release buffers on break
  src/sdk/namespace_fs.js
Labels: size/S

#6806 Buffer pool overallocation of memory fix
  src/sdk/namespace_fs.js
  src/test/unit_tests/index.js
  src/test/unit_tests/test_buffer_pool.js
  src/util/buffer_utils.js
Labels: size/M

#6808 5.9 Backport to buffer pool and config.js changes
  config.js
  src/sdk/namespace_fs.js
  src/test/unit_tests/index.js
  src/test/unit_tests/test_buffer_pool.js
  src/util/buffer_utils.js
Labels: size/L

#6809 Removing the version from rsyslog
  src/deploy/NVA_build/NooBaa.Dockerfile
Labels: size/XS

#6810 Removing rotating-file-stream and unused code
  package-lock.json
  package.json
  src/util/debug_module.js
Labels: size/S

#6744 Azure library migration - Namespace flows - Part 1/4
  package-lock.json
  package.json
  src/sdk/namespace_blob.js
  src/sdk/object_sdk.js
  src/server/bg_services/namespace_monitor.js
  src/util/cloud_utils.js
  src/util/new_azure_storage_wrap.js
Labels: size/L

#6802 Azure lib changes in account and bucket servers - Part 2/4
  src/server/system_services/account_server.js
  src/server/system_services/bucket_server.js
Labels: size/M

#6813 [Backport to 5.7] DB fixes - removed distinct query and fixes db_cleaner
  src/deploy/NVA_build/NooBaa.Dockerfile
  src/server/bg_services/db_cleaner.js
  src/server/object_services/md_store.js
  src/server/system_services/bucket_server.js
  src/server/system_services/system_server.js
  src/util/postgres_client.js
Labels: size/M

#6743 Run S3 ops tests on Namespace buckets (Azure and AWS)
  .github/workflows/nightly-tests.yaml
  src/sdk/namespace_blob.js
  src/test/unit_tests/test_s3_ops.js
Labels: size/L

#6820 Refactor Nightly tests github action
  .github/workflows/nightly-tests.yaml
Labels: size/S

#6815 Azure lib changes in data buckets flow - Part 3/4
  src/agent/agent.js
  src/agent/block_store_services/block_store_azure.js
  src/agent/block_store_services/block_store_client.js
  src/lambda_funcs/sync_s3_to_azure.js
  src/test/framework/send_logs.js
Labels: size/L
