Repository noobaa/noobaa-core, pull requests merged in 2021-10, with the labels that each got.

#6739 Rewrite upload stream in NSFS
  src/sdk/namespace_fs.js
  src/test/unit_tests/test_namespace_fs.js
  src/test/unit_tests/test_semaphore.js
  src/util/semaphore.js
Labels: size/M

#6740 5.9 Semaphore backport
  src/sdk/namespace_fs.js
  src/test/unit_tests/test_namespace_fs.js
  src/test/unit_tests/test_semaphore.js
  src/util/semaphore.js
Labels: size/L

#6745 Bumped Node version to 14.17.6
  .nvmrc
Labels: size/XS

#6788 on manual build workflow - push as image as latest to ocs-dev
  .github/workflows/manual-full-build.yaml
Labels: size/S
