Repository noobaa/noobaa-core, pull requests merged in 2021-12, with the labels that each got.

#6821 Fix test s3 ops for namespace buckets
  src/test/unit_tests/test_s3_ops.js
Labels: size/M

#6826 Provide access keys on account creation
  src/api/account_api.js
  src/server/system_services/account_server.js
Labels: size/S

#6825 Addition of JSON and Array to config overrides
  config.js
Labels: size/XS

#6828 Fix lifecycle deleting in minutes instead of days
  src/server/bg_services/lifecycle.js
  src/server/system_services/bucket_server.js
Labels: size/L

#6837 Bump version to 5.10
  package.json
Labels: size/XS

#6699 Support followSymlinks on top of NS FS
  src/endpoint/s3/s3_errors.js
  src/native/fs/fs_napi.cpp
  src/sdk/namespace_fs.js
  src/test/unit_tests/test_namespace_fs.js
Labels: size/L

#6842 commenting out ceph tests as we are not running system_test_list
  src/deploy/NVA_build/Tests.Dockerfile
Labels: size/S
