Repository noobaa/noobaa-core, pull requests merged in 2022-02, with the labels that each got.

#6866 Switch to CentOS Stream 8 as base image
  src/deploy/NVA_build/NooBaa.Dockerfile
  src/deploy/NVA_build/builder.Dockerfile
  src/deploy/NVA_build/dev.Dockerfile
Labels: size/XS

#6849 Bucket lifecycle rule creation policies compatibility with aws new API
  src/api/bucket_api.js
  src/api/common_api.js
  src/endpoint/s3/ops/s3_put_bucket_lifecycle.js
  src/server/bg_services/lifecycle.js
  src/server/system_services/schemas/bucket_schema.js
  src/upgrade/upgrade_scripts/5.10.0/upgrade_bucket_lifecycle_structure.js
Labels: size/L

#6867 Backport to 5.9
  .eslintrc.js
  src/deploy/NVA_build/NooBaa.Dockerfile
  src/deploy/NVA_build/builder.Dockerfile
  src/deploy/NVA_build/dev.Dockerfile
  src/native/fs/fs_napi.cpp
  src/native/tools/crypto_napi.cpp
  src/test/unit_tests/index.js
  src/test/unit_tests/test_chunk_fs.js
  src/tools/chunk_fs_hashing.js
  src/util/chunk_fs.js
Labels: size/L

#6871 Bump node version to 14.18.2
  .nvmrc
Labels: size/XS

#6872 Backport to 5.9: bump node version to 14.18.2
  .nvmrc
Labels: size/XS

#6873 Backport to 5.10: bump node version to 14.18.2
  .nvmrc
  src/deploy/NVA_build/NooBaa.Dockerfile
  src/deploy/NVA_build/builder.Dockerfile
  src/deploy/NVA_build/dev.Dockerfile
Labels: size/S

#6874 lifecycle - remove unwrap from the logs
  src/server/bg_services/lifecycle.js
Labels: size/S

#6868 Fixing NSFS semaphore leak
  src/util/chunk_fs.js
Labels: size/M

#6879 Fixing issue of NOENT when uploading object to deleted sub-dir
  config.js
  src/sdk/namespace_fs.js
Labels: size/M

#6880 fixing issue of NOENT when uploading
  config.js
  src/sdk/namespace_fs.js
Labels: size/M

#6883 Backport to 5.10
  config.js
  src/api/object_api.js
  src/endpoint/s3/ops/s3_post_object_uploads.js
  src/endpoint/s3/ops/s3_put_object.js
  src/endpoint/s3/s3_utils.js
  src/sdk/namespace_fs.js
  src/sdk/nb.d.ts
  src/sdk/object_io.js
  src/server/object_services/object_server.js
  src/server/object_services/schemas/object_md_schema.js
  src/util/chunk_fs.js
Labels: size/L

#6859 STS | Session tokens generation and parsing
  config.js
  src/endpoint/s3/s3_rest.js
  src/endpoint/sts/ops/sts_post_assume_role.js
  src/endpoint/sts/sts_errors.js
  src/endpoint/sts/sts_rest.js
  src/sdk/object_sdk.js
  src/sdk/sts_sdk.js
  src/server/common_services/auth_server.js
  src/test/unit_tests/test_sts.js
  src/util/http_utils.js
Labels: size/L

#6892 Backport to 5.9
  config.js
  src/sdk/namespace_fs.js
  src/util/chunk_fs.js
Labels: size/L
