Repository noobaa/noobaa-core, pull requests merged in 2022-01, with the labels that each got.

#6850 changed default TTL for cache buckets to 0
  config.js
  frontend/src/app/components/modals/create-namespace-bucket-modal/create-namespace-bucket-modal.js
Labels: size/XS

#6851 Backport to 5.9 - NSFS Fixes
  .github/workflows/current-ver-build.yaml
  config.js
  package.json
  src/deploy/NVA_build/NooBaa.Dockerfile
  src/deploy/NVA_build/Tests.Dockerfile
  src/native/fs/fs_napi.cpp
  src/sdk/bucketspace_fs.js
  src/sdk/namespace_fs.js
  src/sdk/object_sdk.js
  src/test/unrelated/test_pipeline_stuck_on_destroyed_stream.js
  src/test/unrelated/test_pipeline_vs_pipe.js
  src/tools/fs_speed.js
  src/util/chunk_fs.js
  src/util/rand_stream.js
  src/util/speedometer.js
Labels: size/XL

#6852 Ref FSWorker parameters in NSFS native
  src/native/fs/fs_napi.cpp
  src/native/tools/crypto_napi.cpp
  src/util/chunk_fs.js
Labels: size/S

#6836 Addition of NSFS chunk_fs verifications
  .eslintrc.js
  src/test/unit_tests/index.js
  src/test/unit_tests/test_chunk_fs.js
  src/tools/chunk_fs_hashing.js
Labels: size/L

#6845 Added support for AWS STS for S3 operations
  frontend/src/app/schema/cloud-resources.js
  src/agent/agent.js
  src/agent/block_store_services/block_store_client.js
  src/agent/block_store_services/block_store_s3.js
  src/api/account_api.js
  src/api/common_api.js
  src/hosted_agents/hosted_agents.js
  src/server/system_services/account_server.js
  src/server/system_services/bucket_server.js
  src/server/system_services/pool_server.js
  src/server/system_services/schemas/account_schema.js
  src/server/system_services/schemas/pool_schema.js
  src/util/cloud_utils.js
Labels: size/L

#6855 Fix complete_object_multiparts on empty part list
  src/server/object_services/object_server.js
  src/test/unit_tests/test_s3_ops.js
Labels: size/M

#6854 fix chunked upload
  src/endpoint/s3/s3_utils.js
  src/sdk/namespace_fs.js
  src/sdk/object_io.js
  src/util/stream_utils.js
Labels: size/S

#6838 Initial STS support
  src/api/account_api.js
  src/api/common_api.js
  src/endpoint/endpoint.js
  src/endpoint/s3/ops/s3_put_object.js
  src/endpoint/s3/ops/s3_put_object_uploadId.js
  src/endpoint/s3/s3_rest.js
  src/endpoint/s3/s3_utils.js
  src/endpoint/sts/ops/sts_post_assume_role.js
  src/endpoint/sts/sts_errors.js
  src/endpoint/sts/sts_rest.js
  src/sdk/object_sdk.js
  src/sdk/sts_sdk.js
  src/server/system_services/account_server.js
  src/server/system_services/schemas/account_schema.js
  src/server/system_services/schemas/system_schema.js
  src/test/unit_tests/coretest.js
  src/test/unit_tests/index.js
  src/test/unit_tests/test_sts.js
  src/util/cloud_utils.js
  src/util/http_utils.js
Labels: size/XXL

#6857 Backport to 5.10
  src/endpoint/s3/s3_utils.js
  src/sdk/namespace_fs.js
  src/sdk/object_io.js
  src/server/object_services/object_server.js
  src/test/unit_tests/test_s3_ops.js
  src/util/stream_utils.js
Labels: size/M

#6860 add 5.10 to build on changes
  .github/workflows/current-ver-build.yaml
Labels: size/XS
