Repository noobaa/noobaa-core, pull requests merged in 2022-12, with the labels that each got.

#7110 Pre-compiled regexp optimization
  src/agent/block_store_services/block_store_base.js
  src/endpoint/lambda/lambda_rest.js
  src/endpoint/s3/s3_utils.js
  src/sdk/namespace_blob.js
  src/sdk/namespace_nb.js
  src/server/system_services/bucket_server.js
  src/test/utils/basic_server_ops.js
  src/util/http_utils.js
  src/util/net_utils.js
  src/util/schema_utils.js
  src/util/string_utils.js
Labels: size/M

#7104 Fix issue with signature calculation
  src/test/unit_tests/signature_test_suite/rgw/rgw_HEAD_BZ.sreq
  src/test/unit_tests/test_signature_utils.js
  src/util/signature_utils.js
Labels: size/XS

#7121 NSFS | Fix broken nsfs tool
  src/core/nsfs.js
Labels: size/S

#7123 update tsconfig file with target es2021
  tsconfig.json
Labels: size/XS

#7126 remove azure bucket load limit
  src/server/system_services/bucket_server.js
Labels: size/S

#7120 NSFS | Versioning | Documentation
  docs/design/NsfsVersioning.md
  docs/design/images/nsfs_versioning_dir_tree.png
Labels: size/M

#7125 [Backport to 5.11] Fixed map_common_prefixes queries
  src/util/postgres_client.js
  src/util/sql_functions/map_common_prefixes.sql
Labels: size/M

#7131 Delete account should throw FORBIDDEN and not UNAUTHORIZED when it's owner of existing buckets
  src/server/system_services/account_server.js
  src/test/unit_tests/test_bucketspace.js
Labels: size/M

#7122 add encoding url to list objects
  src/endpoint/s3/ops/s3_get_bucket.js
  src/endpoint/s3/ops/s3_get_bucket_uploads.js
  src/endpoint/s3/ops/s3_get_bucket_versions.js
  src/endpoint/s3/s3_errors.js
  src/endpoint/s3/s3_utils.js
Labels: size/L

#7139 [Backport to 5.10] Fixed map_common_prefixes queries
  .travis/deploy_minikube.sh
  src/util/postgres_client.js
  src/util/sql_functions/map_common_prefixes.sql
Labels: size/M

#7146 NSFS | get_single_user_xattr() shouldnt throw in case of missing attribute
  src/native/fs/fs_napi.cpp
  src/test/unit_tests/test_nb_native_fs.js
Labels: size/S

#7147 node18 fixes for openssl3
  src/native/tools/ssl_napi.cpp
  src/test/unit_tests/test_ssl_utils.js
Labels: size/S
