Repository noobaa/noobaa-core, pull requests merged in 2022-10, with the labels that each got.

#7084 Post nodev16 upgrade fixes
  package-lock.json
  src/deploy/NVA_build/noobaa_init.sh
Labels: size/XS

#7085 [Backport to 5.12] namespase STS and additional NSFS ops metrics
  config.js
  src/api/common_api.js
  src/api/node_api.js
  src/api/pool_api.js
  src/sdk/endpoint_stats_collector.js
  src/sdk/namespace_s3.js
  src/sdk/object_sdk.js
  src/server/bg_services/namespace_monitor.js
  src/server/system_services/bucket_server.js
  src/server/system_services/pool_server.js
  src/server/system_services/schemas/namespace_resource_schema.js
  src/server/system_services/stats_aggregator.js
  src/server/web_server.js
  src/util/cloud_utils.js
Labels: size/L

#7090 NSFS | Native xattr api additions
  src/native/fs/fs_napi.cpp
  src/sdk/namespace_fs.js
  src/test/unit_tests/sudo_index.js
  src/test/unit_tests/test_nb_native_fs.js
  src/tools/chunk_fs_hashing.js
Labels: size/L

#7094 Bump dependencies
  package-lock.json
  package.json
Labels: size/M

#7093 NSFS | add read object op metric
  src/api/common_api.js
  src/sdk/object_sdk.js
  src/server/system_services/stats_aggregator.js
Labels: size/S

#7089 Collecting FS worker stats and sending it to the to `/metrics/nsfs_stats`
  src/api/common_api.js
  src/api/stats_api.js
  src/native/fs/fs_napi.cpp
  src/sdk/bucketspace_fs.js
  src/sdk/endpoint_stats_collector.js
  src/sdk/namespace_fs.js
  src/server/bg_services/namespace_monitor.js
  src/server/system_services/stats_aggregator.js
  src/server/web_server.js
  src/tools/chunk_fs_hashing.js
  src/tools/fs_speed.js
  src/util/chunk_fs.js
Labels: size/XL

#7097 Parse seq as int
  src/util/postgres_client.js
Labels: size/XS
