Repository noobaa/noobaa-core, pull requests merged in 2022-08, with the labels that each got.

#7012 Add access mode property to namespace resource
  src/api/pool_api.js
  src/sdk/namespace_blob.js
  src/sdk/namespace_fs.js
  src/sdk/namespace_s3.js
  src/sdk/object_sdk.js
  src/server/system_services/pool_server.js
  src/server/system_services/schemas/namespace_resource_schema.js
Labels: size/M

#7026 Collecting nsfs stats into nsfs_counters
  src/sdk/endpoint_stats_collector.js
  src/sdk/namespace_fs.js
  src/util/chunk_fs.js
Labels: size/M

#7027 Adding update_nsfs_stats to stats_api
  src/api/stats_api.js
  src/server/system_services/stats_aggregator.js
Labels: size/M

#7035 Fix some few failing RGW tests
  src/endpoint/s3/ops/s3_get_bucket.js
Labels: size/XS

#7034 server: Updated the error status in case of non-existent account
  src/server/system_services/account_server.js
Labels: size/XS

#7033 Send the nsfs stats from the endpoint to the core
  src/sdk/endpoint_stats_collector.js
  src/sdk/namespace_fs.js
Labels: size/S

#7039 fixed native build on mac
  src/native/common.gypi
  src/native/nb_native.gyp
  src/native/third_party/cm256.gyp
Labels: size/XS

#7041 Sending the report of nsfs_stats to `/metrics/nsfs_stats`
  src/server/web_server.js
Labels: size/S

#7040 Fixed map_common_prefixes queries
  src/util/postgres_client.js
  src/util/sql_functions/map_common_prefixes.sql
Labels: size/M

#7044 Fix postgres unique indexes for new deployments
  src/server/object_services/schemas/object_md_indexes.js
Labels: size/XS

#7045 [BACKPORT to 4.11] | fix postgres unique indexes
  src/server/object_services/schemas/object_md_indexes.js
Labels: size/XS

#7046 [BACKPORT to 4.10] | fix postgres unique indexes
  src/server/object_services/schemas/object_md_indexes.js
Labels: size/XS

#7049 [backport to 5.10] fix small mem leaks that accumulate
  src/native/chunk/splitter_napi.cpp
  src/native/fs/fs_napi.cpp
Labels: size/S

#7050 [Backport to 5.10] Fix CVE - moment
  package-lock.json
  package.json
Labels: size/XS

#7052 fix small mem leaks that accumulate
  src/native/chunk/splitter_napi.cpp
Labels: size/XS

#7051 fix small mem leaks that accumulate
  src/native/chunk/splitter_napi.cpp
Labels: size/XS

#6971 NSFS | Set endpoint process default umask to 0o000
  src/endpoint/endpoint.js
  src/test/unit_tests/test_bucketspace.js
Labels: size/XS

#7053 𓇲 Fix s390x ppc64le builds
  .github/workflows/build-arm64-image.yaml
  .github/workflows/build-ppc64le-image.yaml
  src/deploy/NVA_build/builder.Dockerfile
  src/deploy/NVA_build/install_nodejs.sh
  src/native/chunk/coder.cpp
  src/native/third_party/cm256.gyp
  src/native/third_party/cm256/CMakeLists.txt
  src/native/third_party/cm256/LICENSE
  src/native/third_party/cm256/README.md
  src/native/third_party/cm256/cm256.cpp
  src/native/third_party/cm256/cm256.h
  src/native/third_party/cm256/export.h
  src/native/third_party/cm256/gf256.cpp
  src/native/third_party/cm256/gf256.h
  src/native/third_party/cm256/libcm256cc.pc.in
  src/native/third_party/cm256/sse2neon.h
  src/native/third_party/cm256/unit_test/UDPSocket.cpp
  src/native/third_party/cm256/unit_test/UDPSocket.h
  src/native/third_party/cm256/unit_test/cm256_test.cpp
  src/native/third_party/cm256/unit_test/data.h
  src/native/third_party/cm256/unit_test/example0.cpp
  src/native/third_party/cm256/unit_test/example0.h
  src/native/third_party/cm256/unit_test/example1.cpp
  src/native/third_party/cm256/unit_test/example1.h
  src/native/third_party/cm256/unit_test/main.cpp
  src/native/third_party/cm256/unit_test/mainutils.cpp
  src/native/third_party/cm256/unit_test/mainutils.h
  src/native/third_party/cm256/unit_test/matrix_test.sln
  src/native/third_party/cm256/unit_test/matrix_test.vcxproj
  src/native/third_party/cm256/unit_test/matrix_test.vcxproj.filters
  src/native/third_party/cm256/unit_test/receive.cpp
  src/native/third_party/cm256/unit_test/transmit.cpp
  src/native/third_party/versions.md
Labels: size/XXL

#7056 [Backport to 5.9] Moment upgrade - CVE
  package-lock.json
  package.json
Labels: size/XS
