Repository noobaa/noobaa-core, pull requests merged in 2022-06, with the labels that each got.

#6979 Backport to 5.11: stringify error codes before update_issues_report
  src/sdk/namespace_s3.js
  src/server/bg_services/namespace_monitor.js
Labels: size/XS

#6956 Added AWS STS related unit tests
  src/test/unit_tests/index.js
  src/test/unit_tests/test_cloud_utils.js
Labels: size/M

#6981 better handling of nodes_monitor nodes validity tests
  src/agent/block_store_services/block_store_base.js
  src/server/node_services/nodes_monitor.js
Labels: size/L

#6982 Adding jemalloc to docker build
  src/deploy/NVA_build/NooBaa.Dockerfile
Labels: size/XS

#6983 better handling of nodes_monitor nodes validity tests
  src/agent/block_store_services/block_store_base.js
  src/server/node_services/nodes_monitor.js
Labels: size/L

#6984 [backport to 5.11] better handling of nodes_monitor nodes validity tests
  src/agent/block_store_services/block_store_base.js
  src/server/node_services/nodes_monitor.js
Labels: size/L

#6986 backport to special backport 2
  src/agent/block_store_services/block_store_base.js
  src/agent/block_store_services/block_store_s3.js
  src/sdk/object_sdk.js
  src/server/common_services/auth_server.js
  src/server/node_services/node_allocator.js
  src/server/node_services/nodes_monitor.js
  src/server/object_services/object_server.js
  src/server/system_services/bucket_server.js
  src/server/system_services/system_server.js
  src/upgrade/upgrade_manager.js
  src/util/postgres_client.js
Labels: size/M

#6985 Adding jemalloc to docker build
  src/deploy/NVA_build/NooBaa.Dockerfile
Labels: size/XS

#6988 Backport to 5.9
  Makefile
  src/agent/block_store_services/block_store_base.js
  src/agent/block_store_services/block_store_s3.js
  src/endpoint/endpoint.js
  src/endpoint/s3/s3_utils.js
  src/sdk/object_sdk.js
  src/server/common_services/auth_server.js
  src/server/node_services/node_allocator.js
  src/server/node_services/nodes_monitor.js
  src/server/object_services/object_server.js
  src/server/system_services/bucket_server.js
  src/server/system_services/system_server.js
  src/test/unit_tests/test_s3_list_objects.js
  src/test/unit_tests/test_s3_ops.js
  src/upgrade/upgrade_manager.js
  src/util/postgres_client.js
Labels: size/XXL

#6992 Removing googleapis module
  package-lock.json
  package.json
  src/server/system_services/stats_aggregator.js
Labels: size/M

#6996 Danny 5.8 special backport 3
  package-lock.json
  package.json
  src/deploy/NVA_build/NooBaa.Dockerfile
  src/server/system_services/stats_aggregator.js
Labels: size/M
