Repository noobaa/noobaa-core, pull requests merged in 2022-09, with the labels that each got.

#7047 Collecting ops stats and sending it to the to `/metrics/nsfs_stats`
  src/api/common_api.js
  src/api/stats_api.js
  src/sdk/endpoint_stats_collector.js
  src/sdk/object_sdk.js
  src/server/system_services/stats_aggregator.js
  src/server/web_server.js
Labels: size/L

#7025 🌸🍒 mdsequence cherries
  config.js
  src/sdk/nb.d.ts
  src/server/object_services/md_store.js
  src/test/unit_tests/test_postgres_client.js
  src/util/mongo_client.js
  src/util/postgres_client.js
Labels: size/L

#7057 Add resource access mode validation
  src/sdk/namespace_blob.js
  src/sdk/namespace_cache.js
  src/sdk/namespace_fs.js
  src/sdk/namespace_merge.js
  src/sdk/namespace_multipart.js
  src/sdk/namespace_nb.js
  src/sdk/namespace_s3.js
  src/sdk/object_sdk.js
Labels: size/M

#7063 Handle read-only namespace resource monitoring process
  src/server/bg_services/namespace_monitor.js
Labels: size/XS

#7064 Support optional namespace write resource
  src/api/bucket_api.js
  src/sdk/namespace_merge.js
  src/sdk/object_sdk.js
  src/server/system_services/bucket_server.js
  src/server/system_services/schemas/bucket_schema.js
  src/test/unit_tests/test_system_servers.js
Labels: size/M

#6998 Remove `allowed_buckets`
  src/api/account_api.js
  src/api/bucket_api.js
  src/endpoint/s3/s3_rest.js
  src/lambda_funcs/create_account_func.js
  src/lambda_funcs/set_account_bucket_permissions_func.js
  src/sdk/nb.d.ts
  src/sdk/object_sdk.js
  src/server/bg_services/buckets_reclaimer.js
  src/server/common_services/auth_server.js
  src/server/func_services/func_server.js
  src/server/object_services/object_server.js
  src/server/system_services/account_server.js
  src/server/system_services/bucket_server.js
  src/server/system_services/schemas/account_schema.js
  src/server/system_services/system_server.js
  src/server/system_services/system_store.js
  src/test/lambda/dildos.js
  src/test/pipeline/account_test.js
  src/test/system_tests/mongodb_defaults.js
  src/test/system_tests/sanity_build_test.js
  src/test/system_tests/test_bucket_access.js
  src/test/system_tests/test_bucket_lambda_triggers.js
  src/test/system_tests/test_ceph_s3.js
  src/test/system_tests/test_utils.js
  src/test/unit_tests/test_bucketspace.js
  src/test/unit_tests/test_encryption.js
  src/test/unit_tests/test_s3_bucket_policy.js
  src/test/unit_tests/test_s3_worm.js
  src/test/unit_tests/test_sts.js
  src/test/unit_tests/test_system_servers.js
  src/tools/mapper_speed.js
  src/upgrade/upgrade_scripts/5.12.0/remove_allowed_buckets.js
Labels: size/XXL

#7065 [Fix]: allow admin account to perform any action on the system
  src/endpoint/s3/s3_rest.js
  src/server/common_services/auth_server.js
Labels: size/S

#7068 Add access mode to get_namespace_resource_extended_info
  src/server/system_services/pool_server.js
Labels: size/XS

#7070 Bump Dependency
  package-lock.json
  package.json
  src/deploy/NVA_build/Tests.Dockerfile
  src/test/unit_tests/run_npm_test_on_test_container.sh
  src/util/google_storage_wrap.js
Labels: size/M

#7072 [5.11] bumped version to 5.11.2
  .github/workflows/unit.yaml
  package.json
Labels: size/XS

#7079 👾 mdsequence bugfix
  src/test/unit_tests/index.js
  src/test/unit_tests/mdsequence_index.js
  src/test/unit_tests/test_mdsequence.js
  src/test/unit_tests/test_postgres_client.js
  src/util/postgres_client.js
Labels: size/M

#7082 [backport to 5.12] mdsequence bugfix
  src/test/unit_tests/index.js
  src/test/unit_tests/mdsequence_index.js
  src/test/unit_tests/test_mdsequence.js
  src/test/unit_tests/test_postgres_client.js
  src/util/postgres_client.js
Labels: size/M

#7074 Adding namespace STS
  config.js
  src/api/node_api.js
  src/api/pool_api.js
  src/sdk/namespace_s3.js
  src/sdk/object_sdk.js
  src/server/bg_services/namespace_monitor.js
  src/server/system_services/bucket_server.js
  src/server/system_services/pool_server.js
  src/server/system_services/schemas/namespace_resource_schema.js
  src/server/system_services/stats_aggregator.js
  src/util/cloud_utils.js
Labels: size/M

#7080 NSFS | Adding additional ops
  src/api/common_api.js
  src/sdk/endpoint_stats_collector.js
  src/sdk/object_sdk.js
  src/server/system_services/stats_aggregator.js
  src/server/web_server.js
Labels: size/L

#7081 Upgrade node v14 to v16
  .nvmrc
  src/deploy/NVA_build/noobaa_init.sh
  src/deploy/NVA_build/noobaa_supervisor.conf
  src/util/chunk_fs.js
Labels: size/S
