Repository noobaa/noobaa-core, pull requests merged in 2022-05, with the labels that each got.

#6931 Set postgres collation default to C - fixing BZ 2068110
  Makefile
  src/test/unit_tests/test_s3_list_objects.js
  src/util/postgres_client.js
Labels: size/XL

#6951 Bump core dependencies
  package-lock.json
  package.json
Labels: size/M

#6954 Bump version to 5.11
  package-lock.json
  package.json
Labels: size/XS

#6955 NSFS | Add checks for request/response aborted in namespace_fs read_object_stream()
  package-lock.json
  package.json
  src/core/nsfs.js
  src/endpoint/s3/ops/s3_get_object.js
  src/sdk/namespace_fs.js
  src/sdk/object_sdk.js
  src/test/unit_tests/test_namespace_fs.js
  src/util/buffer_utils.js
  src/util/stream_utils.js
Labels: size/L

#6952 NSFS | chunk_fs.flush_buffers() missing callback argument
  src/util/chunk_fs.js
Labels: size/XS

#6959 [5.10] bumped version to 5.10.1
  package.json
Labels: size/XS

#6957 Backport to 5.9 | NSFS | IOV & missing callback fixes
  config.js
  src/native/fs/fs_napi.cpp
  src/test/unit_tests/index.js
  src/test/unit_tests/test_chunk_fs.js
  src/tools/chunk_fs_hashing.js
  src/util/chunk_fs.js
Labels: size/M

#6937 log based replication scheam changes
  src/api/bucket_api.js
  src/server/system_services/bucket_server.js
  src/server/system_services/replication_store.js
  src/server/system_services/schemas/replication_configuration_schema.js
  src/test/unit_tests/test_bucket_replication.js
Labels: size/L

#6960 Backport to 5.11
  config.js
  package-lock.json
  package.json
  src/core/nsfs.js
  src/endpoint/s3/ops/s3_get_object.js
  src/sdk/namespace_fs.js
  src/sdk/object_sdk.js
  src/test/unit_tests/test_namespace_fs.js
  src/util/buffer_utils.js
  src/util/chunk_fs.js
  src/util/postgres_client.js
  src/util/stream_utils.js
Labels: size/L

#6961 backport to 5.10
  Makefile
  package-lock.json
  package.json
  src/core/nsfs.js
  src/endpoint/s3/ops/s3_get_object.js
  src/sdk/namespace_fs.js
  src/sdk/object_sdk.js
  src/test/unit_tests/test_namespace_fs.js
  src/test/unit_tests/test_s3_list_objects.js
  src/util/buffer_utils.js
  src/util/postgres_client.js
  src/util/stream_utils.js
Labels: size/XXL

#6964 Bump version to 5.12
  package-lock.json
  package.json
Labels: size/XS

#6969 Danny 5.8 5.8 special backport 2
  src/endpoint/endpoint.js
  src/endpoint/s3/s3_utils.js
  src/server/object_services/object_server.js
  src/test/unit_tests/test_s3_ops.js
  src/util/postgres_client.js
Labels: size/M

#6967 reduced log chattiness - changed level of log0 messages
  src/agent/block_store_services/block_store_azure.js
  src/agent/block_store_services/block_store_base.js
  src/agent/block_store_services/block_store_s3.js
  src/sdk/object_sdk.js
  src/server/common_services/auth_server.js
  src/server/node_services/node_allocator.js
  src/server/node_services/nodes_monitor.js
  src/server/system_services/bucket_server.js
  src/server/system_services/system_server.js
  src/upgrade/upgrade_manager.js
Labels: size/M
