Repository noobaa/noobaa-core, pull requests merged in 2022-07, with the labels that each got.

#7001 Backport to 5.11: Adding jemalloc to docker build
  src/deploy/NVA_build/NooBaa.Dockerfile
Labels: size/XS

#7002 Backport to 5.10: Adding jemalloc to docker build
  src/deploy/NVA_build/NooBaa.Dockerfile
Labels: size/XS

#7003 Backport to 5.9: Adding jemalloc to docker build
  src/deploy/NVA_build/NooBaa.Dockerfile
Labels: size/XS

#6993 [backport to 5.9] Removing googleapis module
  package-lock.json
  package.json
  src/server/system_services/stats_aggregator.js
Labels: size/M

#6994 [backport to 5.8] Removing googleapis module
  package-lock.json
  package.json
  src/server/system_services/stats_aggregator.js
Labels: size/M

#7005 redirecting `/` into `/version` instead of `/fe` which ware removed
  src/server/web_server.js
Labels: size/XS

#6947 NSFS - Use temp file create+linkat to PUT an object in gpfs
  src/core/nsfs.js
  src/native/fs/fs_napi.cpp
  src/sdk/namespace_fs.js
Labels: NS-FS, size/L

#7007 always use /noobaa_storage as mount point when running in a container
  src/util/os_utils.js
Labels: size/XS

#7014 prints improvements and addition of jemalloc prints
  src/native/nb_native.cpp
  src/native/nb_native.gyp
  src/native/tools/malloc_napi.cpp
  src/util/panic.js
Labels: size/M

#7016 fixes to PR #7014
  src/util/panic.js
Labels: size/M

#7011 Fix RGW test config
  .github/workflows/sanity.yaml
  .travis/travis_test_job.yaml
  src/deploy/NVA_build/Tests.Dockerfile
  src/test/framework/run_test_job.sh
  src/test/system_tests/ceph_s3_config.conf
  src/test/system_tests/ceph_s3_tests_deploy.sh
Labels: size/S

#7018 fix small mem leaks that accumulate
  src/native/chunk/splitter_napi.cpp
  src/native/fs/fs_napi.cpp
Labels: size/S

#7023 fix small mem leaks that accumulate
  src/native/chunk/splitter_napi.cpp
Labels: size/XS

#7022 Fix build native on Mac
  src/native/fs/fs_napi.cpp
Labels: size/XS
