Repository noobaa/noobaa-core, pull requests merged in 2022-11, with the labels that each got.

#7091 postgres client | upsert duplications fix
  src/util/postgres_client.js
Labels: size/S

#7087 🧹 Fix event api export_activity_log reply schema
  src/api/events_api.js
  src/server/notifications/event_server.js
Labels: size/S

#7100 [Backport to 5.12] remove sorting by version_past for postgres
  src/server/object_services/md_store.js
Labels: size/XS

#7101 BACKPORT TO 5.12 | postgres client upsert duplications fix
  src/util/postgres_client.js
Labels: size/S

#7098 Documentation for NSFS metrics flow
  docs/design/NSFSMetrics.md
  docs/design/images/NSFS_metrics.png
Labels: size/M

#7106 Bumped the version to 5.13.0
  package-lock.json
  package.json
Labels: size/XS

#7108 Backport to 5.11
  src/server/object_services/md_store.js
  src/util/postgres_client.js
Labels: size/S

#7109 Backport to 5.10
  src/server/object_services/md_store.js
  src/util/postgres_client.js
Labels: size/S

#6973 NSFS - supporting GPFS DL for Encryption
  .travis/deploy_minikube.sh
  src/endpoint/s3/s3_errors.js
  src/native/asm.gypi
  src/native/fs/fs_napi.cpp
  src/native/third_party/isa-l.gyp
  src/sdk/namespace_fs.js
  src/test/unit_tests/test_nb_native_fs.js
  src/tools/nsfs-enc.js
Labels: size/XXL

#7077 Allow anonymous access to object_api.list_objects
  src/api/object_api.js
  src/server/object_services/object_server.js
  src/test/unit_tests/coretest.js
  src/test/unit_tests/test_s3_bucket_policy.js
Labels: size/L

#7111 change in KeyCount field in s3 reply
  src/endpoint/s3/ops/s3_get_bucket.js
Labels: size/XS

#7114 Add a script to setup ceph account for s3 tests.
  src/test/system_tests/setup_ceph_s3_config.js
Labels: size/L

#7115 fix for test_set_bucket_tagging
  src/endpoint/s3/ops/s3_get_bucket_tagging.js
  src/endpoint/s3/s3_errors.js
Labels: size/S

#7105 NSFS | Versioning | set_bucket_versioning enablement
  config.js
  src/sdk/bucketspace_nb.js
  src/sdk/namespace_fs.js
  src/sdk/nb.d.ts
  src/sdk/object_sdk.js
  src/server/system_services/bucket_server.js
  src/test/unit_tests/coretest.js
  src/test/unit_tests/sudo_index.js
  src/test/unit_tests/test_bucketspace.js
  src/test/unit_tests/test_bucketspace_versioning.js
  src/test/unit_tests/test_nsfs_versioning.js
Labels: size/XL

#7116 Bump Dependencies
  package-lock.json
  package.json
Labels: size/S
