Repository noobaa/noobaa-core, pull requests merged in 2022-03, with the labels that each got.

#6893 Backport to 5.10
  config.js
  src/test/unit_tests/index.js
Labels: size/XS

#6886 Defer MD5 calculation and assignment of the azure blob upload to prevent upload blocking
  src/sdk/namespace_blob.js
  src/util/new_azure_storage_wrap.js
Labels: size/M

#6902 Backport to 5.10: Defer MD5 calculation and assignment of the azure blob upload to prev…
  src/sdk/namespace_blob.js
  src/util/new_azure_storage_wrap.js
Labels: size/M

#6903 Fix blob error codes extraction
  src/sdk/namespace_blob.js
  src/server/system_services/account_server.js
Labels: WIP PR, size/S

#6908 Backport to 5.10
  src/sdk/namespace_blob.js
  src/server/system_services/account_server.js
Labels: size/S

#6909 Fixing issue with sorting by wrong fields - leads to very slow object listing
  src/util/postgres_client.js
Labels: size/XS

#6910 Backport to 5.10
  src/server/object_services/object_server.js
  src/server/object_services/schemas/data_block_indexes.js
  src/server/object_services/schemas/data_chunk_indexes.js
  src/server/object_services/schemas/object_md_indexes.js
  src/util/postgres_client.js
  src/util/sql_functions/to_ts.sql
Labels: size/M

#6912 backport posgres fixes to 5.8 special
  src/deploy/NVA_build/NooBaa.Dockerfile
  src/deploy/NVA_build/builder.Dockerfile
  src/deploy/NVA_build/dev.Dockerfile
  src/server/object_services/schemas/data_block_indexes.js
  src/server/object_services/schemas/data_chunk_indexes.js
  src/server/object_services/schemas/object_md_indexes.js
  src/util/postgres_client.js
  src/util/sql_functions/to_ts.sql
Labels: size/M

#6915 Backport to 5.8
  src/deploy/NVA_build/NooBaa.Dockerfile
  src/deploy/NVA_build/builder.Dockerfile
  src/deploy/NVA_build/dev.Dockerfile
  src/server/object_services/schemas/data_block_indexes.js
  src/server/object_services/schemas/data_chunk_indexes.js
  src/server/object_services/schemas/object_md_indexes.js
  src/util/postgres_client.js
  src/util/sql_functions/to_ts.sql
Labels: size/M

#6911 Fix parallel bucket creation
  src/server/system_services/bucket_server.js
Labels: size/XS

#6916 Backport to 5.10
  src/server/system_services/bucket_server.js
Labels: size/XS

#6917 Backport | create and delete bucket fix
  src/server/system_services/bucket_server.js
Labels: size/XS

#6923 [backport to 5.6] ci: switch to CentOS Stream 8 as base image
  src/deploy/NVA_build/NooBaa.Dockerfile
  src/deploy/NVA_build/builder.Dockerfile
  src/deploy/NVA_build/dev.Dockerfile
Labels: size/XS

#6927 Calling dnf update with `--nobest` flag
  src/deploy/NVA_build/builder.Dockerfile
Labels: size/XS
