Repository noobaa/noobaa-core, pull requests merged in 2023-10, with the labels that each got.

#7517 NSFS | Fix nsfs simple fs tool
  src/cmd/nsfs.js
Labels: size/M

#7434 NSFS | MPU | optimization
  src/native/fs/fs_napi.cpp
  src/sdk/namespace_fs.js
  src/sdk/nb.d.ts
  src/test/unit_tests/index.js
  src/test/unit_tests/sudo_index.js
  src/test/unit_tests/test_bucketspace_versioning.js
  src/test/unit_tests/test_namespace_fs.js
  src/test/unit_tests/test_namespace_fs_mpu.js
  src/test/unit_tests/test_nsfs_versioning_gpfs.js
  src/util/chunk_fs.js
  src/util/native_fs_utils.js
Labels: size/XL

#7516 NC | NSFS |Add command replace the existing file - fix
  src/cmd/manage_nsfs.js
Labels: size/S

#7520 [5.12] upgrade node to v16
  .github/workflows/build-arm64-image.yaml
  .github/workflows/build-ppc64le-image.yaml
  .github/workflows/current-ver-build.yaml
  .github/workflows/manual-full-build.yaml
  .github/workflows/next-ver-build.yaml
  .github/workflows/nightly-tests.yaml
  .github/workflows/postgres-unit-tests.yaml
  .github/workflows/releaser.yaml
  .github/workflows/sanity.yaml
  .github/workflows/unit.yaml
  .github/workflows/weekly-build.yaml
  .nvmrc
  package-lock.json
  src/deploy/NVA_build/Tests.Dockerfile
  src/deploy/NVA_build/noobaa_init.sh
  src/deploy/NVA_build/noobaa_supervisor.conf
  src/test/unit_tests/test_signature_utils.js
  src/util/chunk_fs.js
Labels: size/L

#7521 [5.11] upgrade node to v16
  .github/workflows/current-ver-build.yaml
  .github/workflows/manual-full-build.yaml
  .github/workflows/next-ver-build.yaml
  .github/workflows/nightly-tests.yaml
  .github/workflows/postgres-unit-tests.yaml
  .github/workflows/sanity.yaml
  .github/workflows/unit.yaml
  .github/workflows/weekly-build.yaml
  .nvmrc
  Makefile
  package-lock.json
  src/deploy/NVA_build/Tests.Dockerfile
  src/deploy/NVA_build/noobaa_init.sh
  src/deploy/NVA_build/noobaa_supervisor.conf
  src/test/unit_tests/test_signature_utils.js
  src/util/chunk_fs.js
Labels: size/L

#7526 [NSFS | NC] Add items that are required for successful deployment on tape platform
  src/cmd/nsfs.js
  src/deploy/RPM_build/RPM.Dockerfile
  src/deploy/RPM_build/noobaa.spec
  src/deploy/nsfs.service
  src/deploy/spectrum_archive/deployment_guide.md
  src/deploy/spectrum_archive/process_restore_candidates.sh
  src/deploy/spectrum_archive/setup_policies.sh
Labels: size/L

#7426 bucket logging endpoint changes
  src/api/bucket_api.js
  src/deploy/NVA_build/NooBaa.Dockerfile
  src/endpoint/s3/s3_bucket_logging.js
  src/endpoint/s3/s3_rest.js
  src/sdk/bucketspace_nb.js
  src/sdk/nb.d.ts
  src/sdk/object_sdk.js
  src/server/system_services/bucket_server.js
Labels: size/L

#7525 Add Prometheus for log-based replication + fix in non version log-based replication copy flow
  src/server/bg_services/log_replication_scanner.js
  src/server/bg_services/replication_log_parser.js
  src/server/bg_services/replication_scanner.js
  src/server/utils/replication_utils.js
Labels: size/L

#7529 Bumping dependencies
  package-lock.json
  package.json
Labels: size/M

#7528 Improve archive deployment docs
  src/deploy/spectrum_archive/deployment_guide.md
Labels: size/M

#7530 [NC | NSFS] Add mm policy migration rule to kick in every 15 mins
  src/deploy/spectrum_archive/process_restore_candidates.sh
  src/deploy/spectrum_archive/setup_policies.sh
Labels: size/M

#7531 NSFS | NC | Add syslog configuration on RPM
  config.js
  docs/non_containerized_NSFS.md
  src/deploy/RPM_build/RPM.Dockerfile
  src/deploy/RPM_build/noobaa.spec
  src/deploy/spectrum_archive/deployment_guide.md
  src/deploy/standalone/noobaa_rsyslog.conf
  src/native/tools/syslog_napi.cpp
  src/util/debug_module.js
Labels: size/L

#7502 Reload certs 2237903 watch
  src/endpoint/endpoint.js
  src/rpc/rpc_http_server.js
  src/server/bg_services/server_monitor.js
  src/server/web_server.js
  src/util/postgres_client.js
  src/util/ssl_utils.js
Labels: size/L

#7532 [Backport into 5.14] Bumping dependencies
  package-lock.json
  package.json
Labels: size/M

#7518 NSFS | NC | nsfs service additions
  docs/non_containerized_NSFS.md
  src/cmd/nsfs.js
  src/deploy/NVA_build/Base.Dockerfile
  src/deploy/RPM_build/noobaa.spec
  src/deploy/nsfs.service
  src/deploy/nsfs_env.env
  src/endpoint/endpoint.js
  src/native/fs/fs_napi.cpp
Labels: size/M

#7524 Added a check for bidirectional replication for matching prefix
  src/server/system_services/bucket_server.js
  src/server/system_services/replication_store.js
  src/test/unit_tests/test_bucket_replication.js
Labels: size/M

#7533 NC | NSFS | HTTP and certificate configurations
  docs/non_containerized_NSFS.md
  src/cmd/nsfs.js
  src/endpoint/endpoint.js
  src/endpoint/endpoint_utils.js
  src/util/ssl_utils.js
Labels: size/M

#7535 Add Logs In http_utils.js
  src/util/http_utils.js
Labels: size/S

#7536 NSFS | NC | fix bucket policy issue
  src/endpoint/s3/s3_bucket_policy_utils.js
  src/sdk/bucketspace_fs.js
  src/server/system_services/bucket_server.js
  src/test/unit_tests/test_bucketspace_fs.js
Labels: size/L

#7498 NSFS | Content-type / directory object fixes
  src/sdk/namespace_fs.js
  src/test/unit_tests/test_namespace_fs.js
Labels: size/L

#7545 NSFS | NC | removing system store requirement from nsfs.js
  src/cmd/nsfs.js
Labels: size/XS

#7553 NC | NSFS | HTTP Server not Starting, but logging mismatch
  src/cmd/nsfs.js
  src/endpoint/endpoint.js
Labels: size/S

#7544 NC | NSFS | Schema validation
  src/cmd/manage_nsfs.js
  src/cmd/nsfs.js
  src/sdk/bucketspace_fs.js
  src/server/object_services/schemas/nsfs_account_schema.js
  src/server/object_services/schemas/nsfs_bucket_schema.js
  src/test/unit_tests/test_bucketspace_fs.js
Labels: size/L

#7557 [5.13] Bumped version to 5.13.5 and updated node version to 18.18.2
  .nvmrc
  package-lock.json
  package.json
Labels: size/XS

#7558 Bumed node version from 18.14.2 to 18.18.2
  .nvmrc
Labels: size/XS

#7522 NSFS | NC | Atomic creation of buckets and accounts config files (bucketspace FS and CLI)
  config.js
  src/cmd/manage_nsfs.js
  src/native/fs/fs_napi.cpp
  src/sdk/bucketspace_fs.js
  src/sdk/namespace_fs.js
  src/sdk/nb.d.ts
  src/test/unit_tests/index.js
  src/test/unit_tests/sudo_index.js
  src/test/unit_tests/test_bucketspace_fs.js
  src/test/unit_tests/test_nc_nsfs_cli.js
  src/test/unit_tests/test_nsfs_versioning.js
  src/util/native_fs_utils.js
Labels: size/XXL

#7550 RPM build updates for downstream builds
  Makefile
  src/deploy/RPM_build/RPM.Dockerfile
  src/deploy/RPM_build/noobaa.spec
  src/deploy/RPM_build/packagerpm.sh
Labels: size/S
