Repository noobaa/noobaa-core, pull requests merged in 2023-04, with the labels that each got.

#7255 support custom config for backing stores
  config.js
  src/agent/block_store_services/block_store_base.js
  src/api/object_api.js
  src/rpc/ice.js
  src/rpc/rpc_tcp.js
  src/sdk/map_api_types.js
  src/sdk/map_client.js
  src/sdk/object_io.js
  src/server/object_services/map_db_types.js
  src/server/object_services/object_server.js
  src/server/utils/chunk_config_utils.js
  src/test/unit_tests/test_chunk_config_utils.js
  src/tools/coding_speed.js
  src/util/os_utils.js
Labels: size/L

#7229 Add Ceph-S3 Tests Documentation
  docs/dev_guide/ceph_s3_tests/ceph_s3_tests_guide.md
  docs/dev_guide/ceph_s3_tests/ceph_s3_tests_list_single_test.txt
  docs/dev_guide/ceph_s3_tests/ceph_s3_tests_pending_list_status.md
Labels: size/XL

#7257 standalone backingstore agent
  config.js
  src/agent/agent.js
  src/agent/backingstore.js
  src/api/agent_api.js
  src/rpc/ice.js
  src/rpc/rpc.js
  src/rpc/rpc_n2n_agent.js
  src/server/node_services/nodes_monitor.js
  src/util/net_utils.js
Labels: size/L

#7260 config.NSFS_OPEN_READ_MODE='rd' for O_DIRECT
  config.js
  src/native/fs/fs_napi.cpp
  src/sdk/namespace_fs.js
Labels: NS-FS, size/M

#7265 Bump dependencies
  package-lock.json
  package.json
Labels: size/M

#7266 [Backport to 5.13] Bump dependencies
  package-lock.json
  package.json
Labels: size/M

#7258 Handle invalid Azure object metadata keys
  src/endpoint/s3/ops/s3_put_object.js
  src/sdk/namespace_blob.js
  src/util/http_utils.js
Labels: Compatibility-Azure, size/M

#7272 backport to 5.13
  config.js
  src/endpoint/s3/ops/s3_put_object.js
  src/native/fs/fs_napi.cpp
  src/sdk/namespace_blob.js
  src/sdk/namespace_fs.js
  src/util/http_utils.js
Labels: size/L

#7218 Root key rotate - core side
  Makefile
  config.js
  src/api/system_api.js
  src/deploy/NVA_build/Tests.Dockerfile
  src/server/bg_services/key_rotator.js
  src/server/bg_workers.js
  src/server/system_services/master_key_manager.js
  src/server/system_services/schemas/master_key_schema.js
  src/server/system_services/system_server.js
  src/server/system_services/system_store.js
  src/test/unit_tests/coretest.js
  src/test/unit_tests/run_npm_test_on_test_container.sh
  src/test/unit_tests/test_encryption.js
  src/util/mongo_client.js
Labels: size/L

#7275 Fix lint error
  src/server/system_services/system_store.js
Labels: size/XS

#7276 Fixing bad return code of NPM test
  .github/workflows/unit.yaml
  Makefile
  src/test/unit_tests/run_npm_test_on_test_container.sh
Labels: size/S

#7277 [Backport to 5.13] improve performance and fix lifecycle BG
  src/api/object_api.js
  src/server/bg_services/buckets_reclaimer.js
  src/server/bg_services/db_cleaner.js
  src/server/bg_services/lifecycle.js
  src/server/object_services/md_store.js
  src/server/object_services/object_server.js
  src/server/object_services/schemas/object_multipart_indexes.js
  src/server/object_services/schemas/object_part_indexes.js
Labels: size/L

#7253 [Direct to 5.12] Bump dependencies to avoid CVE
  package-lock.json
  package.json
Labels: size/M

#7222 s3select - Add tests (and some optional funcationality for them)
  docs/dev_guide/ceph_s3_tests/ceph_s3_tests_pending_list_status.md
  package-lock.json
  package.json
  src/endpoint/s3/ops/s3_post_object_select.js
  src/native/s3select/s3select_napi.cpp
  src/test/system_tests/ceph_s3_tests/s3-tests-lists/s3_tests_pending_list.txt
  src/test/system_tests/ceph_s3_tests/test_ceph_s3_constants.js
  src/test/system_tests/ceph_s3_tests/test_ceph_s3_deploy.sh
  src/test/unit_tests/index.js
  src/test/unit_tests/test_s3select.js
  src/util/s3select.js
Labels: size/L

#7256 NSFS | Unset supplemental groups of the endpoint & tests improvements
  .github/workflows/unit.yaml
  Makefile
  src/native/fs/fs_napi.cpp
  src/native/util/os.h
  src/native/util/os_linux.cpp
  src/test/system_tests/test_utils.js
  src/test/unit_tests/index.js
  src/test/unit_tests/sudo_index.js
  src/test/unit_tests/test_bucketspace.js
  src/test/unit_tests/test_bucketspace_versioning.js
  src/test/unit_tests/test_namespace_fs.js
  src/test/unit_tests/test_nsfs_access.js
  src/test/unit_tests/test_nsfs_versioning.js
Labels: size/XXL

#7278 [Backport to 5.11_special_fix] - Optimize NooBaa deletion paths
  src/api/object_api.js
  src/server/bg_services/buckets_reclaimer.js
  src/server/bg_services/db_cleaner.js
  src/server/bg_services/lifecycle.js
  src/server/object_services/md_store.js
  src/server/object_services/object_server.js
  src/server/object_services/schemas/object_multipart_indexes.js
  src/server/object_services/schemas/object_part_indexes.js
Labels: size/L

#7271 Add getBucketPolicyStatus command
  src/endpoint/s3/ops/index.js
  src/endpoint/s3/ops/s3_get_bucket_policy_status.js
  src/endpoint/s3/s3_rest.js
  src/endpoint/s3/s3_utils.js
Labels: size/M

#7020 NSFS | Folders extended attributes
  src/native/fs/fs_napi.cpp
  src/sdk/namespace_fs.js
  src/test/unit_tests/test_bucketspace_versioning.js
  src/test/unit_tests/test_namespace_fs.js
  src/test/unit_tests/test_ns_list_objects.js
Labels: NS-FS, size/XL
