Repository noobaa/noobaa-core, pull requests merged in 2023-08, with the labels that each got.

#7419 Allow customizing keep-alive and request timeouts for endpoint servers
  config.js
  docs/standalone.md
  src/endpoint/endpoint.js
Labels: size/XS

#7423 [boreas_poc] allow customizing keepAlive and request timeouts for endpoint servers
  config.js
  docs/standalone.md
  src/endpoint/endpoint.js
Labels: size/XS

#7422 BucketDiff is now checking for metadata change if the latest ETag is the same
  src/server/utils/bucket_diff.js
  src/server/utils/replication_utils.js
  src/test/unit_tests/jest_tests/test_bucket_diff.test.js
Labels: size/L

#7425 backport to 5.14
  src/endpoint/s3/s3_utils.js
  src/server/bg_services/replication_log_parser.js
  src/server/system_services/account_server.js
  src/server/system_services/pool_server.js
  src/server/system_services/schemas/namespace_resource_schema.js
Labels: size/M

#7293 S3select parquet fs
  Makefile
  docs/design/s3select.md
  docs/dev_guide/s3select/S3Select_Build.md
  src/deploy/NVA_build/Base.Dockerfile
  src/deploy/NVA_build/NooBaa.Dockerfile
  src/deploy/NVA_build/builder.Dockerfile
  src/deploy/NVA_build/install_arrow_build.sh
  src/deploy/NVA_build/install_arrow_run.sh
  src/endpoint/s3/ops/s3_post_object_select.js
  src/endpoint/s3/s3_errors.js
  src/native/nb_native.gyp
  src/native/s3select/s3select.gyp
  src/native/s3select/s3select_napi.cpp
  src/sdk/nb.d.ts
  src/test/unit_tests/test_s3select.js
  src/util/s3select.js
Labels: size/XL

#7375 passing log candidates as batch for and copy and delete
  src/sdk/nb.d.ts
  src/server/bg_services/log_replication_scanner.js
  src/server/bg_services/replication_log_parser.js
  src/test/unit_tests/test_bucket_replication.js
Labels: size/L

#7424 Fix space check on TMFS
  config.js
  src/agent/block_store_services/block_store_base.js
  src/agent/block_store_services/block_store_fs.js
Labels: size/M

#7428 [boreas_poc] #7424 Provide custom space check method to block_store_fs
  config.js
  src/agent/block_store_services/block_store_base.js
  src/agent/block_store_services/block_store_fs.js
Labels: size/M

#7432 [Backport to 5.12] nsfs: handle content type
  src/sdk/namespace_fs.js
Labels: size/XS

#7431 [Backport to 5.13] nsfs: handle content type
  src/native/fs/fs_napi.cpp
  src/sdk/namespace_fs.js
Labels: size/S

#7371 NSFS | Versioning | List Object Version - Support for Null Version
  src/sdk/namespace_fs.js
  src/test/unit_tests/test_bucketspace_versioning.js
Labels: size/L

#7415 NC | NSFS | Guy's initial Non containerized NSFS POC
  src/api/api.js
  src/cmd/nsfs.js
  src/sdk/bucketspace_fs.js
  src/sdk/bucketspace_nb.js
  src/sdk/bucketspace_s3.js
  src/sdk/nb.d.ts
  src/sdk/object_sdk.js
Labels: size/L

#7436 Add #!/bin/bash header to bash files
  src/deploy/NVA_build/clone_s3select_submodules.sh
  src/deploy/NVA_build/clone_submodule.sh
  src/deploy/NVA_build/install_arrow_build.sh
  src/deploy/NVA_build/install_arrow_run.sh
Labels: size/XS

#7435 Move sanity tests to standalone deployment
  .github/workflows/sanity.yaml
  Makefile
  src/deploy/NVA_build/Tests.Dockerfile
  src/test/system_tests/run_sanity_test_on_test_container.sh
  src/test/system_tests/sanity_build_test.js
Labels: size/M

#7439 [backport to 5.14] Fix `copy_objects()` and `delete_objects()` calls
  src/server/bg_services/log_replication_scanner.js
Labels: size/XS

#7384 add semaphore state to noobaa endpoint metrics
  config.js
  src/endpoint/endpoint.js
  src/sdk/endpoint_stats_collector.js
  src/sdk/namespace_fs.js
  src/sdk/object_io.js
  src/server/analytic_services/prometheus_reports/noobaa_endpoint_report.js
  src/server/bg_services/semaphore_monitor.js
Labels: size/L

#7433 Add Region to Connection Schemas + Use Region in Check Connection
  src/api/account_api.js
  src/api/pool_api.js
  src/hosted_agents/hosted_agents.js
  src/server/system_services/account_server.js
  src/server/system_services/pool_server.js
  src/server/system_services/schemas/account_schema.js
  src/server/system_services/schemas/namespace_resource_schema.js
  src/server/system_services/schemas/pool_schema.js
Labels: size/S

#7446 CI | NSFS Versioning | Increase Timeout for 7 Tests That Failed in the CI
  src/test/unit_tests/test_bucketspace_versioning.js
Labels: size/S

#7444 NC | STS tests fix
  src/endpoint/sts/sts_rest.js
  src/sdk/bucketspace_nb.js
  src/sdk/object_sdk.js
  src/sdk/sts_sdk.js
  src/test/unit_tests/test_sts.js
Labels: size/M

#7447 Remove python dependency explicitly from RPM package
  src/deploy/RPM_build/noobaa.spec
Labels: size/XS

#7450 [5.13] Bump version to 5.13.2
  Makefile
  package-lock.json
  package.json
Labels: size/S

#7412 Object Version Replication - add the ability to replicate object versions.
  config.js
  src/api/replication_api.js
  src/server/bg_services/replication_scanner.js
  src/server/bg_services/replication_server.js
  src/server/utils/replication_utils.js
  src/test/unit_tests/test_bucket_replication.js
Labels: size/XL

#7443 COPY OBJECT | OBJECT IO | Semaphore deadlock fix
  src/sdk/object_io.js
Labels: size/S

#7442 Migrating to AWS SDK V3 | Add AWS SDK V3 Wrapper
  src/sdk/noobaa_s3_client/noobaa_s3_client.js
  src/sdk/noobaa_s3_client/noobaa_s3_client_sdkv3.js
  src/test/unit_tests/jest_tests/test_noobaa_s3_client.test.js
Labels: size/M

#7427 Extract log-based replication test into a different file and convert it to jest
  src/test/unit_tests/jest_tests/test_bucket_log_based_replication.test.js
  src/test/unit_tests/test_bucket_replication.js
Labels: size/L

#7445 Migrating to AWS SDK V3 | Replace node-http-handler Package
  package-lock.json
  package.json
  src/sdk/noobaa_s3_client/noobaa_s3_client.js
  src/test/unit_tests/jest_tests/test_noobaa_s3_client.test.js
Labels: size/XS

#7389 change bucket policy schema to fit AWS json
  src/api/common_api.js
  src/cmd/nsfs.js
  src/endpoint/s3/ops/s3_put_bucket_policy.js
  src/endpoint/s3/s3_rest.js
  src/endpoint/s3/s3_utils.js
  src/server/object_services/object_server.js
  src/server/system_services/bucket_server.js
  src/test/system_tests/test_utils.js
  src/test/unit_tests/index.js
  src/test/unit_tests/test_s3_bucket_policy.js
  src/test/unit_tests/test_sts.js
  src/test/unit_tests/test_upgrade_scripts.js
  src/upgrade/upgrade_scripts/5.14.0/upgrade_bucket_policy.js
Labels: size/L

#7455 Migrating to AWS SDK V3 | Add a Package For Upload
  package-lock.json
  package.json
Labels: size/XS

#7458 [5.12] Add check for fs_xattr before accessing XATTR_CONTENT_TYPE
  Makefile
  src/sdk/namespace_fs.js
Labels: size/S

#7460 [5.13] Bump version to 5.13.3
  package-lock.json
  package.json
Labels: size/XS

#7273 add bucket authentication for server side encryption algorithm
  src/api/common_api.js
  src/endpoint/s3/s3_bucket_policy_utils.js
  src/endpoint/s3/s3_rest.js
  src/endpoint/s3/s3_utils.js
  src/server/common_services/auth_server.js
  src/server/object_services/object_server.js
  src/server/system_services/bucket_server.js
  src/test/system_tests/ceph_s3_tests/s3-tests-lists/s3_tests_pending_list.txt
  src/test/unit_tests/test_s3_bucket_policy.js
  src/upgrade/upgrade_scripts/5.14.0/upgrade_bucket_policy.js
Labels: size/XL

#7468 Bump dependency
  package-lock.json
  package.json
Labels: size/M

#7361 Add test for tiering_ttl_worker
  src/test/unit_tests/index.js
  src/test/unit_tests/test_tiering_ttl_worker.js
Labels: size/L

#7459 NC | NSFS | add BucketSpaceMultiFS and doc
  docs/nsfs-multi-fs.md
  src/cmd/nsfs.js
  src/sdk/bucketspace_fs.js
  src/sdk/bucketspace_multi_fs.js
  src/sdk/object_sdk.js
Labels: size/XL

#7469 NC | NSFS | NSFS NC Systemd example script and docs for RPM installation
  docs/non_containerized_NSFS.md
  src/deploy/NVA_build/Base.Dockerfile
  src/deploy/RPM_build/noobaa.spec
  src/deploy/nsfs.service
Labels: size/L

#7471 Bump version to 5.15
  package-lock.json
  package.json
Labels: size/XS

#7473 NSFS | Merge NSFS standalone changes to master
  docs/nsfs-multi-fs.md
  src/api/api.js
  src/cmd/nsfs.js
  src/endpoint/sts/sts_rest.js
  src/sdk/bucketspace_fs.js
  src/sdk/bucketspace_multi_fs.js
  src/sdk/bucketspace_nb.js
  src/sdk/bucketspace_s3.js
  src/sdk/nb.d.ts
  src/sdk/object_sdk.js
  src/sdk/sts_sdk.js
  src/test/unit_tests/test_sts.js
Labels: size/XL
