Repository noobaa/noobaa-core, pull requests merged in 2023-01, with the labels that each got.

#7149 Bump dependencies
  package-lock.json
  package.json
Labels: size/S

#7145 🧹 Add s3perf flag documentation
  src/tools/s3perf.js
Labels: size/XS

#7150 Fix test signature utils CRLF
  src/test/unit_tests/test_signature_utils.js
Labels: size/L

#7152 Bumping node from 16.14.0 to 18.12.1
  .nvmrc
  package-lock.json
  package.json
  src/deploy/NVA_build/Tests.Dockerfile
Labels: size/S

#7155 [backport to 5.12] adding NSFS metrics ops and fs metrics
  src/api/common_api.js
  src/api/stats_api.js
  src/native/fs/fs_napi.cpp
  src/sdk/bucketspace_fs.js
  src/sdk/endpoint_stats_collector.js
  src/sdk/namespace_fs.js
  src/sdk/object_sdk.js
  src/server/bg_services/namespace_monitor.js
  src/server/system_services/stats_aggregator.js
  src/server/web_server.js
  src/test/unit_tests/sudo_index.js
  src/test/unit_tests/test_nb_native_fs.js
  src/tools/chunk_fs_hashing.js
  src/tools/fs_speed.js
  src/util/chunk_fs.js
Labels: size/XXL

#7140 Added retry for sending the NSFS metrics
  src/sdk/endpoint_stats_collector.js
Labels: size/M

#7119 NSFS | Versioning | Safe API for POSIX + put object + complete multipart upload + copy object
  src/api/common_api.js
  src/core/nsfs.js
  src/native/fs/fs_napi.cpp
  src/sdk/namespace_fs.js
  src/sdk/object_sdk.js
  src/test/unit_tests/test_bucketspace.js
  src/test/unit_tests/test_bucketspace_versioning.js
  src/test/unit_tests/test_namespace_fs.js
  src/test/unit_tests/test_nb_native_fs.js
  src/test/unit_tests/test_nsfs_versioning.js
  src/util/size_utils.js
Labels: size/XXL

#7144 Adding ROOT key rotate to core
  src/api/common_api.js
  src/api/system_api.js
  src/server/system_services/master_key_manager.js
  src/server/system_services/system_server.js
  src/server/system_services/system_store.js
  src/test/unit_tests/test_encryption.js
Labels: size/M

#7157 Add a comment with gitleaks:allow
  src/test/framework/report.js
  src/test/qa/tests_report_summary.js
  src/tools/tcp_tunnel.js
Labels: size/XS

#7142 Ceph s3 Tests | Separate configuration from Running Tests + GitHub Action
  .eslintignore
  .github/workflows/ceph-s3-tests.yaml
  src/deploy/NVA_build/Tests.Dockerfile
  src/test/system_tests/ceph_s3_tests/s3-tests-lists/s3_tests_black_list.txt
  src/test/system_tests/ceph_s3_tests/s3-tests-lists/s3_tests_pending_list.txt
  src/test/system_tests/ceph_s3_tests/test_ceph_s3.js
  src/test/system_tests/ceph_s3_tests/test_ceph_s3_config.conf
  src/test/system_tests/ceph_s3_tests/test_ceph_s3_config_and_run_s3_tests.sh
  src/test/system_tests/ceph_s3_tests/test_ceph_s3_config_setup.js
  src/test/system_tests/ceph_s3_tests/test_ceph_s3_constants.js
  src/test/system_tests/ceph_s3_tests/test_ceph_s3_deploy.sh
  src/test/system_tests/ceph_s3_tests/test_ceph_s3_deployment.yml
  src/test/system_tests/ceph_s3_tests/test_ceph_s3_job.yml
  src/test/system_tests/test_ceph_s3.js
Labels: size/XXL

#7141 Nooba bucket Logging configuration
  src/api/bucket_api.js
  src/api/common_api.js
  src/server/system_services/bucket_server.js
  src/server/system_services/schemas/bucket_schema.js
Labels: size/L

#7133 NSFS | Versioning | Implement GET/HEAD object
  src/endpoint/s3/ops/s3_get_object.js
  src/sdk/namespace_fs.js
  src/test/unit_tests/test_bucketspace_versioning.js
  src/test/unit_tests/test_namespace_fs.js
Labels: size/L

#7159 Add a step to cancel previous runs in GH Action
  .github/workflows/postgres-unit-tests.yaml
Labels: size/XS

#7158 Update es after updating node version
  .eslintrc.js
  tsconfig.json
Labels: size/S

#7160 NSFS | Versioning | Safe unlink - on error link back and not rename
  docs/design/NsfsVersioning.md
  src/native/fs/fs_napi.cpp
  src/test/unit_tests/test_nb_native_fs.js
Labels: size/M

#7161 Ceph s3 Tests | Update Ceph S3 Tests Commit Number
  .github/workflows/ceph-s3-tests.yaml
  src/test/system_tests/ceph_s3_tests/test_ceph_s3.js
  src/test/system_tests/ceph_s3_tests/test_ceph_s3_deploy.sh
Labels: size/S

#7170 Ceph s3 Tests | Collect logs in case of failure
  .github/workflows/ceph-s3-tests.yaml
Labels: size/S

#7154 NSFS | Versioning | ENABLED | Delete object / Delete multiple objects implementation
  src/native/fs/fs_napi.cpp
  src/sdk/namespace_fs.js
  src/test/unit_tests/test_bucketspace_versioning.js
  src/test/unit_tests/test_namespace_fs.js
  src/test/unit_tests/test_nsfs_versioning.js
Labels: size/XXL

#7175 [5.8] update version to 5.8.18
  package-lock.json
  package.json
Labels: size/XS

#7174 [5.9] update version to 5.9.14
  package-lock.json
  package.json
Labels: size/XS

#7173 [5.10] Update version to 5.10.10
  package-lock.json
  package.json
Labels: size/XS

#7171 [5.11] Update version to 5.11.5
  package-lock.json
  package.json
Labels: size/XS

#7156 Consume secret data from a file.
  config.js
  src/endpoint/endpoint.js
  src/util/jwt_utils.js
  src/util/os_utils.js
Labels: size/M

#7117 Add workflow for automated NooBaa releases
  .github/workflows/releaser.yaml
  tools/releaser.sh
Labels: size/L

#7178 Changes to all GitHub workflows - timeout, checkout v3, concurrency, general cleanup
  .github/workflows/build-arm64-image.yaml
  .github/workflows/build-ppc64le-image.yaml
  .github/workflows/ceph-s3-tests.yaml
  .github/workflows/current-ver-build.yaml
  .github/workflows/manual-full-build.yaml
  .github/workflows/next-ver-build.yaml
  .github/workflows/nightly-tests.yaml
  .github/workflows/postgres-unit-tests.yaml
  .github/workflows/releaser.yaml
  .github/workflows/sanity.yaml
  .github/workflows/unit.yaml
  .github/workflows/weekly-build.yaml
Labels: size/M

#7167 Bug Fix #7166 | Change message of error in PG client
  src/server/system_services/system_store.js
  src/util/postgres_client.js
Labels: size/S

#7168 NSFS list_objects should only list latest objects
  src/sdk/namespace_fs.js
  src/test/unit_tests/test_namespace_fs.js
Labels: size/L
