Repository noobaa/noobaa-core, pull requests merged in 2023-02, with the labels that each got.

#7184 Remap environment variables to pre-existing secrets
  .github/workflows/releaser.yaml
Labels: size/S

#7191 NSFS | Adding metric type to the prefix + Removing the errors in the nsfs io count
  src/sdk/endpoint_stats_collector.js
  src/server/system_services/stats_aggregator.js
  src/server/web_server.js
Labels: size/M

#7201 [5.12] Fix azure bucket load limit
  src/server/system_services/bucket_server.js
Labels: size/S

#7195 [5.12] Backport Automated Releaser
  .github/workflows/releaser.yaml
  tools/releaser.sh
Labels: size/L

#7202 Fix Bug #7151 | Change the Printing From NaN to 0 (In Average Calc)
  src/agent/block_store_services/block_store_base.js
Labels: size/XS

#7185 Adding GCP Namespace - Phase 1
  src/sdk/namespace_gcp.js
  src/sdk/object_sdk.js
  src/server/bg_services/namespace_monitor.js
Labels: size/L

#7208 use service certificate for rpc_http_server
  src/rpc/rpc_http_server.js
Labels: size/XS

#7209 [5.12] Update K8s version to 1.23.12
  .travis/deploy_minikube.sh
Labels: size/XS

#7207 [5.12] Backport releaser fix
  tools/releaser.sh
Labels: size/XS

#7210 [Backport to 5.12] Pre-compiled regexp optimization
  src/agent/block_store_services/block_store_base.js
  src/endpoint/lambda/lambda_rest.js
  src/endpoint/s3/s3_utils.js
  src/sdk/namespace_blob.js
  src/sdk/namespace_nb.js
  src/server/system_services/bucket_server.js
  src/test/utils/basic_server_ops.js
  src/util/http_utils.js
  src/util/net_utils.js
  src/util/schema_utils.js
  src/util/string_utils.js
Labels: size/M

#7211 [Backport to 5.11] Pre-compiled regexp optimization
  src/agent/block_store_services/block_store_base.js
  src/endpoint/lambda/lambda_rest.js
  src/endpoint/s3/s3_utils.js
  src/sdk/namespace_blob.js
  src/sdk/namespace_nb.js
  src/server/system_services/bucket_server.js
  src/test/utils/basic_server_ops.js
  src/util/http_utils.js
  src/util/net_utils.js
  src/util/schema_utils.js
  src/util/string_utils.js
Labels: size/M

#7216 Adding crypto_utils
  src/test/utils/s3ops.js
  src/util/crypto_utils.js
  src/util/google_storage_wrap.js
  src/util/new_azure_storage_wrap.js
Labels: size/L

#7212 # BZ 2168010 | Bytes used by Noobaa Bucket in Prometheus metrics
  src/api/stats_api.js
  src/server/analytic_services/prometheus_reports/noobaa_core_report.js
  src/server/system_services/stats_aggregator.js
Labels: size/S

#7217 [Backport to 5.9] Fixed map_common_prefixes queries
  src/util/postgres_client.js
  src/util/sql_functions/map_common_prefixes.sql
Labels: size/M

#7124 Log based replication background worker and log parser
  config.js
  src/api/bucket_api.js
  src/api/replication_api.js
  src/server/bg_services/log_replication_scanner.js
  src/server/bg_services/replication_log_parser.js
  src/server/bg_services/replication_scanner.js
  src/server/bg_services/replication_server.js
  src/server/bg_workers.js
  src/server/system_services/bucket_server.js
  src/server/system_services/replication_store.js
  src/server/system_services/schemas/replication_configuration_schema.js
  src/server/utils/replication_utils.js
Labels: size/XL
