Repository noobaa/noobaa-core, pull requests merged in 2023-09, with the labels that each got.

#7452 Migrating to AWS SDK V3 | Implementation In Analyze Resource and Namespace Monitor
  config.js
  src/sdk/noobaa_s3_client/noobaa_s3_client.js
  src/server/bg_services/namespace_monitor.js
  src/test/unit_tests/jest_tests/test_noobaa_s3_client.test.js
  src/tools/diagnostics/analyze_resource/analyze_resource.js
  src/tools/diagnostics/analyze_resource/analyze_resource_aws.js
  src/tools/diagnostics/analyze_resource/analyze_resource_cloud_vendor.js
Labels: size/M

#7457 Migrating to AWS SDK V3 | Use AWS SDK V3 In Unit Tests (upgrade_script, dedup, lifecycle)
  src/test/lifecycle/common.js
  src/test/system_tests/test_lifecycle.js
  src/test/unit_tests/test_dedup.js
  src/test/unit_tests/test_lifecycle.js
  src/test/unit_tests/test_upgrade_scripts.js
Labels: size/L

#7461 Migrating to AWS SDK V3 | Use AWS SDK V3 In Unit Tests (namespace_auth, bucketspace, bucketspace versioning)
  src/test/unit_tests/test_bucketspace.js
  src/test/unit_tests/test_bucketspace_versioning.js
  src/test/unit_tests/test_namespace_auth.js
Labels: size/XL

#7465 Add NotPrefix, NotAction and NotResource to bucket policy
  src/api/common_api.js
  src/endpoint/s3/ops/s3_put_bucket_policy.js
  src/endpoint/s3/s3_bucket_policy_utils.js
  src/server/system_services/bucket_server.js
  src/test/unit_tests/test_s3_bucket_policy.js
Labels: size/L

#7476 Remove skipping on log-based replication when sync_deletions is false
  src/server/bg_services/log_replication_scanner.js
Labels: size/S

#7475 NSFS | NC | S3 flow support
  config.js
  src/cmd/nsfs.js
  src/sdk/bucketspace_fs.js
  src/sdk/bucketspace_multi_fs.js
Labels: size/L

#7477 [Backport to 5.14] Remove skipping on log based replication when sync_deletions is false
  src/server/bg_services/log_replication_scanner.js
Labels: size/S

#7466 Migrating to AWS SDK V3 | Use AWS SDK V3 In Unit Tests (s3_bucket_policy, s3_encryption, encryption)
  src/test/unit_tests/test_encryption.js
  src/test/unit_tests/test_s3_bucket_policy.js
  src/test/unit_tests/test_s3_encryption.js
Labels: size/L

#7480 Migrating to AWS SDK V3 | Add Package client-sts
  package-lock.json
  package.json
Labels: size/XS

#7416 Added jest/unit_tests to verify the log parsing and processing flow
  .github/workflows/jest-unit-tests.yaml
  package.json
  src/native/chunk/splitter.cpp
  src/test/unit_tests/jest_tests/test_bucket_log_based_replication.test.js
Labels: size/L

#7488 Object Versions Replication - NamespaseS3 fix
  src/server/bg_services/replication_scanner.js
  src/server/utils/bucket_diff.js
  src/util/cloud_utils.js
Labels: size/XS

#7483 NC | NSFS unit test
  src/test/unit_tests/sudo_index.js
  src/test/unit_tests/test_bucketspace_multi_fs.js
Labels: size/L

#7487 NamespaceS3 | fix read_object_md for versionID
  src/sdk/namespace_s3.js
Labels: size/XS

#7492 removed aws_usage_metering bg_worker
  config.js
  docs/standalone.md
  src/server/bg_workers.js
  src/server/system_services/aws_usage_metering.js
Labels: size/M

#7496 [5.13] Bump Node version from 18.12.1 to 18.17.1
  .nvmrc
  package-lock.json
  package.json
  src/deploy/NVA_build/builder.Dockerfile
  src/deploy/NVA_build/dev.Dockerfile
Labels: size/S

#7497 Log based replication | Fix the copy object flow on non-versioned objects
  src/server/bg_services/log_replication_scanner.js
  src/server/bg_services/replication_log_parser.js
  src/server/utils/bucket_diff.js
  src/server/utils/replication_utils.js
  src/test/unit_tests/jest_tests/test_bucket_diff.test.js
  src/test/unit_tests/jest_tests/test_bucket_log_based_replication.test.js
Labels: size/L

#7491 Update account API for updation of force_md5_etag
  src/api/account_api.js
  src/server/system_services/account_server.js
  src/test/unit_tests/test_system_servers.js
Labels: size/S

#7479 Migrating to AWS SDK V3 | Use AWS SDK V3 In Unit Tests (s3_ops)
  src/test/unit_tests/test_s3_ops.js
Labels: size/L

#7489 Pass Region For Namespace S3
  src/server/system_services/pool_server.js
Labels: size/XS

#7501 [NSFS] Initialize restore_object API
  src/endpoint/s3/ops/index.js
  src/endpoint/s3/ops/s3_post_object_restore.js
  src/endpoint/s3/s3_bucket_policy_utils.js
  src/sdk/namespace_blob.js
  src/sdk/namespace_cache.js
  src/sdk/namespace_fs.js
  src/sdk/namespace_gcp.js
  src/sdk/namespace_merge.js
  src/sdk/namespace_nb.js
  src/sdk/namespace_s3.js
  src/sdk/nb.d.ts
  src/sdk/object_sdk.js
Labels: size/L

#7504 Some core fixes for external DB
  Makefile
  src/util/postgres_client.js
  src/util/ssl_utils.js
Labels: size/S

#7503 Namespace GCP | Adding read_object_stream
  src/sdk/namespace_gcp.js
  src/util/stream_utils.js
Labels: size/M

#7499 NSFS | NC | nsfs health check
  docs/non_containerized_NSFS.md
  src/cmd/health.js
  src/cmd/index.js
  src/cmd/nsfs.js
  src/deploy/nsfs.service
Labels: size/L

#7478 Migrating to AWS SDK V3 | Implementation In Account Server and Bucket Server
  src/sdk/noobaa_s3_client/noobaa_s3_client_sdkv2.js
  src/server/system_services/account_server.js
  src/server/system_services/bucket_server.js
  src/util/promise.js
Labels: size/L

#7511 increase timeout for bucket policy unit tests
  src/test/unit_tests/test_s3_bucket_policy.js
Labels: size/M

#7481 Migrating to AWS SDK V3 | Implementation In BucketSpaceS3 (And nscache)
  src/cmd/nscache.js
  src/sdk/bucketspace_s3.js
  src/sdk/noobaa_s3_client/noobaa_s3_client_sdkv2.js
Labels: size/M

#7509 NSFS | NC | set /etc/noobaa.conf.d as default config_root and a small bug fix
  config.js
  src/cmd/nsfs.js
  src/deploy/nsfs.service
  src/sdk/bucketspace_fs.js
Labels: size/M

#7508 Log based replication | Add copy object flow for versioned objects
  src/server/bg_services/log_replication_scanner.js
  src/server/bg_services/replication_log_parser.js
  src/server/utils/replication_utils.js
Labels: size/M

#7513 [5.14] Bump Node version from 18.14.2 to 18.17.1
  .nvmrc
Labels: size/XS

#7514 [5.13] Bump version to 5.13.4
  package-lock.json
  package.json
Labels: size/XS

#7493 [NC | NSFS] RPM Upgrades
  src/cmd/nsfs.js
  src/deploy/RPM_build/noobaa.spec
  src/upgrade/upgrade_manager.js
Labels: size/L

#7510 NSFS | NC | bucket and account manage CLI
  docs/non_containerized_NSFS.md
  src/cmd/index.js
  src/cmd/manage_nsfs.js
Labels: size/L

#7505 NSFS | NC | Small fixes and Docs updates
  config.js
  docs/non_containerized_NSFS.md
  src/cmd/nsfs.js
  src/sdk/bucketspace_fs.js
  src/server/bg_services/semaphore_monitor.js
Labels: size/L

#7515 NSFS | NC | CLI | fix nsfs cli uid/gid=0 issue
  src/cmd/manage_nsfs.js
Labels: size/XS

#7507 [NSFS] Add support for restore-object
  config.js
  src/endpoint/s3/ops/s3_get_object.js
  src/endpoint/s3/ops/s3_post_object_restore.js
  src/endpoint/s3/s3_errors.js
  src/endpoint/s3/s3_utils.js
  src/native/fs/fs_napi.cpp
  src/sdk/namespace_fs.js
  src/sdk/nb.d.ts
  src/test/unit_tests/test_namespace_fs.js
Labels: size/L
