Repository noobaa/noobaa-core, pull requests merged in 2023-12, with the labels that each got.

#7606 NSFS | NC | move /etc/noobaa.conf.d/.env location to /etc/sysconfig/noobaa and redirect file read addition
  config.js
  docs/non_containerized_NSFS.md
  src/cmd/manage_nsfs.js
  src/cmd/nsfs.js
  src/deploy/NVA_build/Base.Dockerfile
  src/deploy/RPM_build/RPM.Dockerfile
  src/deploy/RPM_build/noobaa.spec
  src/deploy/noobaa_nsfs.service
  src/deploy/spectrum_archive/deployment_guide.md
  src/sdk/nb.d.ts
  src/upgrade/upgrade_manager.js
  src/util/native_fs_utils.js
Labels: size/L

#7618 NSFS | NC | config.json load implementation instead of env file usage
  config.js
  docs/design/NonContainerizedNSFSDesign.md
  docs/dev_guide/NonContainerizedDeveloperCustomizations.md
  docs/non_containerized_NSFS.md
  src/cmd/nsfs.js
  src/endpoint/endpoint.js
  src/endpoint/endpoint_utils.js
  src/server/object_services/schemas/nsfs_config_schema.js
  src/util/ssl_utils.js
Labels: size/L

#7627 upgrade packages. Bypass google stroage UserAgent rewrite.
  package-lock.json
  package.json
  src/util/google_storage_wrap.js
Labels: size/M

#7638 NSFS | NC | Update system.json structure + small redirect fix
  config.js
  docs/design/NonContainerizedNSFSDesign.md
  docs/non_containerized_NSFS.md
  src/cmd/nsfs.js
  src/upgrade/upgrade_manager.js
  src/util/native_fs_utils.js
Labels: size/L

#7577 Fixes Related To AWS STS (in `BlockStoreS3` And `add_external_connection`)
  src/agent/block_store_services/block_store_s3.js
  src/server/system_services/account_server.js
Labels: size/XS

#7623 Update `projectedServiceAccountToken` path
  src/test/unit_tests/test_cloud_utils.js
  src/util/cloud_utils.js
Labels: size/XS, Depends on PR

#7624 NSFS | NC | CLI | read and write permissions of config subdirs and file fix and other small fixes
  config.js
  docs/design/NonContainerizedNSFSDesign.md
  docs/dev_guide/NonContainerizedDeveloperCustomizations.md
  docs/non_containerized_NSFS.md
  src/cmd/manage_nsfs.js
  src/cmd/nsfs.js
  src/sdk/bucketspace_fs.js
  src/test/unit_tests/test_nc_nsfs_cli.js
  src/util/native_fs_utils.js
Labels: size/L

#7643 NSFS | NC | fix type of ports in nsfs config schema
  src/deploy/RPM_build/noobaa.spec
  src/server/object_services/schemas/nsfs_config_schema.js
Labels: size/S

#7640 NSFS | NC | CLI | Remove unwanted console logs for manage NSFS script
  config.js
  docs/non_containerized_NSFS.md
  src/cmd/health.js
  src/cmd/manage_nsfs.js
  src/native/util/common.h
  src/server/object_services/schemas/nsfs_bucket_schema.js
  src/test/unit_tests/test_nc_nsfs_cli.js
  src/test/unit_tests/test_nc_nsfs_health.js
  src/util/debug_module.js
  src/util/native_fs_utils.js
Labels: size/L

#7654 test_encryption namesapce resource target bucket fix, update_external_connection fix for node20
  src/server/system_services/account_server.js
  src/test/unit_tests/test_encryption.js
Labels: size/M

#7657 Adapt http-proxy-agent updated api
  src/util/http_utils.js
Labels: size/S

#7656 [5.14] Bumping version from 5.14.1 to 5.14.2
  package-lock.json
  package.json
Labels: size/XS

#7658 node20 - workaround for ping
  package-lock.json
  package.json
  src/util/net_utils.js
Labels: size/S

#7653 NSFS | NC | Add white list IP table support for S3
  config.js
  docs/dev_guide/NonContainerizedDeveloperCustomizations.md
  docs/non_containerized_NSFS.md
  src/cmd/manage_nsfs.js
  src/endpoint/s3/s3_rest.js
  src/server/object_services/schemas/nsfs_config_schema.js
  src/test/unit_tests/test_nc_nsfs_cli.js
  src/util/http_utils.js
  src/util/native_fs_utils.js
Labels: size/L

#7662 NSFS | NC | replace bucketspace_fs user fs_context with root fs_context on config files ops
  src/sdk/bucketspace_fs.js
Labels: size/S

#7655 NSFS | NC | CLI | CLI commands responses & errors refactor, --show_secrets and lstat linux fix
  src/cmd/manage_nsfs.js
  src/manage_nsfs/manage_nsfs_cli_errors.js
  src/manage_nsfs/manage_nsfs_cli_responses.js
  src/test/unit_tests/test_nc_nsfs_cli.js
  src/util/native_fs_utils.js
Labels: size/XXL

#7663 Config options for disable NamespaceMonitor, MD_aggregator, Issues_report update, pg client inspect prints
  config.js
  src/endpoint/endpoint.js
  src/sdk/namespace_fs.js
  src/server/bg_workers.js
  src/tools/noobaa-db-info.sh
  src/util/postgres_client.js
Labels: size/M

#7667 [5.14] Bumping version from 5.14.2 5.14.3
  package-lock.json
  package.json
Labels: size/XS

#7668 [5.13] Bump version to 5.13.6
  package-lock.json
  package.json
Labels: size/XS

#7669 [Backport to 5.15] upgrade to node 20.9.0. ignore deprecated warnings to make nan compile
  .nvmrc
  src/native/common.gypi
Labels: size/XS

#7664 Backport to 5.14 | Config options for disable NamespaceMonitor, MD_aggregator, Issues_report update, pg client inspect prints
  config.js
  src/endpoint/endpoint.js
  src/sdk/namespace_fs.js
  src/server/bg_workers.js
  src/tools/noobaa-db-info.sh
  src/util/postgres_client.js
Labels: size/M

#7665 Backport to 5.13 | Config options for disable NamespaceMonitor, MD_aggregator, Issues_report update, pg client inspect prints
  config.js
  src/endpoint/endpoint.js
  src/sdk/namespace_fs.js
  src/server/bg_workers.js
  src/tools/noobaa-db-info.sh
  src/util/postgres_client.js
Labels: size/M

#7666 manage_nsfs | Generate access keys
  package.json
  src/cmd/manage_nsfs.js
  src/manage_nsfs/manage_nsfs_cli_errors.js
  src/test/unit_tests/jest_tests/test_nc_nsfs_account_cli.test.js
  src/test/unit_tests/test_nc_nsfs_cli.js
  src/util/native_fs_utils.js
  src/util/string_utils.js
Labels: size/XL

#7670 [Backport into 5.15] config disable ns monitor, md aggregator, issues report, pg inspect prining + manage_nsfs | Generate access keys
  config.js
  package.json
  src/cmd/manage_nsfs.js
  src/endpoint/endpoint.js
  src/manage_nsfs/manage_nsfs_cli_errors.js
  src/sdk/namespace_fs.js
  src/server/bg_workers.js
  src/test/unit_tests/jest_tests/test_nc_nsfs_account_cli.test.js
  src/test/unit_tests/test_nc_nsfs_cli.js
  src/tools/noobaa-db-info.sh
  src/util/native_fs_utils.js
  src/util/postgres_client.js
  src/util/string_utils.js
Labels: size/XL

#7671 [5.12] Bump version to 5.12.11
  package-lock.json
  package.json
Labels: size/XS

#7672 [Backport into 5.14] bump dependencies - Getting ready to node 20
  package-lock.json
  package.json
  src/server/system_services/account_server.js
  src/test/unit_tests/test_encryption.js
  src/util/google_storage_wrap.js
  src/util/http_utils.js
  src/util/net_utils.js
Labels: size/XXL

#7675 NSFS | NC | health command exit
  src/cmd/health.js
Labels: size/XS

#7680 NSFS | NC | add manage_nsfs folder to RPM build
  src/deploy/RPM_build/RPM.Dockerfile
Labels: size/XS

#7677 Use async-await in `test_agent_blocks_reclaimer`
  src/test/unit_tests/test_agent_blocks_reclaimer.js
  src/util/promise.js
Labels: size/L
