Repository noobaa/noobaa-core, pull requests merged in 2023-11, with the labels that each got.

#7561 NSFS | NC | github action for manual rpm build and upload it as artifact
  .github/workflows/manual-build-rpm.yaml
  .github/workflows/nightly-rpm-build.yml
  Makefile
Labels: size/L

#7560 Adding distinguished_name to nsfs_account_config
  docs/nsfs-standalone.md
  src/api/account_api.js
  src/api/common_api.js
  src/cmd/manage_nsfs.js
  src/native/fs/fs_napi.cpp
  src/sdk/bucketspace_fs.js
  src/sdk/nb.d.ts
  src/sdk/object_sdk.js
  src/server/object_services/schemas/nsfs_account_schema.js
  src/server/system_services/account_server.js
  src/server/system_services/system_store.js
  src/test/unit_tests/test_bucketspace.js
  src/test/unit_tests/test_bucketspace_fs.js
  src/test/unit_tests/test_nc_nsfs_cli.js
  src/test/unit_tests/test_system_servers.js
  src/util/native_fs_utils.js
Labels: size/L

#7566 NSFS | NC | Fix rpm final path
  .github/workflows/nightly-rpm-build.yml
Labels: size/XS

#7563 Standalone |CLI | Fix help
  src/cmd/manage_nsfs.js
Labels: size/L

#7456 run ceph s3 tests on nsfs
  .github/workflows/ceph-nsfs-s3-tests.yaml
  Makefile
  src/deploy/NVA_build/Tests.Dockerfile
  src/deploy/NVA_build/standalone_deploy_nsfs.sh
  src/test/system_tests/ceph_s3_tests/run_ceph_nsfs_test_on_test_container.sh
  src/test/system_tests/ceph_s3_tests/s3-tests-lists/nsfs_s3_tests_black_list.txt
  src/test/system_tests/ceph_s3_tests/s3-tests-lists/nsfs_s3_tests_pending_list.txt
  src/test/system_tests/ceph_s3_tests/test_ceph_nsfs_s3_config_and_run_s3_tests.sh
  src/test/system_tests/ceph_s3_tests/test_ceph_nsfs_s3_config_setup.js
Labels: size/XL

#7570 NSFS | NC | fix ENDPOINT_FORKS usage
  src/cmd/nsfs.js
Labels: size/XS

#7569 Fix Backingstore AWS STS - Pass the Role ARN
  src/agent/block_store_services/block_store_client.js
Labels: size/S

#7555 Fix - bidirectional validation flow should work with operator flow
  src/server/system_services/bucket_server.js
Labels: size/S

#7575 Replace revisions with current date
  .github/workflows/manual-build-rpm.yaml
  .github/workflows/nightly-rpm-build.yml
  src/deploy/RPM_build/packagerpm.sh
Labels: size/S

#7589 CI | Update Ceph S3 Tests (Commit Hash Number and Pending Lists)
  src/test/system_tests/ceph_s3_tests/s3-tests-lists/nsfs_s3_tests_pending_list.txt
  src/test/system_tests/ceph_s3_tests/s3-tests-lists/s3_tests_pending_list.txt
  src/test/system_tests/ceph_s3_tests/test_ceph_s3_deploy.sh
Labels: size/S

#7568 Standalone | CLI | fix account list issues
  src/cmd/manage_nsfs.js
Labels: size/M

#7571 docker build - bump base image to centos stream 9
  src/deploy/NVA_build/NooBaa.Dockerfile
  src/deploy/NVA_build/Tests.Dockerfile
  src/deploy/NVA_build/builder.Dockerfile
  src/deploy/NVA_build/dev.Dockerfile
  src/deploy/NVA_build/setup_platform.sh
  src/native/s3select/s3select.gyp
Labels: size/S

#7540 NC | NSFS | Events
  config.js
  docs/dev_guide/non_containerized_NSFS_events.md
  src/cmd/nsfs.js
  src/deploy/standalone/logrotate_noobaa.conf
  src/deploy/standalone/noobaa_rsyslog.conf
  src/deploy/standalone/noobaa_syslog.conf
  src/endpoint/endpoint.js
  src/native/tools/syslog_napi.cpp
  src/sdk/bucketspace_fs.js
  src/sdk/namespace_fs.js
  src/sdk/nb.d.ts
  src/util/debug_module.js
Labels: size/L

#7599 [5.14] Bump version from 5.14.0 to 5.14.1
  package-lock.json
  package.json
  src/test/system_tests/ceph_s3_tests/test_ceph_s3_deploy.sh
Labels: size/XS

#7572 NSFS | NC | Object Tagging
  src/sdk/bucketspace_fs.js
  src/sdk/namespace_fs.js
  src/test/system_tests/ceph_s3_tests/s3-tests-lists/nsfs_s3_tests_black_list.txt
  src/test/system_tests/ceph_s3_tests/s3-tests-lists/nsfs_s3_tests_pending_list.txt
Labels: size/M

#7600 NSFS | NC | Event syslog undefined -fix
  src/util/debug_module.js
Labels: size/XS

#7602 [NC | NSFS] Fix NSFS prometheus write bytes
  src/sdk/namespace_fs.js
  src/util/chunk_fs.js
Labels: size/S

#7607 NSFS | NC | Actions | fix RHEL 9 rpm suffix
  .github/workflows/manual-build-rpm.yaml
  .github/workflows/nightly-rpm-build.yml
Labels: size/XS

#7595 [5.12] Bumping "azure-storage" from 2.10.5 to 2.10.7 to avoid CVE
  package-lock.json
  package.json
  src/test/system_tests/ceph_s3_tests_deploy.sh
Labels: size/S

#7591 NSFS | NC | Configuration | accounts/ and access_keys/ directories changes
  config.js
  src/cmd/manage_nsfs.js
  src/endpoint/s3/s3_bucket_policy_utils.js
  src/native/fs/fs_napi.cpp
  src/sdk/bucketspace_fs.js
  src/sdk/nb.d.ts
  src/server/system_services/bucket_server.js
  src/test/unit_tests/test_bucketspace_fs.js
  src/test/unit_tests/test_nc_nsfs_cli.js
Labels: size/XL

#7597 NSFS | NC | Docs improvements
  docs/design/NonContainerizedNSFSDesign.md
  docs/dev_guide/NonContainerizedDeveloperCustomizations.md
  docs/dev_guide/standalone_with_db.md
  docs/non_containerized_NSFS.md
Labels: size/L

#7610 NSFS | NC | CLI | create config dirs if they don't exists
  src/cmd/manage_nsfs.js
  src/util/native_fs_utils.js
Labels: size/M

#7613 Revert secrets prints fix
  config.js
Labels: size/XS

#7611 parameterize centos base image version
  Makefile
  src/deploy/NVA_build/Base.Dockerfile
  src/deploy/NVA_build/NooBaa.Dockerfile
  src/deploy/NVA_build/Tests.Dockerfile
  src/deploy/NVA_build/builder.Dockerfile
  src/deploy/NVA_build/dev.Dockerfile
  src/deploy/NVA_build/setup_platform.sh
Labels: size/S

#7614 NSFS | NC | github actions rpm build fix for both centos8 and centos9
  .github/workflows/manual-build-rpm.yaml
  .github/workflows/nightly-rpm-build.yml
  docs/non_containerized_NSFS.md
Labels: size/M

#7617 NSFS | NC | remove stat from verify_gpfs_lib()
  src/cmd/nsfs.js
Labels: size/S

#7603 NC | NSFS | Health script missing features
  config.js
  docs/dev_guide/non_containerized_NSFS_events.md
  docs/non_containerized_NSFS.md
  src/cmd/health.js
  src/deploy/NVA_build/standalone_deploy_nsfs.sh
  src/endpoint/endpoint.js
  src/native/fs/fs_napi.cpp
  src/native/tools/ssl_napi.cpp
  src/sdk/bucketspace_fs.js
  src/sdk/bucketspace_simple_fs.js
  src/sdk/namespace_fs.js
  src/test/unit_tests/index.js
  src/test/unit_tests/test_nc_nsfs_health.js
  src/util/native_fs_utils.js
  src/util/nb_native.js
Labels: size/XL
