Repository noobaa/noobaa-core, pull requests merged in 2023-05, with the labels that each got.

#7285 CI | Change Deprecating `set-output`
  .github/workflows/build-arm64-image.yaml
  .github/workflows/build-ppc64le-image.yaml
  .github/workflows/manual-full-build.yaml
Labels: size/M

#7290 [Backport to 5.11] Bucket Reclaimer and lifecycle
  src/api/object_api.js
  src/server/bg_services/buckets_reclaimer.js
  src/server/bg_services/db_cleaner.js
  src/server/bg_services/lifecycle.js
  src/server/object_services/md_store.js
  src/server/object_services/object_server.js
  src/server/object_services/schemas/object_multipart_indexes.js
  src/server/object_services/schemas/object_part_indexes.js
Labels: size/L

#7284 Removing unused yaml dependency to avoid CVE
  package-lock.json
  package.json
Labels: size/XS

#7286 Doc | Update Ceph S3 Tests Documentation (Run a Test On AWS)
  docs/dev_guide/ceph_s3_tests/ceph_s3_tests_guide.md
Labels: size/M

#7287 NSFS | Native | Call setgroups syscall instead of lib call
  src/native/util/os_darwin.cpp
  src/native/util/os_linux.cpp
Labels: size/XS

#7283 block_store_fs enhanced to use xattrs and migrate blocks to tier2
  config.js
  src/agent/block_store_services/block_store_base.js
  src/agent/block_store_services/block_store_fs.js
  src/api/common_api.js
  src/native/fs/fs_napi.cpp
  src/sdk/map_client.js
  src/sdk/namespace_fs.js
  src/sdk/nb.d.ts
  src/sdk/object_io.js
  src/test/unit_tests/test_bucketspace.js
  src/util/nb_native.js
Labels: size/XL

#7228 Diagnose Resource
  src/tools/diagnostics/analyze_resource/analyze_resource.js
  src/tools/diagnostics/analyze_resource/analyze_resource_aws.js
  src/tools/diagnostics/analyze_resource/analyze_resource_azure.js
  src/tools/diagnostics/analyze_resource/analyze_resource_cloud_vendor.js
  src/tools/diagnostics/analyze_resource/analyze_resource_cloud_vendor_abstract.js
  src/tools/diagnostics/analyze_resource/analyze_resource_gcp.js
Labels: size/XL, Depends on PR

#7177 NSFS | Versioning | GPFS Linkat & Unlinkat fd verification
  src/native/fs/fs_napi.cpp
  src/native/fs/gpfs.h
  src/sdk/namespace_fs.js
  src/sdk/nb.d.ts
  src/test/unit_tests/test_nb_native_gpfs.js
  src/test/unit_tests/test_nsfs_versioning.js
  src/test/unit_tests/test_nsfs_versioning_gpfs.js
Labels: size/XXL

#7298 Tests | Azurite Blob Emulator adoption for tests
  Makefile
  src/test/unit_tests/test_bucketspace.js
  src/test/unit_tests/test_s3_ops.js
Labels: size/L

#7295 Implement tagging in namespace blob
  src/endpoint/s3/s3_utils.js
  src/sdk/namespace_blob.js
  src/sdk/object_sdk.js
  src/test/unit_tests/test_s3_ops.js
Labels: size/L

#7296 standalone commands
  .dockerignore
  .gitignore
  Makefile
  config.js
  docs/standalone.md
  mongod.conf
  package-lock.json
  package.json
  src/cmd/api.js
  src/cmd/backingstore.js
  src/cmd/index.js
  src/cmd/nscache.js
  src/cmd/nsfs.js
  src/deploy/NVA_build/Base.Dockerfile
  src/deploy/NVA_build/noobaa_core.yaml
  src/endpoint/endpoint.js
  src/hosted_agents/hosted_agents.js
  src/s3/s3rver.js
  src/s3/s3rver_starter.js
  src/sdk/nb.d.ts
  src/server/bg_workers.js
  src/server/index.js
  src/server/object_services/map_builder.js
  src/server/object_services/md_store.js
  src/server/object_services/schemas/object_md_indexes.js
  src/server/system_services/cluster_server.js
  src/server/system_services/pool_server.js
  src/server/system_services/system_server.js
  src/server/system_services/system_store.js
  src/server/web_server.js
  src/test/unit_tests/test_lifecycle.js
  src/test/unit_tests/test_mdsequence.js
  src/test/unit_tests/test_system_servers.js
  src/tools/s3cat.js
  src/tools/s3perf.js
  src/util/db_client.js
  src/util/mongo_client.js
  src/util/postgres_client.js
Labels: size/XXL, Standalone

#7300 Removing DOCKER_BUILDKIT env variable from the Makefile
  Makefile
Labels: size/S

#7301 Omit dummy access key and secret key from agent logs
  src/agent/agent_cli.js
Labels: size/XS

#7236 Calculate MD5 per bucket
  src/api/bucket_api.js
  src/sdk/namespace_fs.js
  src/sdk/object_sdk.js
  src/server/system_services/bucket_server.js
  src/server/system_services/schemas/bucket_schema.js
  src/test/unit_tests/test_system_servers.js
  src/util/chunk_fs.js
Labels: size/M

#7294 Attempt releaser fix: hardcode orgs in releaser scripts
  .github/workflows/releaser.yaml
Labels: size/XS

#7310 s3select - add overview.md doc
  docs/dev_guide/s3select/S3Select_Build.md
  docs/dev_guide/s3select/overview.md
Labels: size/S

#7316 Objects versions Replication - Step 1
  src/api/bucket_api.js
  src/server/bg_services/replication_scanner.js
  src/server/system_services/schemas/replication_configuration_schema.js
  src/server/utils/replication_utils.js
Labels: size/L
