Repository noobaa/noobaa-core, pull requests merged in 2023-03, with the labels that each got.

#7219 Namespace GCP | Adding delete multiple
  src/sdk/namespace_gcp.js
Labels: size/S

#7221 System Store | Move refresh() outside of make_changes_internal()
  src/server/system_services/system_store.js
Labels: size/XS

#7224 Namespace GCP | refactor upload
  src/sdk/namespace_gcp.js
Labels: size/S

#7225 Namespace GCP | Adding upload_object (copy) and read object metadata
  src/sdk/namespace_gcp.js
Labels: size/M

#7232 Namespace GCP | Adding list_object
  src/sdk/namespace_gcp.js
Labels: size/M

#7231 Delete replication on delete bucket and objects flow
  src/server/system_services/bucket_server.js
Labels: size/XS

#7238 Close unclosed files Test namespace fs
  src/test/unit_tests/test_namespace_fs.js
Labels: size/S

#7227 NSFS | GPFS | PUT OBJECT | Fix for upload object of nested key - temp file flow
  src/sdk/namespace_fs.js
Labels: NS-FS, size/S

#7240 housekeeping: cleanup logs, tsc errors, global requires
  are_you_sure.sh
  package-lock.json
  package.json
  src/agent/func_services/func_proc.js
  src/endpoint/blob/blob_rest.js
  src/endpoint/lambda/lambda_rest.js
  src/endpoint/s3/ops/index.js
  src/endpoint/s3/ops/s3_get_object.js
  src/endpoint/s3/ops/s3_post_object_select.js
  src/endpoint/s3/s3_rest.js
  src/endpoint/s3/s3_utils.js
  src/endpoint/sts/sts_rest.js
  src/rpc/rpc.js
  src/rpc/rpc_base_conn.js
  src/rpc/rpc_ws.js
  src/rpc/rpc_ws_server.js
  src/sdk/namespace_s3.js
  src/sdk/object_io.js
  src/sdk/object_sdk.js
  src/server/bg_services/agent_blocks_verifier.js
  src/server/common_services/auth_server.js
  src/server/node_services/node_allocator.js
  src/server/node_services/nodes_monitor.js
  src/server/object_services/map_reader.js
  src/server/object_services/object_server.js
  src/test/unit_tests/index.js
  src/test/unit_tests/sudo_index.js
  src/test/unit_tests/test_fs_utils.js
  src/test/unit_tests/test_namespace_fs.js
  src/test/unit_tests/test_object_io.js
  src/test/unit_tests/test_tiering_upload.js
  src/util/chunk_coder.js
  src/util/chunk_eraser.js
  src/util/cloud_utils.js
  src/util/debug_module.js
  src/util/http_utils.js
  src/util/jwt_utils.js
  src/util/license_utils.js
  src/util/nb_native.js
Labels: size/L

#7241 endpoint forks revamped
  config.js
  src/endpoint/endpoint.js
  src/util/fork_utils.js
Labels: size/M

#7242 housekeeping: error_utils, tsc fixes, tools fixes
  src/sdk/bucketspace_nb.js
  src/sdk/namespace_blob.js
  src/sdk/namespace_cache.js
  src/sdk/namespace_fs.js
  src/sdk/namespace_gcp.js
  src/sdk/namespace_s3.js
  src/sdk/nb.d.ts
  src/tools/fs_speed.js
  src/tools/s3cat.js
  src/tools/s3perf.js
  src/util/error_utils.js
  src/util/semaphore.js
  src/util/sensitive_string.js
Labels: size/L

#7239 NSFS | Versioning | find_version_path() optimization
  src/sdk/namespace_fs.js
  src/test/unit_tests/test_bucketspace_versioning.js
  src/test/unit_tests/test_namespace_fs.js
Labels: size/S

#7244 endpoint stats refactor
  src/core/nscache.js
  src/core/nsfs.js
  src/endpoint/endpoint.js
  src/native/fs/fs_napi.cpp
  src/sdk/endpoint_stats_collector.js
  src/sdk/namespace_blob.js
  src/sdk/namespace_cache.js
  src/sdk/namespace_fs.js
  src/sdk/namespace_gcp.js
  src/sdk/namespace_s3.js
  src/sdk/object_sdk.js
  src/test/unit_tests/README.md
  src/test/unit_tests/index.js
  src/test/unit_tests/test_bucketspace_versioning.js
  src/test/unit_tests/test_delayed_trigger.js
  src/test/unit_tests/test_namespace_cache.js
  src/test/unit_tests/test_namespace_fs.js
  src/util/chunk_fs.js
  src/util/delayed_collector.js
  src/util/delayed_trigger.js
Labels: size/XXL

#7246 update rimraf
  package-lock.json
  package.json
  src/util/fs_utils.js
Labels: size/XS

#7153 BACKPORT | 5.11 | #7131 | delete bucket owner should throw FORBIDDEN and not UNAUTORIZED
  src/server/system_services/account_server.js
  src/test/unit_tests/test_bucketspace.js
Labels: size/M

#7247 [backport to 5.11] use service certificate for rpc_http_server
  .travis/deploy_minikube.sh
  src/rpc/rpc_http_server.js
Labels: size/XS

#7243 Fix isa-l.gyp to source the common sources explicitly in all arches
  src/native/third_party/isa-l.gyp
Labels: size/M

#7234 Fix Log Replication Deletions
  src/sdk/nb.d.ts
  src/server/bg_services/log_replication_scanner.js
  src/server/bg_services/replication_log_parser.js
Labels: size/L
