Repository noobaa/noobaa-core, pull requests merged in 2023-07, with the labels that each got.

#7326 Update Ceph S3 Version to Newest
  .github/workflows/ceph-s3-tests.yaml
  docs/dev_guide/ceph_s3_tests/ceph_s3_tests_guide.md
  docs/dev_guide/ceph_s3_tests/ceph_s3_tests_list_single_test.txt
  docs/dev_guide/ceph_s3_tests/ceph_s3_tests_pending_list_status.md
  docs/dev_guide/ceph_s3_tests/images/tox_test_failed.png
  docs/dev_guide/ceph_s3_tests/images/tox_test_pass.png
  docs/dev_guide/ceph_s3_tests/images/tox_test_skipped.png
  src/deploy/NVA_build/Tests.Dockerfile
  src/test/system_tests/ceph_s3_tests/s3-tests-lists/s3_tests_black_list.txt
  src/test/system_tests/ceph_s3_tests/s3-tests-lists/s3_tests_pending_list.txt
  src/test/system_tests/ceph_s3_tests/test_ceph_s3.js
  src/test/system_tests/ceph_s3_tests/test_ceph_s3_constants.js
  src/test/system_tests/ceph_s3_tests/test_ceph_s3_deploy.sh
Labels: size/XXL

#7374 eslint | Remove Rule 'eol-last': 'off'
  .eslintrc.js
  src/endpoint/s3/s3_utils.js
  src/lambda_funcs/copy_between_bucket.js
  src/server/bg_services/cluster_master.js
  src/server/system_services/tier_server.js
  src/test/pipeline/namespace_cache_large_file_test.js
  src/test/unit_tests/test_encryption.js
  src/test/unit_tests/test_map_builder.js
  src/test/unit_tests/test_namespace_auth.js
  src/test/unit_tests/test_nsfs_versioning_gpfs.js
  src/upgrade/upgrade_scripts/5.8.0/upgrade_namespace_buckets.js
  src/util/js_utils.js
  src/util/s3select.js
Labels: size/S

#7377 fix rpc on web server over http/s
  src/rpc/rpc_http.js
  src/rpc/rpc_message.js
  src/server/web_server.js
Labels: size/L

#7380 Move block store cache size to config
  config.js
  src/agent/block_store_services/block_store_base.js
Labels: size/XS

#7356 Delete non existing object should not throw NoSuchKey but return successful response
  src/sdk/namespace_blob.js
  src/test/unit_tests/test_bucketspace.js
  src/test/unit_tests/test_s3_ops.js
Labels: size/M

#7362 Fix CVE-2019-15597 - Implement new DF command instead of library function
  package-lock.json
  package.json
  src/test/unit_tests/jest_tests/test_os_utils.test.js
  src/util/os_utils.js
Labels: size/L

#7381 Add config option to disable node io detention
  config.js
  docs/standalone.md
  src/server/node_services/nodes_monitor.js
Labels: size/M, TMFS

#7373 Fix `INVALID_SCHEMA_DB objectstats ERRORS`
  src/server/analytic_services/endpoint_stats_store.js
  src/util/postgres_client.js
Labels: size/M

#7382 cleaned istanbul and coverage util
  package-lock.json
  package.json
  src/api/debug_api.js
  src/server/bg_workers.js
  src/server/common_services/debug_server.js
  src/server/web_server.js
  src/test/unit_tests/test_coverage_utils.js
  src/util/coverage_utils.js
Labels: size/L

#7386 Adding jest tests to the GH actions and the `npm run jest`
  .github/workflows/jest-unit-tests.yaml
  package.json
Labels: size/S

#7349 Support copy_object for log based replication
  src/api/replication_api.js
  src/server/bg_services/log_replication_scanner.js
  src/server/bg_services/replication_scanner.js
  src/server/bg_services/replication_server.js
  src/server/utils/replication_utils.js
Labels: size/M

#7390 NSFS | handle content type
  src/native/fs/fs_napi.cpp
  src/sdk/namespace_fs.js
Labels: Compatibility-AWS, NS-FS, size/M

#7393 Add missing `package-lock.json`
  package-lock.json
Labels: size/XS

#7385 Bump dependencies
  package-lock.json
  package.json
Labels: size/S

#7391 put_object_acl - continue even without canned acl which some clients require
  src/endpoint/s3/ops/s3_put_object_acl.js
Labels: Compatibility-AWS, size/S

#7250 Removing azure-storage from the code
  package-lock.json
  package.json
  src/agent/block_store_services/block_store_azure.js
  src/agent/block_store_services/block_store_client.js
  src/sdk/namespace_blob.js
  src/server/bg_services/namespace_monitor.js
  src/server/system_services/account_server.js
  src/server/system_services/bucket_server.js
  src/test/system_tests/test_blob_api.js
  src/test/unit_tests/test_postgres_client.js
  src/test/utils/blobops.js
  src/util/azure_storage_wrap.js
  src/util/new_azure_storage_wrap.js
Labels: size/L

#7397 Migrating to AWS SDK V3 | Add Packages client-s3, node-http-handler
  package-lock.json
  package.json
Labels: size/S

#7398 storage class set to tier2 on uploads
  src/endpoint/s3/s3_utils.js
  src/server/object_services/map_reader.js
  src/server/object_services/map_server.js
  src/server/object_services/object_server.js
Labels: size/M, TMFS

#7399 storage class set to tier2 on uploads
  src/endpoint/s3/s3_utils.js
  src/server/object_services/map_reader.js
  src/server/object_services/map_server.js
  src/server/object_services/object_server.js
Labels: size/M

#7369 NSFS | Versioning | Suspended Mode Delete Object
  src/sdk/namespace_fs.js
  src/test/unit_tests/test_bucketspace_versioning.js
Labels: size/XL

#7402 Fix docker and podman multi platform build
  Makefile
Labels: size/S

#7291 add support for RPM package builds
  Makefile
  src/deploy/NVA_build/install_nodejs.sh
  src/deploy/RPM_build/RPM.Dockerfile
  src/deploy/RPM_build/noobaa.spec
  src/deploy/RPM_build/packagerpm.sh
Labels: size/L

#7401 Bug Fix #7400 | Change Connection and Add httpOptions with agent
  src/server/bg_services/namespace_monitor.js
  src/util/http_utils.js
Labels: size/S

#7378 Create bucket_diff util
  src/server/utils/bucket_diff.js
  src/test/unit_tests/jest_tests/test_bucket_diff.test.js
Labels: size/XXL

#7405 Backport to 5.14
  src/api/account_api.js
  src/server/bg_services/replication_log_parser.js
  src/server/system_services/account_server.js
  src/test/unit_tests/test_encryption.js
Labels: size/M

#7406 Clean up duplicated functions
  src/server/bg_services/replication_scanner.js
Labels: size/M

#7409 [5.13] Bump version to 5.13.1
  package-lock.json
  package.json
Labels: size/XS

#7407 Allow the bucket diff constructor to get s3_params OR connection
  src/server/utils/bucket_diff.js
  src/test/unit_tests/jest_tests/test_bucket_diff.test.js
Labels: size/M

#7376 Avoid logging an error message for an expected error
  src/agent/block_store_services/block_store_s3.js
Labels: size/M

#7408 Abide by RFC 7230 for S3 HTTP headers
  src/endpoint/s3/s3_utils.js
Labels: size/S

#7411 [Backport to 5.14] avoid error message for expected s3 error
  src/agent/block_store_services/block_store_s3.js
Labels: size/M

#7414 bugfix - LRUCache.invalidate should use item.d, not item.val.
  src/util/lru_cache.js
Labels: size/XS
