Repository noobaa/noobaa-core, pull requests merged in 2023-06, with the labels that each got.

#7312 Add block recall from tier2
  src/agent/block_store_services/block_store_fs.js
  src/native/fs/fs_napi.cpp
  src/sdk/nb.d.ts
Labels: size/M

#7303 Fix get_tags for copy from namespace-s3
  src/sdk/namespace_s3.js
  src/sdk/object_sdk.js
  src/test/unit_tests/test_s3_ops.js
Labels: size/L

#7317 Add missing Actions to OP_NAME_TO_ACTION
  src/endpoint/s3/s3_utils.js
Labels: size/XS

#7320 [Backport to 5.12] Fix isa-l.gyp to source the common sources explicitly in all arches
  src/native/third_party/isa-l.gyp
Labels: size/M

#7305 Fix error on dns config absent & remove `set_dns_config`
  src/util/os_utils.js
Labels: size/M

#7323 Bumped the version to 5.14.0
  package-lock.json
  package.json
Labels: size/XS

#7319 Fix #7314: Use mtime instead of ctime when tier2 FS is enabled.
  src/agent/block_store_services/block_store_fs.js
  src/native/fs/fs_napi.cpp
  src/sdk/nb.d.ts
Labels: size/M

#7203 NSFS | versioning | Implement list-object-versions
  src/endpoint/s3/ops/s3_get_bucket_versions.js
  src/sdk/namespace_fs.js
  src/test/unit_tests/test_bucketspace_versioning.js
Labels: size/L

#7335 [Backport to 5.13] fixing create_object_upload for namespace buckets
  src/server/object_services/object_server.js
Labels: size/XS

#7336 allow user role to create/list/delete buckets (but bucket policy still affects)
  src/api/bucket_api.js
Labels: size/S

#7297 Calculate MD5 per account
  src/api/account_api.js
  src/sdk/namespace_fs.js
  src/server/system_services/account_server.js
  src/server/system_services/schemas/account_schema.js
  src/test/unit_tests/test_namespace_fs.js
  src/test/unit_tests/test_system_servers.js
Labels: size/M

#7337 Tools fixes - s3cat, s3perf, http_speed
  config.js
  docs/standalone.md
  src/cmd/index.js
  src/endpoint/endpoint.js
  src/native/tools/ssl_napi.cpp
  src/server/bg_services/server_monitor.js
  src/server/bg_workers.js
  src/server/web_server.js
  src/test/unit_tests/coretest.js
  src/tools/http_speed.js
  src/tools/s3cat.js
  src/tools/s3perf.js
  src/tools/tcp_speed.js
  src/util/db_client.js
  src/util/os_utils.js
Labels: size/L

#7341 fix standalone backingstores to avoid connect to db and redirector
  src/cmd/backingstore.js
Labels: size/M, Standalone

#7342 bucket CORS move to config
  config.js
  src/endpoint/s3/s3_rest.js
  src/endpoint/sts/sts_rest.js
  src/util/http_utils.js
Labels: size/L

#7343 nsfs support for direct io
  .clang-format
  config.js
  src/native/fs/fs_napi.cpp
  src/sdk/namespace_fs.js
  src/sdk/nb.d.ts
  src/util/buffer_utils.js
Labels: NS-FS, size/L

#7344 nsfs add config option to disable check bucket boundaries
  config.js
  src/sdk/namespace_fs.js
Labels: NS-FS, size/XS

#7345 Fixing test_s3_bucket_policy to work with pg sequences
  src/test/unit_tests/test_s3_bucket_policy.js
Labels: size/S

#7307 nsfs command: simple auth + fix forks flag + fix read_account perf + warmup before buffer pool reads
  config.js
  package.json
  src/cmd/nsfs.js
  src/endpoint/endpoint.js
  src/endpoint/s3/s3_rest.js
  src/sdk/namespace_fs.js
  src/sdk/object_sdk.js
  src/tools/s3perf.js
Labels: size/L

#7350 Bump dependencies
  package-lock.json
  package.json
  src/test/framework/report.js
Labels: size/S

#7347 Makefile add optional CONTAINER_PLATFORM flag to container builds
  Makefile
Labels: size/S

#7354 standalone config option to create fs pool instead of internal mongo pool
  config.js
  docs/standalone.md
  src/server/system_services/bucket_server.js
  src/server/system_services/system_server.js
Labels: size/M, Standalone

#7248 Bump node version from 18.12.1 to 18.14.2
  .nvmrc
  package-lock.json
  src/deploy/NVA_build/builder.Dockerfile
  src/deploy/NVA_build/dev.Dockerfile
Labels: size/S

#7357 fs_napi readFile fix buffer mem leak (introduced recently in pr #7283)
  src/native/fs/fs_napi.cpp
Labels: size/M

#7355 NSFS | Check for GPFS lib path env var before calling gpfs functions
  src/native/fs/fs_napi.cpp
Labels: size/S

#7313 Tiering with storage class support - TTL based worker + TMFS blocks migration
  config.js
  docs/standalone.md
  src/agent/block_store_services/block_store_base.js
  src/agent/block_store_services/block_store_fs.js
  src/agent/block_store_services/block_store_mem.js
  src/api/block_store_api.js
  src/api/common_api.js
  src/api/scrubber_api.js
  src/api/tier_api.js
  src/api/tiering_policy_api.js
  src/sdk/map_client.js
  src/sdk/nb.d.ts
  src/server/bg_services/agent_blocks_reclaimer.js
  src/server/bg_services/scrubber.js
  src/server/bg_services/tier_spillback_worker.js
  src/server/bg_services/tier_ttf_worker.js
  src/server/bg_services/tier_ttl_worker.js
  src/server/bg_workers.js
  src/server/node_services/nodes_aggregator.js
  src/server/object_services/map_builder.js
  src/server/object_services/map_server.js
  src/server/object_services/md_store.js
  src/server/system_services/schemas/tier_schema.js
  src/server/system_services/tier_server.js
  src/test/unit_tests/index.js
  src/test/unit_tests/test_map_builder.js
  src/test/unit_tests/test_map_client.js
  src/util/js_utils.js
Labels: size/XXL

#7358 Fix #7304 try to set TMFS trigger xattr but warn only on failure
  src/agent/block_store_services/block_store_fs.js
  src/native/fs/fs_napi.cpp
  src/sdk/nb.d.ts
Labels: size/M

#7359 Fix fs_napi after #7358 - use ToBoolean to check for non falsy values
  src/native/fs/fs_napi.cpp
Labels: size/M

#7360 [TMFS] Address minors from #7313 & support auto second tier creation & assignment if configured
  config.js
  docs/standalone.md
  src/agent/block_store_services/block_store_fs.js
  src/endpoint/s3/s3_utils.js
  src/sdk/map_client.js
  src/server/bg_services/agent_blocks_reclaimer.js
  src/server/node_services/nodes_aggregator.js
  src/server/system_services/bucket_server.js
  src/server/system_services/system_server.js
  src/test/unit_tests/test_map_builder.js
  src/util/js_utils.js
Labels: size/L

#7339 Validate versions_dir_cache
  src/sdk/namespace_fs.js
  src/test/unit_tests/test_bucketspace_versioning.js
Labels: size/M

#7330 NSFS | A script for deploying NSFS on K8s
  src/cmd/deploy_nsfs.sh
Labels: size/XL

#7363 Adding jest as a dev dependency
  package-lock.json
  package.json
Labels: size/XS

#7311 NSFS | Versioning | Suspended Mode Put Object
  docs/design/NsfsVersioning.md
  src/sdk/namespace_fs.js
  src/test/unit_tests/test_bucketspace_versioning.js
  src/util/fs_utils.js
Labels: size/XL

#7366 5.12 Backport | Fix delete object when object doesn't exist
  src/sdk/namespace_fs.js
  src/test/unit_tests/test_bucketspace.js
Labels: size/M

#7329 Bug Fix #7328 | Remove Duplications before Sending Them to Delete Multiple Objects
  src/endpoint/s3/ops/s3_post_bucket_delete.js
  src/test/unit_tests/test_bucketspace_versioning.js
  src/test/unit_tests/test_s3_ops.js
Labels: size/M

#7367 5.13 backport | NSFS | delete non existing object & GPFS lib crash
  src/native/fs/fs_napi.cpp
  src/sdk/namespace_fs.js
  src/test/system_tests/ceph_s3_tests/test_ceph_s3_deploy.sh
  src/test/unit_tests/test_bucketspace.js
Labels: size/M

#7364 [Partial backport to 5.13] perf issues: read_account + backport of check_miss revert
  src/endpoint/s3/s3_rest.js
  src/sdk/object_sdk.js
  src/test/unit_tests/coretest.js
Labels: size/M

#7365 Add storage_class for objects, use GLACIER_IR for TMFS
  docs/standalone.md
  src/agent/block_store_services/block_store_fs.js
  src/api/bucket_api.js
  src/api/common_api.js
  src/api/object_api.js
  src/endpoint/s3/ops/s3_get_bucket.js
  src/endpoint/s3/ops/s3_get_bucket_uploads.js
  src/endpoint/s3/ops/s3_get_bucket_versions.js
  src/endpoint/s3/ops/s3_post_object_uploads.js
  src/endpoint/s3/ops/s3_put_object.js
  src/endpoint/s3/s3_utils.js
  src/sdk/map_api_types.js
  src/sdk/map_client.js
  src/sdk/namespace_fs.js
  src/sdk/namespace_s3.js
  src/sdk/nb.d.ts
  src/sdk/object_io.js
  src/server/bg_services/tier_ttf_worker.js
  src/server/node_services/nodes_aggregator.js
  src/server/object_services/map_db_types.js
  src/server/object_services/map_reader.js
  src/server/object_services/map_server.js
  src/server/object_services/object_server.js
  src/server/object_services/schemas/object_md_schema.js
  src/server/system_services/bucket_server.js
  src/server/system_services/tier_server.js
  src/test/unit_tests/test_map_builder.js
  src/test/unit_tests/test_map_client.js
Labels: size/L
