Repository noobaa/noobaa-core, pull requests merged in 2024-09, with the labels that each got.

#8311 Added a fix in upload_object for azure namespace cache bucket
  src/sdk/namespace_blob.js
  src/sdk/namespace_cache.js
Labels: size/XS

#8325 [Backport into 5.17] backporting fixes
  .jsbeautifyrc
  src/api/bucket_api.js
  src/api/common_api.js
  src/deploy/standalone/noobaa_syslog.conf
  src/sdk/bucketspace_fs.js
  src/sdk/namespace_blob.js
  src/sdk/namespace_cache.js
  src/sdk/namespace_fs.js
  src/server/bg_services/db_cleaner.js
  src/server/system_services/schemas/bucket_schema.js
  src/server/system_services/schemas/nsfs_bucket_schema.js
  src/test/unit_tests/test_bucketspace_fs.js
  src/test/unit_tests/test_bucketspace_versioning.js
  src/util/debug_module.js
Labels: size/XL

#8327 [5.15] Bumping version from 5.15.6 to 5.15.7
  package-lock.json
  package.json
Labels: size/XS

#8328 [Backport into 5.15] Bump dependencies to avoid CVE
  package-lock.json
  package.json
  src/server/system_services/pool_controllers.js
  src/test/unit_tests/test_namespace_cache.js
  src/util/yaml_utils.js
Labels: size/M

#8308 NC | Online Upgrade CLI
  src/cmd/manage_nsfs.js
  src/manage_nsfs/manage_nsfs_cli_errors.js
  src/manage_nsfs/manage_nsfs_cli_responses.js
  src/manage_nsfs/manage_nsfs_constants.js
  src/manage_nsfs/manage_nsfs_help_utils.js
  src/manage_nsfs/manage_nsfs_validations.js
  src/manage_nsfs/upgrade.js
  src/sdk/config_fs.js
  src/test/system_tests/test_utils.js
  src/test/unit_tests/jest_tests/test_cli_upgrade.test.js
Labels: size/L

#8255 Add support for "Server" and "x-noobaa-available-storage-classes" headers
  src/endpoint/endpoint.js
  src/endpoint/endpoint_utils.js
  src/endpoint/s3/ops/s3_head_bucket.js
  src/endpoint/s3/s3_utils.js
  src/sdk/bucketspace_fs.js
Labels: size/M

#8330 [Backport 5.16] add support for "Server" and "x-noobaa-available-storage-classes" headers
  src/endpoint/endpoint.js
  src/endpoint/endpoint_utils.js
  src/endpoint/s3/ops/s3_head_bucket.js
  src/endpoint/s3/s3_utils.js
  src/sdk/bucketspace_fs.js
Labels: size/M

#8329 [Backport 5.17] add support for "Server" and "x-noobaa-available-storage-classes" headers
  src/endpoint/endpoint.js
  src/endpoint/endpoint_utils.js
  src/endpoint/s3/ops/s3_head_bucket.js
  src/endpoint/s3/s3_utils.js
  src/sdk/bucketspace_fs.js
Labels: size/M

#8335 [5.14] Bumping version from 5.14.10 to 5.14.11
  package-lock.json
  package.json
Labels: size/XS

#8321 NSFS | NC | fix versions_dir_cache validation
  src/sdk/namespace_fs.js
  src/test/system_tests/ceph_s3_tests/s3-tests-lists/nsfs_s3_tests_pending_list.txt
Labels: size/S

#8331 Block delete_bucket requests by an OBC account
  src/endpoint/s3/s3_rest.js
  src/test/unit_tests/test_s3_ops.js
Labels: size/M

#8349 [5.14] Bump dependencies to avoid CVE
  package-lock.json
  package.json
Labels: size/XS

#8354 NC | Add backwards compatibility on get_bucket_owner() for error accuracy
  src/manage_nsfs/manage_nsfs_cli_utils.js
Labels: size/XS

#8350 Encode copy-source in replication utils
  src/server/bg_services/replication_server.js
  src/test/unit_tests/test_bucket_replication.js
Labels: size/M

#8347 Prevent issue report on read_object_md if the object doesn't exist
  src/sdk/namespace_blob.js
  src/sdk/namespace_s3.js
Labels: size/M

#8334 Backport | 5.17
  src/cmd/manage_nsfs.js
  src/manage_nsfs/manage_nsfs_cli_utils.js
  src/manage_nsfs/manage_nsfs_constants.js
  src/manage_nsfs/manage_nsfs_validations.js
  src/sdk/accountspace_fs.js
  src/sdk/bucketspace_fs.js
  src/sdk/config_fs.js
  src/test/unit_tests/jest_tests/test_accountspace_fs.test.js
  src/test/unit_tests/test_bucketspace_fs.js
  src/test/unit_tests/test_nc_nsfs_cli.js
  src/test/unit_tests/test_nc_nsfs_health.js
Labels: size/XL

#8342 NC | Versioning | Concurrent put of same key
  config.js
  src/sdk/namespace_fs.js
  src/test/unit_tests/jest_tests/test_versioning_concurrency.test.js
  src/util/native_fs_utils.js
Labels: size/M

#8356 Bumping deps to avoid CVE
  package-lock.json
  package.json
Labels: size/S

#8344 NC | Warp concurrent directories creation/deletion
  config.js
  src/sdk/namespace_fs.js
  src/test/unit_tests/jest_tests/test_nsfs_concurrency.test.js
  src/util/native_fs_utils.js
Labels: size/L

#8357 NC | NSFS | Fix Bug | Head Object on a Tagged Object Does Not Return `x-amz-tagging-count` Header
  src/sdk/namespace_fs.js
  src/test/system_tests/ceph_s3_tests/s3-tests-lists/nsfs_s3_tests_pending_list.txt
Labels: size/S

#8363 Bumping deps to avoid CVE
  package-lock.json
  package.json
Labels: size/S

#8365 [Backport into 5.17] Backport fixes
  config.js
  src/endpoint/sts/sts_rest.js
  src/sdk/namespace_blob.js
  src/sdk/namespace_fs.js
  src/sdk/namespace_s3.js
  src/server/bg_services/replication_server.js
  src/test/system_tests/ceph_s3_tests/s3-tests-lists/nsfs_s3_tests_pending_list.txt
  src/test/unit_tests/jest_tests/test_nsfs_concurrency.test.js
  src/test/unit_tests/jest_tests/test_versioning_concurrency.test.js
  src/test/unit_tests/test_bucket_replication.js
  src/util/native_fs_utils.js
Labels: size/L

#8364 NC | CLI | Small fixes in Health and Account Delete CLI command
  src/cmd/manage_nsfs.js
  src/manage_nsfs/health.js
  src/test/system_tests/test_utils.js
  src/test/unit_tests/test_nc_nsfs_health.js
Labels: size/L

#8338 NC | NSFS | Versioning | Fix Bug | Return 405 for Get/Head Specific Delete-Marker
  src/endpoint/s3/s3_errors.js
  src/endpoint/s3/s3_rest.js
  src/sdk/namespace_fs.js
  src/test/unit_tests/test_bucketspace_versioning.js
Labels: size/M

#8362 CI | NSFS | Ceph S3 Tests
  src/test/system_tests/ceph_s3_tests/s3-tests-lists/nsfs_s3_tests_pending_list.txt
Labels: size/XS

#8355 NSFS | fix copy_object issues
  src/sdk/namespace_fs.js
  src/sdk/object_sdk.js
  src/test/system_tests/ceph_s3_tests/s3-tests-lists/nsfs_s3_tests_pending_list.txt
  src/test/unit_tests/test_namespace_fs.js
Labels: size/L

#8367 NSFS | Delete object version id concurrency
  src/sdk/namespace_fs.js
  src/test/unit_tests/jest_tests/test_versioning_concurrency.test.js
  src/util/native_fs_utils.js
Labels: size/M

#8375 [Backport to 5.17] Fix STS token expiration
  config.js
  src/endpoint/sts/ops/sts_post_assume_role.js
  src/test/unit_tests/test_sts.js
Labels: size/L

#8373 CI | NSFS | Ceph S3 Tests | Move tests from `nsfs_s3_tests_pending_list` to `nsfs_s3_tests_black_list`
  src/test/system_tests/ceph_s3_tests/s3-tests-lists/nsfs_s3_tests_black_list.txt
  src/test/system_tests/ceph_s3_tests/s3-tests-lists/nsfs_s3_tests_pending_list.txt
Labels: size/L

#8351 NSFS | remove previous version external attribute
  src/sdk/namespace_fs.js
  src/test/unit_tests/test_bucketspace_versioning.js
Labels: size/M

#8345 NC | NSFS | Versioning | Fix Bug 8333 | Delete Object with Version ID | GPFS
  src/sdk/namespace_fs.js
  src/test/unit_tests/test_nsfs_versioning_gpfs.js
Labels: size/S

#8371 NC | NSFS | Versioning | Delete Objects | Add a Test | GPFS
  src/test/unit_tests/test_nsfs_versioning_gpfs.js
Labels: size/S

#8374 NC | Docs | Update Ceph S3 Tests Instructions in NC + Fix Bucket Policy All Principals
  docs/NooBaaNonContainerized/S3Ops.md
  docs/dev_guide/ceph_s3_tests/ceph_s3_tests_guide.md
Labels: size/M

#8358 NSFS | GPFS | fix delete latest object twice on GPFS
  src/sdk/namespace_fs.js
Labels: size/XS

#8383 5.17 Backports
  src/endpoint/s3/s3_errors.js
  src/endpoint/s3/s3_rest.js
  src/sdk/namespace_fs.js
  src/sdk/object_sdk.js
  src/test/system_tests/ceph_s3_tests/s3-tests-lists/nsfs_s3_tests_black_list.txt
  src/test/system_tests/ceph_s3_tests/s3-tests-lists/nsfs_s3_tests_pending_list.txt
  src/test/unit_tests/jest_tests/test_versioning_concurrency.test.js
  src/test/unit_tests/test_bucketspace_versioning.js
  src/test/unit_tests/test_namespace_fs.js
  src/test/unit_tests/test_nsfs_versioning_gpfs.js
  src/util/native_fs_utils.js
Labels: size/L

#8385 Backport copy object issue to 5.16
  src/sdk/namespace_fs.js
  src/sdk/object_sdk.js
  src/test/system_tests/ceph_s3_tests/s3-tests-lists/nsfs_s3_tests_pending_list.txt
  src/test/unit_tests/test_bucketspace_versioning.js
  src/test/unit_tests/test_namespace_fs.js
Labels: size/L

#8387 [5.16] Bumping version from 5.16.2 to 5.16.3
  package-lock.json
  package.json
Labels: size/XS

#8392 CI | Update Ceph S3 Tests Days (Temporary Solution)
  src/test/system_tests/ceph_s3_tests/test_ceph_s3_deploy.sh
Labels: size/XS

#8395 [Backport into 5.16] Bumping deps to avoid CVE
  package-lock.json
  package.json
Labels: size/S

#8359 NC | Change Check Access Behavior
  config.js
  docs/NooBaaNonContainerized/ConfigFileCustomizations.md
  src/manage_nsfs/health.js
  src/manage_nsfs/manage_nsfs_validations.js
  src/sdk/config_fs.js
  src/server/system_services/schemas/nsfs_config_schema.js
  src/test/unit_tests/jest_tests/test_nc_nsfs_account_cli.test.js
  src/test/unit_tests/jest_tests/test_nc_nsfs_bucket_cli.test.js
  src/test/unit_tests/jest_tests/test_nc_nsfs_config_schema_validation.test.js
  src/test/unit_tests/jest_tests/test_nc_nsfs_new_buckets_path_validation.test.js
  src/test/unit_tests/test_nc_nsfs_health.js
  src/util/native_fs_utils.js
Labels: size/L

#8388 NC | GPFS | Threaded Multiple Object Delete fix
  docs/dev_guide/ceph_s3_tests/ceph_s3_tests_pending_list_status.md
  src/sdk/namespace_fs.js
  src/test/unit_tests/jest_tests/test_versioning_concurrency.test.js
  src/util/native_fs_utils.js
Labels: size/M

#8393 NC | Copy based on link/same inode overrides existing xattr
  src/sdk/namespace_fs.js
  src/test/unit_tests/test_namespace_fs.js
Labels: size/M

#8389 NSFS | NOOBAA_LOG_LEVEL is not working as expected
  src/native/fs/fs_napi.cpp
  src/native/util/common.h
  src/sdk/nb.d.ts
Labels: size/XS

#8370 Added a fix for prometheusDuplicateTimestamp error
  src/server/analytic_services/prometheus_reports/nodejs_report.js
Labels: size/XS

#8386 NSFS | GPFS | fix put object over null version in suspended mode
  src/sdk/namespace_fs.js
  src/test/unit_tests/test_nsfs_versioning_gpfs.js
Labels: size/S

#8384 Bumping deps to avoid CVE
  package-lock.json
  package.json
Labels: size/S

#8403 NSFS | Add parentheses to should retry
  src/util/native_fs_utils.js
Labels: size/XS

#8404 NC | 5.17 backports
  config.js
  docs/NooBaaNonContainerized/ConfigFileCustomizations.md
  docs/dev_guide/ceph_s3_tests/ceph_s3_tests_pending_list_status.md
  src/cmd/manage_nsfs.js
  src/manage_nsfs/health.js
  src/manage_nsfs/manage_nsfs_validations.js
  src/native/fs/fs_napi.cpp
  src/native/util/common.h
  src/sdk/config_fs.js
  src/sdk/namespace_fs.js
  src/sdk/nb.d.ts
  src/server/system_services/schemas/nsfs_config_schema.js
  src/test/system_tests/ceph_s3_tests/test_ceph_s3_deploy.sh
  src/test/system_tests/test_utils.js
  src/test/unit_tests/jest_tests/test_nc_nsfs_account_cli.test.js
  src/test/unit_tests/jest_tests/test_nc_nsfs_bucket_cli.test.js
  src/test/unit_tests/jest_tests/test_nc_nsfs_config_schema_validation.test.js
  src/test/unit_tests/jest_tests/test_nc_nsfs_new_buckets_path_validation.test.js
  src/test/unit_tests/jest_tests/test_versioning_concurrency.test.js
  src/test/unit_tests/test_namespace_fs.js
  src/test/unit_tests/test_nc_nsfs_health.js
  src/test/unit_tests/test_nsfs_versioning_gpfs.js
  src/util/native_fs_utils.js
Labels: size/XL

#8402 NC | NSFS | Versioning | Headers Check in Unit Tests
  src/test/unit_tests/test_bucketspace_versioning.js
Labels: size/M

#8394 NC | NSFS | Add Concurrency Tests
  src/test/unit_tests/jest_tests/test_versioning_concurrency.test.js
Labels: size/L

#8413 [NSFS] Fix version listing
  src/sdk/namespace_fs.js
Labels: size/XS

#8416 NC | 5.17 backports
  package-lock.json
  package.json
  src/sdk/namespace_fs.js
  src/server/analytic_services/prometheus_reports/nodejs_report.js
  src/test/unit_tests/jest_tests/test_versioning_concurrency.test.js
  src/test/unit_tests/test_bucketspace_versioning.js
Labels: size/L
