Repository noobaa/noobaa-core, pull requests merged in 2024-12, with the labels that each got.

#8545 Refactor endpoint services and certificates start
  config.js
  src/endpoint/endpoint.js
  src/test/unit_tests/coretest.js
  src/util/ssl_utils.js
Labels: size/L

#8572 Turning off CORS for 4.18
  src/endpoint/s3/s3_rest.js
  src/test/system_tests/ceph_s3_tests/s3-tests-lists/nsfs_s3_tests_black_list.txt
  src/test/system_tests/ceph_s3_tests/s3-tests-lists/s3_tests_black_list.txt
  src/util/http_utils.js
Labels: size/M

#8573 Turning CORS back on for master
  src/endpoint/s3/s3_rest.js
  src/test/system_tests/ceph_s3_tests/s3-tests-lists/nsfs_s3_tests_black_list.txt
  src/test/system_tests/ceph_s3_tests/s3-tests-lists/s3_tests_black_list.txt
  src/util/http_utils.js
Labels: size/M

#8566 Bumping deps to avoid CVE (01/12/2024)
  package-lock.json
  package.json
Labels: size/S

#8578 Minor fixes to md_blow
  src/tools/md_blow.js
Labels: size/XS

#8576 [GLACIER] Send x-amz-restore header as one single header instead of 2 headers with same name
  src/endpoint/s3/s3_utils.js
Labels: size/XS

#8580 NC | NSFS | Change printing of `Warning stuck buffer_pool buffer` from `console.warn` to `console.error`
  src/util/buffer_utils.js
Labels: size/XS

#8584 [Backport 5.16] send x-amz-restore header as one single header instead of 2 headers with same name
  src/endpoint/s3/s3_utils.js
Labels: size/XS

#8583 [Backport 5.17] send x-amz-restore header as one single header instead of 2 headers with same name
  src/endpoint/s3/s3_utils.js
Labels: size/XS

#8582 [Backport 5.18] send x-amz-restore header as one single header instead of 2 headers with same name
  src/endpoint/s3/s3_utils.js
Labels: size/XS

#8532 NC | Online Upgrade | Health CLI update config directory and upgrade checks
  docs/NooBaaNonContainerized/CI&Tests.md
  docs/NooBaaNonContainerized/Health.md
  src/manage_nsfs/health.js
  src/test/unit_tests/nc_index.js
  src/test/unit_tests/sudo_index.js
  src/test/unit_tests/test_nc_health.js
  src/upgrade/nc_upgrade_manager.js
  src/upgrade/upgrade_utils.js
Labels: size/XL

#8577 NSFS | Replace ChunkFS with FileWriter
  config.js
  src/sdk/namespace_fs.js
  src/test/unit_tests/index.js
  src/test/unit_tests/nc_index.js
  src/test/unit_tests/test_chunk_fs.js
  src/test/unit_tests/test_file_writer.js
  src/tools/file_writer_hashing.js
  src/util/chunk_fs.js
  src/util/file_writer.js
Labels: size/L

#8589 Backport of needed fixes to 5.18
  config.js
  docs/NooBaaNonContainerized/CI&Tests.md
  docs/NooBaaNonContainerized/Health.md
  package-lock.json
  package.json
  src/endpoint/endpoint.js
  src/manage_nsfs/diagnose.js
  src/manage_nsfs/health.js
  src/sdk/namespace_fs.js
  src/server/analytic_services/prometheus_reporting.js
  src/test/unit_tests/index.js
  src/test/unit_tests/nc_index.js
  src/test/unit_tests/sudo_index.js
  src/test/unit_tests/test_chunk_fs.js
  src/test/unit_tests/test_file_writer.js
  src/test/unit_tests/test_nc_health.js
  src/tools/file_writer_hashing.js
  src/tools/md_blow.js
  src/upgrade/nc_upgrade_manager.js
  src/upgrade/upgrade_utils.js
  src/util/buffer_utils.js
  src/util/chunk_fs.js
  src/util/file_writer.js
  src/util/fork_utils.js
Labels: size/XXL

#8587 [backport 5.15] Backport PR 8347 8350
  src/sdk/namespace_blob.js
  src/sdk/namespace_s3.js
  src/server/bg_services/replication_server.js
  src/test/unit_tests/test_bucket_replication.js
Labels: size/M

#8592 [Backport into 5.15] Bumping deps to avoid CVE (12/11/2024)
  package-lock.json
  package.json
Labels: size/M

#8581 NSFS | noobaa-cli Help format Update
  src/manage_nsfs/manage_nsfs_help_utils.js
Labels: size/L

#8597 CI | Nightly RPM Build - Master Branch - Fails (Arch ppc64le)
  .github/workflows/nightly-rpm-master-build.yaml
  .github/workflows/nightly-rpm-stage-5.15.yaml
Labels: size/XS

#8602 Remove NSFS_BUF_SIZE from nsfs_config_schema
  docs/NooBaaNonContainerized/ConfigFileCustomizations.md
  src/server/system_services/schemas/nsfs_config_schema.js
  src/test/unit_tests/jest_tests/test_nc_nsfs_config_schema_validation.test.js
Labels: size/M

#8601 Delete nightly rpm stage 5.15 build
  .github/workflows/nightly-rpm-stage-5.15.yaml
Labels: size/S

#8600 NC | generate_entropy() - add /dev/nvme0 disks to the supported devices
  src/util/nb_native.js
Labels: size/XS

#8605 Backports to 5.17.2
  config.js
  src/endpoint/endpoint.js
  src/endpoint/s3/s3_errors.js
  src/manage_nsfs/diagnose.js
  src/sdk/namespace_fs.js
  src/server/analytic_services/prometheus_reporting.js
  src/test/unit_tests/index.js
  src/test/unit_tests/nc_coretest.js
  src/test/unit_tests/nc_index.js
  src/test/unit_tests/test_bucketspace.js
  src/test/unit_tests/test_chunk_fs.js
  src/test/unit_tests/test_file_writer.js
  src/tools/file_writer_hashing.js
  src/util/chunk_fs.js
  src/util/cloud_utils.js
  src/util/file_writer.js
  src/util/fork_utils.js
  src/util/http_utils.js
  src/util/signature_utils.js
Labels: size/XL

#8270 Fix RPM build for macs
  Makefile
  src/deploy/RPM_build/RPM.Dockerfile
Labels: size/XS

#8607 [5.16] Bumping version from 5.16.4 to 5.16.5
  package-lock.json
  package.json
Labels: size/XS

#8611 Revert | [backport 5.15] Backport PR 8347 8350
  src/sdk/namespace_blob.js
  src/sdk/namespace_s3.js
  src/server/bg_services/replication_server.js
  src/test/unit_tests/test_bucket_replication.js
Labels: size/M

#8613 NC | Online Upgrade | Fail config directory upgrade if upgrade is already in progress
  src/test/unit_tests/jest_tests/test_nc_upgrade_manager.test.js
  src/upgrade/nc_upgrade_manager.js
Labels: size/S

#8593 Bucket Notifications - PR notes, take 2
  src/api/common_api.js
  src/cmd/manage_nsfs.js
  src/endpoint/s3/ops/s3_get_bucket_notification.js
  src/endpoint/s3/ops/s3_put_bucket_notification.js
  src/sdk/config_fs.js
  src/util/notifications_util.js
Labels: size/L

#8579 NSFS | S3 throwing error for empty header and default port for STS
  config.js
  src/endpoint/endpoint.js
  src/endpoint/s3/s3_rest.js
Labels: size/S

#8616 BACKPORT 5.18 - Bucket Notifications - PR notes, take 2 (#8593)
  src/api/common_api.js
  src/cmd/manage_nsfs.js
  src/endpoint/s3/ops/s3_get_bucket_notification.js
  src/endpoint/s3/ops/s3_put_bucket_notification.js
  src/sdk/config_fs.js
  src/util/notifications_util.js
Labels: size/L

#8621 CI | Update Ceph S3 Tests
  src/test/system_tests/ceph_s3_tests/test_ceph_s3_deploy.sh
  src/test/unit_tests/test_encryption.js
  src/test/unit_tests/test_namespace_cache.js
Labels: size/S

#8622 Makefile | Edit `run-single-test` with additional logs
  Makefile
Labels: size/XS

#8612 NC | Online Upgrade | Replace failure if system.json contains hosts that do not exist in --expected_hosts with a warning
  src/test/unit_tests/jest_tests/test_cli_upgrade.test.js
  src/test/unit_tests/jest_tests/test_nc_upgrade_manager.test.js
  src/upgrade/nc_upgrade_manager.js
Labels: size/M

#8614 NC | generate_entropy() - remove /dev/nvme0 from the supported devices list
  src/util/nb_native.js
Labels: size/XS

#8615 NC | Online Upgrade | Short refactoring
  src/manage_nsfs/health.js
  src/sdk/config_fs.js
  src/test/unit_tests/jest_tests/test_cli_upgrade.test.js
  src/test/unit_tests/jest_tests/test_nc_upgrade_manager.test.js
  src/test/unit_tests/test_nc_health.js
  src/upgrade/nc_upgrade_manager.js
Labels: size/M

#8625 NC | Add missing default rpc_code for unmapped errors
  src/util/native_fs_utils.js
Labels: size/XS

#8585 NC | NSFS | Add stat to `account_cache`
  config.js
  src/sdk/bucketspace_fs.js
  src/sdk/config_fs.js
  src/sdk/nb.d.ts
  src/sdk/object_sdk.js
  src/test/unit_tests/nc_coretest.js
  src/test/unit_tests/test_nc_with_a_couple_of_forks.js
Labels: size/L

#8626 Backport to 5.18
  .github/workflows/nightly-rpm-master-build.yaml
  .github/workflows/nightly-rpm-stage-5.15.yaml
  Makefile
  config.js
  docs/NooBaaNonContainerized/ConfigFileCustomizations.md
  src/deploy/RPM_build/RPM.Dockerfile
  src/endpoint/endpoint.js
  src/endpoint/s3/s3_rest.js
  src/manage_nsfs/health.js
  src/manage_nsfs/manage_nsfs_help_utils.js
  src/sdk/bucketspace_fs.js
  src/sdk/config_fs.js
  src/sdk/nb.d.ts
  src/sdk/object_sdk.js
  src/server/system_services/schemas/nsfs_config_schema.js
  src/test/system_tests/ceph_s3_tests/test_ceph_s3_deploy.sh
  src/test/unit_tests/jest_tests/test_cli_upgrade.test.js
  src/test/unit_tests/jest_tests/test_nc_nsfs_config_schema_validation.test.js
  src/test/unit_tests/jest_tests/test_nc_upgrade_manager.test.js
  src/test/unit_tests/nc_coretest.js
  src/test/unit_tests/test_encryption.js
  src/test/unit_tests/test_namespace_cache.js
  src/test/unit_tests/test_nc_health.js
  src/test/unit_tests/test_nc_with_a_couple_of_forks.js
  src/upgrade/nc_upgrade_manager.js
  src/util/native_fs_utils.js
Labels: size/XL

#8567 Reducing NooBaa Upstream Image Size
  src/deploy/NVA_build/NooBaa.Dockerfile
Labels: size/M

#8634 Bumping deps to avoid CVE (30/12/2024)
  package-lock.json
  package.json
Labels: size/S

#8635 [Backport into 5.18] Bumping deps to avoid CVE (30/12/2024)
  package-lock.json
  package.json
  src/deploy/NVA_build/NooBaa.Dockerfile
Labels: size/M

#8631 Bucket Notifications - fix event typo after schema change
  src/util/notifications_util.js
Labels: size/XS
