Repository noobaa/noobaa-core, pull requests merged in 2024-02, with the labels that each got.

#7785 NSFS | NC | Fix Bucket Creation Verification
  src/cmd/manage_nsfs.js
  src/manage_nsfs/manage_nsfs_cli_errors.js
  src/test/unit_tests/test_nc_nsfs_cli.js
Labels: size/M

#7788 NSFS | NC | CLI | Account add/update when uid = 0 and gid != 0 bug fix
  src/cmd/manage_nsfs.js
  src/test/unit_tests/jest_tests/test_nc_nsfs_account_cli.test.js
Labels: size/M

#7780 NSFS | NC | Health script | Add syslogng services
  docs/non_containerized_NSFS.md
  src/cmd/health.js
  src/test/unit_tests/test_nc_nsfs_health.js
Labels: size/L

#7760 Update dependencies
  package-lock.json
  package.json
  src/deploy/NVA_build/Base.Dockerfile
  src/test/unit_tests/test_namespace_cache.js
Labels: size/M

#7777 NSFS | NC | CLI | add/update account | check account has rw permissions to new buckets path
  src/cmd/manage_nsfs.js
  src/manage_nsfs/manage_nsfs_cli_errors.js
  src/test/system_tests/test_utils.js
  src/test/unit_tests/jest_tests/test_nc_nsfs_account_cli.test.js
  src/test/unit_tests/jest_tests/test_nc_nsfs_bucket_cli.test.js
  src/test/unit_tests/test_bucketspace.js
  src/test/unit_tests/test_nc_nsfs_cli.js
  src/util/native_fs_utils.js
Labels: size/L

#7791 NSFS | NC | Fix Check Flag Type From Manage NSFS CLI
  src/cmd/manage_nsfs.js
  src/manage_nsfs/manage_nsfs_constants.js
  src/manage_nsfs/manage_nsfs_help_utils.js
  src/test/unit_tests/jest_tests/test_nc_nsfs_account_cli.test.js
Labels: size/L

#7798 CI | Jest add `workflow_dispatch` (Manual Run on master)
  .github/workflows/jest-unit-tests.yaml
Labels: size/XS

#7799 NSFS | NC | S3 Flow | Fix list buckets creation date
  src/endpoint/s3/ops/s3_get_service.js
  src/sdk/bucketspace_fs.js
  src/test/unit_tests/test_bucketspace_fs.js
  src/util/native_fs_utils.js
Labels: size/M

#7759 NSFS | NC | Events | bugs & events addition to manage nsfs CLI
  docs/dev_guide/non_containerized_NSFS_events.md
  src/cmd/manage_nsfs.js
  src/cmd/nsfs.js
  src/endpoint/endpoint.js
  src/manage_nsfs/manage_nsfs_cli_errors.js
  src/manage_nsfs/manage_nsfs_cli_responses.js
  src/manage_nsfs/manage_nsfs_events_utils.js
  src/sdk/bucketspace_fs.js
  src/sdk/namespace_fs.js
  src/util/fork_utils.js
Labels: size/XL

#7808 NSFS | NC | Update Help `access_key` as Identifier of Account (Delete, Update)
  src/manage_nsfs/manage_nsfs_constants.js
  src/manage_nsfs/manage_nsfs_help_utils.js
  src/test/unit_tests/jest_tests/test_nc_nsfs_account_cli.test.js
Labels: size/S

#7806 NSFS | NC | Directories cache max total usage reduction and configuration addition to nsfs_config_schema
  config.js
  docs/dev_guide/NonContainerizedDeveloperCustomizations.md
  src/server/system_services/schemas/nsfs_config_schema.js
  src/test/unit_tests/jest_tests/test_nc_nsfs_config_schema_validation.test.js
Labels: size/M

#7810 NSFS | NC | Fix Issue with Flags Separator
  src/cmd/manage_nsfs.js
  src/test/unit_tests/jest_tests/test_nc_nsfs_account_cli.test.js
Labels: size/M

#7801 NSFS | NC | Remove Email from NSFS Account and Bucket in manage_nsfs (CLI)
  docs/design/NonContainerizedNSFSDesign.md
  docs/non_containerized_NSFS.md
  src/cmd/manage_nsfs.js
  src/deploy/NVA_build/standalone_deploy_nsfs.sh
  src/deploy/spectrum_archive/deployment_guide.md
  src/manage_nsfs/manage_nsfs_cli_errors.js
  src/manage_nsfs/manage_nsfs_constants.js
  src/manage_nsfs/manage_nsfs_help_utils.js
  src/server/system_services/schemas/nsfs_account_schema.js
  src/server/system_services/schemas/nsfs_bucket_schema.js
  src/test/unit_tests/jest_tests/test_nc_nsfs_account_cli.test.js
  src/test/unit_tests/jest_tests/test_nc_nsfs_account_schema_validation.test.js
  src/test/unit_tests/jest_tests/test_nc_nsfs_bucket_cli.test.js
  src/test/unit_tests/jest_tests/test_nc_nsfs_bucket_schema_validation.test.js
  src/test/unit_tests/nc_coretest.js
  src/test/unit_tests/test_nc_nsfs_cli.js
  src/test/unit_tests/test_s3_encryption.js
Labels: size/L

#7804 convert activity logs in the object server to dbg1
  src/server/object_services/object_server.js
  src/test/unit_tests/test_lifecycle.js
Labels: size/M

#7812 NSFS | NC | list buckets missing policy check & performance improvement
  src/sdk/bucketspace_fs.js
  src/sdk/bucketspace_simple_fs.js
  src/test/unit_tests/nc_coretest.js
  src/test/unit_tests/test_bucketspace.js
  src/test/unit_tests/test_bucketspace_fs.js
Labels: size/XL

#7817 Bump version to 5.16.0
  package-lock.json
  package.json
Labels: size/XS

#7815 NSFS | NC | Update Docs Related to Last Changes in Manage NSFS
  docs/design/NonContainerizedNSFSDesign.md
  docs/non_containerized_NSFS.md
Labels: size/M

#7813 NSFS | NC | Improve Performance in `verify_bucket_owner`
  src/cmd/manage_nsfs.js
Labels: size/M

#7601 [NC | NSFS] WAL based tape migrations and recalls
  config.js
  docs/design/NSFSGlacierStorageClass.md
  src/cmd/manage_nsfs.js
  src/deploy/NVA_build/standalone_deploy.sh
  src/manage_nsfs/manage_nsfs_cli_errors.js
  src/manage_nsfs/manage_nsfs_constants.js
  src/manage_nsfs/manage_nsfs_glacier.js
  src/manage_nsfs/manage_nsfs_help_utils.js
  src/native/fs/fs_napi.cpp
  src/sdk/namespace_blob.js
  src/sdk/namespace_cache.js
  src/sdk/namespace_fs.js
  src/sdk/namespace_gcp.js
  src/sdk/namespace_merge.js
  src/sdk/namespace_nb.js
  src/sdk/namespace_s3.js
  src/sdk/nb.d.ts
  src/sdk/nsfs_glacier_backend/backend.js
  src/sdk/nsfs_glacier_backend/helper.js
  src/sdk/nsfs_glacier_backend/tapecloud.js
  src/sdk/object_sdk.js
  src/test/unit_tests/test_namespace_cache.js
  src/test/unit_tests/test_namespace_fs.js
  src/util/file_reader.js
  src/util/persistent_logger.js
Labels: size/XXL

#7824 Backport to 5.15
  config.js
  docs/design/NonContainerizedNSFSDesign.md
  docs/dev_guide/NonContainerizedDeveloperCustomizations.md
  docs/dev_guide/non_containerized_NSFS_events.md
  docs/non_containerized_NSFS.md
  src/cmd/manage_nsfs.js
  src/cmd/nsfs.js
  src/deploy/NVA_build/standalone_deploy_nsfs.sh
  src/deploy/spectrum_archive/deployment_guide.md
  src/endpoint/endpoint.js
  src/endpoint/s3/ops/s3_get_service.js
  src/manage_nsfs/manage_nsfs_cli_errors.js
  src/manage_nsfs/manage_nsfs_cli_responses.js
  src/manage_nsfs/manage_nsfs_constants.js
  src/manage_nsfs/manage_nsfs_events_utils.js
  src/manage_nsfs/manage_nsfs_help_utils.js
  src/sdk/bucketspace_fs.js
  src/sdk/bucketspace_simple_fs.js
  src/sdk/namespace_fs.js
  src/server/object_services/object_server.js
  src/server/system_services/schemas/nsfs_account_schema.js
  src/server/system_services/schemas/nsfs_bucket_schema.js
  src/server/system_services/schemas/nsfs_config_schema.js
  src/test/unit_tests/jest_tests/test_nc_nsfs_account_cli.test.js
  src/test/unit_tests/jest_tests/test_nc_nsfs_account_schema_validation.test.js
  src/test/unit_tests/jest_tests/test_nc_nsfs_bucket_cli.test.js
  src/test/unit_tests/jest_tests/test_nc_nsfs_bucket_schema_validation.test.js
  src/test/unit_tests/jest_tests/test_nc_nsfs_config_schema_validation.test.js
  src/test/unit_tests/nc_coretest.js
  src/test/unit_tests/test_bucketspace.js
  src/test/unit_tests/test_bucketspace_fs.js
  src/test/unit_tests/test_lifecycle.js
  src/test/unit_tests/test_nc_nsfs_cli.js
  src/test/unit_tests/test_s3_encryption.js
  src/util/fork_utils.js
  src/util/native_fs_utils.js
Labels: size/XXL

#7823 NSFS | NC | CLI | account missing name in error message
  src/cmd/manage_nsfs.js
Labels: size/XS

#7822 [NSFS | NC] Wal Cleanup
  docs/design/NSFSGlacierStorageClass.md
  src/manage_nsfs/manage_nsfs_glacier.js
  src/util/file_reader.js
Labels: size/L

#7825 [NC | NSFS] replace scan_expired with process_expired
  docs/design/NSFSGlacierStorageClass.md
  src/sdk/nsfs_glacier_backend/tapecloud.js
Labels: size/M

#7821 [Backport 5.15] PR 7601,7822,7825
  config.js
  docs/design/NSFSGlacierStorageClass.md
  src/cmd/manage_nsfs.js
  src/deploy/NVA_build/standalone_deploy.sh
  src/manage_nsfs/manage_nsfs_cli_errors.js
  src/manage_nsfs/manage_nsfs_constants.js
  src/manage_nsfs/manage_nsfs_glacier.js
  src/manage_nsfs/manage_nsfs_help_utils.js
  src/native/fs/fs_napi.cpp
  src/sdk/namespace_blob.js
  src/sdk/namespace_cache.js
  src/sdk/namespace_fs.js
  src/sdk/namespace_gcp.js
  src/sdk/namespace_merge.js
  src/sdk/namespace_nb.js
  src/sdk/namespace_s3.js
  src/sdk/nb.d.ts
  src/sdk/nsfs_glacier_backend/backend.js
  src/sdk/nsfs_glacier_backend/helper.js
  src/sdk/nsfs_glacier_backend/tapecloud.js
  src/sdk/object_sdk.js
  src/test/unit_tests/test_namespace_cache.js
  src/test/unit_tests/test_namespace_fs.js
  src/util/file_reader.js
  src/util/persistent_logger.js
Labels: size/XXL

#7831 nodes_monitor.js | location_info.region is assigned only if it is defined
  src/server/node_services/nodes_monitor.js
Labels: size/XS

#7807 NSFS Fixes | handling too many forks exits + cleaning unwrap error in log
  config.js
  src/cmd/nsfs.js
  src/util/fork_utils.js
Labels: NS-FS, size/S, Non Containerized

#7800 logrotate : logrotate.sh is running but not rotating the logs
  src/deploy/NVA_build/NooBaa.Dockerfile
Labels: size/XS

#7829 fixed signature calculations for cpp aws-sdk
  src/test/unit_tests/signature_test_suite/awssdkcpp/awssdkcpp_lsumhdig_namewith=.sreq
  src/test/unit_tests/signature_test_suite/awssdkcpp/awssdkcpp_lsun15mj_namewith%253D.sreq
  src/test/unit_tests/signature_test_suite/awssdkcpp/awssdkcpp_lsun46rc_namewith$.sreq
  src/test/unit_tests/signature_test_suite/awssdkcpp/awssdkcpp_lsun7xep_namewith&.sreq
  src/test/unit_tests/signature_test_suite/awssdkcpp/awssdkcpp_lsundqfu_namewith,.sreq
  src/test/unit_tests/signature_test_suite/awssdkcpp/awssdkcpp_lsunew5a_namewith:.sreq
  src/test/unit_tests/signature_test_suite/awssdkcpp/awssdkcpp_lsung2nb_namewith@.sreq
  src/test/unit_tests/signature_test_suite/awssdknodejs/awssdknodejs_lsunnm4a_namewith%3D.sreq
  src/test/unit_tests/signature_test_suite/awssdknodejs/awssdknodejs_lsunp5sx_namewith%40.sreq
  src/test/unit_tests/signature_test_suite/awssdknodejs/awssdknodejs_lsunppst_namewith%24.sreq
  src/test/unit_tests/signature_test_suite/awssdknodejs/awssdknodejs_lsunqlri_namewith%253D.sreq
  src/test/unit_tests/test_signature_utils.js
  src/util/signature_utils.js
Labels: size/L

#7840 [Backport to 5.15] fixed signature calculations for cpp aws-sdk
  src/test/unit_tests/signature_test_suite/awssdkcpp/awssdkcpp_lsumhdig_namewith=.sreq
  src/test/unit_tests/signature_test_suite/awssdkcpp/awssdkcpp_lsun15mj_namewith%253D.sreq
  src/test/unit_tests/signature_test_suite/awssdkcpp/awssdkcpp_lsun46rc_namewith$.sreq
  src/test/unit_tests/signature_test_suite/awssdkcpp/awssdkcpp_lsun7xep_namewith&.sreq
  src/test/unit_tests/signature_test_suite/awssdkcpp/awssdkcpp_lsundqfu_namewith,.sreq
  src/test/unit_tests/signature_test_suite/awssdkcpp/awssdkcpp_lsunew5a_namewith:.sreq
  src/test/unit_tests/signature_test_suite/awssdkcpp/awssdkcpp_lsung2nb_namewith@.sreq
  src/test/unit_tests/signature_test_suite/awssdknodejs/awssdknodejs_lsunnm4a_namewith%3D.sreq
  src/test/unit_tests/signature_test_suite/awssdknodejs/awssdknodejs_lsunp5sx_namewith%40.sreq
  src/test/unit_tests/signature_test_suite/awssdknodejs/awssdknodejs_lsunppst_namewith%24.sreq
  src/test/unit_tests/signature_test_suite/awssdknodejs/awssdknodejs_lsunqlri_namewith%253D.sreq
  src/test/unit_tests/test_signature_utils.js
  src/util/signature_utils.js
Labels: size/L

#7846 namespace_monitor.js | Fixing the error object values to start with a lowercase
  src/sdk/noobaa_s3_client/noobaa_s3_client.js
  src/server/bg_services/namespace_monitor.js
Labels: size/S

#7850 Fix CVE-2023-42282
  package-lock.json
  package.json
Labels: size/XS

#7852 [Backport into 5.15] Fix CVE-2023-42282
  package-lock.json
  package.json
Labels: size/XS

#7838 [5.12] Bump version to 5.12.12
  .github/workflows/ceph-nsfs-s3-tests.yaml
  package-lock.json
  package.json
Labels: size/S

#7774 NSFS | Tests refactoring start
  src/manage_nsfs/manage_nsfs_constants.js
  src/sdk/bucketspace_fs.js
  src/test/system_tests/ceph_s3_tests/test_ceph_nsfs_s3_config_setup.js
  src/test/system_tests/ceph_s3_tests/test_ceph_s3_config_setup.js
  src/test/system_tests/test_utils.js
  src/test/unit_tests/jest_tests/test_nc_nsfs_account_cli.test.js
  src/test/unit_tests/jest_tests/test_nc_nsfs_bucket_cli.test.js
  src/test/unit_tests/nc_coretest.js
  src/test/unit_tests/test_bucketspace.js
  src/test/unit_tests/test_bucketspace_fs.js
  src/test/unit_tests/test_bucketspace_versioning.js
  src/test/unit_tests/test_namespace_fs.js
  src/test/unit_tests/test_namespace_fs_mpu.js
  src/test/unit_tests/test_nb_native_fs.js
  src/test/unit_tests/test_nb_native_gpfs.js
  src/test/unit_tests/test_nc_nsfs_cli.js
  src/test/unit_tests/test_nc_nsfs_health.js
  src/test/unit_tests/test_nsfs_versioning.js
  src/test/unit_tests/test_nsfs_versioning_gpfs.js
  src/util/native_fs_utils.js
Labels: size/XL

#7789 NSFS | Copy rsyslog config file as regular file
  docs/non_containerized_NSFS.md
  src/deploy/RPM_build/noobaa.spec
  src/deploy/spectrum_archive/deployment_guide.md
  src/deploy/standalone/noobaa_rsyslog.conf
  src/deploy/standalone/noobaa_syslog.conf
Labels: size/L
