Repository noobaa/noobaa-core, pull requests merged in 2024-08, with the labels that each got.

#8247 [Backport 5.14] fix ENOTSUP by falling back to meta files
  src/agent/block_store_services/block_store_fs.js
Labels: size/M

#8250 [Backport into 5.14] Bump ws from 8.14.2 to 8.17.1
  package-lock.json
  package.json
Labels: size/XS

#8253 [NC | NSFS | Glacier] handle `ENOENT` in `_finalize_restore` and fix glacier tests not running
  src/sdk/nsfs_glacier_backend/tapecloud.js
  src/test/unit_tests/test_nsfs_glacier_backend.js
Labels: size/S

#8234 [NC? | NSFS] Add support for bucket tagging in NSFS
  src/sdk/bucketspace_fs.js
  src/test/unit_tests/test_bucketspace_fs.js
Labels: size/M

#8260 NC | NSFS | Rename Constants With Prefix `GLOBAL_CONFIG`
  src/manage_nsfs/manage_nsfs_constants.js
  src/manage_nsfs/manage_nsfs_help_utils.js
Labels: size/M

#8262 agent_cli.js respect NOOBAA_LOG_LEVEL environment variable
  src/agent/agent_cli.js
Labels: size/XS

#8261 moved upgrade script of upgrade_bucket_policy to 5.15.6 dir
  src/test/unit_tests/test_upgrade_scripts.js
  src/upgrade/upgrade_scripts/5.15.6/upgrade_bucket_policy.js
Labels: size/M

#8258 NC | ConfigFS Refactoring
  src/cmd/manage_nsfs.js
  src/manage_nsfs/diagnose.js
  src/manage_nsfs/health.js
  src/manage_nsfs/manage_nsfs_cli_utils.js
  src/manage_nsfs/manage_nsfs_constants.js
  src/manage_nsfs/manage_nsfs_logging.js
  src/manage_nsfs/manage_nsfs_validations.js
  src/sdk/accountspace_fs.js
  src/sdk/bucketspace_fs.js
  src/sdk/config_fs.js
  src/test/unit_tests/jest_tests/test_accountspace_fs.test.js
  src/test/unit_tests/jest_tests/test_nc_account_invalid_mkm_integration.test.js
  src/test/unit_tests/jest_tests/test_nc_nsfs_account_cli.test.js
  src/test/unit_tests/jest_tests/test_nc_nsfs_anonymous_cli.test.js
  src/test/unit_tests/jest_tests/test_nc_nsfs_bucket_cli.test.js
  src/test/unit_tests/test_bucketspace.js
  src/test/unit_tests/test_bucketspace_fs.js
  src/test/unit_tests/test_nc_nsfs_cli.js
  src/test/unit_tests/test_nc_nsfs_health.js
  src/util/bucket_logs_utils.js
Labels: size/XXL

#8266 [Backport to 5.15] moved upgrade script of upgrade_bucket_policy to 5.15.6 dir
  src/test/unit_tests/test_upgrade_scripts.js
  src/upgrade/upgrade_scripts/5.15.6/upgrade_bucket_policy.js
Labels: size/M

#8267 NC | NSFS | Remove Condition Checks Using lodash `isUndefined`
  src/cmd/manage_nsfs.js
  src/endpoint/iam/iam_utils.js
  src/manage_nsfs/manage_nsfs_cli_utils.js
  src/manage_nsfs/manage_nsfs_validations.js
  src/sdk/accountspace_fs.js
  src/sdk/bucketspace_fs.js
  src/sdk/namespace_fs.js
  src/test/unit_tests/test_nc_nsfs_cli.js
Labels: size/M

#8268 NC | NSFS | Remove `fs_root` Member in `BucketSpaceFS` and `AccountSpaceFS`
  src/sdk/accountspace_fs.js
  src/sdk/bucketspace_fs.js
Labels: size/S

#8192 NC | NSFS | Stop Setting `system_owner` in Bucket Config
  docs/NooBaaNonContainerized/CI&Tests.md
  docs/NooBaaNonContainerized/GettingStarted.md
  src/cmd/manage_nsfs.js
  src/endpoint/s3/s3_rest.js
  src/sdk/bucketspace_fs.js
  src/sdk/config_fs.js
  src/sdk/object_sdk.js
  src/server/system_services/schemas/nsfs_bucket_schema.js
  src/test/unit_tests/jest_tests/test_accountspace_fs.test.js
  src/test/unit_tests/jest_tests/test_config_fs.test.js
  src/test/unit_tests/jest_tests/test_nc_nsfs_bucket_schema_validation.test.js
  src/test/unit_tests/test_bucketspace_fs.js
  src/test/unit_tests/test_nc_nsfs_cli.js
  src/test/unit_tests/test_s3_bucket_policy.js
Labels: size/L

#8269 NC | NSFS | CLI | Update `fetch_existing_account_data`
  src/cmd/manage_nsfs.js
Labels: size/S

#8271 CI | Update Commit Hash in Ceph Tests
  src/test/system_tests/ceph_s3_tests/s3-tests-lists/nsfs_s3_tests_pending_list.txt
  src/test/system_tests/ceph_s3_tests/s3-tests-lists/s3_tests_pending_list.txt
  src/test/system_tests/ceph_s3_tests/test_ceph_s3_deploy.sh
Labels: size/S

#8256 Adding node support for bucket logging
  src/endpoint/endpoint.js
  src/util/bucket_logs_utils.js
Labels: size/M

#8276 Bump version to 5.18.0
  package-lock.json
  package.json
Labels: size/XS

#8278 NC | NSFS | CLI | `list_config_files` Small Fix
  src/cmd/manage_nsfs.js
  src/test/unit_tests/jest_tests/test_nc_nsfs_account_cli.test.js
Labels: size/S

#8277 Backport to 5.17
  src/agent/agent_cli.js
  src/cmd/manage_nsfs.js
  src/endpoint/endpoint.js
  src/endpoint/iam/iam_constants.js
  src/endpoint/iam/iam_rest.js
  src/endpoint/iam/iam_utils.js
  src/endpoint/iam/ops/iam_create_user.js
  src/endpoint/iam/ops/iam_get_user.js
  src/endpoint/iam/ops/iam_list_users.js
  src/endpoint/iam/ops/iam_update_user.js
  src/manage_nsfs/diagnose.js
  src/manage_nsfs/health.js
  src/manage_nsfs/manage_nsfs_cli_utils.js
  src/manage_nsfs/manage_nsfs_constants.js
  src/manage_nsfs/manage_nsfs_help_utils.js
  src/manage_nsfs/manage_nsfs_logging.js
  src/manage_nsfs/manage_nsfs_validations.js
  src/sdk/accountspace_fs.js
  src/sdk/bucketspace_fs.js
  src/sdk/config_fs.js
  src/sdk/namespace_fs.js
  src/sdk/nsfs_glacier_backend/tapecloud.js
  src/test/system_tests/ceph_s3_tests/s3-tests-lists/nsfs_s3_tests_pending_list.txt
  src/test/system_tests/ceph_s3_tests/s3-tests-lists/s3_tests_pending_list.txt
  src/test/system_tests/ceph_s3_tests/test_ceph_s3_deploy.sh
  src/test/unit_tests/jest_tests/test_accountspace_fs.test.js
  src/test/unit_tests/jest_tests/test_iam_utils.test.js
  src/test/unit_tests/jest_tests/test_nc_account_invalid_mkm_integration.test.js
  src/test/unit_tests/jest_tests/test_nc_nsfs_account_cli.test.js
  src/test/unit_tests/jest_tests/test_nc_nsfs_anonymous_cli.test.js
  src/test/unit_tests/jest_tests/test_nc_nsfs_bucket_cli.test.js
  src/test/unit_tests/test_bucketspace.js
  src/test/unit_tests/test_bucketspace_fs.js
  src/test/unit_tests/test_nc_nsfs_cli.js
  src/test/unit_tests/test_nc_nsfs_health.js
  src/test/unit_tests/test_nsfs_glacier_backend.js
  src/test/unit_tests/test_upgrade_scripts.js
  src/upgrade/upgrade_scripts/5.15.6/upgrade_bucket_policy.js
  src/util/bucket_logs_utils.js
Labels: size/XXL

#8273 NSFS | versioning | don't show .versions folder on list-object-versions
  src/sdk/namespace_fs.js
  src/test/unit_tests/test_bucketspace_versioning.js
Labels: size/S

#8275 NSFS | NC | add versioning to object tagging
  src/api/object_api.js
  src/endpoint/s3/ops/s3_put_object_tagging.js
  src/sdk/namespace_fs.js
  src/test/unit_tests/test_bucketspace_versioning.js
Labels: size/M

#8235 (REST) Handle the Case Where the Endpoint Port Was Wrong
  src/endpoint/iam/iam_rest.js
  src/endpoint/s3/s3_rest.js
  src/endpoint/sts/sts_rest.js
Labels: size/M

#8274 Bump dependencies
  package-lock.json
  package.json
Labels: size/S

#8291 [Backport into 5.17] Bump dependencies
  package-lock.json
  package.json
Labels: size/S

#8292 loading RESTRICT_RESOURCE_DELETION from env variable
  config.js
Labels: size/XS

#8294 [Backport into 5.17] loading RESTRICT_RESOURCE_DELETION from env variable
  config.js
Labels: size/XS

#8286 Fixing bucket logging after refactor
  src/manage_nsfs/manage_nsfs_logging.js
  src/test/system_tests/test_utils.js
  src/test/unit_tests/index.js
  src/test/unit_tests/nc_index.js
  src/test/unit_tests/test_bucket_logging.js
  src/test/unit_tests/test_nc_bucket_logging.js
  src/util/bucket_logs_utils.js
Labels: size/M

#8279 NC | Config Dir Restructure
  src/cmd/manage_nsfs.js
  src/deploy/NVA_build/standalone_deploy_nsfs.sh
  src/manage_nsfs/health.js
  src/manage_nsfs/manage_nsfs_validations.js
  src/sdk/accountspace_fs.js
  src/sdk/bucketspace_fs.js
  src/sdk/config_fs.js
  src/test/system_tests/ceph_s3_tests/run_ceph_nsfs_test_on_test_container.sh
  src/test/system_tests/ceph_s3_tests/test_ceph_nsfs_s3_config_setup.js
  src/test/system_tests/ceph_s3_tests/test_ceph_s3_constants.js
  src/test/system_tests/test_utils.js
  src/test/unit_tests/jest_tests/test_accountspace_fs.test.js
  src/test/unit_tests/jest_tests/test_config_dir_structure.js
  src/test/unit_tests/jest_tests/test_config_fs_backward_compatibility.test.js
  src/test/unit_tests/jest_tests/test_nc_account_invalid_mkm_integration.test.js
  src/test/unit_tests/jest_tests/test_nc_master_keys.test.js
  src/test/unit_tests/jest_tests/test_nc_master_keys_exec.test.js
  src/test/unit_tests/jest_tests/test_nc_nsfs_account_cli.test.js
  src/test/unit_tests/jest_tests/test_nc_nsfs_account_schema_validation.test.js
  src/test/unit_tests/jest_tests/test_nc_nsfs_anonymous_cli.test.js
  src/test/unit_tests/jest_tests/test_nc_nsfs_bucket_cli.test.js
  src/test/unit_tests/jest_tests/test_nc_nsfs_bucket_schema_validation.test.js
  src/test/unit_tests/jest_tests/test_nc_nsfs_config_schema_validation.test.js
  src/test/unit_tests/jest_tests/test_nc_nsfs_new_buckets_path_validation.test.js
  src/test/unit_tests/nc_coretest.js
  src/test/unit_tests/test_bucketspace.js
  src/test/unit_tests/test_bucketspace_fs.js
  src/test/unit_tests/test_nc_nsfs_cli.js
  src/test/unit_tests/test_nc_nsfs_health.js
  src/test/unit_tests/test_s3_bucket_policy.js
  src/util/native_fs_utils.js
Labels: size/XXL

#8296 Backport to 5.17
  src/api/object_api.js
  src/cmd/manage_nsfs.js
  src/endpoint/iam/iam_rest.js
  src/endpoint/s3/ops/s3_put_object_tagging.js
  src/endpoint/s3/s3_rest.js
  src/endpoint/sts/sts_rest.js
  src/manage_nsfs/manage_nsfs_logging.js
  src/sdk/namespace_fs.js
  src/test/system_tests/test_utils.js
  src/test/unit_tests/index.js
  src/test/unit_tests/jest_tests/test_nc_nsfs_account_cli.test.js
  src/test/unit_tests/nc_index.js
  src/test/unit_tests/test_bucket_logging.js
  src/test/unit_tests/test_bucketspace_versioning.js
  src/test/unit_tests/test_nc_bucket_logging.js
  src/util/bucket_logs_utils.js
Labels: size/L

#8207 NSFS | Log events to stderr when stderr logging is enabled
  src/deploy/standalone/noobaa_syslog.conf
  src/util/debug_module.js
Labels: size/M

#8301 AWS SDK Bump dependencies
  package-lock.json
  package.json
  src/test/system_tests/test_utils.js
Labels: size/S

#8302 [Backport into 5.17] AWS SDK Bump dependencies
  package-lock.json
  package.json
  src/test/system_tests/test_utils.js
Labels: size/S

#8303 Fix db_cleaner.js to keep updating from_time
  src/server/bg_services/db_cleaner.js
Labels: size/XS

#8287 NC | NSFS | Docs | Bucket Policy
  docs/NooBaaNonContainerized/NooBaaCLI.md
  docs/NooBaaNonContainerized/S3Ops.md
Labels: size/M

#8289 NC | Bucket Owner Removal
  docs/NooBaaNonContainerized/GettingStarted.md
  src/cmd/manage_nsfs.js
  src/cmd/nsfs.js
  src/manage_nsfs/manage_nsfs_cli_utils.js
  src/manage_nsfs/manage_nsfs_logging.js
  src/manage_nsfs/manage_nsfs_validations.js
  src/sdk/accountspace_fs.js
  src/sdk/bucketspace_fs.js
  src/sdk/config_fs.js
  src/server/system_services/schemas/nsfs_bucket_schema.js
  src/test/unit_tests/jest_tests/test_accountspace_fs.test.js
  src/test/unit_tests/jest_tests/test_config_fs.test.js
  src/test/unit_tests/jest_tests/test_nc_nsfs_bucket_cli.test.js
  src/test/unit_tests/jest_tests/test_nc_nsfs_bucket_schema_validation.test.js
  src/test/unit_tests/test_bucketspace_versioning.js
  src/test/unit_tests/test_nc_nsfs_cli.js
Labels: size/L

#8300 Added lifecycle configuration support in bucketspace_fs
  .jsbeautifyrc
  docs/NooBaaNonContainerized/S3Ops.md
  src/api/bucket_api.js
  src/api/common_api.js
  src/sdk/bucketspace_fs.js
  src/server/system_services/schemas/bucket_schema.js
  src/server/system_services/schemas/nsfs_bucket_schema.js
  src/test/unit_tests/test_bucketspace_fs.js
Labels: size/L

#8305 Update package.json to avoid CVE
  package-lock.json
  package.json
Labels: size/S

#8307 [Backport into 5.17] Update package.json to avoid CVE + log coloring
  config.js
  package-lock.json
  package.json
  src/util/debug_module.js
Labels: size/M

#8309 [5.16] Bumping version from 5.16.1 to 5.16.2
  package-lock.json
  package.json
Labels: size/XS

#8284 [Backport 5.16] [NC | NSFS | Glacier] finalize_restore related fixes
  src/sdk/nsfs_glacier_backend/tapecloud.js
  src/test/unit_tests/test_nsfs_glacier_backend.js
Labels: size/S

#8310 [Backport into 5.16] Bump dependencies to avoid CVE
  package-lock.json
  package.json
  src/server/system_services/pool_controllers.js
  src/test/unit_tests/test_namespace_cache.js
  src/util/yaml_utils.js
Labels: size/M

#8265 [Backport to 5.16] moved upgrade script of upgrade_bucket_policy to 5.15.6 dir
  src/test/unit_tests/test_upgrade_scripts.js
  src/upgrade/upgrade_scripts/5.15.6/upgrade_bucket_policy.js
Labels: size/M

#8280 NC | NSFS | Bucket Policy With Principal as account ID
  docs/NooBaaNonContainerized/S3Ops.md
  src/endpoint/s3/s3_rest.js
  src/manage_nsfs/manage_nsfs_validations.js
  src/sdk/bucketspace_fs.js
  src/sdk/config_fs.js
  src/test/unit_tests/jest_tests/test_nc_nsfs_bucket_cli.test.js
  src/test/unit_tests/test_bucketspace_fs.js
  src/test/unit_tests/test_s3_bucket_policy.js
Labels: size/L

#8297 NC | ConfigFS | Create prepare for schema functions and some manage_nsfs refactoring
  src/cmd/manage_nsfs.js
  src/manage_nsfs/manage_nsfs_cli_utils.js
  src/manage_nsfs/manage_nsfs_validations.js
  src/sdk/accountspace_fs.js
  src/sdk/bucketspace_fs.js
  src/sdk/config_fs.js
  src/test/unit_tests/jest_tests/test_accountspace_fs.test.js
  src/test/unit_tests/test_bucketspace_fs.js
  src/test/unit_tests/test_nc_nsfs_cli.js
  src/test/unit_tests/test_nc_nsfs_health.js
Labels: size/XL
