Repository noobaa/noobaa-core, pull requests merged in 2024-01, with the labels that each got.

#7676 NSFS | NC | Fix bucket policy load inline principal
  src/sdk/bucketspace_fs.js
  src/test/unit_tests/test_bucketspace_fs.js
Labels: size/M

#7681 NSFS | NC | CLI | add filter to list
  src/cmd/manage_nsfs.js
  src/test/unit_tests/jest_tests/test_nc_nsfs_account_cli.test.js
  src/test/unit_tests/test_nc_nsfs_cli.js
Labels: size/L

#7684 NSFS | NC | fix allow http property on config
  config.js
  docs/dev_guide/NonContainerizedDeveloperCustomizations.md
  docs/non_containerized_NSFS.md
  src/cmd/nsfs.js
  src/endpoint/endpoint.js
Labels: size/S

#7685 NC | NSFS | Fix Ceph S3 Tests
  Makefile
  src/deploy/NVA_build/standalone_deploy_nsfs.sh
  src/test/system_tests/ceph_s3_tests/run_ceph_nsfs_test_on_test_container.sh
  src/test/system_tests/ceph_s3_tests/test_ceph_nsfs_s3_config_setup.js
  src/test/system_tests/ceph_s3_tests/test_ceph_s3_constants.js
Labels: size/M

#7686 CI | Update Ceph S3 Tests (Commit Hash Number and Pending Lists)
  src/test/system_tests/ceph_s3_tests/s3-tests-lists/nsfs_s3_tests_pending_list.txt
  src/test/system_tests/ceph_s3_tests/s3-tests-lists/s3_tests_pending_list.txt
  src/test/system_tests/ceph_s3_tests/test_ceph_s3_deploy.sh
Labels: size/XS

#7679 NSFS | NC | fs_backend support on bucket and account config files and as config.json configuration for config dirs
  config.js
  docs/dev_guide/NonContainerizedDeveloperCustomizations.md
  docs/non_containerized_NSFS.md
  src/cmd/manage_nsfs.js
  src/manage_nsfs/manage_nsfs_cli_errors.js
  src/sdk/bucketspace_fs.js
  src/server/object_services/schemas/nsfs_account_schema.js
  src/server/object_services/schemas/nsfs_bucket_schema.js
  src/test/unit_tests/test_nc_nsfs_cli.js
Labels: size/L

#7682 NC | NSFS | new_buckets_path should be optional
  src/cmd/manage_nsfs.js
  src/sdk/bucketspace_fs.js
  src/server/object_services/schemas/nsfs_account_schema.js
  src/test/unit_tests/test_bucketspace_fs.js
Labels: size/M

#7691 NC | NSFS | Change Debug Level of a Message HTTP Not Enabled
  src/endpoint/endpoint.js
Labels: size/XS

#7692 [Backport into 5.13] Fix objectstats errors and queries
  src/server/analytic_services/endpoint_stats_store.js
  src/util/postgres_client.js
Labels: size/M

#7678 NSFS | NC | CLI | add/update bucket policy of a bucket
  src/cmd/manage_nsfs.js
  src/cmd/nsfs.js
  src/endpoint/s3/s3_rest.js
  src/manage_nsfs/manage_nsfs_cli_errors.js
  src/sdk/bucketspace_fs.js
  src/server/object_services/schemas/nsfs_bucket_schema.js
  src/test/unit_tests/test_nc_nsfs_cli.js
Labels: size/L

#7689 CI | Add a Printing to Test
  src/test/unit_tests/test_namespace_cache.js
Labels: size/XS

#7698 NSFS | NC | Add global storage backend type
  config.js
  docs/dev_guide/NonContainerizedDeveloperCustomizations.md
  src/cmd/manage_nsfs.js
  src/test/unit_tests/test_nc_nsfs_cli.js
Labels: size/M

#7697 NC | NSFS | revoking `--new_access_key` and fixing access key update issues
  src/cmd/manage_nsfs.js
  src/manage_nsfs/manage_nsfs_cli_errors.js
  src/test/unit_tests/jest_tests/test_nc_nsfs_account_cli.test.js
  src/test/unit_tests/test_nc_nsfs_cli.js
Labels: size/L

#7696 [Backport to 5.15] Backport non-contanarized NS FS fixes to 5.15
  Makefile
  config.js
  docs/dev_guide/NonContainerizedDeveloperCustomizations.md
  docs/non_containerized_NSFS.md
  src/cmd/health.js
  src/cmd/manage_nsfs.js
  src/cmd/nsfs.js
  src/deploy/NVA_build/standalone_deploy_nsfs.sh
  src/deploy/RPM_build/RPM.Dockerfile
  src/endpoint/endpoint.js
  src/endpoint/s3/s3_rest.js
  src/manage_nsfs/manage_nsfs_cli_errors.js
  src/sdk/bucketspace_fs.js
  src/server/object_services/schemas/nsfs_account_schema.js
  src/server/object_services/schemas/nsfs_bucket_schema.js
  src/test/system_tests/ceph_s3_tests/run_ceph_nsfs_test_on_test_container.sh
  src/test/system_tests/ceph_s3_tests/s3-tests-lists/nsfs_s3_tests_pending_list.txt
  src/test/system_tests/ceph_s3_tests/s3-tests-lists/s3_tests_pending_list.txt
  src/test/system_tests/ceph_s3_tests/test_ceph_nsfs_s3_config_setup.js
  src/test/system_tests/ceph_s3_tests/test_ceph_s3_constants.js
  src/test/system_tests/ceph_s3_tests/test_ceph_s3_deploy.sh
  src/test/unit_tests/jest_tests/test_nc_nsfs_account_cli.test.js
  src/test/unit_tests/test_agent_blocks_reclaimer.js
  src/test/unit_tests/test_bucketspace_fs.js
  src/test/unit_tests/test_nc_nsfs_cli.js
  src/util/promise.js
Labels: size/XL

#7687 CI | GAP | Ceph S3 Tests
  src/test/system_tests/ceph_s3_tests/test_ceph_s3_config_and_run_s3_tests.sh
Labels: size/XS

#7704 [BAckport into 5.15] NSFS | CLI | few fixes
  config.js
  docs/dev_guide/NonContainerizedDeveloperCustomizations.md
  src/cmd/manage_nsfs.js
  src/manage_nsfs/manage_nsfs_cli_errors.js
  src/test/unit_tests/jest_tests/test_nc_nsfs_account_cli.test.js
  src/test/unit_tests/test_nc_nsfs_cli.js
Labels: size/L

#7703 NSFS | NC | CLI |bucket delete leaving objects
  src/cmd/manage_nsfs.js
  src/manage_nsfs/manage_nsfs_cli_errors.js
  src/sdk/bucketspace_fs.js
  src/test/unit_tests/jest_tests/test_nc_nsfs_account_cli.test.js
  src/test/unit_tests/test_bucketspace_fs.js
  src/test/unit_tests/test_nc_nsfs_cli.js
Labels: size/M

#7639 NSFS - fix some small issues
  config.js
  docs/dev_guide/non_containerized_NSFS_events.md
  src/cmd/nsfs.js
  src/util/fork_utils.js
Labels: size/M

#7706 Fix Eslint Errors
  src/cmd/manage_nsfs.js
  src/endpoint/s3/s3_rest.js
  src/sdk/bucketspace_fs.js
  src/test/unit_tests/jest_tests/test_nc_nsfs_account_cli.test.js
  src/test/unit_tests/test_bucketspace_fs.js
Labels: size/S

#7709 [Backport to 5.15] Add experimental support for STS CLI usage (#7605)
  src/util/http_utils.js
Labels: size/XS

#7712 Backport to 5.15
  config.js
  docs/dev_guide/non_containerized_NSFS_events.md
  src/cmd/manage_nsfs.js
  src/cmd/nsfs.js
  src/endpoint/s3/s3_rest.js
  src/manage_nsfs/manage_nsfs_cli_errors.js
  src/manage_nsfs/nsfs_schema_utils.js
  src/sdk/bucketspace_fs.js
  src/server/object_services/schemas/nsfs_bucket_schema.js
  src/test/system_tests/ceph_s3_tests/test_ceph_s3_config_and_run_s3_tests.sh
  src/test/unit_tests/jest_tests/test_nc_nsfs_account_cli.test.js
  src/test/unit_tests/jest_tests/test_nc_nsfs_schema_validation.test.js
  src/test/unit_tests/test_bucketspace_fs.js
  src/test/unit_tests/test_nc_nsfs_cli.js
  src/util/fork_utils.js
Labels: size/XXL

#7711 Move Versioning Definition From `bucket_api` to `common_api` for Reuse
  src/api/bucket_api.js
  src/api/common_api.js
  src/server/object_services/schemas/nsfs_bucket_schema.js
Labels: size/S

#7713 NSFS | NC add nsfs_config_schema to nsfs_schema_utils and add missing properties
  config.js
  docs/dev_guide/NonContainerizedDeveloperCustomizations.md
  src/manage_nsfs/nsfs_schema_utils.js
  src/server/system_services/schemas/nsfs_account_schema.js
  src/server/system_services/schemas/nsfs_bucket_schema.js
  src/server/system_services/schemas/nsfs_config_schema.js
  src/test/unit_tests/jest_tests/test_nc_nsfs_schema_validation.test.js
Labels: size/L

#7708 NSFS | NC | CLI | fix update creation_date and should_create_underlying_storage
  src/cmd/manage_nsfs.js
  src/test/unit_tests/test_nc_nsfs_cli.js
Labels: size/S

#7710 NC | NSFS | Add Schema Validation to Bucket (`bucketspace_fs`)
  docs/design/NonContainerizedNSFSDesign.md
  src/cmd/manage_nsfs.js
  src/sdk/bucketspace_fs.js
  src/server/system_services/schemas/nsfs_bucket_schema.js
  src/test/unit_tests/jest_tests/test_nc_nsfs_account_schema_validation.test.js
  src/test/unit_tests/jest_tests/test_nc_nsfs_bucket_schema_validation.test.js
  src/test/unit_tests/jest_tests/test_nc_nsfs_config_schema_validation.test.js
  src/test/unit_tests/jest_tests/test_nc_nsfs_schema_validation.test.js
  src/test/unit_tests/test_bucketspace_fs.js
Labels: size/XXL

#7719 NSFS | NC | NC coretest - bug fixes - PR 1/3
  src/cmd/manage_nsfs.js
  src/sdk/bucketspace_fs.js
  src/test/unit_tests/test_bucketspace_fs.js
  src/test/unit_tests/test_nc_nsfs_cli.js
Labels: size/M

#7720 NSFS | NC | NC Coretests changes - PR 2/3
  Makefile
  src/test/system_tests/test_utils.js
  src/test/unit_tests/nc_coretest.js
  src/test/unit_tests/nc_index.js
  src/test/unit_tests/test_bucketspace.js
  src/test/unit_tests/test_nc_nsfs_cli.js
Labels: WIP PR, size/XL

#7731 NSFS | NC | add concurrency to `list_config_files`
  src/cmd/manage_nsfs.js
Labels: size/S

#7723 NSFS | NC | Verify That Account Doesn’t Own Buckets before Deletion
  src/cmd/manage_nsfs.js
  src/manage_nsfs/manage_nsfs_cli_errors.js
  src/test/unit_tests/jest_tests/test_nc_nsfs_account_cli.test.js
Labels: size/L

#7732 Fix Eslint Errors
  src/test/unit_tests/nc_coretest.js
  src/test/unit_tests/test_bucketspace.js
  src/test/unit_tests/test_bucketspace_fs.js
Labels: size/S

#7736 NSFS | NC | Verify IP Address When Passing IP List
  src/cmd/manage_nsfs.js
  src/test/unit_tests/jest_tests/test_nc_nsfs_config_schema_validation.test.js
  src/test/unit_tests/test_nc_nsfs_cli.js
Labels: size/M

#7733 NSFS | NC | Health script | distinguish between temporary and persistent errors
  config.js
  docs/non_containerized_NSFS.md
  src/cmd/health.js
  src/deploy/standalone/noobaa_rsyslog.conf
  src/test/unit_tests/test_nc_nsfs_health.js
Labels: size/L

#7737 NSFS | NC | Avoid vacuumAndAnalyze on nc nsfs without db
  src/cmd/nsfs.js
  src/endpoint/endpoint.js
  src/util/postgres_client.js
Labels: size/S

#7741 NSFS | NC | Help Printing for Each Action
  src/cmd/manage_nsfs.js
  src/manage_nsfs/manage_nsfs_cli_errors.js
  src/manage_nsfs/manage_nsfs_constants.js
  src/manage_nsfs/manage_nsfs_help_utils.js
Labels: size/L

#7609 Small object buffer fix
  config.js
  src/sdk/endpoint_stats_collector.js
  src/sdk/namespace_fs.js
  src/server/analytic_services/prometheus_reports/noobaa_endpoint_report.js
  src/server/bg_services/semaphore_monitor.js
  src/test/unit_tests/test_buffer_pool.js
  src/test/unit_tests/test_chunk_fs.js
  src/util/buffer_utils.js
  src/util/chunk_fs.js
  src/util/native_fs_utils.js
Labels: size/L

#7728 NSFS | NC | Verify That Bucket Owner Exists
  src/cmd/manage_nsfs.js
  src/manage_nsfs/manage_nsfs_cli_errors.js
  src/test/unit_tests/test_nc_nsfs_cli.js
Labels: size/L

#7742 NSFS | NC | Split The Error "Account config should not be empty"
  src/cmd/manage_nsfs.js
  src/manage_nsfs/manage_nsfs_cli_errors.js
  src/test/unit_tests/test_nc_nsfs_cli.js
Labels: size/M

#7740 NSFS | NC | NC github action for running nc coretests and other NSFS related tests - PR 3/3
  .github/workflows/nc_unit.yml
  src/test/unit_tests/test_nb_native_fs.js
Labels: size/S

#7722 [5.13] Bump version to 5.13.7
  .github/workflows/ceph-nsfs-s3-tests.yaml
  package-lock.json
  package.json
Labels: size/S

#7721 [5.14] Bumping version from 5.14.3 5.14.4
  .github/workflows/ceph-nsfs-s3-tests.yaml
  package-lock.json
  package.json
Labels: size/S

#7727 NSFS | NC | DOCS | Setting up SSL self signed certificates docs
  docs/non_containerized_NSFS.md
Labels: size/M

#7718 NSFS | NC | Allow one or more buckets to use the same dir path
  src/cmd/health.js
  src/cmd/manage_nsfs.js
  src/sdk/bucketspace_fs.js
  src/sdk/namespace_fs.js
  src/server/system_services/schemas/nsfs_account_schema.js
  src/server/system_services/schemas/nsfs_bucket_schema.js
  src/test/unit_tests/jest_tests/test_nc_nsfs_account_cli.test.js
  src/test/unit_tests/jest_tests/test_nc_nsfs_account_schema_validation.test.js
  src/test/unit_tests/jest_tests/test_nc_nsfs_bucket_cli.test.js
  src/test/unit_tests/jest_tests/test_nc_nsfs_bucket_schema_validation.test.js
  src/test/unit_tests/test_bucketspace_fs.js
  src/test/unit_tests/test_nc_nsfs_health.js
  src/util/mongo_utils.js
  src/util/native_fs_utils.js
Labels: size/L

#7743 NSFS | NC | Validate Options in Manage NSFS (CLI)
  src/cmd/manage_nsfs.js
  src/manage_nsfs/manage_nsfs_cli_errors.js
  src/manage_nsfs/manage_nsfs_constants.js
  src/manage_nsfs/manage_nsfs_help_utils.js
  src/test/unit_tests/jest_tests/test_nc_nsfs_account_cli.test.js
  src/test/unit_tests/jest_tests/test_nc_nsfs_bucket_cli.test.js
  src/test/unit_tests/test_nc_nsfs_cli.js
Labels: size/L

#7738 NSFS | NC | Health | add account uid gid can access new_buckets_path check
  docs/non_containerized_NSFS.md
  src/cmd/health.js
  src/sdk/bucketspace_fs.js
  src/test/unit_tests/test_bucketspace_fs.js
  src/test/unit_tests/test_nc_nsfs_health.js
  src/util/mongo_utils.js
  src/util/native_fs_utils.js
Labels: size/L

#7748 NSFS | NC | Health | Account without new_buckets_path
  docs/non_containerized_NSFS.md
  src/cmd/health.js
  src/test/unit_tests/test_nc_nsfs_health.js
Labels: size/M

#7749 BACKPORT 5.15
  .github/workflows/nc_unit.yml
  Makefile
  config.js
  docs/design/NonContainerizedNSFSDesign.md
  docs/dev_guide/NonContainerizedDeveloperCustomizations.md
  docs/non_containerized_NSFS.md
  src/api/bucket_api.js
  src/api/common_api.js
  src/cmd/health.js
  src/cmd/manage_nsfs.js
  src/cmd/nsfs.js
  src/deploy/standalone/noobaa_rsyslog.conf
  src/endpoint/endpoint.js
  src/manage_nsfs/manage_nsfs_cli_errors.js
  src/manage_nsfs/manage_nsfs_constants.js
  src/manage_nsfs/manage_nsfs_help_utils.js
  src/manage_nsfs/nsfs_schema_utils.js
  src/sdk/bucketspace_fs.js
  src/sdk/endpoint_stats_collector.js
  src/sdk/namespace_fs.js
  src/server/analytic_services/prometheus_reports/noobaa_endpoint_report.js
  src/server/bg_services/semaphore_monitor.js
  src/server/system_services/schemas/nsfs_account_schema.js
  src/server/system_services/schemas/nsfs_bucket_schema.js
  src/server/system_services/schemas/nsfs_config_schema.js
  src/test/system_tests/test_utils.js
  src/test/unit_tests/jest_tests/test_nc_nsfs_account_cli.test.js
  src/test/unit_tests/jest_tests/test_nc_nsfs_account_schema_validation.test.js
  src/test/unit_tests/jest_tests/test_nc_nsfs_bucket_cli.test.js
  src/test/unit_tests/jest_tests/test_nc_nsfs_bucket_schema_validation.test.js
  src/test/unit_tests/jest_tests/test_nc_nsfs_config_schema_validation.test.js
  src/test/unit_tests/jest_tests/test_nc_nsfs_schema_validation.test.js
  src/test/unit_tests/nc_coretest.js
  src/test/unit_tests/nc_index.js
  src/test/unit_tests/test_bucketspace.js
  src/test/unit_tests/test_bucketspace_fs.js
  src/test/unit_tests/test_buffer_pool.js
  src/test/unit_tests/test_chunk_fs.js
  src/test/unit_tests/test_nb_native_fs.js
  src/test/unit_tests/test_nc_nsfs_cli.js
  src/test/unit_tests/test_nc_nsfs_health.js
  src/util/buffer_utils.js
  src/util/chunk_fs.js
  src/util/mongo_utils.js
  src/util/native_fs_utils.js
  src/util/postgres_client.js
Labels: size/XXL

#7751 Fixing ESlint issues and returning some missing rules
  .eslintrc.js
  src/cmd/health.js
  src/test/unit_tests/test_nc_nsfs_health.js
  src/util/buffer_utils.js
Labels: size/S

#7761 [ESLint Fixes] moving to @stylistic plugin + fixes
  .eslintrc.js
  package-lock.json
  package.json
  src/cmd/health.js
Labels: size/M

#7543 Update Spectrum Archive deployment guide
  src/deploy/spectrum_archive/deployment_guide.md
Labels: size/M

#7725 Add configuration to deny upload to "STANDARD" storage class
  config.js
  src/endpoint/s3/ops/s3_post_object_uploads.js
  src/endpoint/s3/ops/s3_put_object.js
Labels: size/S

#7576 Noobaa/Bucket Logging : Log delivery to noobaa core
  src/deploy/NVA_build/rsyslog.conf
  src/endpoint/endpoint.js
  src/endpoint/s3/s3_bucket_logging.js
  src/server/system_services/schemas/system_schema.js
Labels: size/M

#7758 NSFS | NC | Add Details to Error Message When Invalid Schema
  src/manage_nsfs/nsfs_schema_utils.js
  src/test/unit_tests/jest_tests/test_nc_nsfs_account_schema_validation.test.js
  src/test/unit_tests/jest_tests/test_nc_nsfs_bucket_schema_validation.test.js
  src/test/unit_tests/jest_tests/test_nc_nsfs_config_schema_validation.test.js
Labels: size/M

#7484 Improve chunk delete performance
  src/server/object_services/schemas/object_part_indexes.js
Labels: size/S

#7756 NSFS | NC | Check Option Type from CLI
  src/cmd/manage_nsfs.js
  src/manage_nsfs/manage_nsfs_cli_errors.js
  src/manage_nsfs/manage_nsfs_constants.js
  src/test/unit_tests/jest_tests/test_nc_nsfs_account_cli.test.js
  src/test/unit_tests/jest_tests/test_nc_nsfs_bucket_cli.test.js
  src/test/unit_tests/test_nc_nsfs_cli.js
Labels: size/L

#7745 NSFS | NC | CLI | List config files performance improvement & added new filters for list accounts/buckets
  src/cmd/manage_nsfs.js
  src/manage_nsfs/manage_nsfs_constants.js
  src/test/unit_tests/jest_tests/test_nc_nsfs_account_cli.test.js
  src/test/unit_tests/jest_tests/test_nc_nsfs_bucket_cli.test.js
Labels: size/L

#7765 NSFS | NC | Health script - PR 1/2 | new_buckets_path bug fixes
  src/cmd/health.js
  src/manage_nsfs/manage_nsfs_help_utils.js
  src/test/system_tests/test_utils.js
  src/test/unit_tests/jest_tests/test_nc_nsfs_new_buckets_path_validation.test.js
  src/test/unit_tests/test_nc_nsfs_health.js
  src/util/native_fs_utils.js
Labels: size/XXL

#7769 CI | Update Checkout Version
  .github/workflows/build-arm64-image.yaml
  .github/workflows/build-ppc64le-image.yaml
  .github/workflows/ceph-nsfs-s3-tests.yaml
  .github/workflows/ceph-s3-tests.yaml
  .github/workflows/jest-unit-tests.yaml
  .github/workflows/manual-build-rpm.yaml
  .github/workflows/manual-full-build.yaml
  .github/workflows/nc_unit.yml
  .github/workflows/nightly-rpm-build.yml
  .github/workflows/nightly-tests.yaml
  .github/workflows/postgres-unit-tests.yaml
  .github/workflows/releaser.yaml
  .github/workflows/sanity-ssl.yaml
  .github/workflows/sanity.yaml
  .github/workflows/unit.yaml
Labels: size/M

#7770 [5.13] Bump version to 5.13.8
  package-lock.json
  package.json
Labels: size/XS

#7772 [Backport to 5.14] ssl cert reload - run in endpoint bg (bz 2237903)
  src/endpoint/endpoint.js
  src/rpc/rpc_http_server.js
  src/server/bg_services/server_monitor.js
  src/server/web_server.js
  src/util/ssl_utils.js
Labels: size/L

#7771 [Backport to 5.15] NS FS Non Contanarized fixes
  .eslintrc.js
  config.js
  package-lock.json
  package.json
  src/cmd/health.js
  src/cmd/manage_nsfs.js
  src/endpoint/s3/ops/s3_post_object_uploads.js
  src/endpoint/s3/ops/s3_put_object.js
  src/manage_nsfs/manage_nsfs_cli_errors.js
  src/manage_nsfs/manage_nsfs_constants.js
  src/manage_nsfs/nsfs_schema_utils.js
  src/server/object_services/schemas/object_part_indexes.js
  src/test/unit_tests/jest_tests/test_nc_nsfs_account_cli.test.js
  src/test/unit_tests/jest_tests/test_nc_nsfs_account_schema_validation.test.js
  src/test/unit_tests/jest_tests/test_nc_nsfs_bucket_cli.test.js
  src/test/unit_tests/jest_tests/test_nc_nsfs_bucket_schema_validation.test.js
  src/test/unit_tests/jest_tests/test_nc_nsfs_config_schema_validation.test.js
  src/test/unit_tests/test_nc_nsfs_cli.js
  src/test/unit_tests/test_nc_nsfs_health.js
  src/util/buffer_utils.js
Labels: size/XL

#7767 NSFS | NC | Improve Help Printings
  src/manage_nsfs/manage_nsfs_help_utils.js
Labels: size/L

#7776 NSFS | NC | Add `owner_account` to the bucket schema as a required property
  src/cmd/manage_nsfs.js
  src/server/system_services/schemas/nsfs_bucket_schema.js
  src/test/unit_tests/jest_tests/test_nc_nsfs_bucket_schema_validation.test.js
  src/test/unit_tests/test_bucketspace_fs.js
  src/test/unit_tests/test_nc_nsfs_cli.js
Labels: size/M

#7773 [NSFS | NC] fix NooBaa NSFS RPM Upgrade
  src/deploy/RPM_build/noobaa.spec
  src/deploy/noobaa_nsfs.service
Labels: size/M

#7778 [Backport tp 5.15] fix NooBaa NSFS RPM Upgrade
  src/deploy/RPM_build/noobaa.spec
  src/deploy/noobaa_nsfs.service
Labels: size/M
