Repository noobaa/noobaa-core, pull requests merged in 2024-10, with the labels that each got.

#8405 NSFS | Versioning | Concurrency tests
  docs/NooBaaNonContainerized/CI&Tests.md
  src/sdk/namespace_fs.js
  src/test/unit_tests/jest_tests/test_versioning_concurrency.test.js
Labels: size/L

#8424 Lifecycle changes - Allow all actions in put lifecycle configuration
  src/api/common_api.js
  src/endpoint/s3/ops/s3_put_bucket_lifecycle.js
Labels: size/L

#8431 NC | CLI | Check Access - fix CLI error message
  src/manage_nsfs/manage_nsfs_cli_errors.js
Labels: size/XS

#8419 NC | Concurrency & refactoring | Add delay, version move checks and GPFS refactoring
  config.js
  src/sdk/namespace_fs.js
  src/test/unit_tests/jest_tests/test_versioning_concurrency.test.js
  src/util/native_fs_utils.js
Labels: size/L

#8417 NSFS | Tagging bugs
  src/sdk/namespace_fs.js
  src/test/unit_tests/test_namespace_fs.js
Labels: size/L

#8435 5.15.8 | Bump version & backport
  package-lock.json
  package.json
  src/sdk/namespace_fs.js
  src/sdk/object_sdk.js
  src/test/system_tests/ceph_s3_tests/s3-tests-lists/nsfs_s3_tests_pending_list.txt
  src/test/unit_tests/test_bucketspace_versioning.js
  src/test/unit_tests/test_namespace_fs.js
Labels: size/L

#8425 NC | NSFS | List Object Versions - Add Tests
  src/test/unit_tests/test_bucketspace_versioning.js
Labels: size/XL

#8434 5.17 | Backports
  config.js
  docs/NooBaaNonContainerized/CI&Tests.md
  src/manage_nsfs/manage_nsfs_cli_errors.js
  src/sdk/namespace_fs.js
  src/test/unit_tests/jest_tests/test_versioning_concurrency.test.js
  src/util/native_fs_utils.js
Labels: size/L

#8437 [Backport into 5.15] Bumping deps to avoid CVE
  package-lock.json
  package.json
Labels: size/S

#8420 NSFS | Update noobaa log document and add syslog-ng
  docs/NooBaaNonContainerized/Logging.md
Labels: size/M

#8439 NSFS | versioning | fix GET/HEAD object concurrency issues
  src/sdk/namespace_fs.js
  src/util/native_fs_utils.js
Labels: size/L

#8438 [5.14] Bumping version from 5.14.11 to 5.14.12
  package-lock.json
  package.json
Labels: size/XS

#8441 [5.14] Bump deps to avoid CVE
  package-lock.json
  package.json
Labels: size/XS

#8436 NSFS | Object Version when trying to delete, logs a WARN message
  src/sdk/namespace_fs.js
Labels: size/XS

#8442 [Backport into 5.17] NSFS | versioning | fix GET/HEAD object concurrency issues
  src/sdk/namespace_fs.js
  src/util/native_fs_utils.js
Labels: size/L

#8445 [Backport into 5.17] NSFS fixes
  docs/NooBaaNonContainerized/Logging.md
  src/sdk/namespace_fs.js
  src/test/unit_tests/test_bucketspace_versioning.js
  src/test/unit_tests/test_namespace_fs.js
Labels: size/XXL

#8433 Bumping deps to avoid CVE
  package-lock.json
  package.json
Labels: size/S

#8446 CI | Increase Timeouts
  src/test/unit_tests/jest_tests/test_versioning_concurrency.test.js
  src/test/unit_tests/test_bucketspace_versioning.js
Labels: size/M

#8449 fixed get lifecycle conf to support all possible fields
  src/api/common_api.js
  src/endpoint/s3/ops/s3_get_bucket_lifecycle.js
  src/endpoint/s3/ops/s3_put_bucket_lifecycle.js
  src/test/unit_tests/test_s3_ops.js
Labels: size/L

#8447 [Backport into 5.17] Bumping deps to avoid CVE
  package-lock.json
  package.json
Labels: size/S

#8451 [Backport into 5.16] Bumping deps to avoid CVE
  package-lock.json
  package.json
Labels: size/M

#8450 [Backport to 5.17] fixed get lifecycle conf to support all possible fields
  src/api/common_api.js
  src/endpoint/s3/ops/s3_get_bucket_lifecycle.js
  src/endpoint/s3/ops/s3_put_bucket_lifecycle.js
  src/test/unit_tests/test_s3_ops.js
Labels: size/L

#8322 s3select - bump rapid json commit to include parsing bug fix
  src/deploy/NVA_build/clone_s3select_submodules.sh
Labels: size/XS

#8448 NC | NSFS | Versioning | Add Concurrency Tests - Suspended
  src/test/unit_tests/jest_tests/test_versioning_concurrency.test.js
Labels: size/M

#8453 NC | NSFS | Versioning | Add Tests With Nested Keys (more than 1 level)
  src/test/unit_tests/test_bucketspace_versioning.js
Labels: size/L

#8455 NSFS | versioning | use linkat in gpfs safe_link to not override existing versions
  .github/workflows/jest-unit-tests.yaml
  src/deploy/NVA_build/builder.Dockerfile
  src/deploy/RPM_build/noobaa.spec
  src/native/common.gypi
  src/native/fs/fs_napi.cpp
  src/native/util/os.h
  src/native/util/os_darwin.cpp
  src/native/util/os_linux.cpp
  src/sdk/namespace_fs.js
  src/sdk/nb.d.ts
  src/test/system_tests/ceph_s3_tests/s3-tests-lists/nsfs_s3_tests_pending_list.txt
  src/util/native_fs_utils.js
Labels: size/L

#8458 5.17 | Backports | NC | Tests and Concurrent put fix
  .github/workflows/jest-unit-tests.yaml
  src/deploy/NVA_build/builder.Dockerfile
  src/deploy/RPM_build/noobaa.spec
  src/native/common.gypi
  src/native/fs/fs_napi.cpp
  src/native/util/os.h
  src/native/util/os_darwin.cpp
  src/native/util/os_linux.cpp
  src/sdk/namespace_fs.js
  src/sdk/nb.d.ts
  src/test/system_tests/ceph_s3_tests/s3-tests-lists/nsfs_s3_tests_pending_list.txt
  src/test/unit_tests/jest_tests/test_versioning_concurrency.test.js
  src/test/unit_tests/test_bucketspace_versioning.js
  src/util/native_fs_utils.js
Labels: size/L

#8459 [Backport into 5.17]s3select - bump rapid json commit to include parsing bug fix (#8322)
  src/deploy/NVA_build/clone_s3select_submodules.sh
Labels: size/XS

#8401 NSFS | GPFS | fix gpfs test file
  src/test/unit_tests/test_nsfs_versioning_gpfs.js
Labels: size/XS

#8101 Update stale actions with exempt rules
  .github/workflows/stale.yml
Labels: size/S

#8326 NC | Online Upgrade Process
  src/cmd/manage_nsfs.js
  src/cmd/nsfs.js
  src/deploy/noobaa.service
  src/manage_nsfs/manage_nsfs_cli_errors.js
  src/manage_nsfs/manage_nsfs_constants.js
  src/manage_nsfs/manage_nsfs_help_utils.js
  src/manage_nsfs/manage_nsfs_validations.js
  src/manage_nsfs/upgrade.js
  src/sdk/config_fs.js
  src/test/system_tests/test_utils.js
  src/test/unit_tests/jest_tests/test_accountspace_fs.test.js
  src/test/unit_tests/jest_tests/test_cli_diagnose.test.js
  src/test/unit_tests/jest_tests/test_cli_upgrade.test.js
  src/test/unit_tests/jest_tests/test_config_dir_structure.js
  src/test/unit_tests/jest_tests/test_nc_master_keys.test.js
  src/test/unit_tests/jest_tests/test_nc_master_keys_exec.test.js
  src/test/unit_tests/jest_tests/test_nc_nsfs_account_cli.test.js
  src/test/unit_tests/jest_tests/test_nc_upgrade_manager.test.js
  src/test/unit_tests/nc_coretest.js
  src/upgrade/nc_upgrade_manager.js
  src/upgrade/upgrade_manager.js
  src/upgrade/upgrade_utils.js
Labels: size/XXL

#8312 NC | NSFS | Config Dir Restructure - Add `users/` Dir
  docs/NooBaaNonContainerized/Configuration.md
  docs/NooBaaNonContainerized/GettingStarted.md
  docs/design/iam.md
  src/endpoint/iam/iam_utils.js
  src/endpoint/s3/s3_rest.js
  src/sdk/accountspace_fs.js
  src/sdk/bucketspace_fs.js
  src/sdk/config_fs.js
  src/test/unit_tests/jest_tests/test_accountspace_fs.test.js
  src/test/unit_tests/jest_tests/test_iam_utils.test.js
Labels: size/XXL

#8461 NSFS | NC | GPFS | modify versioning tests to work with GPFS
  src/test/system_tests/test_utils.js
  src/test/unit_tests/jest_tests/test_versioning_concurrency.test.js
  src/test/unit_tests/test_bucketspace.js
  src/test/unit_tests/test_bucketspace_versioning.js
Labels: size/M

#8460 Removed unused files
  src/server/object_services/md_store_postgres.js
  src/test/unit_tests/test_md_store_postgres.js
Labels: size/XXL

#8466 [Backport to 5.17] Fix the store deletion ownership check
  src/server/system_services/pool_server.js
Labels: size/S

#8467 NC | Online upgrade process small fix & refactoring
  src/cmd/nsfs.js
  src/sdk/config_fs.js
  src/upgrade/nc_upgrade_manager.js
  src/upgrade/upgrade_utils.js
Labels: size/L

#8396 NSFS | add more concurrecy tests
  src/test/unit_tests/jest_tests/test_versioning_concurrency.test.js
Labels: size/M

#8473 NSFS | RPM installation failing with missing module error
  src/deploy/RPM_build/RPM.Dockerfile
Labels: size/XS

#8474 nsfs | wait for endpoint startup before namespace monitor registration
  src/endpoint/endpoint.js
Labels: size/S

#8482 Avoid dedup chunks that are relatively new
  config.js
  src/server/object_services/mapper.js
  src/test/unit_tests/test_encryption.js
Labels: size/S

#8485 NSFS | GPFS | versioning | fix delete version concurrency issues
  src/sdk/namespace_fs.js
Labels: size/S

#8489 NSFS | GPFS | add undefine check for delete_last_version
  src/sdk/namespace_fs.js
Labels: size/XS

#8481 lifecycle fixes
  src/endpoint/s3/ops/s3_get_bucket_lifecycle.js
  src/endpoint/s3/ops/s3_put_bucket_lifecycle.js
  src/test/unit_tests/test_s3_ops.js
Labels: size/M

#8337 Bucket Notifications
  config.js
  package.json
  src/api/bucket_api.js
  src/api/common_api.js
  src/api/object_api.js
  src/cmd/manage_nsfs.js
  src/cmd/nsfs.js
  src/endpoint/endpoint.js
  src/endpoint/s3/ops/s3_delete_object.js
  src/endpoint/s3/ops/s3_get_bucket_notification.js
  src/endpoint/s3/ops/s3_post_object_restore.js
  src/endpoint/s3/ops/s3_put_bucket_notification.js
  src/endpoint/s3/ops/s3_put_object.js
  src/endpoint/s3/s3_bucket_logging.js
  src/manage_nsfs/manage_nsfs_cli_errors.js
  src/manage_nsfs/manage_nsfs_constants.js
  src/manage_nsfs/manage_nsfs_validations.js
  src/sdk/bucketspace_fs.js
  src/sdk/bucketspace_nb.js
  src/sdk/config_fs.js
  src/sdk/namespace_fs.js
  src/sdk/nb.d.ts
  src/sdk/object_sdk.js
  src/server/bg_workers.js
  src/server/object_services/object_server.js
  src/server/system_services/bucket_server.js
  src/server/system_services/schemas/bucket_schema.js
  src/server/system_services/schemas/nsfs_bucket_schema.js
  src/util/notifications_util.js
Labels: size/XL

#8484 Add support for configurable max bucket & key length
  config.js
  src/endpoint/s3/s3_errors.js
  src/endpoint/s3/s3_rest.js
Labels: size/S

#8456 [NSFS] Fix Newline Reader to work with partial reads and improve its memory usage
  src/sdk/nsfs_glacier_backend/tapecloud.js
  src/test/unit_tests/jest_tests/test_newline_reader.test.js
  src/test/unit_tests/test_nsfs_glacier_backend.js
  src/util/file_reader.js
  src/util/persistent_logger.js
Labels: size/L
