Repository noobaa/noobaa-core, pull requests merged in 2024-11, with the labels that each got.

#8495 [5.17] Bumping version from 5.17.0 to 5.17.1
  package-lock.json
  package.json
Labels: size/XS

#8494 [5.16] Bumping version from 5.16.3 to 5.16.4
  package-lock.json
  package.json
Labels: size/XS

#8475 bucket_api: Pagination support for list_bucket API
  1
  src/api/bucket_api.js
  src/api/common_api.js
  src/endpoint/s3/ops/s3_get_bucket.js
  src/endpoint/s3/ops/s3_get_service.js
  src/endpoint/s3/s3_utils.js
  src/sdk/bucketspace_fs.js
  src/sdk/bucketspace_nb.js
  src/sdk/bucketspace_s3.js
  src/sdk/bucketspace_simple_fs.js
  src/sdk/nb.d.ts
  src/sdk/object_sdk.js
  src/server/system_services/bucket_server.js
  src/test/unit_tests/test_bucketspace_fs.js
  src/test/unit_tests/test_s3_list_buckets.js
  src/test/unit_tests/test_system_servers.js
Labels: size/L

#8493 Fix pre-signed url issues
  src/endpoint/s3/s3_errors.js
  src/util/http_utils.js
  src/util/signature_utils.js
Labels: size/M

#8500 use delete_version src file instead of move_to_dest dest_file to get latest version
  src/sdk/namespace_fs.js
Labels: size/XS

#8492 Update the Dockerfiles
  src/deploy/NVA_build/Base.Dockerfile
  src/deploy/NVA_build/NooBaa.Dockerfile
  src/deploy/NVA_build/Tests.Dockerfile
  src/deploy/NVA_build/builder.Dockerfile
  src/deploy/NVA_build/dev.Dockerfile
Labels: size/M

#8502 NSFS | versioning | remove seperation between GPFS and POSIX errors for concurrency retries
  src/sdk/namespace_fs.js
  src/util/native_fs_utils.js
Labels: size/S

#8504 [Backport 5.17] Backport of DB and Scale fixes to 4.17.1
  config.js
  src/endpoint/s3/ops/s3_get_bucket_lifecycle.js
  src/endpoint/s3/ops/s3_put_bucket_lifecycle.js
  src/endpoint/s3/s3_errors.js
  src/endpoint/s3/s3_rest.js
  src/sdk/namespace_fs.js
  src/sdk/nsfs_glacier_backend/tapecloud.js
  src/test/unit_tests/jest_tests/test_newline_reader.test.js
  src/test/unit_tests/test_nsfs_glacier_backend.js
  src/test/unit_tests/test_s3_ops.js
  src/util/file_reader.js
  src/util/persistent_logger.js
Labels: size/L

#8505 [Backport 5.16] Backport of DB fixes to 4.16.4
  config.js
  src/endpoint/s3/ops/s3_get_bucket.js
  src/endpoint/s3/s3_errors.js
  src/endpoint/s3/s3_rest.js
  src/manage_nsfs/manage_nsfs_glacier.js
  src/native/fs/fs_napi.cpp
  src/sdk/nb.d.ts
  src/sdk/nsfs_glacier_backend/tapecloud.js
  src/test/unit_tests/jest_tests/test_newline_reader.test.js
  src/test/unit_tests/test_nsfs_glacier_backend.js
  src/util/file_reader.js
  src/util/persistent_logger.js
Labels: size/L

#8506 5.17.1 NSFS Backports
  src/sdk/namespace_fs.js
  src/util/native_fs_utils.js
Labels: size/M

#8488 NSFS | Healthcheck is not reporting error for buckets with out access
  docs/NooBaaNonContainerized/Health.md
  src/manage_nsfs/health.js
  src/manage_nsfs/manage_nsfs_cli_utils.js
  src/sdk/accountspace_fs.js
  src/test/unit_tests/nc_coretest.js
  src/test/unit_tests/test_nc_nsfs_cli.js
  src/test/unit_tests/test_nc_nsfs_health.js
Labels: size/L

#8503 Presigned URL - Expiry limit from milliseconds to seconds and epoch fixes + automatic tests
  src/test/unit_tests/nc_coretest.js
  src/test/unit_tests/test_bucketspace.js
  src/util/cloud_utils.js
  src/util/signature_utils.js
Labels: size/L

#8507 noobaa-core: Remove empty file
  1
Labels: size/XS

#8512 [5.16] fix panic when fh_stat is undefined
  src/util/persistent_logger.js
Labels: size/XS

#8513 Removing `unique` and the unused `NAN_SET_BUF_DETACH`
  src/native/util/buf.h
  src/native/util/nan.h
Labels: size/S

#8418 Add S3 GetObjectAttributes API Implementation
  src/endpoint/s3/ops/index.js
  src/endpoint/s3/ops/s3_get_object_attributes.js
  src/endpoint/s3/s3_bucket_policy_utils.js
  src/endpoint/s3/s3_rest.js
  src/endpoint/s3/s3_utils.js
  src/sdk/namespace_fs.js
  src/sdk/namespace_s3.js
  src/sdk/nb.d.ts
  src/sdk/object_sdk.js
  src/server/object_services/object_server.js
  src/test/unit_tests/test_bucketspace_versioning.js
  src/test/unit_tests/test_s3_bucket_policy.js
  src/test/unit_tests/test_s3_ops.js
  src/upgrade/upgrade_scripts/5.15.6/upgrade_bucket_policy.js
Labels: size/XL

#8491 NC | NSFS | Versioning | Avoid Errors On Put Object of Directory Content
  src/sdk/namespace_fs.js
  src/test/unit_tests/test_bucketspace_versioning.js
Labels: size/S

#8515 NSFS | versioning | change open_files_gpfs log on failed file open from error to warn
  src/sdk/namespace_fs.js
Labels: size/XS

#8514 noobaa/core: remove global websocket
  src/rpc/rpc_ws.js
  src/rpc/rpc_ws_server.js
Labels: size/XS

#8519 Bumping deps to avoid CVE (12/11/2024)
  package-lock.json
  package.json
Labels: size/M

#8520 NSFS | Rename `versioning_status_enum` to `VERSIONING_STATUS_ENUM`
  src/sdk/namespace_fs.js
Labels: size/M

#8313 update node.js version from 20 to 22
  .nvmrc
  package-lock.json
  package.json
  src/test/unit_tests/test_nb_native_fs.js
Labels: size/M

#8518 NC | NSFS | Panic Printings Added + Try-Catch `memory_monitor` + Change Default Event Logs + Increase `LimitNOFILE`
  config.js
  src/cmd/nsfs.js
  src/deploy/noobaa.service
  src/util/debug_module.js
  src/util/panic.js
Labels: size/M

#8523 [Backport into 5.17] Bumping deps to avoid CVE (12/11/2024)
  package-lock.json
  package.json
Labels: size/M

#8525 [Backport into 5.16] Bumping deps to avoid CVE (12/11/2024)
  package-lock.json
  package.json
Labels: size/M

#8480 NSFS | Versioning | Delete of partial directory of nested key results in AccessDeniedError
  src/sdk/namespace_fs.js
  src/test/unit_tests/test_bucketspace_versioning.js
  src/test/unit_tests/test_namespace_fs.js
  src/util/native_fs_utils.js
Labels: size/L

#8530 [Backport to 5.17] Avoid dedup chunks that are relatively new
  config.js
  src/server/object_services/mapper.js
  src/test/unit_tests/test_encryption.js
Labels: size/S

#8534 [Glacier] Fix AMZ restore status header
  src/endpoint/s3/s3_utils.js
  src/sdk/nsfs_glacier_backend/backend.js
  src/test/unit_tests/jest_tests/test_s3_utils.test.js
Labels: size/M

#8528 notifications | lifecycle impl
  src/api/common_api.js
  src/api/object_api.js
  src/endpoint/endpoint.js
  src/endpoint/s3/s3_bucket_logging.js
  src/server/bg_services/lifecycle.js
  src/server/object_services/object_server.js
  src/util/notifications_util.js
Labels: size/L

#8535 remove link-local suffix from remoteAddress in ice.js
  src/rpc/ice.js
Labels: size/S

#8539 [Backport into 5.16] Prometheus fix - creating a new registry to collect default metrics for nodejs
  src/server/analytic_services/prometheus_reports/nodejs_report.js
Labels: size/XS

#8543 [5.15] Bumping version from 5.15.8 to 5.15.9
  package-lock.json
  package.json
Labels: size/XS

#8527 NC | NSFS | Add `stat` to `bucket_namespace_cache`
  config.js
  docs/NooBaaNonContainerized/CI&Tests.md
  src/endpoint/s3/s3_bucket_logging.js
  src/endpoint/s3/s3_rest.js
  src/sdk/bucketspace_fs.js
  src/sdk/config_fs.js
  src/sdk/nb.d.ts
  src/sdk/object_sdk.js
  src/test/system_tests/ceph_s3_tests/run_ceph_nsfs_test_on_test_container.sh
  src/test/unit_tests/nc_coretest.js
  src/test/unit_tests/nc_index.js
  src/test/unit_tests/sudo_index.js
  src/test/unit_tests/test_nc_with_a_couple_of_forks.js
  src/test/unit_tests/test_nsfs_integration.js
Labels: size/L

#8526 NSFS | versioning | copy_object - close chunkfs read stream to prevent stream being closed after stat
  src/sdk/namespace_fs.js
  src/test/unit_tests/test_bucketspace_versioning.js
Labels: size/S

#8556 Removing K-means and test performance from node allocator
  config.js
  src/agent/agent.js
  src/agent/block_store_services/block_store_base.js
  src/api/agent_api.js
  src/server/node_services/nodes_monitor.js
  src/test/unit_tests/index.js
Labels: size/L

#8538 CORS - support AWS APIs (NC and containerized)
  config.js
  src/api/bucket_api.js
  src/api/common_api.js
  src/endpoint/s3/ops/s3_delete_bucket_cors.js
  src/endpoint/s3/ops/s3_get_bucket_cors.js
  src/endpoint/s3/ops/s3_put_bucket.js
  src/endpoint/s3/ops/s3_put_bucket_cors.js
  src/endpoint/s3/s3_errors.js
  src/endpoint/s3/s3_rest.js
  src/sdk/bucketspace_fs.js
  src/sdk/bucketspace_nb.js
  src/sdk/nb.d.ts
  src/sdk/object_sdk.js
  src/server/common_services/auth_server.js
  src/server/system_services/bucket_server.js
  src/server/system_services/schemas/bucket_schema.js
  src/server/system_services/schemas/nsfs_bucket_schema.js
  src/test/system_tests/ceph_s3_tests/run_ceph_nsfs_test_on_test_container.sh
  src/test/system_tests/ceph_s3_tests/run_ceph_test_on_test_container.sh
  src/test/system_tests/ceph_s3_tests/s3-tests-lists/nsfs_s3_tests_black_list.txt
  src/test/system_tests/ceph_s3_tests/s3-tests-lists/s3_tests_black_list.txt
  src/test/system_tests/ceph_s3_tests/s3-tests-lists/s3_tests_pending_list.txt
  src/util/http_utils.js
Labels: size/L

#8563 [Backport into 5.16] Removing `unique` and the unused `NAN_SET_BUF_DETACH`
  src/native/util/buf.h
  src/native/util/nan.h
  src/test/system_tests/ceph_s3_tests/test_ceph_s3_deploy.sh
Labels: size/S
