Repository noobaa/noobaa-core, pull requests merged in 2024-05, with the labels that each got.

#7996 Bucket_logging: Time bound bucket logs delivery
  src/deploy/NVA_build/noobaa_log_segregate.sh
Labels: size/M

#8002 NC | Whitelist Server IP Fix
  config.js
  docs/dev_guide/NonContainerizedDeveloperCustomizations.md
  src/endpoint/s3/s3_rest.js
  src/server/system_services/schemas/nsfs_config_schema.js
  src/test/system_tests/test_utils.js
  src/test/unit_tests/nc_coretest.js
  src/test/unit_tests/test_bucketspace.js
  src/test/unit_tests/test_bucketspace_versioning.js
  src/util/http_utils.js
Labels: size/L

#8003 NC | Virtual hosts configuration support
  config.js
  docs/dev_guide/NonContainerizedDeveloperCustomizations.md
  src/endpoint/endpoint.js
  src/server/system_services/schemas/nsfs_config_schema.js
  src/test/unit_tests/jest_tests/test_nc_nsfs_config_schema_validation.test.js
Labels: size/M

#8004 NC | Backport to stage_5.15.3
  config.js
  docs/dev_guide/NonContainerizedDeveloperCustomizations.md
  package-lock.json
  package.json
  src/cmd/manage_nsfs.js
  src/endpoint/endpoint.js
  src/endpoint/s3/s3_rest.js
  src/manage_nsfs/manage_nsfs_cli_errors.js
  src/server/system_services/schemas/nsfs_config_schema.js
  src/test/system_tests/test_utils.js
  src/test/unit_tests/jest_tests/test_nc_nsfs_bucket_cli.test.js
  src/test/unit_tests/jest_tests/test_nc_nsfs_config_schema_validation.test.js
  src/test/unit_tests/nc_coretest.js
  src/test/unit_tests/test_bucketspace.js
  src/test/unit_tests/test_bucketspace_versioning.js
  src/test/unit_tests/test_nc_nsfs_cli.js
  src/util/http_utils.js
  src/util/nb_native.js
Labels: size/XL

#8008 NC | CLI | Restrict Access Keys chars + performance improvement
  src/manage_nsfs/manage_nsfs_cli_errors.js
  src/manage_nsfs/manage_nsfs_validations.js
  src/test/unit_tests/jest_tests/test_nc_nsfs_account_cli.test.js
  src/util/string_utils.js
Labels: size/L

#8010 Bumping dependency to avoid CVE
  package-lock.json
  package.json
Labels: size/M

#8007 [5.15] Bump version to 5.15.3
  package-lock.json
  package.json
Labels: size/XS

#8012 NSFS | Improve list objects, MAC changes in Napi
  src/native/fs/fs_napi.cpp
Labels: size/S

#8011 NC | config.json - Remove host_customization pattern
  src/server/system_services/schemas/nsfs_config_schema.js
  src/test/unit_tests/jest_tests/test_nc_nsfs_config_schema_validation.test.js
Labels: size/M

#8005 Fix ENOTSUP by falling back to meta files
  src/agent/block_store_services/block_store_fs.js
Labels: size/M

#8013 [5.14 | Backport | Hotfix] fix ENOTSUP by falling back to meta files
  src/agent/block_store_services/block_store_fs.js
Labels: size/M

#8017 NC | UploadPart | finish_upload | stat(part-{num}) should not check ctime due to concurrency part uploads of the same part.
  src/sdk/namespace_fs.js
Labels: size/XS

#8019 Backport | stage 5.15.3
  src/agent/block_store_services/block_store_fs.js
  src/cmd/manage_nsfs.js
  src/manage_nsfs/manage_nsfs_cli_errors.js
  src/sdk/namespace_fs.js
  src/server/system_services/schemas/nsfs_config_schema.js
  src/test/unit_tests/jest_tests/test_nc_nsfs_account_cli.test.js
  src/test/unit_tests/jest_tests/test_nc_nsfs_config_schema_validation.test.js
  src/util/string_utils.js
Labels: size/L

#8022 NC | S3 Flow | Get-Bucket-Policy-Status fix
  src/sdk/bucketspace_fs.js
  src/sdk/nb.d.ts
  src/sdk/object_sdk.js
  src/test/unit_tests/nc_index.js
  src/test/unit_tests/test_bucketspace_fs.js
  src/test/unit_tests/test_s3_bucket_policy.js
Labels: size/L

#8026 NC | S3 flow | Put-Bucket-Policy Invalid Body error fix
  src/endpoint/s3/ops/s3_put_bucket_policy.js
  src/endpoint/s3/s3_errors.js
  src/test/unit_tests/test_s3_bucket_policy.js
Labels: size/S

#8029 Backport | stage_5.15.3
  src/endpoint/s3/ops/s3_put_bucket_policy.js
  src/endpoint/s3/s3_errors.js
  src/sdk/bucketspace_fs.js
  src/sdk/nb.d.ts
  src/sdk/object_sdk.js
  src/test/unit_tests/nc_index.js
  src/test/unit_tests/test_bucketspace_fs.js
  src/test/unit_tests/test_s3_bucket_policy.js
Labels: size/L

#8020 [NC | NSFS] Hourly accurate glacier expiry
  config.js
  src/sdk/nsfs_glacier_backend/backend.js
  src/test/unit_tests/test_nsfs_glacier_backend.js
  src/util/time_utils.js
Labels: NS-FS, size/L

#8030 Backporing Staging branch of 5.15.3 into 5.15
  config.js
  docs/design/NSFSGlacierStorageClass.md
  docs/design/NonContainerizedNooBaaDesign.md
  docs/dev_guide/NonContainerizedDeveloperCustomizations.md
  docs/dev_guide/non_containerized_NSFS_events.md
  docs/non_containerized_NSFS.md
  src/agent/block_store_services/block_store_fs.js
  src/cmd/health.js
  src/cmd/manage_nsfs.js
  src/cmd/nsfs.js
  src/deploy/NVA_build/Base.Dockerfile
  src/deploy/NVA_build/standalone_deploy_nsfs.sh
  src/deploy/RPM_build/RPM.Dockerfile
  src/deploy/RPM_build/noobaa.spec
  src/deploy/noobaa-cli
  src/deploy/noobaa.service
  src/deploy/spectrum_archive/deployment_guide.md
  src/endpoint/endpoint.js
  src/endpoint/endpoint_utils.js
  src/endpoint/s3/ops/s3_post_object_restore.js
  src/endpoint/s3/ops/s3_put_bucket_policy.js
  src/endpoint/s3/s3_errors.js
  src/endpoint/s3/s3_rest.js
  src/endpoint/s3/s3_utils.js
  src/manage_nsfs/manage_nsfs_cli_errors.js
  src/manage_nsfs/manage_nsfs_events_utils.js
  src/manage_nsfs/manage_nsfs_help_utils.js
  src/manage_nsfs/nc_master_key_manager.js
  src/sdk/bucketspace_fs.js
  src/sdk/namespace_fs.js
  src/sdk/nb.d.ts
  src/sdk/object_sdk.js
  src/server/system_services/schemas/nsfs_config_schema.js
  src/test/system_tests/test_utils.js
  src/test/unit_tests/jest_tests/test_nc_master_keys.test.js
  src/test/unit_tests/jest_tests/test_nc_master_keys_exec.test.js
  src/test/unit_tests/jest_tests/test_nc_nsfs_account_cli.test.js
  src/test/unit_tests/jest_tests/test_nc_nsfs_bucket_cli.test.js
  src/test/unit_tests/jest_tests/test_nc_nsfs_config_schema_validation.test.js
  src/test/unit_tests/jest_tests/test_s3_utils.test.js
  src/test/unit_tests/nc_coretest.js
  src/test/unit_tests/nc_index.js
  src/test/unit_tests/test_bucketspace.js
  src/test/unit_tests/test_bucketspace_fs.js
  src/test/unit_tests/test_bucketspace_versioning.js
  src/test/unit_tests/test_namespace_fs.js
  src/test/unit_tests/test_nc_nsfs_cli.js
  src/test/unit_tests/test_nc_nsfs_health.js
  src/test/unit_tests/test_nsfs_glacier_backend.js
  src/test/unit_tests/test_s3_bucket_policy.js
  src/test/unit_tests/test_s3_ops.js
  src/util/http_utils.js
  src/util/nb_native.js
  src/util/os_utils.js
  src/util/persistent_logger.js
  src/util/string_utils.js
Labels: size/XXL

#8031 Backport PR #8020 to 5.15
  config.js
  src/sdk/nsfs_glacier_backend/backend.js
  src/test/unit_tests/test_nsfs_glacier_backend.js
  src/util/time_utils.js
Labels: size/L

#8014 Rework S3 object version ID and marker check
  src/endpoint/s3/ops/s3_delete_object.js
  src/endpoint/s3/ops/s3_delete_object_tagging.js
  src/endpoint/s3/ops/s3_get_bucket_versions.js
  src/endpoint/s3/ops/s3_get_object.js
  src/endpoint/s3/ops/s3_get_object_acl.js
  src/endpoint/s3/ops/s3_get_object_legal_hold.js
  src/endpoint/s3/ops/s3_get_object_retention.js
  src/endpoint/s3/ops/s3_get_object_tagging.js
  src/endpoint/s3/ops/s3_head_object.js
  src/endpoint/s3/ops/s3_post_object_restore.js
  src/endpoint/s3/ops/s3_post_object_select.js
  src/endpoint/s3/ops/s3_put_object_acl.js
  src/endpoint/s3/ops/s3_put_object_legal_hold.js
  src/endpoint/s3/ops/s3_put_object_retention.js
  src/endpoint/s3/s3_errors.js
  src/endpoint/s3/s3_utils.js
  src/test/unit_tests/test_s3_ops.js
Labels: size/L

#7998 NSFS | Logrotate is not performing for noobaa logs
  docs/non_containerized_NSFS.md
  src/deploy/RPM_build/RPM.Dockerfile
  src/deploy/RPM_build/noobaa.spec
  src/deploy/standalone/logrotate_noobaa.conf
  src/deploy/standalone/logrotate_noobaa.sh
  src/deploy/standalone/noobaa_syslog.conf
Labels: size/M

#8034 NC | Fix master_keys.json timestamp typo
  src/manage_nsfs/nc_master_key_manager.js
Labels: size/XS

#8035 Backports | stage_5.15.4
  docs/non_containerized_NSFS.md
  src/deploy/RPM_build/RPM.Dockerfile
  src/deploy/RPM_build/noobaa.spec
  src/deploy/standalone/logrotate_noobaa.conf
  src/deploy/standalone/logrotate_noobaa.sh
  src/deploy/standalone/noobaa_syslog.conf
  src/manage_nsfs/nc_master_key_manager.js
Labels: size/M

#8042 Remove `eslint-disable no-undef` And Add Jest in Eslint Config
  .eslintrc.js
  src/test/unit_tests/jest_tests/test_bucket_diff.test.js
  src/test/unit_tests/jest_tests/test_bucket_log_based_replication.test.js
  src/test/unit_tests/jest_tests/test_list_object.test.js
  src/test/unit_tests/jest_tests/test_nc_master_keys.test.js
  src/test/unit_tests/jest_tests/test_nc_master_keys_exec.test.js
  src/test/unit_tests/jest_tests/test_nc_nsfs_account_cli.test.js
  src/test/unit_tests/jest_tests/test_nc_nsfs_account_schema_validation.test.js
  src/test/unit_tests/jest_tests/test_nc_nsfs_bucket_cli.test.js
  src/test/unit_tests/jest_tests/test_nc_nsfs_bucket_schema_validation.test.js
  src/test/unit_tests/jest_tests/test_nc_nsfs_config_schema_validation.test.js
  src/test/unit_tests/jest_tests/test_nc_nsfs_new_buckets_path_validation.test.js
  src/test/unit_tests/jest_tests/test_noobaa_s3_client.test.js
  src/test/unit_tests/jest_tests/test_os_utils.test.js
  src/test/unit_tests/jest_tests/test_s3_utils.test.js
Labels: size/S

#8006 bucket logging: Change logrotate configuration from daily to hourly
  src/deploy/NVA_build/logrotate_noobaa.conf
Labels: size/XS

#8009 NSFS | NC | IAM Service - Phase 1 (dummy impls)
  config.js
  docs/design/iam.md
  docs/design/images/IamCreateUserSd.png
  docs/design/uml/IamCreateUserSd.puml
  src/cmd/nsfs.js
  src/endpoint/endpoint.js
  src/endpoint/iam/iam_errors.js
  src/endpoint/iam/iam_rest.js
  src/endpoint/iam/iam_utils.js
  src/endpoint/iam/ops/iam_create_access_key.js
  src/endpoint/iam/ops/iam_create_user.js
  src/endpoint/iam/ops/iam_delete_access_key.js
  src/endpoint/iam/ops/iam_delete_user.js
  src/endpoint/iam/ops/iam_get_access_key.js
  src/endpoint/iam/ops/iam_get_user.js
  src/endpoint/iam/ops/iam_list_access_keys.js
  src/endpoint/iam/ops/iam_list_users.js
  src/endpoint/iam/ops/iam_update_access_key.js
  src/endpoint/iam/ops/iam_update_user.js
  src/sdk/account_sdk.js
  src/sdk/accountspace_fs.js
  src/sdk/nb.d.ts
  src/sdk/object_sdk.js
  src/test/unit_tests/jest_tests/test_accountspace_fs.test.js
  src/util/debug_config.js
  src/util/http_utils.js
Labels: size/XXL

#7889 NSFS | NC | Changes in `nsfs_config_schema` Related to `strictify`
  config.js
  src/manage_nsfs/nsfs_schema_utils.js
  src/server/system_services/schemas/nsfs_config_schema.js
Labels: size/M

#7972 Support to update credentials manually to an account
  src/api/account_api.js
  src/server/system_services/account_server.js
Labels: size/M

#8036 CI | RPM Github Actions | Refactor RPM actions & Create nightly RPM builds on stage_5.15.4 branch
  .github/workflows/manual-build-rpm.yaml
  .github/workflows/nightly-rpm-build.yml
  .github/workflows/nightly-rpm-master-build.yaml
  .github/workflows/nightly-rpm-stage-5.15.4.yaml
  .github/workflows/rpm-build-and-upload-flow.yaml
  .github/workflows/rpm-build-base.yaml
  .github/workflows/upload-rpm-to-aws.yaml
Labels: size/L

#8051 NamespaceFS | Directory object | S3 Head object | Throw NotFound when key is missing the trailing '/'
  src/sdk/namespace_fs.js
  src/test/unit_tests/test_namespace_fs.js
Labels: size/M

#8060 5.15.4 | Backport | NC
  src/sdk/namespace_fs.js
  src/test/unit_tests/test_namespace_fs.js
Labels: size/M

#8043 NC | Adding NC_DISABLE_ACCESS_CHECK and NC_DISABLE_SCHEMA_CHECK configurations
  config.js
  docs/dev_guide/NonContainerizedDeveloperCustomizations.md
  src/manage_nsfs/manage_nsfs_validations.js
  src/manage_nsfs/nsfs_schema_utils.js
  src/server/system_services/schemas/nsfs_config_schema.js
  src/test/unit_tests/jest_tests/test_nc_nsfs_account_cli.test.js
  src/test/unit_tests/jest_tests/test_nc_nsfs_account_schema_validation.test.js
  src/test/unit_tests/jest_tests/test_nc_nsfs_bucket_cli.test.js
  src/test/unit_tests/jest_tests/test_nc_nsfs_bucket_schema_validation.test.js
  src/test/unit_tests/jest_tests/test_nc_nsfs_config_schema_validation.test.js
Labels: size/L

#8061 CI | RPM build | Added missing secrets: inherit to workflow_calls
  .github/workflows/nightly-rpm-master-build.yaml
  .github/workflows/nightly-rpm-stage-5.15.4.yaml
  .github/workflows/rpm-build-and-upload-flow.yaml
Labels: size/XS

#8066 CI | RPM action | Bump versions and share files between re-usable workflows
  .github/workflows/rpm-build-base.yaml
  .github/workflows/upload-rpm-to-aws.yaml
Labels: size/M

#8059 Tests | NSFS | Remove redundant config root assignments
  src/test/unit_tests/jest_tests/test_nc_nsfs_account_cli.test.js
  src/test/unit_tests/test_nc_nsfs_cli.js
Labels: size/XS

#8069 [5.14] move node-gyp to devDependencies to avoid shipping it
  package-lock.json
  package.json
  src/test/system_tests/ceph_s3_tests/test_ceph_s3_deploy.sh
Labels: size/S

#8070 [5.13] move node-gyp to devDependencies to avoid shipping it
  package-lock.json
  package.json
Labels: size/XS

#8078 CI | Update Commit Hash in Ceph Tests
  docs/dev_guide/ceph_s3_tests/ceph_s3_tests_pending_list_status.md
  src/test/system_tests/ceph_s3_tests/s3-tests-lists/s3_tests_pending_list.txt
  src/test/system_tests/ceph_s3_tests/test_ceph_s3_deploy.sh
Labels: size/S

#8075 DB_CLEANER - move config out of an object
  config.js
  src/server/bg_services/db_cleaner.js
  src/server/bg_workers.js
Labels: size/M

#8073 NSFS | NC | Add Validate Flags Combination
  src/manage_nsfs/manage_nsfs_cli_errors.js
  src/manage_nsfs/manage_nsfs_validations.js
  src/test/unit_tests/jest_tests/test_nc_nsfs_account_cli.test.js
Labels: size/L

#8058 NSFS | NC | Account Has Distinguished Name and Update UID, GID (And Vice Versa)
  src/cmd/manage_nsfs.js
  src/test/unit_tests/jest_tests/test_nc_nsfs_account_cli.test.js
  src/test/unit_tests/jest_tests/test_nc_nsfs_bucket_cli.test.js
Labels: size/XL

#8044 [NC | NSFS | Glacier] Filter out failed recalls
  config.js
  src/sdk/nsfs_glacier_backend/backend.js
  src/sdk/nsfs_glacier_backend/tapecloud.js
  src/test/unit_tests/test_nsfs_glacier_backend.js
Labels: size/XL

#8081 NC | Executable | init version fix
  src/manage_nsfs/nc_master_key_manager.js
Labels: size/XS

#8076 CI | NC | Upload RPM to AWS github action fix
  .github/workflows/upload-rpm-to-aws.yaml
Labels: size/XS

#8082 Backport stage_5.15.4 NC | Executable | init version fix
  src/manage_nsfs/nc_master_key_manager.js
Labels: size/XS

#8068 Block access_keys updation if duplicate access_key is found
  src/server/system_services/account_server.js
  src/server/system_services/system_store.js
Labels: size/S

#8074 LIFECYCLE - fix issue with delete only 3K objects a day
  config.js
  src/api/object_api.js
  src/server/bg_services/lifecycle.js
  src/server/object_services/object_server.js
Labels: size/M

#8085 [Backport 5.15] [NC | NSFS | Glacier] filter out failed recalls
  config.js
  src/sdk/nsfs_glacier_backend/backend.js
  src/sdk/nsfs_glacier_backend/tapecloud.js
  src/test/system_tests/ceph_s3_tests/test_ceph_s3_deploy.sh
  src/test/unit_tests/test_nsfs_glacier_backend.js
Labels: size/XL

#8092 [5.16] LIFECYCLE - fix issue with delete only 3K objects a day
  config.js
  src/api/object_api.js
  src/server/bg_services/lifecycle.js
  src/server/object_services/object_server.js
Labels: size/M

#8094 NC | Health | Remove rsyslog/syslog_ng checks
  docs/non_containerized_NSFS.md
  src/cmd/health.js
  src/test/unit_tests/test_nc_nsfs_health.js
Labels: size/L

#7997 NSFS | Support anonymous NSFS requests
  config.js
  docs/non_containerized_NSFS.md
  src/cmd/manage_nsfs.js
  src/manage_nsfs/manage_nsfs_cli_errors.js
  src/manage_nsfs/manage_nsfs_cli_utils.js
  src/manage_nsfs/manage_nsfs_constants.js
  src/manage_nsfs/manage_nsfs_validations.js
  src/sdk/bucketspace_fs.js
  src/sdk/bucketspace_nb.js
  src/sdk/nb.d.ts
  src/sdk/object_sdk.js
  src/server/system_services/schemas/nsfs_account_schema.js
  src/test/system_tests/ceph_s3_tests/s3-tests-lists/nsfs_s3_tests_black_list.txt
  src/test/system_tests/ceph_s3_tests/s3-tests-lists/s3_tests_black_list.txt
  src/test/system_tests/ceph_s3_tests/test_ceph_nsfs_s3_config_setup.js
  src/test/system_tests/ceph_s3_tests/test_ceph_s3_constants.js
  src/test/system_tests/test_utils.js
  src/test/unit_tests/jest_tests/test_nc_nsfs_account_cli.test.js
  src/test/unit_tests/jest_tests/test_nc_nsfs_anonymous_cli.test.js
  src/test/unit_tests/nc_coretest.js
  src/test/unit_tests/test_bucketspace.js
  src/test/unit_tests/test_s3_bucket_policy.js
  src/util/native_fs_utils.js
Labels: size/XL

#8096 stage_5.15.4 backport | NC | Health | rsyslog/syslog_ng remvoal
  docs/dev_guide/ceph_s3_tests/ceph_s3_tests_pending_list_status.md
  docs/non_containerized_NSFS.md
  package-lock.json
  package.json
  src/cmd/health.js
  src/test/system_tests/ceph_s3_tests/s3-tests-lists/s3_tests_pending_list.txt
  src/test/system_tests/ceph_s3_tests/test_ceph_s3_deploy.sh
  src/test/unit_tests/test_nc_nsfs_health.js
Labels: size/L

#8093 [Backport Into 5.16] bucket logging: Change logrotate configuration from daily to hourly
  src/deploy/NVA_build/logrotate_noobaa.conf
Labels: size/XS

#8090 NC | CLI | CLI errors handling when master key is invalid
  src/cmd/manage_nsfs.js
  src/manage_nsfs/manage_nsfs_cli_errors.js
  src/manage_nsfs/nc_master_key_manager.js
  src/test/unit_tests/jest_tests/test_nc_account_invalid_mkm_integration.js
  src/test/unit_tests/jest_tests/test_nc_master_keys.test.js
Labels: size/L

#8099 Backport | stage_5.15.4
  .eslintrc.js
  src/cmd/manage_nsfs.js
  src/manage_nsfs/manage_nsfs_cli_errors.js
  src/manage_nsfs/nc_master_key_manager.js
  src/test/unit_tests/jest_tests/test_bucket_diff.test.js
  src/test/unit_tests/jest_tests/test_bucket_log_based_replication.test.js
  src/test/unit_tests/jest_tests/test_nc_account_invalid_mkm_integration.test.js
  src/test/unit_tests/jest_tests/test_nc_master_keys.test.js
  src/test/unit_tests/jest_tests/test_nc_master_keys_exec.test.js
  src/test/unit_tests/jest_tests/test_nc_nsfs_account_cli.test.js
  src/test/unit_tests/jest_tests/test_nc_nsfs_account_schema_validation.test.js
  src/test/unit_tests/jest_tests/test_nc_nsfs_bucket_cli.test.js
  src/test/unit_tests/jest_tests/test_nc_nsfs_bucket_schema_validation.test.js
  src/test/unit_tests/jest_tests/test_nc_nsfs_config_schema_validation.test.js
  src/test/unit_tests/jest_tests/test_nc_nsfs_new_buckets_path_validation.test.js
  src/test/unit_tests/jest_tests/test_noobaa_s3_client.test.js
  src/test/unit_tests/jest_tests/test_os_utils.test.js
  src/test/unit_tests/jest_tests/test_s3_utils.test.js
Labels: size/L

#8095 NC | set noobaa as endpoint process title
  config.js
  docs/dev_guide/NonContainerizedDeveloperCustomizations.md
  src/endpoint/endpoint.js
  src/server/system_services/schemas/nsfs_config_schema.js
  src/test/unit_tests/jest_tests/test_nc_nsfs_config_schema_validation.test.js
Labels: size/M

#8102 Backport | stage_5.15.4 | process title
  config.js
  docs/dev_guide/NonContainerizedDeveloperCustomizations.md
  src/endpoint/endpoint.js
  src/server/system_services/schemas/nsfs_config_schema.js
  src/test/unit_tests/jest_tests/test_nc_nsfs_config_schema_validation.test.js
Labels: size/M
