Repository noobaa/noobaa-core, pull requests merged in 2024-04, with the labels that each got.

#7939 [5.14] Bumping version from 5.14.6 to 5.14.7
  package-lock.json
  package.json
Labels: size/XS

#7935 Bumping node from 20.9.0 to 20.11.0
  .nvmrc
Labels: size/XS

#7925 Removed the dependency on request npm module
  package-lock.json
  package.json
  src/agent/agent.js
  src/agent/agent_wrap.js
  src/api/cluster_server_api.js
  src/api/system_api.js
  src/deploy/NVA_build/prepare_aws_platform.js
  src/deploy/kubernetes_functions.js
  src/server/func_services/func_server.js
  src/server/system_services/cluster_server.js
  src/server/system_services/system_server.js
  src/test/framework/consolidate_test_reports.js
  src/test/framework/report.js
  src/test/framework/test_env_builder_kubernetes.js
  src/test/system_tests/test_md_aggregator.js
  src/test/utils/basic_server_ops.js
  src/util/http_utils.js
  src/util/net_utils.js
  src/util/os_utils.js
Labels: size/XXL

#7942 [NC | NSFS] Fix GLACIER issues
  src/endpoint/s3/ops/s3_get_object_uploadId.js
  src/endpoint/s3/s3_errors.js
  src/sdk/namespace_fs.js
  src/test/unit_tests/test_namespace_fs.js
  src/util/buffer_utils.js
Labels: size/S

#7908 [NC | NSFS] Improve time bounds for glacier operations
  config.js
  src/manage_nsfs/manage_nsfs_glacier.js
  src/sdk/namespace_fs.js
  src/sdk/nsfs_glacier_backend/backend.js
  src/sdk/nsfs_glacier_backend/tapecloud.js
  src/test/unit_tests/test_nsfs_glacier_backend.js
  src/util/file_reader.js
  src/util/persistent_logger.js
Labels: size/XL

#7936 Fix Bug BZ 2271067 | NSFS | Change Mapping in Pool Server
  config.js
  src/server/bg_services/namespace_monitor.js
  src/server/system_services/pool_server.js
Labels: size/S

#7943 [NC | NSFS] Add basic support for write thresholds
  config.js
  src/sdk/namespace_fs.js
Labels: size/L

#7948 Bump version to 5.17.0
  package-lock.json
  package.json
Labels: size/XS

#7949 [5.13] Bump version to 5.13.9
  package-lock.json
  package.json
Labels: size/XS

#7915 NSFS | NC | CLI | Add force_md5_etag option to account and bucket
  src/cmd/manage_nsfs.js
  src/manage_nsfs/manage_nsfs_constants.js
  src/manage_nsfs/manage_nsfs_help_utils.js
  src/sdk/namespace_fs.js
  src/server/system_services/schemas/nsfs_account_schema.js
  src/server/system_services/schemas/nsfs_bucket_schema.js
  src/test/unit_tests/jest_tests/test_nc_nsfs_account_cli.test.js
  src/test/unit_tests/jest_tests/test_nc_nsfs_account_schema_validation.test.js
  src/test/unit_tests/jest_tests/test_nc_nsfs_bucket_cli.test.js
  src/test/unit_tests/jest_tests/test_nc_nsfs_bucket_schema_validation.test.js
Labels: size/L

#7739 Support delete flow for log based replication
  src/server/bg_services/log_replication_scanner.js
Labels: size/M

#7951 [NC | NSFS] Fix statfs cache size
  config.js
Labels: size/XS

#7946 change bucket policy validation order in bucketspace-fs
  src/sdk/bucketspace_fs.js
Labels: size/XS

#7958 Bumping dependencies
  package-lock.json
  package.json
Labels: size/S

#7961 [5.13] Bumping node version from 18.18.2 to 18.19.1
  .nvmrc
  src/test/system_tests/ceph_s3_tests/test_ceph_s3_deploy.sh
Labels: size/S

#7947 NSFS | Empty 'logs' directory is getting created under 's3-config' directory
  src/util/debug_module.js
Labels: size/S

#7954 Fix Bug BZ 2272900 | NSFS | Remove Issues Updates with System Store
  src/api/pool_api.js
  src/sdk/namespace_fs.js
  src/server/bg_services/namespace_monitor.js
  src/server/system_services/pool_server.js
Labels: size/L

#7956 [5.15] Bump version to 5.15.2
  package-lock.json
  package.json
Labels: size/XS

#7927 [5.15.2] Backport to 5.15.2
  Makefile
  config.js
  docs/design/NonContainerizedNSFSDesign.md
  docs/non_containerized_NSFS.md
  src/cmd/health.js
  src/cmd/manage_nsfs.js
  src/cmd/nsfs.js
  src/deploy/RPM_build/RPM.Dockerfile
  src/deploy/RPM_build/noobaa.spec
  src/deploy/RPM_build/packagerpm.sh
  src/deploy/RPM_build/preparesrc.sh
  src/manage_nsfs/manage_nsfs_cli_errors.js
  src/manage_nsfs/manage_nsfs_constants.js
  src/manage_nsfs/manage_nsfs_help_utils.js
  src/native/fs/fs_napi.cpp
  src/sdk/bucketspace_fs.js
  src/sdk/namespace_fs.js
  src/sdk/nb.d.ts
  src/sdk/nsfs_glacier_backend/backend.js
  src/sdk/nsfs_glacier_backend/tapecloud.js
  src/test/unit_tests/jest_tests/test_nc_nsfs_account_cli.test.js
  src/test/unit_tests/jest_tests/test_nc_nsfs_bucket_cli.test.js
  src/test/unit_tests/nc_coretest.js
  src/test/unit_tests/test_bucketspace_fs.js
  src/test/unit_tests/test_namespace_fs.js
  src/util/native_fs_utils.js
Labels: size/XXL

#7962 5.15 | Backports
  .nvmrc
  config.js
  src/api/pool_api.js
  src/endpoint/s3/ops/s3_get_bucket_policy_status.js
  src/endpoint/s3/ops/s3_get_object_uploadId.js
  src/endpoint/s3/s3_errors.js
  src/endpoint/s3/s3_rest.js
  src/manage_nsfs/manage_nsfs_glacier.js
  src/sdk/bucketspace_fs.js
  src/sdk/namespace_fs.js
  src/sdk/nsfs_glacier_backend/backend.js
  src/sdk/nsfs_glacier_backend/tapecloud.js
  src/server/bg_services/namespace_monitor.js
  src/server/system_services/pool_server.js
  src/test/unit_tests/nc_coretest.js
  src/test/unit_tests/test_namespace_fs.js
  src/test/unit_tests/test_nsfs_glacier_backend.js
  src/test/unit_tests/test_s3_bucket_policy.js
  src/util/buffer_utils.js
  src/util/debug_module.js
  src/util/file_reader.js
  src/util/persistent_logger.js
Labels: size/XXL

#7963 Backport to 5.15
  src/agent/block_store_services/block_store_client.js
  src/agent/block_store_services/block_store_google.js
  src/sdk/bucketspace_s3.js
  src/sdk/noobaa_s3_client/noobaa_s3_client.js
  src/server/bg_services/namespace_monitor.js
  src/server/system_services/bucket_server.js
  src/tools/diagnostics/analyze_resource/analyze_resource_gcp.js
  src/util/buffer_utils.js
Labels: size/M

#7964 [Backport to 5.15] move node-gyp to devDependencies to avoid shipping it
  package-lock.json
  package.json
  src/deploy/NVA_build/Base.Dockerfile
  src/test/unit_tests/test_namespace_cache.js
Labels: size/M

#7952 [NC | NSFS] use fixed `hh:mm` for running expiry script
  config.js
  src/manage_nsfs/manage_nsfs_glacier.js
  src/sdk/nsfs_glacier_backend/tapecloud.js
Labels: size/L

#7966 5.15 | Backports
  config.js
  docs/dev_guide/NonContainerizedDeveloperCustomizations.md
  src/cmd/manage_nsfs.js
  src/manage_nsfs/manage_nsfs_glacier.js
  src/manage_nsfs/nc_master_key_manager.js
  src/sdk/bucketspace_fs.js
  src/sdk/nsfs_glacier_backend/tapecloud.js
  src/server/system_services/schemas/nsfs_account_schema.js
  src/server/system_services/schemas/nsfs_config_schema.js
  src/test/system_tests/ceph_s3_tests/test_ceph_nsfs_s3_config_setup.js
  src/test/unit_tests/jest_tests/test_nc_master_keys.test.js
  src/test/unit_tests/jest_tests/test_nc_nsfs_account_cli.test.js
  src/test/unit_tests/jest_tests/test_nc_nsfs_account_schema_validation.test.js
  src/test/unit_tests/nc_coretest.js
  src/test/unit_tests/test_bucketspace_fs.js
  src/test/unit_tests/test_nc_nsfs_cli.js
  src/util/os_utils.js
Labels: size/XL

#7950 bucket_logging: Store log objects inside log prefix directory
  src/deploy/NVA_build/noobaa_log_segregate.sh
  src/endpoint/s3/s3_bucket_logging.js
  src/server/bg_services/bucket_logs_upload.js
  src/server/system_services/bucket_server.js
Labels: size/M

#7905 NSFS | NC | Avoid Updating Config When No Update Property Was Sent
  src/cmd/manage_nsfs.js
  src/manage_nsfs/manage_nsfs_cli_errors.js
  src/test/unit_tests/jest_tests/test_nc_nsfs_account_cli.test.js
  src/test/unit_tests/jest_tests/test_nc_nsfs_bucket_cli.test.js
  src/test/unit_tests/test_bucketspace.js
Labels: size/M

#7968 Load balancing config option to limit server.maxRequestsPerSocket and force clients to reconnect and rebalance
  config.js
  src/endpoint/endpoint.js
Labels: Performance, size/XS

#7912 NSFS | Improve list objects performance on top of NS FS (PR 1/3)
  src/native/fs/fs_napi.cpp
  src/sdk/nb.d.ts
  src/test/unit_tests/jest_tests/test_list_object.test.js
Labels: size/L

#7971 Backport to 5.14
  package-lock.json
  package.json
  src/agent/block_store_services/block_store_client.js
  src/agent/block_store_services/block_store_google.js
  src/server/object_services/object_server.js
  src/test/unit_tests/test_lifecycle.js
  src/tools/diagnostics/analyze_resource/analyze_resource_gcp.js
  src/util/buffer_utils.js
Labels: size/M

#7969 5.14 | Backport | NSFS | Open TMP file flags manual backport - 'wt' flow
  src/native/fs/fs_napi.cpp
  src/sdk/namespace_fs.js
  src/sdk/nb.d.ts
  src/test/unit_tests/index.js
  src/test/unit_tests/sudo_index.js
  src/test/unit_tests/test_bucketspace_versioning.js
  src/test/unit_tests/test_namespace_fs.js
  src/test/unit_tests/test_namespace_fs_mpu.js
  src/test/unit_tests/test_nsfs_versioning_gpfs.js
  src/util/chunk_fs.js
  src/util/native_fs_utils.js
Labels: size/XL

#7977 [Backport into 5.13] Fix CVE
  package-lock.json
  package.json
  src/test/framework/report.js
  src/test/unit_tests/jest_tests/test_os_utils.test.js
  src/util/os_utils.js
Labels: size/L

#7934 [5.12] Bumping node from 16.14.0 to 18.19.1
  .eslintrc.js
  .nvmrc
  package-lock.json
  package.json
  src/deploy/NVA_build/Tests.Dockerfile
  src/deploy/NVA_build/builder.Dockerfile
  src/deploy/NVA_build/dev.Dockerfile
  src/native/tools/ssl_napi.cpp
  src/test/unit_tests/test_ssl_utils.js
  tsconfig.json
Labels: size/M

#7980 [5.12] fixing CVE - node-gyp and node-ip
  package-lock.json
  package.json
Labels: size/XS

#7960 [Backport to 5.14] upgrade to node 20.11.0. ignore deprecated warnings to make nan compile. (#7660)
  .nvmrc
  src/native/common.gypi
Labels: size/XS

#7981 Fix CVE-2019-15597 - Implement new df command instead of library function
  package-lock.json
  package.json
  src/test/unit_tests/jest_tests/test_os_utils.test.js
  src/util/os_utils.js
Labels: size/L

#7984 Fix Bug 7941 | Fix URL Decoding for Copyobject
  src/endpoint/endpoint_utils.js
  src/test/unit_tests/test_s3_ops.js
Labels: size/M

#7913 NSFS | NC | Manage NSFS | Create bucket - Add Check If Bucket Owner Has `rw_access` to Underlying Path
  src/cmd/manage_nsfs.js
  src/manage_nsfs/manage_nsfs_cli_errors.js
  src/test/unit_tests/jest_tests/test_nc_nsfs_bucket_cli.test.js
  src/test/unit_tests/nc_coretest.js
  src/test/unit_tests/test_bucketspace.js
  src/test/unit_tests/test_nc_nsfs_cli.js
Labels: size/L

#7988 Backport to staging branch for 5.15.3
  config.js
  src/endpoint/endpoint.js
  src/endpoint/endpoint_utils.js
  src/test/unit_tests/test_s3_ops.js
Labels: size/M

#7986 S3 | EncodeURIComponent / DecodeURIComponent xattr
  src/endpoint/s3/s3_utils.js
  src/test/unit_tests/test_bucketspace.js
Labels: size/L

#7979 NC | Secret Keys Encryption Gaps
  config.js
  src/cmd/manage_nsfs.js
  src/manage_nsfs/nc_master_key_manager.js
  src/server/system_services/schemas/nsfs_config_schema.js
  src/test/system_tests/test_utils.js
  src/test/unit_tests/jest_tests/test_nc_master_keys.test.js
  src/test/unit_tests/jest_tests/test_nc_master_keys_exec.test.js
  src/test/unit_tests/jest_tests/test_nc_nsfs_account_cli.test.js
  src/test/unit_tests/jest_tests/test_nc_nsfs_bucket_cli.test.js
  src/test/unit_tests/jest_tests/test_nc_nsfs_config_schema_validation.test.js
  src/test/unit_tests/test_nc_nsfs_cli.js
  src/util/os_utils.js
Labels: size/XL

#7994 NC | generate_entropy() - add dasd disks to the supported devices
  src/util/nb_native.js
Labels: size/XS

#7990 github stale action
  .github/workflows/stale.yml
Labels: size/M

#7991 [NC | NSFS | Glacier] Support max restore days + auto logs dir creation
  config.js
  src/cmd/manage_nsfs.js
  src/endpoint/s3/ops/s3_post_object_restore.js
  src/endpoint/s3/s3_utils.js
  src/test/unit_tests/jest_tests/test_s3_utils.test.js
  src/test/unit_tests/test_nsfs_glacier_backend.js
  src/util/persistent_logger.js
Labels: size/L

#7995 NSFS | Add FS ENOTDIR error translation to RPC NO_SUCH_OBJECT error
  src/sdk/namespace_fs.js
  src/test/unit_tests/test_bucketspace.js
Labels: size/M

#7989 NSFS | NC | Removal of NSFS prefix from user facing components - service, cli, configs and events
  config.js
  docs/design/NSFSGlacierStorageClass.md
  docs/design/NonContainerizedNooBaaDesign.md
  docs/dev_guide/NonContainerizedDeveloperCustomizations.md
  docs/dev_guide/non_containerized_NSFS_events.md
  docs/non_containerized_NSFS.md
  src/cmd/health.js
  src/cmd/manage_nsfs.js
  src/cmd/nsfs.js
  src/deploy/NVA_build/Base.Dockerfile
  src/deploy/NVA_build/standalone_deploy_nsfs.sh
  src/deploy/RPM_build/RPM.Dockerfile
  src/deploy/RPM_build/noobaa.spec
  src/deploy/noobaa-cli
  src/deploy/noobaa.service
  src/deploy/spectrum_archive/deployment_guide.md
  src/manage_nsfs/manage_nsfs_events_utils.js
  src/manage_nsfs/manage_nsfs_help_utils.js
  src/server/system_services/schemas/nsfs_config_schema.js
  src/test/unit_tests/jest_tests/test_nc_nsfs_config_schema_validation.test.js
  src/test/unit_tests/test_nc_nsfs_cli.js
  src/test/unit_tests/test_nc_nsfs_health.js
  src/util/http_utils.js
Labels: size/L

#8001 Backport | stage 5.15.3
  config.js
  docs/design/NSFSGlacierStorageClass.md
  docs/design/NonContainerizedNooBaaDesign.md
  docs/dev_guide/NonContainerizedDeveloperCustomizations.md
  docs/dev_guide/non_containerized_NSFS_events.md
  docs/non_containerized_NSFS.md
  src/cmd/health.js
  src/cmd/manage_nsfs.js
  src/cmd/nsfs.js
  src/deploy/NVA_build/Base.Dockerfile
  src/deploy/NVA_build/standalone_deploy_nsfs.sh
  src/deploy/RPM_build/RPM.Dockerfile
  src/deploy/RPM_build/noobaa.spec
  src/deploy/noobaa-cli
  src/deploy/noobaa.service
  src/deploy/spectrum_archive/deployment_guide.md
  src/endpoint/s3/ops/s3_post_object_restore.js
  src/endpoint/s3/s3_utils.js
  src/manage_nsfs/manage_nsfs_events_utils.js
  src/manage_nsfs/manage_nsfs_help_utils.js
  src/sdk/namespace_fs.js
  src/server/system_services/schemas/nsfs_config_schema.js
  src/test/unit_tests/jest_tests/test_nc_nsfs_config_schema_validation.test.js
  src/test/unit_tests/jest_tests/test_s3_utils.test.js
  src/test/unit_tests/test_bucketspace.js
  src/test/unit_tests/test_namespace_fs.js
  src/test/unit_tests/test_nc_nsfs_cli.js
  src/test/unit_tests/test_nc_nsfs_health.js
  src/test/unit_tests/test_nsfs_glacier_backend.js
  src/util/http_utils.js
  src/util/persistent_logger.js
Labels: size/XL
