Repository noobaa/noobaa-core, pull requests merged in 2024-06, with the labels that each got.

#8053 fix for list_objects
  src/server/object_services/object_server.js
Labels: size/XS

#8086 NSFS | NC | Add Condition in `authorize_request_policy`
  src/cmd/nsfs.js
  src/endpoint/s3/s3_rest.js
  src/sdk/object_sdk.js
Labels: size/XS

#8105 [Backport to 5.16] fix for list_objects
  src/server/object_services/object_server.js
Labels: size/XS

#8107 [Guaranteed Bucket Logging] PR1 - Adding S3 api support for bucket logging
  src/api/bucket_api.js
  src/api/common_api.js
  src/endpoint/s3/ops/s3_get_bucket_logging.js
  src/endpoint/s3/ops/s3_put_bucket_logging.js
  src/endpoint/s3/s3_errors.js
  src/endpoint/s3/s3_utils.js
  src/server/system_services/bucket_server.js
  src/server/system_services/schemas/bucket_schema.js
Labels: size/L

#8113 fix default repos for centos8
  src/deploy/NVA_build/builder.Dockerfile
  src/deploy/NVA_build/fix_centos8_repo.sh
Labels: size/S

#8114 Backport | stage_5.15.4 | Centos 8 fix
  src/deploy/NVA_build/builder.Dockerfile
  src/deploy/NVA_build/fix_centos8_repo.sh
Labels: size/S

#8108 [Guaranteed Bucket Logging][NSFS] PR2 - Adding AWS s3 bucket logging initial support
  src/endpoint/s3/s3_utils.js
  src/sdk/bucketspace_fs.js
  src/sdk/object_sdk.js
  src/server/system_services/bucket_server.js
  src/server/system_services/schemas/nsfs_bucket_schema.js
  src/test/unit_tests/jest_tests/test_nc_nsfs_bucket_schema_validation.test.js
  src/test/unit_tests/test_bucketspace_fs.js
Labels: size/L

#8063 NSFS | NC | IAM | IAM, S3, And STS Mutual Code Reuse
  src/endpoint/endpoint.js
  src/endpoint/iam/iam_rest.js
  src/endpoint/s3/s3_rest.js
  src/endpoint/sts/ops/sts_post_assume_role.js
  src/endpoint/sts/sts_rest.js
  src/sdk/account_sdk.js
  src/sdk/object_sdk.js
  src/sdk/sts_sdk.js
  src/util/http_utils.js
  src/util/signature_utils.js
Labels: size/L

#8117 NC | CLI | trimmed output fix
  src/cmd/manage_nsfs.js
  src/manage_nsfs/manage_nsfs_cli_errors.js
  src/manage_nsfs/manage_nsfs_cli_utils.js
Labels: size/M

#8055 NSFS | NC | IAM Service - Users CRUD API Implementation
  docs/design/iam.md
  docs/dev_guide/nc_nsfs_iam_developer_doc.md
  src/endpoint/iam/iam_errors.js
  src/endpoint/iam/iam_rest.js
  src/endpoint/iam/iam_utils.js
  src/endpoint/iam/ops/iam_create_user.js
  src/endpoint/iam/ops/iam_get_user.js
  src/endpoint/iam/ops/iam_list_users.js
  src/endpoint/iam/ops/iam_update_user.js
  src/manage_nsfs/manage_nsfs_cli_utils.js
  src/sdk/accountspace_fs.js
  src/server/system_services/schemas/nsfs_account_schema.js
  src/test/unit_tests/jest_tests/test_accountspace_fs.test.js
  src/test/unit_tests/jest_tests/test_iam_utils.test.js
  src/test/unit_tests/jest_tests/test_nc_nsfs_account_schema_validation.test.js
Labels: size/XXL

#8118 Fixing lifecycle after #8074
  src/server/bg_services/lifecycle.js
  src/server/object_services/object_server.js
Labels: size/XS

#8112 fixed construct_url to handle ipv6 addresses
  src/server/system_services/system_server.js
  src/test/unit_tests/jest_tests/test_url_utils.test.js
  src/util/url_utils.js
Labels: size/L

#8116 NC | Pass noobaa args to GPFS on initialization
  config.js
  docs/dev_guide/NonContainerizedDeveloperCustomizations.md
  src/cmd/nsfs.js
  src/native/common.gypi
  src/native/fs/fs_napi.cpp
  src/sdk/nb.d.ts
  src/server/system_services/schemas/nsfs_config_schema.js
  src/util/fork_utils.js
Labels: size/L

#8120 Backport | stage_5.15.4
  config.js
  docs/dev_guide/NonContainerizedDeveloperCustomizations.md
  src/cmd/manage_nsfs.js
  src/cmd/nsfs.js
  src/manage_nsfs/manage_nsfs_cli_errors.js
  src/native/common.gypi
  src/native/fs/fs_napi.cpp
  src/sdk/nb.d.ts
  src/server/system_services/schemas/nsfs_config_schema.js
  src/util/fork_utils.js
Labels: size/L

#8124 NC | Change cflags_cc to work on centos 8
  src/native/common.gypi
Labels: size/XS

#8125 Backport | stage_5.15.4
  src/native/common.gypi
Labels: size/XS

#8129 NC | Revert url encode/decode of xattr values
  src/endpoint/s3/s3_utils.js
  src/test/unit_tests/test_bucketspace.js
Labels: size/M

#8127 [Backport to 5.16] fixed construct_url to handle ipv6 address
  src/server/system_services/system_server.js
  src/test/unit_tests/jest_tests/test_url_utils.test.js
  src/util/url_utils.js
Labels: size/L

#8132 Backport | stage_5.15.4
  src/endpoint/s3/s3_utils.js
  src/test/unit_tests/test_bucketspace.js
Labels: size/M

#8137 [Backport to 5.16] Fixing lifecycle schema issues
  src/server/bg_services/lifecycle.js
  src/server/object_services/object_server.js
Labels: size/XS

#8133 NC | remove input from spawn options print and fix exec test
  src/test/unit_tests/jest_tests/test_nc_master_keys_exec.test.js
  src/util/os_utils.js
Labels: size/XS

#8138 NC | Add linux/ppc64le to nightly RPM builds
  .github/workflows/rpm-build-and-upload-flow.yaml
Labels: size/S

#8140 Backport | stage_5.15.4
  src/test/unit_tests/jest_tests/test_nc_master_keys_exec.test.js
  src/util/os_utils.js
Labels: size/XS

#8142 5.16 | NC Backports
  .eslintrc.js
  config.js
  docs/dev_guide/NonContainerizedDeveloperCustomizations.md
  docs/non_containerized_NSFS.md
  src/cmd/health.js
  src/cmd/manage_nsfs.js
  src/cmd/nsfs.js
  src/deploy/NVA_build/builder.Dockerfile
  src/deploy/NVA_build/fix_centos8_repo.sh
  src/endpoint/endpoint.js
  src/endpoint/s3/s3_utils.js
  src/manage_nsfs/manage_nsfs_cli_errors.js
  src/manage_nsfs/manage_nsfs_cli_utils.js
  src/manage_nsfs/nc_master_key_manager.js
  src/native/common.gypi
  src/native/fs/fs_napi.cpp
  src/sdk/nb.d.ts
  src/server/system_services/schemas/nsfs_config_schema.js
  src/test/unit_tests/jest_tests/test_bucket_diff.test.js
  src/test/unit_tests/jest_tests/test_bucket_log_based_replication.test.js
  src/test/unit_tests/jest_tests/test_list_object.test.js
  src/test/unit_tests/jest_tests/test_nc_account_invalid_mkm_integration.test.js
  src/test/unit_tests/jest_tests/test_nc_master_keys.test.js
  src/test/unit_tests/jest_tests/test_nc_master_keys_exec.test.js
  src/test/unit_tests/jest_tests/test_nc_nsfs_account_cli.test.js
  src/test/unit_tests/jest_tests/test_nc_nsfs_account_schema_validation.test.js
  src/test/unit_tests/jest_tests/test_nc_nsfs_bucket_cli.test.js
  src/test/unit_tests/jest_tests/test_nc_nsfs_bucket_schema_validation.test.js
  src/test/unit_tests/jest_tests/test_nc_nsfs_config_schema_validation.test.js
  src/test/unit_tests/jest_tests/test_nc_nsfs_new_buckets_path_validation.test.js
  src/test/unit_tests/jest_tests/test_noobaa_s3_client.test.js
  src/test/unit_tests/jest_tests/test_os_utils.test.js
  src/test/unit_tests/jest_tests/test_s3_utils.test.js
  src/test/unit_tests/test_bucketspace.js
  src/test/unit_tests/test_nc_nsfs_health.js
  src/util/fork_utils.js
  src/util/os_utils.js
Labels: size/XL

#8143 Merge Stage 5.15.4 to 5.15 | Backports
  .eslintrc.js
  config.js
  docs/dev_guide/NonContainerizedDeveloperCustomizations.md
  docs/dev_guide/ceph_s3_tests/ceph_s3_tests_pending_list_status.md
  docs/non_containerized_NSFS.md
  package-lock.json
  package.json
  src/cmd/health.js
  src/cmd/manage_nsfs.js
  src/cmd/nsfs.js
  src/deploy/NVA_build/builder.Dockerfile
  src/deploy/NVA_build/fix_centos8_repo.sh
  src/deploy/RPM_build/RPM.Dockerfile
  src/deploy/RPM_build/noobaa.spec
  src/deploy/standalone/logrotate_noobaa.conf
  src/deploy/standalone/logrotate_noobaa.sh
  src/deploy/standalone/noobaa_syslog.conf
  src/endpoint/endpoint.js
  src/endpoint/s3/s3_utils.js
  src/manage_nsfs/manage_nsfs_cli_errors.js
  src/manage_nsfs/nc_master_key_manager.js
  src/native/common.gypi
  src/native/fs/fs_napi.cpp
  src/sdk/namespace_fs.js
  src/sdk/nb.d.ts
  src/server/system_services/schemas/nsfs_config_schema.js
  src/test/system_tests/ceph_s3_tests/s3-tests-lists/s3_tests_pending_list.txt
  src/test/system_tests/ceph_s3_tests/test_ceph_s3_deploy.sh
  src/test/unit_tests/jest_tests/test_bucket_diff.test.js
  src/test/unit_tests/jest_tests/test_bucket_log_based_replication.test.js
  src/test/unit_tests/jest_tests/test_nc_account_invalid_mkm_integration.test.js
  src/test/unit_tests/jest_tests/test_nc_master_keys.test.js
  src/test/unit_tests/jest_tests/test_nc_master_keys_exec.test.js
  src/test/unit_tests/jest_tests/test_nc_nsfs_account_cli.test.js
  src/test/unit_tests/jest_tests/test_nc_nsfs_account_schema_validation.test.js
  src/test/unit_tests/jest_tests/test_nc_nsfs_bucket_cli.test.js
  src/test/unit_tests/jest_tests/test_nc_nsfs_bucket_schema_validation.test.js
  src/test/unit_tests/jest_tests/test_nc_nsfs_config_schema_validation.test.js
  src/test/unit_tests/jest_tests/test_nc_nsfs_new_buckets_path_validation.test.js
  src/test/unit_tests/jest_tests/test_noobaa_s3_client.test.js
  src/test/unit_tests/jest_tests/test_os_utils.test.js
  src/test/unit_tests/jest_tests/test_s3_utils.test.js
  src/test/unit_tests/test_bucketspace.js
  src/test/unit_tests/test_namespace_fs.js
  src/test/unit_tests/test_nc_nsfs_health.js
  src/util/fork_utils.js
  src/util/os_utils.js
Labels: size/XL

#8141 NC | Flag to control syslog and console log
  config.js
  docs/dev_guide/NonContainerizedDeveloperCustomizations.md
  src/server/system_services/schemas/nsfs_config_schema.js
  src/test/unit_tests/jest_tests/test_nc_nsfs_config_schema_validation.test.js
  src/util/debug_module.js
Labels: size/M

#8052 NC | Health fix cli arguments validation and some small fixes
  src/cmd/health.js
  src/manage_nsfs/manage_nsfs_constants.js
  src/manage_nsfs/manage_nsfs_validations.js
  src/test/system_tests/test_utils.js
  src/test/unit_tests/test_nc_nsfs_health.js
Labels: size/L

#8146 CI | NC | Change nightly action from stage_5.15.4 to 5.15
  .github/workflows/nightly-rpm-stage-5.15.yaml
Labels: size/XS

#8147 Bumping dependency to avoid CVE
  package-lock.json
  package.json
Labels: size/M

#7938 NSFS | NC | Refactor Bucketspace_fs.delete_bucket() and others
  src/cmd/manage_nsfs.js
  src/sdk/bucketspace_fs.js
  src/sdk/bucketspace_simple_fs.js
  src/sdk/namespace_fs.js
  src/sdk/nb.d.ts
  src/sdk/object_sdk.js
  src/test/unit_tests/jest_tests/test_nc_nsfs_bucket_cli.test.js
  src/test/unit_tests/test_bucketspace_fs.js
  src/test/unit_tests/test_nsfs_versioning.js
  src/util/native_fs_utils.js
Labels: size/L

#8145 [5.14] Bumping version from 5.14.8 to 5.14.9
  package-lock.json
  package.json
  src/deploy/NVA_build/NooBaa.Dockerfile
  src/deploy/NVA_build/builder.Dockerfile
  src/deploy/NVA_build/fix_centos8_repo.sh
Labels: size/S

#8152 [Backport into 5.15] fix for list_objects
  src/server/object_services/object_server.js
Labels: size/XS

#8128 Bucket_logging: Change log object name format.
  src/deploy/NVA_build/noobaa_log_segregate.sh
Labels: size/S

#8156 Adding debug option to manage_nsfs
  src/cmd/manage_nsfs.js
  src/manage_nsfs/manage_nsfs_constants.js
  src/manage_nsfs/manage_nsfs_help_utils.js
Labels: size/S

#8158 NSFS | MPU | Disable ctime check on load_multipart()
  src/sdk/namespace_fs.js
Labels: size/XS

#8119 NSFS | NC | IAM Service - Access Keys CRUD API Implementation
  docs/design/iam.md
  docs/dev_guide/nc_nsfs_iam_developer_doc.md
  src/endpoint/iam/iam_errors.js
  src/endpoint/iam/iam_rest.js
  src/endpoint/iam/iam_utils.js
  src/endpoint/iam/ops/get_access_key_last_used.js
  src/endpoint/iam/ops/iam_delete_access_key.js
  src/endpoint/iam/ops/iam_update_access_key.js
  src/endpoint/s3/s3_errors.js
  src/endpoint/sts/sts_rest.js
  src/manage_nsfs/nc_master_key_manager.js
  src/sdk/account_sdk.js
  src/sdk/accountspace_fs.js
  src/sdk/object_sdk.js
  src/sdk/sts_sdk.js
  src/server/system_services/schemas/nsfs_account_schema.js
  src/test/unit_tests/jest_tests/test_accountspace_fs.test.js
  src/test/unit_tests/jest_tests/test_nc_master_keys.test.js
  src/test/unit_tests/jest_tests/test_nc_nsfs_account_schema_validation.test.js
  src/util/signature_utils.js
Labels: size/XXL

#8157 Fix Throw Error in `load_requesting_account` (object_sdk, account_sdk)
  src/sdk/account_sdk.js
  src/sdk/object_sdk.js
  src/sdk/sts_sdk.js
Labels: size/S

#8163 [Backport to 5.16] Bumping dependency to avoid CVE
  package-lock.json
  package.json
Labels: size/M

#7928 NSFS | NC | CLI Refactor Validation (Partial) - Part 2
  src/cmd/manage_nsfs.js
  src/manage_nsfs/manage_nsfs_cli_errors.js
  src/manage_nsfs/manage_nsfs_cli_utils.js
  src/manage_nsfs/manage_nsfs_validations.js
  src/test/unit_tests/jest_tests/test_nc_nsfs_account_cli.test.js
  src/test/unit_tests/jest_tests/test_nc_nsfs_bucket_cli.test.js
  src/test/unit_tests/test_nc_nsfs_cli.js
Labels: size/XL

#8164 NC | nsfs.js | Lower fork_utils dependancy down after process.env.NC_NSFS_NO_DB_ENV=true setting
  config.js
  src/cmd/nsfs.js
  src/test/unit_tests/nc_coretest.js
  src/util/postgres_client.js
Labels: size/S

#8165 NC | Add `--debug` flag to health CLI
  src/cmd/health.js
  src/cmd/manage_nsfs.js
  src/cmd/nsfs.js
  src/manage_nsfs/manage_nsfs_cli_utils.js
Labels: size/M
