Repository noobaa/noobaa-core, pull requests merged in 2024-03, with the labels that each got.

#7859 NSFS | NC | Fix authorize_request_policy for from-file flows
  src/endpoint/s3/s3_rest.js
Labels: size/XS

#7858 NSFS | NC | Fail nsfs.js completely on system.json failure
  src/cmd/nsfs.js
Labels: size/XS

#7862 NSFS | NC | Fix owner_account runtime object
  src/sdk/bucketspace_fs.js
  src/test/unit_tests/nc_coretest.js
  src/test/unit_tests/test_bucketspace.js
Labels: size/M

#7860 Migrating to AWS SDK V3 | Following PR on a Fix That Was Added
  src/sdk/bucketspace_s3.js
  src/sdk/noobaa_s3_client/noobaa_s3_client.js
  src/server/bg_services/namespace_monitor.js
  src/server/system_services/bucket_server.js
Labels: size/S

#7827 NSFS | NC | Add a Flag to Change the Value of `allow_bucket_creation`
  src/cmd/manage_nsfs.js
  src/manage_nsfs/manage_nsfs_cli_errors.js
  src/manage_nsfs/manage_nsfs_constants.js
  src/manage_nsfs/manage_nsfs_help_utils.js
  src/test/unit_tests/jest_tests/test_nc_nsfs_account_cli.test.js
  src/test/unit_tests/test_nc_nsfs_cli.js
Labels: size/XL

#7865 [5.14] Bumping version from 5.14.5 to 5.14.6
  package-lock.json
  package.json
Labels: size/XS

#7866 NSFS | NC | CI | Add architecture to RPM manual build github action
  .github/workflows/manual-build-rpm.yaml
Labels: size/S

#7830 NSFS | NC | Prevent Adding Additional Properties (Bucket Schema)
  src/manage_nsfs/nsfs_schema_utils.js
  src/test/unit_tests/jest_tests/test_nc_nsfs_bucket_schema_validation.test.js
Labels: size/S

#7878 NSFS | NC | Missing Space Removal in Help
  src/manage_nsfs/manage_nsfs_help_utils.js
Labels: size/XS

#7877 [Backport to 5.14] fixed signature calculations for cpp aws-sdk
  src/test/unit_tests/signature_test_suite/awssdkcpp/awssdkcpp_lsumhdig_namewith=.sreq
  src/test/unit_tests/signature_test_suite/awssdkcpp/awssdkcpp_lsun15mj_namewith%253D.sreq
  src/test/unit_tests/signature_test_suite/awssdkcpp/awssdkcpp_lsun46rc_namewith$.sreq
  src/test/unit_tests/signature_test_suite/awssdkcpp/awssdkcpp_lsun7xep_namewith&.sreq
  src/test/unit_tests/signature_test_suite/awssdkcpp/awssdkcpp_lsundqfu_namewith,.sreq
  src/test/unit_tests/signature_test_suite/awssdkcpp/awssdkcpp_lsunew5a_namewith:.sreq
  src/test/unit_tests/signature_test_suite/awssdkcpp/awssdkcpp_lsung2nb_namewith@.sreq
  src/test/unit_tests/signature_test_suite/awssdknodejs/awssdknodejs_lsunnm4a_namewith%3D.sreq
  src/test/unit_tests/signature_test_suite/awssdknodejs/awssdknodejs_lsunp5sx_namewith%40.sreq
  src/test/unit_tests/signature_test_suite/awssdknodejs/awssdknodejs_lsunppst_namewith%24.sreq
  src/test/unit_tests/signature_test_suite/awssdknodejs/awssdknodejs_lsunqlri_namewith%253D.sreq
  src/test/unit_tests/test_signature_utils.js
  src/util/signature_utils.js
Labels: size/L

#7848 [NC | NSFS] Fix WAL processing failure
  src/manage_nsfs/manage_nsfs_glacier.js
  src/manage_nsfs/manage_nsfs_help_utils.js
  src/native/fs/fs_napi.cpp
  src/sdk/nsfs_glacier_backend/backend.js
  src/sdk/nsfs_glacier_backend/tapecloud.js
  src/test/unit_tests/index.js
  src/test/unit_tests/nc_index.js
  src/test/unit_tests/test_nsfs_glacier_backend.js
  src/util/file_reader.js
  src/util/persistent_logger.js
Labels: size/L

#7864 NSFS | NC | Add disable dev random seed flag
  config.js
  docs/dev_guide/NonContainerizedDeveloperCustomizations.md
  src/server/system_services/schemas/nsfs_config_schema.js
  src/test/unit_tests/jest_tests/test_nc_nsfs_config_schema_validation.test.js
  src/util/nb_native.js
Labels: size/M

#7893 CI | Ceph S3 Tests | Adding Tests to `pending_list`
  docs/dev_guide/ceph_s3_tests/ceph_s3_tests_pending_list_status.md
  src/test/system_tests/ceph_s3_tests/s3-tests-lists/nsfs_s3_tests_pending_list.txt
  src/test/system_tests/ceph_s3_tests/s3-tests-lists/s3_tests_pending_list.txt
Labels: size/S

#7879 NSFS | NC | Use `--from-file` Option in Bucket Create
  docs/non_containerized_NSFS.md
  src/cmd/manage_nsfs.js
  src/test/unit_tests/jest_tests/test_nc_nsfs_account_cli.test.js
  src/test/unit_tests/jest_tests/test_nc_nsfs_bucket_cli.test.js
Labels: size/L

#7898 NSFS | NC | health giving trimmed output in pipe
  src/cmd/health.js
  src/cmd/nsfs.js
  src/test/unit_tests/jest_tests/test_nc_nsfs_account_cli.test.js
Labels: size/S

#7897 CI | NSFS | NC | Jest Tests - Change the value of `tmp_fs_path` For Concurrent Run
  src/test/unit_tests/jest_tests/test_nc_nsfs_account_cli.test.js
  src/test/unit_tests/jest_tests/test_nc_nsfs_bucket_cli.test.js
Labels: size/S

#7885 NSFS | NC | CLI | Change the `fs_context`
  src/cmd/manage_nsfs.js
  src/util/native_fs_utils.js
Labels: size/M

#7901 bucket_logging: Change bucket API's and functions as per schema
  src/api/bucket_api.js
  src/server/system_services/bucket_server.js
Labels: size/XS

#7816 Bucket Logging: BG worker to upload bucket logs
  config.js
  src/server/bg_services/bucket_logs_upload.js
  src/server/bg_workers.js
Labels: size/L

#7867 Support delete replication flow in bucket_diff - PR 2
  src/server/utils/bucket_diff.js
  src/test/unit_tests/jest_tests/test_bucket_diff.test.js
Labels: size/L

#7903 Bucket API Scehma: Remove "name" field from logging
  src/api/bucket_api.js
Labels: size/XS

#7891 move node-gyp to devDependencies to avoid shipping it
  package-lock.json
  package.json
Labels: size/XS

#7899 NSFS | NC | Allow unset 'new_buckets_path'
  src/cmd/manage_nsfs.js
  src/test/unit_tests/jest_tests/test_nc_nsfs_account_cli.test.js
Labels: size/S

#7887 NSFS | NC | Use avj `compile` and Reuse `validate` Function
  src/manage_nsfs/nsfs_schema_utils.js
Labels: size/S

#7904 NSFS | NC | fix get-bucket-website function for bucketspace fs
  src/sdk/bucketspace_fs.js
  src/test/unit_tests/test_bucketspace_fs.js
Labels: size/XS

#7907 NSFS | NC | Manage NSFS | Remove `wide` Property from Fetch Data
  src/cmd/manage_nsfs.js
  src/test/unit_tests/jest_tests/test_nc_nsfs_account_cli.test.js
Labels: size/S

#7906 Bump dependencies to avoid CVE
  package-lock.json
  package.json
Labels: size/M

#7895 [NSFS | NC] Simplify GLACIER xattr + minor fixes
  config.js
  src/native/fs/fs_napi.cpp
  src/sdk/namespace_fs.js
  src/sdk/nb.d.ts
  src/sdk/nsfs_glacier_backend/backend.js
  src/sdk/nsfs_glacier_backend/tapecloud.js
  src/test/unit_tests/test_namespace_fs.js
Labels: size/L

#7919 NSFS | NC | Account Add `new_buckets_path` As Optional in Help
  src/manage_nsfs/manage_nsfs_help_utils.js
Labels: size/XS

#7911 NSFS | CLI | Delete the bucket only if the bucket is empty or with --force flag
  src/cmd/manage_nsfs.js
  src/manage_nsfs/manage_nsfs_cli_errors.js
  src/manage_nsfs/manage_nsfs_constants.js
  src/manage_nsfs/manage_nsfs_help_utils.js
  src/test/unit_tests/jest_tests/test_nc_nsfs_bucket_cli.test.js
  src/test/unit_tests/nc_coretest.js
Labels: size/M

#7916 NSFS | NC | Symlinks should contain a relative path
  docs/design/NonContainerizedNSFSDesign.md
  src/cmd/manage_nsfs.js
  src/test/unit_tests/jest_tests/test_nc_nsfs_account_cli.test.js
Labels: size/M

#7921 [5.15] Bumping version from 5.15.0 to 5.15.1
  docs/dev_guide/ceph_s3_tests/ceph_s3_tests_pending_list_status.md
  package-lock.json
  package.json
  src/test/system_tests/ceph_s3_tests/s3-tests-lists/nsfs_s3_tests_pending_list.txt
  src/test/system_tests/ceph_s3_tests/s3-tests-lists/s3_tests_pending_list.txt
Labels: size/M

#7841 [NC] Restructure RPM Build process
  Makefile
  src/deploy/RPM_build/RPM.Dockerfile
  src/deploy/RPM_build/noobaa.spec
  src/deploy/RPM_build/packagerpm.sh
  src/deploy/RPM_build/preparesrc.sh
Labels: size/L

#7884 Backport to 5.15.1 NS FS fixes
  .github/workflows/manual-build-rpm.yaml
  config.js
  docs/design/NonContainerizedNSFSDesign.md
  docs/dev_guide/NonContainerizedDeveloperCustomizations.md
  docs/non_containerized_NSFS.md
  src/cmd/health.js
  src/cmd/manage_nsfs.js
  src/cmd/nsfs.js
  src/deploy/RPM_build/noobaa.spec
  src/deploy/spectrum_archive/deployment_guide.md
  src/deploy/standalone/noobaa_rsyslog.conf
  src/deploy/standalone/noobaa_syslog.conf
  src/endpoint/s3/s3_rest.js
  src/manage_nsfs/manage_nsfs_cli_errors.js
  src/manage_nsfs/manage_nsfs_constants.js
  src/manage_nsfs/manage_nsfs_glacier.js
  src/manage_nsfs/manage_nsfs_help_utils.js
  src/manage_nsfs/nsfs_schema_utils.js
  src/native/fs/fs_napi.cpp
  src/sdk/bucketspace_fs.js
  src/sdk/namespace_fs.js
  src/sdk/nsfs_glacier_backend/backend.js
  src/sdk/nsfs_glacier_backend/tapecloud.js
  src/server/system_services/schemas/nsfs_config_schema.js
  src/test/system_tests/ceph_s3_tests/test_ceph_nsfs_s3_config_setup.js
  src/test/system_tests/ceph_s3_tests/test_ceph_s3_config_setup.js
  src/test/system_tests/test_utils.js
  src/test/unit_tests/index.js
  src/test/unit_tests/jest_tests/test_nc_nsfs_account_cli.test.js
  src/test/unit_tests/jest_tests/test_nc_nsfs_bucket_cli.test.js
  src/test/unit_tests/jest_tests/test_nc_nsfs_bucket_schema_validation.test.js
  src/test/unit_tests/jest_tests/test_nc_nsfs_config_schema_validation.test.js
  src/test/unit_tests/jest_tests/test_nc_nsfs_new_buckets_path_validation.test.js
  src/test/unit_tests/nc_coretest.js
  src/test/unit_tests/nc_index.js
  src/test/unit_tests/test_bucketspace.js
  src/test/unit_tests/test_bucketspace_fs.js
  src/test/unit_tests/test_bucketspace_versioning.js
  src/test/unit_tests/test_namespace_fs.js
  src/test/unit_tests/test_namespace_fs_mpu.js
  src/test/unit_tests/test_nb_native_fs.js
  src/test/unit_tests/test_nb_native_gpfs.js
  src/test/unit_tests/test_nc_nsfs_cli.js
  src/test/unit_tests/test_nc_nsfs_health.js
  src/test/unit_tests/test_nsfs_glacier_backend.js
  src/test/unit_tests/test_nsfs_versioning.js
  src/test/unit_tests/test_nsfs_versioning_gpfs.js
  src/util/file_reader.js
  src/util/fork_utils.js
  src/util/native_fs_utils.js
  src/util/nb_native.js
  src/util/persistent_logger.js
Labels: size/XXL

#7923 Bucket_logging: Reset rsyslogd after logrotation
  src/deploy/NVA_build/logrotate_noobaa.conf
Labels: size/XS

#7926 Fix s3_get_bucket_policy_status
  src/endpoint/s3/ops/s3_get_bucket_policy_status.js
  src/test/unit_tests/test_s3_bucket_policy.js
Labels: size/L

#7929 Anonymous access - add missing await to authorize_anonymous_access()
  src/endpoint/s3/s3_rest.js
Labels: size/XS

#7922 NSFS | NS | `nc_coretest` use `rm` instead of `rmdir`
  src/test/unit_tests/nc_coretest.js
Labels: size/XS
