Repository noobaa/noobaa-core, pull requests merged in 2024-07, with the labels that each got.

#8161 NSFS | NC | IAM Service - Root Accounts Manager
  docs/design/iam.md
  docs/dev_guide/nc_nsfs_iam_developer_doc.md
  src/cmd/manage_nsfs.js
  src/manage_nsfs/manage_nsfs_cli_errors.js
  src/manage_nsfs/manage_nsfs_cli_utils.js
  src/manage_nsfs/manage_nsfs_constants.js
  src/manage_nsfs/manage_nsfs_help_utils.js
  src/manage_nsfs/manage_nsfs_validations.js
  src/sdk/accountspace_fs.js
  src/server/system_services/schemas/nsfs_account_schema.js
  src/test/unit_tests/jest_tests/test_accountspace_fs.test.js
  src/test/unit_tests/jest_tests/test_nc_nsfs_account_cli.test.js
  src/test/unit_tests/jest_tests/test_nc_nsfs_account_schema_validation.test.js
  src/test/unit_tests/jest_tests/test_nc_nsfs_bucket_cli.test.js
Labels: size/XXL

#8170 5.15 Backport - DO NOT MERGE
  config.js
  src/cmd/nsfs.js
  src/test/unit_tests/nc_coretest.js
  src/util/postgres_client.js
Labels: size/S

#8181 [Hotfix 5.14 - BZ 2278389] fix ENOTSUP by falling back to meta files
  src/agent/block_store_services/block_store_fs.js
Labels: size/M

#8155 Bucket Logging: Add unit tests for bucket logging
  src/test/unit_tests/test_np_bucket_logging.js
Labels: size/M

#8182 NC | Noobaa log is not performing logrotate
  docs/dev_guide/standalone_with_db.md
  docs/non_containerized_NSFS.md
  src/deploy/NVA_build/NooBaa.Dockerfile
  src/deploy/NVA_build/logrotate.sh
  src/deploy/NVA_build/noobaa-logrotate
  src/deploy/RPM_build/RPM.Dockerfile
  src/deploy/RPM_build/noobaa.spec
  src/deploy/spectrum_archive/deployment_guide.md
  src/deploy/standalone/logrotate_noobaa.sh
  src/deploy/standalone/noobaa-logrotate
  src/deploy/standalone/noobaa_syslog.conf
  src/test/unit_tests/test_debug_module.js
Labels: size/M

#8183 NSFS | NC | Handle Concurrency When Reading Entries and They Deleted by Another Process
  src/cmd/manage_nsfs.js
  src/manage_nsfs/manage_nsfs_cli_utils.js
  src/manage_nsfs/manage_nsfs_validations.js
  src/sdk/accountspace_fs.js
  src/sdk/bucketspace_fs.js
  src/test/unit_tests/jest_tests/test_nc_nsfs_account_cli.test.js
Labels: size/M

#8184 Replace yamljs with yaml
  package-lock.json
  package.json
  src/server/system_services/pool_controllers.js
  src/util/yaml_utils.js
Labels: size/S

#8149 Add context to fs_napi errors
  src/endpoint/s3/s3_rest.js
  src/native/fs/fs_napi.cpp
  src/native/util/common.h
Labels: size/S

#8187 NC | NSFS | Delete a Bucket When Its Path Was Deleted First
  src/cmd/manage_nsfs.js
  src/test/unit_tests/jest_tests/test_nc_nsfs_bucket_cli.test.js
Labels: size/M

#8188 NC | NSFS | CLI - Add Config Object
  src/cmd/manage_nsfs.js
  src/manage_nsfs/manage_nsfs_cli_utils.js
  src/manage_nsfs/manage_nsfs_validations.js
Labels: size/L

#8191 CI | Update Commit Hash in Ceph Tests
  src/test/system_tests/ceph_s3_tests/s3-tests-lists/nsfs_s3_tests_black_list.txt
  src/test/system_tests/ceph_s3_tests/s3-tests-lists/nsfs_s3_tests_pending_list.txt
  src/test/system_tests/ceph_s3_tests/s3-tests-lists/s3_tests_black_list.txt
  src/test/system_tests/ceph_s3_tests/s3-tests-lists/s3_tests_pending_list.txt
  src/test/system_tests/ceph_s3_tests/test_ceph_s3_deploy.sh
Labels: size/S

#8162 NC | Upstream Docs Refactoring
  docs/NooBaaNonContainerized/AccountsAndBuckets.md
  docs/NooBaaNonContainerized/CI&Tests.md
  docs/NooBaaNonContainerized/ConfigFileCustomizations.md
  docs/NooBaaNonContainerized/Configuration.md
  docs/NooBaaNonContainerized/Events.md
  docs/NooBaaNonContainerized/GettingStarted.md
  docs/NooBaaNonContainerized/Health.md
  docs/NooBaaNonContainerized/Logging.md
  docs/NooBaaNonContainerized/Monitoring.md
  docs/NooBaaNonContainerized/NooBaaCLI.md
  docs/NooBaaNonContainerized/README.md
  docs/NooBaaNonContainerized/ResourcesLimitations.md
  docs/NooBaaNonContainerized/S3Ops.md
  docs/NooBaaNonContainerized/Troubleshooting.md
  docs/NooBaaNonContainerized/Upgrade.md
  docs/design/NonContainerizedNooBaaDesign.md
  docs/dev_guide/NonContainerizedDeveloperCustomizations.md
  docs/dev_guide/non_containerized_NSFS_events.md
  docs/non_containerized_NSFS.md
Labels: size/XXL

#8121 [Guaranteed Bucket Logging][NSFS]PR3 - Persistent logging
  config.js
  src/api/bucket_api.js
  src/cmd/manage_nsfs.js
  src/cmd/nsfs.js
  src/endpoint/endpoint.js
  src/endpoint/s3/ops/s3_get_bucket_logging.js
  src/endpoint/s3/s3_bucket_logging.js
  src/endpoint/s3/s3_rest.js
  src/manage_nsfs/manage_nsfs_cli_errors.js
  src/manage_nsfs/manage_nsfs_cli_responses.js
  src/manage_nsfs/manage_nsfs_constants.js
  src/manage_nsfs/manage_nsfs_events_utils.js
  src/manage_nsfs/manage_nsfs_help_utils.js
  src/manage_nsfs/manage_nsfs_logging.js
  src/manage_nsfs/nsfs_schema_utils.js
  src/sdk/bucketspace_nb.js
  src/sdk/object_sdk.js
  src/server/bg_services/bucket_logs_upload.js
  src/server/system_services/bucket_server.js
  src/server/system_services/schemas/log_schema.js
  src/test/unit_tests/coretest.js
  src/test/unit_tests/test_bucketspace_fs.js
  src/test/unit_tests/test_np_bucket_logging.js
  src/test/unit_tests/test_s3_ops.js
  src/util/bucket_logs_utils.js
  src/util/persistent_logger.js
  src/util/time_utils.js
Labels: size/XL

#8172 NSFS | NC | IAM Service - Input Validation
  docs/design/iam.md
  src/endpoint/iam/iam_constants.js
  src/endpoint/iam/iam_rest.js
  src/endpoint/iam/iam_utils.js
  src/endpoint/iam/ops/iam_create_access_key.js
  src/endpoint/iam/ops/iam_create_user.js
  src/endpoint/iam/ops/iam_delete_access_key.js
  src/endpoint/iam/ops/iam_delete_user.js
  src/endpoint/iam/ops/iam_get_access_key_last_used.js
  src/endpoint/iam/ops/iam_get_user.js
  src/endpoint/iam/ops/iam_list_access_keys.js
  src/endpoint/iam/ops/iam_list_users.js
  src/endpoint/iam/ops/iam_update_access_key.js
  src/endpoint/iam/ops/iam_update_user.js
  src/test/unit_tests/jest_tests/test_iam_ops_input_validation.test.js
  src/test/unit_tests/jest_tests/test_iam_utils.test.js
  src/util/string_utils.js
Labels: size/XXL

#8201 Adding unsupported ceph test to pending list
  src/test/system_tests/ceph_s3_tests/s3-tests-lists/s3_tests_pending_list.txt
Labels: size/XS

#8202 Bump dependencies
  package-lock.json
  package.json
Labels: size/M

#8204 Add missing bucket name to params while calling list_objects()
  src/sdk/bucketspace_fs.js
  src/sdk/namespace_fs.js
Labels: size/XS

#8203 NC | NSFS | Update Docs (`iam_operate_on_root_account` Flag)
  docs/NooBaaNonContainerized/NooBaaCLI.md
Labels: size/S

#8205 Adding unsupported ceph nsfs s3 test to pending list
  src/test/system_tests/ceph_s3_tests/s3-tests-lists/nsfs_s3_tests_pending_list.txt
Labels: size/XS

#8062 [MCG] Store relevant Owner metadata for MCG objects
  src/api/object_api.js
  src/endpoint/s3/ops/s3_get_bucket.js
  src/endpoint/s3/s3_utils.js
  src/sdk/namespace_blob.js
  src/sdk/namespace_fs.js
  src/sdk/namespace_gcp.js
  src/sdk/namespace_nb.js
  src/sdk/namespace_s3.js
  src/sdk/nb.d.ts
  src/server/object_services/object_server.js
  src/test/unit_tests/test_namespace_fs.js
  src/test/unit_tests/test_nsfs_glacier_backend.js
  src/test/unit_tests/test_s3_ops.js
Labels: size/L

#8208 NC | NSFS | IAM Service - Input Validation - `MaxItems`
  src/endpoint/iam/iam_utils.js
  src/endpoint/iam/ops/iam_list_access_keys.js
  src/endpoint/iam/ops/iam_list_users.js
  src/test/unit_tests/jest_tests/test_iam_utils.test.js
Labels: size/L

#8210 NC | NSFS | Change Config of `config.NSFS_GLACIER_LOGS_ENABLED` to `false`
  config.js
Labels: size/XS

#8212 Bump prom client to 15.1.3
  package-lock.json
  package.json
  src/test/unit_tests/test_namespace_cache.js
Labels: size/XS

#8219 NSFS | NC | IAM Gap - Handle Concurrency When Reading Entries and They Deleted by Another Process
  src/sdk/accountspace_fs.js
Labels: size/M

#8222 [5.16] Bumping version from 5.16.0 to 5.16.1
  package-lock.json
  package.json
Labels: size/XS

#8195 NC | NSFS | CLI Basic Support of IAM Accounts Configs
  src/cmd/manage_nsfs.js
  src/endpoint/iam/iam_utils.js
  src/manage_nsfs/manage_nsfs_cli_errors.js
  src/manage_nsfs/manage_nsfs_cli_utils.js
  src/manage_nsfs/manage_nsfs_validations.js
  src/test/unit_tests/jest_tests/test_iam_utils.test.js
  src/test/unit_tests/jest_tests/test_nc_nsfs_account_cli.test.js
  src/test/unit_tests/jest_tests/test_nc_nsfs_bucket_cli.test.js
  src/test/unit_tests/test_nc_nsfs_cli.js
Labels: size/L

#8223 [5.15] Bumping version from 5.15.4 to 5.15.6
  package-lock.json
  package.json
Labels: size/XS

#8217 [NC | NSFS | Glacier] Change finalize restore open mode to RDONLY
  src/sdk/nsfs_glacier_backend/tapecloud.js
Labels: size/XS

#8171 5.16 Backport
  config.js
  src/cmd/nsfs.js
  src/test/unit_tests/nc_coretest.js
  src/util/postgres_client.js
Labels: size/S

#8226 5.16.1 Backports
  docs/dev_guide/standalone_with_db.md
  docs/non_containerized_NSFS.md
  src/cmd/manage_nsfs.js
  src/deploy/NVA_build/NooBaa.Dockerfile
  src/deploy/NVA_build/logrotate.sh
  src/deploy/NVA_build/noobaa-logrotate
  src/deploy/RPM_build/RPM.Dockerfile
  src/deploy/RPM_build/noobaa.spec
  src/deploy/spectrum_archive/deployment_guide.md
  src/deploy/standalone/logrotate_noobaa.sh
  src/deploy/standalone/noobaa-logrotate
  src/deploy/standalone/noobaa_syslog.conf
  src/manage_nsfs/manage_nsfs_cli_utils.js
  src/manage_nsfs/manage_nsfs_validations.js
  src/sdk/bucketspace_fs.js
  src/test/unit_tests/jest_tests/test_nc_nsfs_account_cli.test.js
  src/test/unit_tests/test_debug_module.js
Labels: size/M

#8215 NC | FS_NAPI | Stat | Replace disable_ctime_check with do_ctime_check
  src/agent/block_store_services/block_store_fs.js
  src/native/fs/fs_napi.cpp
  src/sdk/namespace_fs.js
  src/sdk/nb.d.ts
Labels: size/M

#8228 5.16.1 Backports
  config.js
  docs/dev_guide/NonContainerizedDeveloperCustomizations.md
  src/native/fs/fs_napi.cpp
  src/native/nb_native.gyp
  src/native/util/common.cpp
  src/native/util/common.h
  src/sdk/nb.d.ts
  src/server/bg_services/semaphore_monitor.js
  src/server/system_services/schemas/nsfs_config_schema.js
  src/test/unit_tests/jest_tests/test_nc_nsfs_config_schema_validation.test.js
  src/util/debug_module.js
Labels: size/L

#8220 NC | CI | Add Versioning tests to nc coretest
  docs/NooBaaNonContainerized/CI&Tests.md
  src/test/system_tests/test_utils.js
  src/test/unit_tests/nc_coretest.js
  src/test/unit_tests/nc_index.js
  src/test/unit_tests/test_bucketspace.js
  src/test/unit_tests/test_bucketspace_versioning.js
Labels: size/L

#8189 NC | CLI | Add Diagnose command
  docs/NooBaaNonContainerized/Health.md
  docs/NooBaaNonContainerized/Monitoring.md
  docs/NooBaaNonContainerized/NooBaaCLI.md
  src/cmd/index.js
  src/cmd/manage_nsfs.js
  src/manage_nsfs/diagnose.js
  src/manage_nsfs/health.js
  src/manage_nsfs/manage_nsfs_cli_errors.js
  src/manage_nsfs/manage_nsfs_cli_responses.js
  src/manage_nsfs/manage_nsfs_constants.js
  src/manage_nsfs/manage_nsfs_help_utils.js
  src/manage_nsfs/manage_nsfs_validations.js
  src/test/system_tests/test_utils.js
  src/test/unit_tests/jest_tests/test_cli_diagnose.test.js
  src/test/unit_tests/test_nc_nsfs_health.js
  src/util/http_utils.js
Labels: size/XL

#8174 [NC | NSFS] Replace flock with fcntl based locks
  src/manage_nsfs/manage_nsfs_glacier.js
  src/native/fs/fs_napi.cpp
  src/sdk/nb.d.ts
  src/util/file_reader.js
  src/util/persistent_logger.js
Labels: size/M

#8175 NSFS | NC | IAM Service - Accounts Permission When No Bucket Policy
  docs/design/iam.md
  src/endpoint/s3/s3_rest.js
  src/sdk/bucketspace_fs.js
  src/server/system_services/schemas/nsfs_bucket_schema.js
  src/test/unit_tests/jest_tests/test_nc_nsfs_bucket_schema_validation.test.js
  src/test/unit_tests/test_bucketspace_fs.js
Labels: size/L

#8224 NC | NSFS | S3 Flow `delete_bucket` When ULS Was Deleted + Refactor Function `translate_error_codes`
  src/sdk/accountspace_fs.js
  src/sdk/bucketspace_fs.js
  src/sdk/namespace_fs.js
  src/test/unit_tests/test_bucketspace_fs.js
  src/util/native_fs_utils.js
Labels: size/L

#8221 Add get object owner for list object versions
  src/endpoint/s3/ops/s3_get_bucket_versions.js
  src/sdk/namespace_cache.js
  src/test/unit_tests/test_s3_ops.js
Labels: size/M

#8230 NSFS | add fs_worker data for stats collector
  src/cmd/nsfs.js
  src/sdk/bucketspace_fs.js
  src/server/analytic_services/prometheus_reporting.js
  src/server/system_services/stats_aggregator.js
  src/test/unit_tests/test_bucketspace_fs.js
  src/test/unit_tests/test_nsfs_glacier_backend.js
  src/util/fork_utils.js
  src/util/stats_collector_utils.js
Labels: size/L

#8237 Fixed upgrade script assign_owner_id_to_all_resources.js
  src/upgrade/upgrade_scripts/5.17.0/assign_owner_id_to_all_resources.js
Labels: size/XS

#8233 NC | NSFS | IAM | Fix issue in `update_access_key` and `delete_access_key`
  src/sdk/accountspace_fs.js
  src/test/unit_tests/jest_tests/test_accountspace_fs.test.js
Labels: size/L

#8243 [Backport into 5.15] bug fixes
  config.js
  src/api/object_api.js
  src/server/bg_services/lifecycle.js
  src/server/object_services/object_server.js
Labels: size/M

#8241 [Backport to 5.14] bug fixes
  config.js
  src/api/object_api.js
  src/server/bg_services/lifecycle.js
  src/server/object_services/object_server.js
  src/server/system_services/tier_server.js
Labels: size/M

#8245 [Backport into 5.15] Bump dependencies
  package-lock.json
  package.json
  src/agent/agent.js
  src/agent/agent_wrap.js
  src/api/cluster_server_api.js
  src/api/system_api.js
  src/deploy/NVA_build/prepare_aws_platform.js
  src/deploy/kubernetes_functions.js
  src/server/func_services/func_server.js
  src/server/system_services/cluster_server.js
  src/server/system_services/system_server.js
  src/test/framework/consolidate_test_reports.js
  src/test/framework/report.js
  src/test/framework/test_env_builder_kubernetes.js
  src/test/system_tests/test_md_aggregator.js
  src/test/utils/basic_server_ops.js
  src/util/http_utils.js
  src/util/net_utils.js
  src/util/os_utils.js
Labels: size/XXL

#8239 NC | BucketspaceFS | Atomic updates
  src/sdk/bucketspace_fs.js
Labels: size/M

#8246 [Backport into 4.15] NamespaceFS | Directory object | S3 Head object | Throw NotFound when key is missing the trailing '/'
  src/sdk/namespace_fs.js
  src/test/unit_tests/test_namespace_fs.js
Labels: size/L

#8244 [Backport to 5.14] NSFS | Change Mapping in Pool Server
  config.js
  src/server/bg_services/namespace_monitor.js
  src/server/system_services/pool_server.js
Labels: size/S

#8242 NC | NSFS | Remove Extra Information From The Logs + Refactor `iam _constants`
  src/endpoint/iam/iam_constants.js
  src/endpoint/iam/iam_rest.js
  src/endpoint/iam/iam_utils.js
  src/endpoint/iam/ops/iam_create_user.js
  src/endpoint/iam/ops/iam_get_user.js
  src/endpoint/iam/ops/iam_list_users.js
  src/endpoint/iam/ops/iam_update_user.js
  src/sdk/accountspace_fs.js
  src/test/unit_tests/jest_tests/test_accountspace_fs.test.js
  src/test/unit_tests/jest_tests/test_iam_utils.test.js
Labels: size/L

#8238 NC | NSFS | CLI Basic Support of IAM Accounts Configs - Delete Account
  src/cmd/manage_nsfs.js
  src/test/unit_tests/jest_tests/test_nc_nsfs_account_cli.test.js
Labels: size/M
