Repository noobaa/noobaa-core, pull requests merged in 2025-02, with the labels that each got.

#8746 [Backport into 5.18] bucket notifications tests
  config.js
  src/test/unit_tests/coretest.js
  src/test/unit_tests/index.js
  src/test/unit_tests/test_notifications.js
  src/util/notifications_util.js
Labels: size/L

#8715 Fix key and bucket length checks
  src/endpoint/s3/s3_rest.js
  src/endpoint/s3/s3_utils.js
Labels: size/S

#8749 Bumping deps to avoid CVE (03/02/2025)
  package-lock.json
  package.json
Labels: size/S

#8748 [5.17] Bumping version from 5.17.3 to 5.17.4
  package-lock.json
  package.json
Labels: size/XS

#8750 [Backport into 5.18] Bumping deps to avoid CVE (03/02/2025)
  package-lock.json
  package.json
Labels: size/S

#8754 CORS - Fixing max_age_seconds to number and not string
  src/endpoint/s3/ops/s3_put_bucket_cors.js
  src/util/http_utils.js
Labels: size/XS

#8752 [Backport into 5.17] Bumping deps to avoid CVE (03/02/2025)
  package-lock.json
  package.json
Labels: size/S

#8755 [Backport into 5.16] Bumping deps to avoid CVE (03/02/2025)
  package-lock.json
  package.json
Labels: size/S

#8745 bucket notifications - adapt to xml conversion
  src/endpoint/s3/ops/s3_get_bucket_notification.js
Labels: size/M

#8764 bucket notifications - fix and improve error output for test notif
  src/endpoint/s3/ops/s3_put_bucket_notification.js
  src/util/notifications_util.js
Labels: size/S

#8763 Notif backports
  src/endpoint/s3/ops/s3_get_bucket_notification.js
  src/endpoint/s3/ops/s3_put_bucket_notification.js
  src/util/notifications_util.js
Labels: size/M

#8768 Backport to 5.18 Key and Bucket lengths checks
  src/endpoint/s3/s3_rest.js
  src/endpoint/s3/s3_utils.js
Labels: size/S

#8756 [Backport into 5.15] Bumping deps to avoid CVE (03/02/2025)
  package-lock.json
  package.json
Labels: size/S

#8757 [5.14] Bumping deps to avoid CVE (03/02/2025)
  package-lock.json
  package.json
  src/test/unit_tests/test_namespace_cache.js
Labels: size/M

#8714 nope-ip removal - Phase 1
  src/rpc/rpc.js
  src/server/common_services/auth_server.js
  src/util/http_utils.js
  src/util/net_utils.js
Labels: size/M

#8753 FIx Request Handling on Requests with Trailing Headers (Mainly in `ChunkedContentDecoder`)
  src/test/unit_tests/jest_tests/test_chunked_content_decoder.test.js
  src/util/chunked_content_decoder.js
  src/util/http_utils.js
Labels: size/XL

#8770 Update AWS_API_Compatibility.md - Adding CORS
  docs/design/AWS_API_Compatibility.md
Labels: size/XS

#8772 Backport to 5.18: FIx Request Handling on Requests with Trailing Headers
  src/test/unit_tests/jest_tests/test_chunked_content_decoder.test.js
  src/util/chunked_content_decoder.js
  src/util/http_utils.js
Labels: size/XL

#8771 Code maintenance | Clean dead code from net_utils | nope-ip removal - Phase 2
  src/util/net_utils.js
Labels: size/M

#8778 Docs | Add `ChunkedContentDecoder` Documentation with State Machine Diagram
  docs/design/ChunkedContentDecoder.md
  docs/design/uml/ChunkedContentDecoder_State_Machine.md
Labels: size/L

#8747 NC | NSFS | CLI | Separate Bucket and Account List Functions
  src/cmd/manage_nsfs.js
  src/test/unit_tests/jest_tests/test_nc_nsfs_bucket_cli.test.js
Labels: size/L

#8774 NC | CLI | Fix for unsettable flags issues
  docs/NooBaaNonContainerized/CI&Tests.md
  docs/NooBaaNonContainerized/NooBaaCLI.md
  src/manage_nsfs/manage_nsfs_cli_errors.js
  src/manage_nsfs/manage_nsfs_constants.js
  src/manage_nsfs/manage_nsfs_help_utils.js
  src/manage_nsfs/manage_nsfs_validations.js
  src/test/system_tests/test_utils.js
  src/test/unit_tests/jest_tests/test_nc_account_cli.test.js
  src/test/unit_tests/jest_tests/test_nc_nsfs_bucket_cli.test.js
  src/test/unit_tests/nc_index.js
  src/test/unit_tests/sudo_index.js
  src/test/unit_tests/test_nc_cli.js
Labels: size/L

#8769 NSFS | add configuration flag to enable dynamic supplemental groups allocation
  config.js
  docs/NooBaaNonContainerized/AccountsAndBuckets.md
  docs/NooBaaNonContainerized/ConfigFileCustomizations.md
  src/native/util/os_darwin.cpp
  src/native/util/os_linux.cpp
  src/test/unit_tests/test_nsfs_access.js
Labels: size/M

#8723 NC | CLI | Updated the CLI response to have more info when account/bucket has been deleted
  src/cmd/manage_nsfs.js
  src/manage_nsfs/manage_nsfs_cli_responses.js
  src/test/unit_tests/jest_tests/test_nc_account_cli.test.js
  src/test/unit_tests/jest_tests/test_nc_nsfs_bucket_cli.test.js
Labels: size/M

#8779 nope-ip removal - Phase 3
  src/rpc/stun.js
  src/test/unit_tests/jest_tests/test_net_utils.test.js
  src/util/http_utils.js
  src/util/net_utils.js
Labels: size/L

#8780 NC | Test Files | Remove `nsfs` From File Name and Update Docs
  docs/NooBaaNonContainerized/CI&Tests.md
  src/test/unit_tests/jest_tests/test_nc_account_cli.test.js
  src/test/unit_tests/jest_tests/test_nc_account_invalid_mkm_integration.test.js
  src/test/unit_tests/jest_tests/test_nc_anonymous_cli.test.js
  src/test/unit_tests/jest_tests/test_nc_bucket_cli.test.js
  src/test/unit_tests/jest_tests/test_nc_connection_cli.test.js
Labels: size/S

#8788 Setting active_root_key parallel to loading key
  src/server/system_services/master_key_manager.js
Labels: size/S

#8789 [backport to 5.18] Setting active_root_key parallel to loading key
  src/server/system_services/master_key_manager.js
Labels: size/S

#8765 persistent logger (for bucket notifications) - don't log rename ENOENT if there were no failures
  src/util/persistent_logger.js
Labels: size/XS

#8797 [Backport into 5.18] persistent logger (for bucket notifications) - don't log rename ENOENT if there were no failures (#8765)
  src/util/persistent_logger.js
Labels: size/XS

#8796 bucket notification - harden bad name scenario. Also, don't reply internal '_' field.
  src/cmd/manage_nsfs.js
  src/manage_nsfs/manage_nsfs_cli_errors.js
  src/test/unit_tests/jest_tests/test_nc_connection_cli.test.js
Labels: size/L

#8795 5.18 Backport | online upgrade | make hosts verification optional
  docs/NooBaaNonContainerized/NooBaaCLI.md
  docs/NooBaaNonContainerized/Upgrade.md
  src/endpoint/endpoint.js
  src/manage_nsfs/manage_nsfs_help_utils.js
  src/manage_nsfs/upgrade.js
  src/test/unit_tests/jest_tests/test_cli_upgrade.test.js
  src/upgrade/nc_upgrade_manager.js
Labels: size/L

#8781 NC | CLI | List Accounts When Decrypt Access Keys Fails
  src/cmd/manage_nsfs.js
  src/sdk/config_fs.js
  src/test/unit_tests/jest_tests/test_config_fs.test.js
  src/test/unit_tests/jest_tests/test_nc_account_invalid_mkm_integration.test.js
Labels: size/L

#8751 NC | Multi Protocol Access | List object with conflicting ownership
  src/sdk/namespace_fs.js
  src/test/unit_tests/test_nsfs_access.js
  src/util/native_fs_utils.js
Labels: size/L

#8803 [Backport 5.17] Fix key and bucket length checks - make it byte count
  src/endpoint/s3/s3_rest.js
  src/endpoint/s3/s3_utils.js
Labels: size/S

#8776 noobaa-core: Bucket Policy Condition to access Specific VersionID
  src/endpoint/s3/s3_bucket_policy_utils.js
  src/server/common_services/auth_server.js
  src/server/object_services/object_server.js
  src/test/unit_tests/test_s3_bucket_policy.js
Labels: size/L

#8823 [5.14] Bumping version from 5.14.15 to 5.14.16
  package-lock.json
  package.json
Labels: size/XS

#8812 S3 | GET/HEAD Object | Add Response Headers Support
  src/endpoint/s3/ops/s3_get_object.js
  src/endpoint/s3/ops/s3_head_object.js
  src/test/unit_tests/test_nsfs_integration.js
  src/util/cloud_utils.js
  src/util/http_utils.js
Labels: size/L

#8819 bucket notifications - wrong etag, size
  src/endpoint/s3/ops/s3_put_object.js
  src/sdk/namespace_fs.js
  src/util/notifications_util.js
Labels: size/S

#8804 [Backport 5.16] PR 8715 and Bump version to 5.16.9
  package-lock.json
  package.json
  src/endpoint/s3/s3_rest.js
  src/endpoint/s3/s3_utils.js
Labels: size/S

#8826 [5.17] Bumping version from 5.17.5 to 5.17.6
  package-lock.json
  package.json
Labels: size/XS

#8825 NC | Tests | test_bucketspace_fs.js leaves a fd opened
  src/test/unit_tests/test_bucketspace_fs.js
Labels: size/M

#8813 NSFS | NC | whitelist cli create config.json when it doesn't exist
  src/cmd/manage_nsfs.js
  src/test/unit_tests/test_nc_cli.js
Labels: size/M

#8827 Removing kube_pv_chown
  .github/workflows/jest-unit-tests.yaml
  src/deploy/NVA_build/NooBaa.Dockerfile
  src/deploy/NVA_build/noobaa_core.yaml
  src/deploy/NVA_build/noobaa_init.sh
  src/native/nb_native.gyp
  src/native/tools/kube_pv_chown.cpp
Labels: size/L

#8824 NC | GPFS | Config Files | Create Config Files Size 0 Bug Fix
  src/util/native_fs_utils.js
Labels: size/M

#8829 NSFS | versioning | fix nested object concurrency issue
  src/sdk/namespace_fs.js
Labels: size/XS

#8787 Adding ading functions to `net_utils.js` | nope-ip removal - Phase 4
  src/test/unit_tests/jest_tests/test_net_utils.test.js
  src/util/net_utils.js
Labels: size/M

#8830 NC | 5.17.z Backport
  src/endpoint/s3/ops/s3_get_object.js
  src/endpoint/s3/ops/s3_head_object.js
  src/test/unit_tests/test_bucketspace.js
  src/util/cloud_utils.js
  src/util/http_utils.js
  src/util/native_fs_utils.js
Labels: size/L

#8834 [Backport into 5.18] Bumping deps to avoid CVE (24/02/2025)
  package-lock.json
  package.json
Labels: size/S

#8835 [Backport into 5.17] boto fix
  package-lock.json
  package.json
  src/rpc/ice.js
  src/test/unit_tests/jest_tests/test_chunked_content_decoder.test.js
  src/util/chunked_content_decoder.js
  src/util/http_utils.js
Labels: size/XL

#8811 NSFS | close stream when getting empty content dir
  src/sdk/namespace_fs.js
  src/test/unit_tests/test_namespace_fs.js
Labels: size/M

#8836 [Backport into 5.16] boto fix
  package-lock.json
  package.json
  src/rpc/ice.js
  src/test/unit_tests/jest_tests/test_chunked_content_decoder.test.js
  src/util/chunked_content_decoder.js
  src/util/http_utils.js
Labels: size/XL

#8838 [Backport into 5.15] Backport fixes and bump version
  package-lock.json
  package.json
  src/rpc/ice.js
  src/sdk/namespace_blob.js
  src/sdk/namespace_s3.js
  src/server/bg_services/replication_server.js
  src/test/unit_tests/jest_tests/test_chunked_content_decoder.test.js
  src/test/unit_tests/test_bucket_replication.js
  src/util/chunked_content_decoder.js
  src/util/http_utils.js
Labels: size/XL

#8840 [Backport into 5.14] boto fix and version bump
  package-lock.json
  package.json
  src/test/unit_tests/jest_tests/test_chunked_content_decoder.test.js
  src/util/chunked_content_decoder.js
  src/util/http_utils.js
Labels: size/XL
