Repository noobaa/noobaa-core, pull requests merged in 2025-05, with the labels that each got.

#8997 `ListObjects` `ListObjectVersions` API | Fix encoded url of `undefined` value
  src/endpoint/s3/ops/s3_get_bucket_versions.js
  src/endpoint/s3/s3_utils.js
  src/test/unit_tests/jest_tests/test_s3_utils.test.js
Labels: size/M

#9001 NC | lifecycle | Add Tests in POSIX Integration Tests - Part 3
  src/test/unit_tests/jest_tests/test_nc_lifecycle_posix_integration.test.js
Labels: size/L

#8991 NC | lifecycle | remove key_marker and version_marker from state when finished
  src/manage_nsfs/nc_lifecycle.js
Labels: size/XS

#9006 NC | lifecycle | Small GPFS flow fixes
  src/manage_nsfs/nc_lifecycle.js
  src/test/unit_tests/jest_tests/test_nc_lifecycle_gpfs_ilm_integration.test.js
Labels: size/S

#9011 Remove OPTIONS from default CORS rule
  config.js
Labels: size/XS

#9003 nsfs nsr monitoring - fix last_monitoring when calculating mode
  src/server/system_services/pool_server.js
Labels: size/XS

#8814 NSFS | content dir versioning LIST and tagging operations
  config.js
  docs/design/NsfsVersioning.md
  src/sdk/namespace_fs.js
  src/test/unit_tests/coretest.js
  src/test/unit_tests/jest_tests/test_versioning_concurrency.test.js
  src/test/unit_tests/nc_coretest.js
  src/test/unit_tests/test_bucketspace_versioning.js
  src/test/unit_tests/test_namespace_fs.js
Labels: size/L

#8986 [backport into 5.19] bucket notifications - use node name in eventSource for NC (#8983)
  src/util/notifications_util.js
Labels: size/XS

#8981 Refactor and maintenance
  src/server/node_services/nodes_monitor.js
  src/test/system_tests/test_bucket_lambda_triggers.js
  src/test/system_tests/test_bucket_placement.js
  src/test/system_tests/test_md_aggregator.js
  src/test/system_tests/test_node_failure.js
  src/test/unit_tests/test_agent_blocks_verifier.js
  src/test/unit_tests/test_keys_lock.js
  src/test/unit_tests/test_node_server.js
  src/test/unit_tests/test_rpc.js
  src/test/unit_tests/test_system_servers.js
  src/test/utils/basic_server_ops.js
  src/util/os_utils.js
  src/util/promise.js
Labels: size/XL

#8988 NC | 5.18 Backports
  src/native/fs/fs_napi.cpp
  src/test/unit_tests/jest_tests/test_fs_napi_concurrency.test.js
  src/util/native_fs_utils.js
Labels: size/M

#9005 CI | Publish Nightly Result in Slack - Only When Not Success
  .github/workflows/test-aws-sdk-clients.yaml
Labels: size/XS

#9014 Bumping deps to avoid CVE (07/05/2025)
  package-lock.json
  package.json
Labels: size/S

#9013 Rebase master into 5.19
  .github/workflows/test-aws-sdk-clients.yaml
  config.js
  docs/design/NsfsVersioning.md
  docs/dev_guide/nc_nsfs_iam_developer_doc.md
  src/endpoint/s3/ops/s3_get_bucket_versions.js
  src/endpoint/s3/s3_utils.js
  src/manage_nsfs/nc_lifecycle.js
  src/sdk/namespace_fs.js
  src/sdk/nb.d.ts
  src/server/node_services/nodes_monitor.js
  src/server/system_services/pool_server.js
  src/test/system_tests/test_bucket_lambda_triggers.js
  src/test/system_tests/test_bucket_placement.js
  src/test/system_tests/test_md_aggregator.js
  src/test/system_tests/test_node_failure.js
  src/test/unit_tests/coretest.js
  src/test/unit_tests/jest_tests/test_nc_lifecycle_gpfs_ilm_integration.test.js
  src/test/unit_tests/jest_tests/test_nc_lifecycle_posix_integration.test.js
  src/test/unit_tests/jest_tests/test_s3_utils.test.js
  src/test/unit_tests/jest_tests/test_versioning_concurrency.test.js
  src/test/unit_tests/nc_coretest.js
  src/test/unit_tests/test_agent_blocks_verifier.js
  src/test/unit_tests/test_bucketspace_versioning.js
  src/test/unit_tests/test_keys_lock.js
  src/test/unit_tests/test_namespace_fs.js
  src/test/unit_tests/test_node_server.js
  src/test/unit_tests/test_rpc.js
  src/test/unit_tests/test_system_servers.js
  src/test/utils/basic_server_ops.js
  src/util/os_utils.js
  src/util/promise.js
Labels: size/XXL

#9015 [Backport into 5.19] Bumping deps to avoid CVE (07/05/2025)
  package-lock.json
  package.json
Labels: size/S

#9016 [5.18] Bumping version from 5.18.2 to 5.18.3
  .github/workflows/jest-unit-tests.yaml
  package-lock.json
  package.json
Labels: size/XS

#9007 Fix anonymous user access with public_access defined and fix public_access tests
  src/api/bucket_api.js
  src/endpoint/s3/s3_rest.js
  src/sdk/object_sdk.js
  src/server/system_services/bucket_server.js
  src/test/unit_tests/test_public_access_block.js
Labels: size/M

#9017 [Backport into 5.18] Bumping deps to avoid CVE (07/05/2025)
  package-lock.json
  package.json
Labels: size/M

#9009 Fix bucket lifecycle validations
  src/endpoint/s3/ops/s3_put_bucket_lifecycle.js
  src/test/lifecycle/common.js
  src/test/unit_tests/test_lifecycle.js
Labels: size/XL

#9021 [Backport 5.19] fix anonymous user access with PAB defined and fix PAB tests
  src/api/bucket_api.js
  src/endpoint/s3/s3_rest.js
  src/sdk/object_sdk.js
  src/server/system_services/bucket_server.js
  src/test/unit_tests/test_public_access_block.js
Labels: size/M

#9020 [Backport 5.19] Fix lifecycle validations
  src/endpoint/s3/ops/s3_put_bucket_lifecycle.js
  src/test/lifecycle/common.js
  src/test/unit_tests/test_lifecycle.js
Labels: size/XL

#9022 NC | lifecycle | _parse_key_from_line remove redundant / at the beginning of the file key
  src/manage_nsfs/nc_lifecycle.js
Labels: size/XS

#9023 Added a validation for deletion of anonymous account with --name
  src/manage_nsfs/manage_nsfs_validations.js
  src/test/unit_tests/jest_tests/test_nc_account_cli.test.js
Labels: size/S

#9025 Backport to 5.19
  config.js
  docs/NooBaaNonContainerized/Events.md
  docs/NooBaaNonContainerized/NooBaaCLI.md
  src/cmd/manage_nsfs.js
  src/manage_nsfs/manage_nsfs_constants.js
  src/manage_nsfs/manage_nsfs_events_utils.js
  src/manage_nsfs/nc_lifecycle.js
  src/sdk/bucketspace_fs.js
  src/sdk/bucketspace_simple_fs.js
  src/sdk/nb.d.ts
  src/sdk/object_sdk.js
  src/test/unit_tests/test_bucketspace_fs.js
Labels: size/L

#9010 NC | supplemental groups - getpwuid concurrency issue
  src/native/fs/fs_napi.cpp
  src/native/util/os.h
  src/native/util/os_darwin.cpp
  src/native/util/os_linux.cpp
Labels: size/M

#9019 Read postgres connection details from a file
  src/util/fs_utils.js
  src/util/postgres_client.js
Labels: size/M

#9024 replication rules - actual delete by db cleaner dfs 2353
  src/server/bg_services/db_cleaner.js
  src/server/system_services/bucket_server.js
  src/server/system_services/replication_store.js
Labels: size/M

#9031 [5.18] Bumping version from 5.18.3 to 5.18.4
  package-lock.json
  package.json
Labels: size/XS

#9032 Backport to 5.19
  src/manage_nsfs/manage_nsfs_validations.js
  src/native/fs/fs_napi.cpp
  src/native/util/os.h
  src/native/util/os_darwin.cpp
  src/native/util/os_linux.cpp
  src/server/bg_services/db_cleaner.js
  src/server/system_services/bucket_server.js
  src/server/system_services/replication_store.js
  src/test/unit_tests/jest_tests/test_nc_account_cli.test.js
  src/util/fs_utils.js
  src/util/postgres_client.js
Labels: size/L

#9030 fix(fs_utils): Ignore only ENOENT in the context of readFileSync
  src/util/fs_utils.js
Labels: size/XS

#8958 Added `x-amz-expiration` missing HTTP header in the response of object operations
  src/endpoint/s3/ops/s3_get_object.js
  src/endpoint/s3/ops/s3_head_object.js
  src/endpoint/s3/ops/s3_put_object.js
  src/manage_nsfs/nc_lifecycle.js
  src/test/system_tests/test_utils.js
  src/test/unit_tests/jest_tests/test_nc_lifecycle.test.js
  src/test/unit_tests/jest_tests/test_nc_lifecycle_posix_integration.test.js
  src/test/unit_tests/nc_index.js
  src/test/unit_tests/test_lifecycle.js
  src/test/unit_tests/test_nc_lifecycle_expiration.js
  src/util/http_utils.js
  src/util/lifecycle_utils.js
Labels: size/XL

#9034 Fixed async flow in nodes_monitor.js
  src/server/node_services/nodes_monitor.js
Labels: size/S

#9035 [Backport to 5.19] Fixed async flow in nodes_monitor.js
  src/server/node_services/nodes_monitor.js
Labels: size/S

#9027 NC | 5.18.4 backports
  config.js
  docs/NooBaaNonContainerized/CI&Tests.md
  docs/NooBaaNonContainerized/Events.md
  docs/NooBaaNonContainerized/NooBaaCLI.md
  docs/dev_guide/ceph_s3_tests/ceph_s3_tests_pending_list_status.md
  src/cmd/manage_nsfs.js
  src/endpoint/s3/ops/s3_put_bucket_lifecycle.js
  src/manage_nsfs/health.js
  src/manage_nsfs/manage_nsfs_cli_errors.js
  src/manage_nsfs/manage_nsfs_cli_utils.js
  src/manage_nsfs/manage_nsfs_constants.js
  src/manage_nsfs/manage_nsfs_events_utils.js
  src/manage_nsfs/nc_lifecycle.js
  src/manage_nsfs/nc_master_key_manager.js
  src/sdk/bucketspace_fs.js
  src/sdk/bucketspace_simple_fs.js
  src/sdk/namespace_fs.js
  src/sdk/nb.d.ts
  src/sdk/object_sdk.js
  src/server/object_services/md_store.js
  src/test/lifecycle/common.js
  src/test/system_tests/ceph_s3_tests/s3-tests-lists/nsfs_s3_tests_pending_list.txt
  src/test/system_tests/ceph_s3_tests/s3-tests-lists/s3_tests_pending_list.txt
  src/test/system_tests/test_lifecycle.js
  src/test/system_tests/test_utils.js
  src/test/unit_tests/jest_tests/test_config_dir_restructure_upgrade_script.test.js
  src/test/unit_tests/jest_tests/test_nc_lifecycle.test.js
  src/test/unit_tests/jest_tests/test_nc_lifecycle_cli.test.js
  src/test/unit_tests/jest_tests/test_nc_lifecycle_gpfs_ilm_integration.test.js
  src/test/unit_tests/jest_tests/test_nc_lifecycle_posix_integration.test.js
  src/test/unit_tests/jest_tests/test_newline_reader.test.js
  src/test/unit_tests/test_bucketspace_fs.js
  src/test/unit_tests/test_bucketspace_versioning.js
  src/test/unit_tests/test_lifecycle.js
  src/util/file_reader.js
  src/util/lifecycle_utils.js
  src/util/native_fs_utils.js
Labels: size/XXL

#9036 [5.17] Bumping version from 5.17.7 to 5.17.8
  .github/workflows/jest-unit-tests.yaml
  package-lock.json
  package.json
Labels: size/XS

#9037 [Backport into 5.17] Bumping deps to avoid CVE (07/05/2025)
  package-lock.json
  package.json
Labels: size/M

#9038 IAM backports to 5.18.4
  docs/design/iam.md
  src/endpoint/iam/iam_rest.js
  src/endpoint/iam/ops/iam_list_groups_for_user.js
  src/endpoint/s3/ops/index.js
  src/endpoint/s3/ops/s3_get_bucket_request_payment.js
  src/endpoint/s3/ops/s3_put_bucket_request_payment.js
  src/endpoint/s3/s3_bucket_policy_utils.js
  src/endpoint/s3/s3_rest.js
  src/endpoint/sts/sts_rest.js
  src/sdk/bucketspace_fs.js
  src/test/unit_tests/test_bucketspace_fs.js
  src/test/unit_tests/test_nc_iam_basic_integration.js
  src/test/unit_tests/test_nsfs_integration.js
  src/test/unit_tests/test_s3_ops.js
Labels: size/L

#8932 bucket notifications - facilitate notif conf to override connection
  docs/NooBaaNonContainerized/NooBaaCLI.md
  src/cmd/manage_nsfs.js
  src/endpoint/s3/ops/s3_put_bucket_notification.js
  src/manage_nsfs/manage_nsfs_constants.js
  src/server/system_services/schemas/nsfs_account_schema.js
  src/test/unit_tests/jest_tests/test_nc_account_cli.test.js
  src/test/unit_tests/test_notifications.js
  src/util/notifications_util.js
Labels: size/M

#9039 CORS | Allowed headers regexp check should be case insensitive
  src/test/unit_tests/test_s3_ops.js
  src/util/http_utils.js
Labels: size/L

#9044 in try_read_file_sync - treat ENOTDIR as ENOENT
  src/util/fs_utils.js
Labels: size/XS

#9043 [NSFS] Add support for uls deletion to NooBaa CLI
  src/cmd/manage_nsfs.js
  src/manage_nsfs/manage_nsfs_constants.js
  src/manage_nsfs/manage_nsfs_help_utils.js
  src/manage_nsfs/manage_nsfs_validations.js
  src/sdk/bucketspace_fs.js
  src/test/unit_tests/jest_tests/test_nc_bucket_cli.test.js
Labels: size/L
