Repository noobaa/noobaa-core, pull requests merged in 2025-04, with the labels that each got.

#8867 NC | Online Upgrade CLI | Validate `expected_version` on `upgrade start`
  src/manage_nsfs/manage_nsfs_cli_errors.js
  src/manage_nsfs/manage_nsfs_constants.js
  src/manage_nsfs/manage_nsfs_validations.js
  src/manage_nsfs/upgrade.js
  src/sdk/config_fs.js
  src/test/unit_tests/jest_tests/test_cli_upgrade.test.js
  src/test/unit_tests/jest_tests/test_nc_upgrade_manager.test.js
  src/upgrade/nc_upgrade_manager.js
  src/upgrade/upgrade_utils.js
  src/util/versions_utils.js
Labels: size/L

#8913 NC | lifecycle | fix notifications
  src/manage_nsfs/nc_lifecycle.js
  src/test/unit_tests/jest_tests/test_nc_lifecycle_cli.test.js
Labels: size/L

#8922 Refactor | Remove deprecated pwhile from the code in favor of async/await
  src/deploy/ec2_wrapper.js
  src/hosted_agents/hosted_agents.js
  src/test/pipeline/dataset.js
  src/test/system_tests/test_cloud_pools.js
  src/test/system_tests/test_files_ul.js
  src/test/system_tests/test_md_aggregator.js
  src/test/system_tests/test_utils.js
  src/test/unit_tests/test_keys_semaphore.js
  src/test/utils/basic_server_ops.js
  src/tools/events_generator.js
  src/util/promise.js
Labels: size/XL

#8925 NC | lifecycle | continue last run
  src/cmd/manage_nsfs.js
  src/manage_nsfs/health.js
  src/manage_nsfs/manage_nsfs_constants.js
  src/manage_nsfs/nc_lifecycle.js
  src/test/unit_tests/jest_tests/test_nc_lifecycle_cli.test.js
  src/util/lifecycle_utils.js
Labels: size/L

#8920 NC | IAM | Return Empty List On Unimplemented Operations (`list-group-for-user`)
  docs/design/iam.md
  src/endpoint/iam/iam_rest.js
  src/endpoint/iam/ops/iam_list_groups_for_user.js
  src/test/unit_tests/test_nc_iam_basic_integration.js
Labels: size/L

#8933 Fixed a bug where we wrongly listed mime-type instead of mime-types
  package-lock.json
  package.json
Labels: size/XS

#8561 nsfs - monitor only nsrs that are mounted. DFBUGS-153
  src/endpoint/endpoint.js
Labels: size/S

#8885 lifecycle | unit test for multipart, version and delete marker flow
  src/server/object_services/md_store.js
  src/test/lifecycle/common.js
  src/test/unit_tests/test_lifecycle.js
Labels: size/L

#8934 [5.17] Bumping version from 5.17.6 to 5.17.7
  package-lock.json
  package.json
Labels: size/XS

#8935 [5.16] Bumping version from 5.16.9 to 5.16.10
  package-lock.json
  package.json
Labels: size/XS

#8936 [5.15] Bumping version from 5.15.13 to 5.15.14
  package-lock.json
  package.json
Labels: size/XS

#8937 [5.14] Bumping version from 5.14.17 to 5.14.18
  package-lock.json
  package.json
Labels: size/XS

#8929 NC | Lifecycle | Convert NCLifecycle to a class
  src/cmd/manage_nsfs.js
  src/manage_nsfs/manage_nsfs_cli_utils.js
  src/manage_nsfs/nc_lifecycle.js
  src/manage_nsfs/nc_master_key_manager.js
  src/test/system_tests/test_utils.js
  src/test/unit_tests/jest_tests/test_config_dir_restructure_upgrade_script.test.js
  src/test/unit_tests/jest_tests/test_nc_lifecycle_cli.test.js
  src/test/unit_tests/test_bucketspace_fs.js
  src/util/native_fs_utils.js
Labels: size/XXL

#8941 NC | CLI | Update known issues doc with fixed version.
  docs/NooBaaNonContainerized/NooBaaCLI.md
Labels: size/XS

#8940 Added a fix for bucket lifecycle having tagging as an empty array in filter
  src/server/object_services/md_store.js
Labels: size/XS

#8939 [Backpot into 5.17] Bumping deps to avoid CVE (16/03/2025)
  package-lock.json
  package.json
  src/agent/agent_cli.js
  src/endpoint/s3/ops/s3_put_bucket_lifecycle.js
  src/hosted_agents/hosted_agents.js
  src/sdk/namespace_fs.js
  src/server/system_services/pool_controllers.js
  src/test/system_tests/test_bucket_access.js
  src/test/system_tests/test_node_failure.js
  src/test/unit_tests/test_lifecycle.js
  src/util/fs_utils.js
  src/util/native_fs_utils.js
Labels: size/L

#8945 Backports to 5.17
  config.js
  src/server/node_services/nodes_monitor.js
  src/server/object_services/schemas/data_block_indexes.js
  src/util/mongo_client.js
Labels: size/M

#8946 Backports to 5.16
  config.js
  src/server/node_services/nodes_monitor.js
  src/server/object_services/schemas/data_block_indexes.js
  src/util/mongo_client.js
Labels: size/M

#8947 [Backport to 5.15] Added an index for deleted unreclaimed blocks
  src/server/object_services/schemas/data_block_indexes.js
  src/util/mongo_client.js
Labels: size/S

#8954 Rejecting wildcard('*') in expose headers - like AWS
  src/endpoint/s3/ops/s3_put_bucket_cors.js
  src/test/unit_tests/test_s3_ops.js
Labels: size/M

#8955 [backport to 5.17] Removing kube_pv_chown
  src/deploy/NVA_build/NooBaa.Dockerfile
  src/deploy/NVA_build/noobaa_core.yaml
  src/deploy/NVA_build/noobaa_init.sh
  src/native/nb_native.gyp
  src/native/tools/kube_pv_chown.cpp
Labels: size/L

#8956 [backport to 5.16] Removing kube_pv_chown
  src/deploy/NVA_build/NooBaa.Dockerfile
  src/deploy/NVA_build/noobaa_core.yaml
  src/deploy/NVA_build/noobaa_init.sh
  src/native/nb_native.gyp
  src/native/tools/kube_pv_chown.cpp
Labels: size/L

#8957 [Backport into 5.16] Bumping deps to avoid CVE (16/03/2025)
  package-lock.json
  package.json
  src/agent/agent_cli.js
  src/endpoint/s3/ops/s3_put_bucket_lifecycle.js
  src/hosted_agents/hosted_agents.js
  src/sdk/namespace_fs.js
  src/server/system_services/pool_controllers.js
  src/test/system_tests/test_bucket_access.js
  src/test/system_tests/test_node_failure.js
  src/test/unit_tests/test_lifecycle.js
  src/util/fs_utils.js
  src/util/native_fs_utils.js
Labels: size/L

#8959 CI | Changed the job name of Jest Unit Tests
  .github/workflows/jest-unit-tests.yaml
Labels: size/XS

#8963 [Backport into 5.15] Bumping deps to avoid CVE (16/03/2025)
  package-lock.json
  package.json
  src/agent/agent_cli.js
  src/endpoint/s3/ops/s3_put_bucket_lifecycle.js
  src/hosted_agents/hosted_agents.js
  src/sdk/namespace_fs.js
  src/server/system_services/pool_controllers.js
  src/test/system_tests/test_bucket_access.js
  src/test/system_tests/test_node_failure.js
  src/test/unit_tests/test_lifecycle.js
  src/util/fs_utils.js
  src/util/native_fs_utils.js
Labels: size/L

#8952 NC | CLI | InvalidType Error | Replaced hard coded command types list with a dynamic list
  src/manage_nsfs/manage_nsfs_cli_errors.js
Labels: size/XS

#8924 Return Mock on `GetBucketRequestPayment`
  src/endpoint/s3/ops/index.js
  src/endpoint/s3/ops/s3_get_bucket_request_payment.js
  src/endpoint/s3/ops/s3_put_bucket_request_payment.js
  src/endpoint/s3/s3_bucket_policy_utils.js
  src/endpoint/s3/s3_rest.js
  src/test/unit_tests/test_nsfs_integration.js
  src/test/unit_tests/test_s3_ops.js
Labels: size/M

#8962 [backport to 5.17] NSFS | Fix Bug | Race Between List Object and Delete Object
  config.js
  src/native/fs/fs_napi.cpp
  src/sdk/namespace_fs.js
  src/test/unit_tests/jest_tests/test_nsfs_concurrency.test.js
  src/util/native_fs_utils.js
Labels: size/L

#8965 [5.14] Bumping deps to avoid CVE (16/03/2025)
  package-lock.json
  package.json
Labels: size/S

#8966 Added cnpg services to system_schema
  src/server/system_services/schemas/system_schema.js
Labels: size/S

#8951 bucket notification - align test notif structure
  docs/bucket-notifications.md
  src/cmd/manage_nsfs.js
  src/endpoint/s3/ops/s3_put_bucket_notification.js
  src/manage_nsfs/manage_nsfs_validations.js
  src/test/unit_tests/test_notifications.js
  src/util/notifications_util.js
Labels: size/M

#8970 Add more validation for lifecycle
  src/endpoint/s3/ops/s3_put_bucket_lifecycle.js
  src/test/unit_tests/test_lifecycle.js
Labels: size/S

#8971 NC | CI | fix lifecycle timeout flaky test
  src/test/unit_tests/jest_tests/test_nc_lifecycle_cli.test.js
Labels: size/S

#8923 NC | Lifecycle | GPFS ILM integration
  config.js
  src/manage_nsfs/nc_lifecycle.js
  src/test/system_tests/test_utils.js
  src/test/unit_tests/jest_tests/test_nc_lifecycle_gpfs_ilm_integration.test.js
Labels: size/XXL

#8949 NC | lifecycle | add newer noncurrent versions rule
  src/manage_nsfs/nc_lifecycle.js
  src/test/unit_tests/jest_tests/test_nc_lifecycle_cli.test.js
Labels: size/XL

#8977 NC | IAM | Return Empty List On Unimplemented List Operations
  docs/design/iam.md
  src/endpoint/iam/iam_rest.js
  src/endpoint/iam/ops/iam_list_account_aliases.js
  src/endpoint/iam/ops/iam_list_attached_group_policies.js
  src/endpoint/iam/ops/iam_list_attached_role_policies.js
  src/endpoint/iam/ops/iam_list_attached_user_policies.js
  src/endpoint/iam/ops/iam_list_entities_for_policy.js
  src/endpoint/iam/ops/iam_list_group_policies.js
  src/endpoint/iam/ops/iam_list_groups.js
  src/endpoint/iam/ops/iam_list_instance_profile_tags.js
  src/endpoint/iam/ops/iam_list_instance_profiles.js
  src/endpoint/iam/ops/iam_list_instance_profiles_for_role.js
  src/endpoint/iam/ops/iam_list_mfa_device_tags.js
  src/endpoint/iam/ops/iam_list_mfa_devices.js
  src/endpoint/iam/ops/iam_list_open_id_connect_provider_tags.js
  src/endpoint/iam/ops/iam_list_open_id_connect_providers.js
  src/endpoint/iam/ops/iam_list_policies.js
  src/endpoint/iam/ops/iam_list_policy_tags.js
  src/endpoint/iam/ops/iam_list_policy_versions.js
  src/endpoint/iam/ops/iam_list_role_tags.js
  src/endpoint/iam/ops/iam_list_roles.js
  src/endpoint/iam/ops/iam_list_saml_providers.js
  src/endpoint/iam/ops/iam_list_server_certificate_tags.js
  src/endpoint/iam/ops/iam_list_server_certificates.js
  src/endpoint/iam/ops/iam_list_service_specific_credentials.js
  src/endpoint/iam/ops/iam_list_signing_certificates.js
  src/endpoint/iam/ops/iam_list_ssh_public_keys.js
  src/endpoint/iam/ops/iam_list_user_policies.js
  src/endpoint/iam/ops/iam_list_user_tags.js
  src/endpoint/iam/ops/iam_list_virtual_mfa_devices.js
  src/test/unit_tests/test_nc_iam_basic_integration.js
Labels: size/XXL

#8961 NC | lifecycle | add expire delete marker rule
  src/manage_nsfs/nc_lifecycle.js
  src/test/unit_tests/jest_tests/test_nc_lifecycle_cli.test.js
Labels: size/L

#8964 NSFS | content dir, ignore failure to delete xattr from latest, if already deleted
  src/sdk/namespace_fs.js
Labels: size/XS

#8975 NC | Add non current timestamp xattr support
  src/sdk/namespace_fs.js
  src/test/unit_tests/test_bucketspace_versioning.js
Labels: size/L

#8983 bucket notifications - use node name in eventSource
  src/util/notifications_util.js
Labels: size/XS

#8982 NSFS | FS Napi | getpwnam concurrency issue
  src/native/fs/fs_napi.cpp
  src/test/unit_tests/jest_tests/test_fs_napi_concurrency.test.js
  src/util/native_fs_utils.js
Labels: size/M

#8990 NC | lifecycle | Add Tests in POSIX Integration Tests
  docs/NooBaaNonContainerized/CI&Tests.md
  src/test/unit_tests/jest_tests/test_nc_lifecycle_posix_integration.test.js
Labels: size/XL

#8993 Increased the delay values of the objects_reclaimer
  config.js
Labels: size/XS

#8994 NC | lifecycle | Add Tests in POSIX Integration Tests - Part 2
  src/test/unit_tests/jest_tests/test_nc_lifecycle_posix_integration.test.js
Labels: size/XXL

#8950 NC | Delete object filter verification on regular delete object
  src/manage_nsfs/nc_lifecycle.js
  src/sdk/namespace_fs.js
  src/test/unit_tests/jest_tests/test_nc_lifecycle.test.js
  src/test/unit_tests/jest_tests/test_nc_lifecycle_posix_integration.test.js
  src/util/lifecycle_utils.js
Labels: size/XL

#8998 CI | Publish Nightly of "Test AWS SDK Clients" Result in Slack
  .github/workflows/test-aws-sdk-clients.yaml
Labels: size/S

#9000 Rebase 5.19 from Master
  .github/workflows/test-aws-sdk-clients.yaml
  config.js
  docs/NooBaaNonContainerized/CI&Tests.md
  src/manage_nsfs/nc_lifecycle.js
  src/native/fs/fs_napi.cpp
  src/sdk/namespace_fs.js
  src/test/unit_tests/jest_tests/test_fs_napi_concurrency.test.js
  src/test/unit_tests/jest_tests/test_nc_lifecycle.test.js
  src/test/unit_tests/jest_tests/test_nc_lifecycle_cli.test.js
  src/test/unit_tests/jest_tests/test_nc_lifecycle_posix_integration.test.js
  src/test/unit_tests/test_bucketspace_versioning.js
  src/util/lifecycle_utils.js
  src/util/native_fs_utils.js
  src/util/notifications_util.js
Labels: size/XXL

#8999 NC | Lifecycle | Adjust expire/noncurrent state properties to GPFS flow + fix of 2 small bugs
  src/manage_nsfs/nc_lifecycle.js
Labels: size/M

#8992 NC | lifecycle | add noncurrent days rule
  src/manage_nsfs/nc_lifecycle.js
  src/sdk/namespace_fs.js
  src/sdk/nb.d.ts
  src/test/unit_tests/jest_tests/test_nc_lifecycle_posix_integration.test.js
Labels: size/L
