Repository noobaa/noobaa-core, pull requests merged in 2025-03, with the labels that each got.

#8841 [5.14] Bumping deps to avoid CVE (24/02/2025)
  package-lock.json
  package.json
Labels: size/S

#8837 NC | NSFS | IAM | Doc | Minor Doc Update
  docs/design/iam.md
Labels: size/XS

#8832 Moving root_secret load to P.map and loading the latest keys first
  src/server/system_services/master_key_manager.js
Labels: size/S

#8833 bucket notifications - add connection test to health
  docs/NooBaaNonContainerized/Health.md
  src/manage_nsfs/health.js
  src/manage_nsfs/manage_nsfs_constants.js
  src/manage_nsfs/manage_nsfs_help_utils.js
  src/test/unit_tests/test_nc_health.js
  src/util/notifications_util.js
Labels: size/L

#8848 [Backport 5.14] Backport 8350 & 8347
  src/sdk/namespace_blob.js
  src/sdk/namespace_s3.js
  src/server/bg_services/replication_server.js
  src/test/unit_tests/test_bucket_replication.js
Labels: size/M

#8806 NC | CLI | List bucket dose not return full bucket name with `.json` suffix
  docs/NooBaaNonContainerized/NooBaaCLI.md
  src/sdk/config_fs.js
  src/test/unit_tests/jest_tests/test_nc_account_cli.test.js
  src/test/unit_tests/jest_tests/test_nc_bucket_cli.test.js
Labels: size/L

#8839 NC | CLI | Lifecycle worker
  src/cmd/manage_nsfs.js
  src/cmd/nsfs.js
  src/manage_nsfs/health.js
  src/manage_nsfs/manage_nsfs_cli_errors.js
  src/manage_nsfs/manage_nsfs_cli_utils.js
  src/manage_nsfs/manage_nsfs_constants.js
  src/manage_nsfs/nc_lifecycle.js
  src/sdk/nsfs_object_sdk.js
  src/server/bg_services/lifecycle.js
Labels: size/L

#8842 NC | Fix node warning: Accessing non-existent property 'key' of module exports inside circular dependency
  config.js
  docs/NooBaaNonContainerized/ConfigFileCustomizations.md
Labels: size/S

#8808 NSFS | Fix delete last object deletes directory object if its size is 0
  src/sdk/namespace_fs.js
  src/test/unit_tests/test_namespace_fs.js
Labels: size/M

#8854 Add Problem description to PR template
  PULL_REQUEST_TEMPLATE.md
Labels: size/XS

#8809 NSFS | Fix Bug | Race Between List Object and Delete Object
  config.js
  src/native/fs/fs_napi.cpp
  src/sdk/namespace_fs.js
  src/test/unit_tests/jest_tests/test_nsfs_concurrency.test.js
  src/util/native_fs_utils.js
Labels: size/L

#8855 Doc | Add Dev Guide Run Tests From coretest Locally
  docs/dev_guide/run_coretest_locally.md
Labels: size/M

#8853 NC | lifecycle | add option to abort multiple uploads
  src/cmd/manage_nsfs.js
  src/manage_nsfs/manage_nsfs_constants.js
  src/manage_nsfs/manage_nsfs_validations.js
  src/manage_nsfs/nc_lifecycle.js
  src/test/unit_tests/jest_tests/test_nc_lifecycle_cli.test.js
Labels: size/L

#8858 NC | Lifecycle | Add lock to lifecycle worker
  config.js
  src/cmd/manage_nsfs.js
  src/manage_nsfs/manage_nsfs_cli_utils.js
  src/manage_nsfs/manage_nsfs_constants.js
  src/manage_nsfs/manage_nsfs_glacier.js
  src/manage_nsfs/nc_lifecycle.js
  src/test/unit_tests/jest_tests/test_nc_lifecycle_cli.test.js
  src/util/native_fs_utils.js
Labels: size/L

#8863 [backport to 5.16 - Hotfix] Removing kube_pv_chown
  src/deploy/NVA_build/NooBaa.Dockerfile
  src/deploy/NVA_build/noobaa_core.yaml
  src/deploy/NVA_build/noobaa_init.sh
  src/native/nb_native.gyp
  src/native/tools/kube_pv_chown.cpp
Labels: size/L

#8557 Bucket Notifications - doc
  docs/NooBaaNonContainerized/ConfigFileCustomizations.md
  docs/bucket-notifications.md
  src/manage_nsfs/manage_nsfs_help_utils.js
Labels: size/L

#8865 Added an index for deleted unreclaimed blocks
  src/server/object_services/schemas/data_block_indexes.js
  src/util/mongo_client.js
Labels: size/S

#8866 [5.18] Bumping version from 5.18.0 to 5.18.1
  package-lock.json
  package.json
  src/test/unit_tests/jest_tests/test_cli_upgrade.test.js
Labels: size/S

#8868 Disable dedup indexer by default
  config.js
Labels: size/XS

#8028 [NC | NSFS] add support for DMAPI xattr based GLACIER storage class
  .gitignore
  config.js
  src/endpoint/s3/s3_utils.js
  src/manage_nsfs/manage_nsfs_glacier.js
  src/native/fs/fs_napi.cpp
  src/sdk/glacier.js
  src/sdk/glacier_tapecloud.js
  src/sdk/namespace_fs.js
  src/sdk/nb.d.ts
  src/sdk/nsfs_glacier_backend/helper.js
  src/test/unit_tests/test_nsfs_glacier_backend.js
Labels: size/XL

#8810 [NSFS | Glacier] Add support force expiry based on GET completions and migration log size
  config.js
  src/manage_nsfs/manage_nsfs_glacier.js
  src/sdk/namespace_fs.js
  src/util/file_reader.js
Labels: size/M

#8869 Bumping deps to avoid CVE (16/03/2025)
  package-lock.json
  package.json
Labels: size/S

#8860 NC | Lifecycle | Status, Events, Timeout
  config.js
  src/cmd/manage_nsfs.js
  src/manage_nsfs/manage_nsfs_cli_errors.js
  src/manage_nsfs/manage_nsfs_cli_responses.js
  src/manage_nsfs/manage_nsfs_constants.js
  src/manage_nsfs/manage_nsfs_events_utils.js
  src/manage_nsfs/nc_lifecycle.js
  src/server/system_services/schemas/nsfs_config_schema.js
  src/test/unit_tests/jest_tests/test_nc_lifecycle_cli.test.js
Labels: size/XL

#8862 NC | lifecycle - add expire rule
  src/manage_nsfs/nc_lifecycle.js
  src/sdk/namespace_fs.js
  src/test/unit_tests/jest_tests/test_nc_lifecycle_cli.test.js
Labels: size/L

#8874 Fix id parse for s3_put_bucket_cors
  src/endpoint/s3/ops/s3_put_bucket_cors.js
  src/test/unit_tests/test_s3_ops.js
Labels: size/M

#8875 NC | Lifecycle | Small configuration adjustments/ fixes
  config.js
  src/cmd/manage_nsfs.js
  src/manage_nsfs/manage_nsfs_constants.js
  src/manage_nsfs/nc_lifecycle.js
  src/test/unit_tests/jest_tests/test_nc_lifecycle_cli.test.js
Labels: size/M

#8844 lifecycle | lifecycle pre test setup
  src/sdk/object_io.js
  src/test/lifecycle/common.js
  src/test/unit_tests/test_lifecycle.js
  src/tools/md_blow_lifecycle.js
Labels: size/L

#8876 Remove `uuid` module and replace it with the native `crypto.randomUUID()`
  package-lock.json
  package.json
  src/agent/agent_cli.js
  src/endpoint/s3/ops/s3_put_bucket_lifecycle.js
  src/hosted_agents/hosted_agents.js
  src/sdk/namespace_fs.js
  src/server/system_services/pool_controllers.js
  src/test/system_tests/test_bucket_access.js
  src/test/system_tests/test_node_failure.js
  src/test/unit_tests/test_lifecycle.js
  src/util/native_fs_utils.js
Labels: size/M

#8871 Change Log Printing in `namespace_monitor`
  src/server/bg_services/namespace_monitor.js
Labels: size/XS

#8878 [NC | Glacier] Fix migrate.log stat issue
  src/manage_nsfs/manage_nsfs_glacier.js
Labels: size/S

#8877 NC | LIFECYCLE | Add temporary NC_LIFECYCLE_GPFS_ILM_ENABLED configuration
  config.js
  src/manage_nsfs/nc_lifecycle.js
Labels: size/XS

#8847 CI | Data Buckets | Test AWS SDK Clients
  .github/workflows/test-aws-sdk-clients.yaml
  Makefile
  src/deploy/NVA_build/AWSClient.Dockerfile
  src/test/unit_tests/coretest.js
  src/test/unit_tests/different_clients/go_aws_sdkv2_client.go
  src/test/unit_tests/different_clients/run_go_sdkv2_client_script.js
  src/test/unit_tests/different_clients/test_go_sdkv2_script.js
Labels: size/XL

#8571 PublicAccessBlock Support
  src/api/bucket_api.js
  src/api/common_api.js
  src/endpoint/s3/ops/index.js
  src/endpoint/s3/ops/s3_delete_bucket_public_access_block.js
  src/endpoint/s3/ops/s3_get_bucket_public_access_block.js
  src/endpoint/s3/ops/s3_put_bucket_public_access_block.js
  src/endpoint/s3/s3_bucket_policy_utils.js
  src/endpoint/s3/s3_rest.js
  src/endpoint/s3/s3_utils.js
  src/sdk/bucketspace_fs.js
  src/sdk/bucketspace_nb.js
  src/sdk/nb.d.ts
  src/sdk/object_sdk.js
  src/server/system_services/bucket_server.js
  src/server/system_services/schemas/bucket_schema.js
  src/server/system_services/schemas/nsfs_bucket_schema.js
  src/test/unit_tests/jest_tests/test_s3_utils.test.js
  src/test/unit_tests/nc_index.js
  src/test/unit_tests/test_public_access_block.js
Labels: size/XL

#8880 [NC | NSFS] Fix GPFS xattr read
  src/native/fs/fs_napi.cpp
Labels: size/XS

#8889 bucket notification - move kafka options into object. Also add missing call to destroy()
  docs/NooBaaNonContainerized/NooBaaCLI.md
  src/manage_nsfs/manage_nsfs_constants.js
  src/test/unit_tests/jest_tests/test_nc_connection_cli.test.js
  src/util/notifications_util.js
Labels: size/M

#8892 CI | Update Ceph S3 Tests Days (Temporary Solution)
  src/test/system_tests/ceph_s3_tests/test_ceph_s3_deploy.sh
Labels: size/XS

#8887 Remove `rimraf` and refractor `fs_utils.js`
  package-lock.json
  package.json
  src/util/fs_utils.js
Labels: size/M

#8873 Presigned URL | Add an Error on Expiry with a Negative Number
  docs/NooBaaNonContainerized/S3Ops.md
  src/endpoint/s3/s3_errors.js
  src/test/unit_tests/test_nsfs_integration.js
  src/util/signature_utils.js
Labels: size/M

#8895 [5.18] Bumping version from 5.18.1 to 5.18.2
  package-lock.json
  package.json
  src/test/system_tests/ceph_s3_tests/test_ceph_s3_deploy.sh
Labels: size/XS

#8881 NC | Backports - 5.18.z
  config.js
  docs/NooBaaNonContainerized/NooBaaCLI.md
  src/endpoint/s3/ops/s3_get_object.js
  src/endpoint/s3/ops/s3_head_object.js
  src/native/fs/fs_napi.cpp
  src/sdk/config_fs.js
  src/sdk/namespace_fs.js
  src/test/unit_tests/jest_tests/test_nc_nsfs_account_cli.test.js
  src/test/unit_tests/jest_tests/test_nc_nsfs_bucket_cli.test.js
  src/test/unit_tests/jest_tests/test_nsfs_concurrency.test.js
  src/test/unit_tests/test_namespace_fs.js
  src/test/unit_tests/test_nsfs_integration.js
  src/util/cloud_utils.js
  src/util/http_utils.js
  src/util/native_fs_utils.js
Labels: size/XL

#8882 NC | Lifecycle | backports to 5.18
  config.js
  src/cmd/manage_nsfs.js
  src/cmd/nsfs.js
  src/manage_nsfs/health.js
  src/manage_nsfs/manage_nsfs_cli_errors.js
  src/manage_nsfs/manage_nsfs_cli_responses.js
  src/manage_nsfs/manage_nsfs_cli_utils.js
  src/manage_nsfs/manage_nsfs_constants.js
  src/manage_nsfs/manage_nsfs_events_utils.js
  src/manage_nsfs/manage_nsfs_glacier.js
  src/manage_nsfs/manage_nsfs_validations.js
  src/manage_nsfs/nc_lifecycle.js
  src/sdk/namespace_fs.js
  src/sdk/nsfs_object_sdk.js
  src/server/bg_services/lifecycle.js
  src/server/system_services/schemas/nsfs_config_schema.js
  src/test/unit_tests/jest_tests/test_nc_lifecycle_cli.test.js
  src/test/unit_tests/jest_tests/test_nc_nsfs_account_cli.test.js
  src/test/unit_tests/jest_tests/test_nc_nsfs_bucket_cli.test.js
  src/util/native_fs_utils.js
  src/util/notifications_util.js
Labels: size/XXL

#8896 Bumping deps to avoid CVE (16/03/2025)
  package-lock.json
  package.json
  src/agent/agent_cli.js
  src/endpoint/blob/ops/blob_put_blob.js
  src/endpoint/blob/ops/blob_put_blob_blocklist.js
  src/endpoint/s3/ops/s3_post_object_uploads.js
  src/endpoint/s3/ops/s3_put_bucket_lifecycle.js
  src/endpoint/s3/ops/s3_put_object.js
  src/hosted_agents/hosted_agents.js
  src/sdk/endpoint_stats_collector.js
  src/sdk/namespace_fs.js
  src/sdk/namespace_net_storage.js
  src/server/object_services/md_store.js
  src/server/object_services/object_server.js
  src/server/system_services/pool_controllers.js
  src/test/system_tests/test_bucket_access.js
  src/test/system_tests/test_node_failure.js
  src/test/unit_tests/test_lifecycle.js
  src/tools/s3cat.js
  src/util/fs_utils.js
  src/util/native_fs_utils.js
Labels: size/L

#8893 NC | Lifecycle | Health
  src/manage_nsfs/health.js
  src/manage_nsfs/manage_nsfs_constants.js
  src/manage_nsfs/manage_nsfs_help_utils.js
  src/test/unit_tests/test_nc_health.js
Labels: size/L

#8801 [Backport int 5.18] bucket notification - backports
  config.js
  docs/NooBaaNonContainerized/ConfigFileCustomizations.md
  docs/NooBaaNonContainerized/Health.md
  docs/NooBaaNonContainerized/NooBaaCLI.md
  docs/bucket-notifications.md
  src/cmd/manage_nsfs.js
  src/endpoint/s3/ops/s3_put_object.js
  src/endpoint/s3/s3_bucket_logging.js
  src/manage_nsfs/health.js
  src/manage_nsfs/manage_nsfs_cli_errors.js
  src/manage_nsfs/manage_nsfs_constants.js
  src/manage_nsfs/manage_nsfs_help_utils.js
  src/sdk/namespace_fs.js
  src/test/unit_tests/jest_tests/test_nc_nsfs_connection_cli.test.js
  src/test/unit_tests/test_nc_health.js
  src/util/notifications_util.js
Labels: size/XL

#8898 [Backport 5.18] Fix RPM build on RHEL8 & friends
  src/deploy/NVA_build/Base.Dockerfile
  src/deploy/RPM_build/RPM.Dockerfile
  src/deploy/RPM_build/noobaa.spec
  src/native/s3select/s3select.gyp
Labels: size/S

#8897 NC | lifecycle | expire objects with batching
  config.js
  src/manage_nsfs/manage_nsfs_events_utils.js
  src/manage_nsfs/nc_lifecycle.js
  src/test/unit_tests/jest_tests/test_nc_lifecycle_cli.test.js
Labels: size/L

#8901 Fixing issue with allowed methods
  src/endpoint/s3/ops/s3_put_bucket_cors.js
  src/test/unit_tests/test_s3_ops.js
Labels: size/M

#8777 NC | `generate_entropy` Using `lsblk` Command
  config.js
  src/test/unit_tests/jest_tests/test_entropy_utils.test.js
  src/util/entropy_utils.js
  src/util/nb_native.js
Labels: size/L

#8902 [Backport into 5.18] disable node disconnect on error and detention
  config.js
  src/server/node_services/nodes_monitor.js
Labels: size/M

#8903 IAM, STS | Improve Log Printing Before Throw Error of `NotImplemented`
  src/endpoint/iam/iam_rest.js
  src/endpoint/sts/sts_rest.js
Labels: size/XS

#8891 Added a fix for event handling of different errors
  src/cmd/manage_nsfs.js
  src/manage_nsfs/manage_nsfs_cli_errors.js
  src/manage_nsfs/manage_nsfs_events_utils.js
Labels: size/M

#8909 [Backport into 4.18] Postgres queries on object metadata and datablocks take too long to complete
  src/server/object_services/schemas/data_block_indexes.js
  src/util/mongo_client.js
Labels: size/S

#8904 [backport to 5.18] Removing kube_pv_chown
  .github/workflows/jest-unit-tests.yaml
  src/deploy/NVA_build/NooBaa.Dockerfile
  src/deploy/NVA_build/noobaa_core.yaml
  src/deploy/NVA_build/noobaa_init.sh
  src/native/nb_native.gyp
  src/native/tools/kube_pv_chown.cpp
Labels: size/L

#8910 NC | Health | Connection test is invalid because of additional .json
  docs/bucket-notifications.md
  src/manage_nsfs/health.js
Labels: size/S

#8911 NC | Backport to 5.18.2
  docs/bucket-notifications.md
  src/manage_nsfs/health.js
Labels: size/S

#8886 bucket notifications - lifecycle - ignore failures (issue #8884)
  src/api/object_api.js
  src/server/bg_services/lifecycle.js
  src/server/object_services/object_server.js
Labels: size/M

#8917 bucket notifications - fixes for CompleteMultipartUploadResult etag and statusCode check
  src/endpoint/s3/ops/s3_post_object_uploadId.js
  src/endpoint/s3/s3_bucket_logging.js
  src/endpoint/s3/s3_rest.js
  src/test/unit_tests/test_notifications.js
  src/util/notifications_util.js
Labels: size/M

#8899 lifecycle | Versioned object doesn't leave a delete marker
  src/api/object_api.js
  src/server/bg_services/lifecycle.js
  src/server/object_services/object_server.js
  src/test/lifecycle/common.js
  src/test/unit_tests/test_lifecycle.js
Labels: size/M

#8919 [Backport into 5.18] Notif backports
  src/api/object_api.js
  src/endpoint/s3/ops/s3_post_object_uploadId.js
  src/endpoint/s3/s3_bucket_logging.js
  src/endpoint/s3/s3_rest.js
  src/server/bg_services/lifecycle.js
  src/server/object_services/object_server.js
  src/test/unit_tests/test_notifications.js
  src/util/notifications_util.js
Labels: size/L
