Repository noobaa/noobaa-core, pull requests merged in 2025-09, with the labels that each got.

#9211 Remove bcrypt
  package-lock.json
  package.json
  src/agent/block_store_speed.js
  src/api/account_api.js
  src/api/auth_api.js
  src/cmd/api.js
  src/cmd/backingstore.js
  src/rpc/rpc_schema.js
  src/sdk/nb.d.ts
  src/server/common_services/auth_server.js
  src/server/system_services/account_server.js
  src/server/system_services/schemas/account_schema.js
  src/test/external_tests/ceph_s3_tests/test_ceph_s3_config_setup.js
  src/test/external_tests/external_tests_utils.js
  src/test/integration_tests/api/s3/test_bucket_replication.js
  src/test/integration_tests/internal/test_system_servers.js
  src/test/integration_tests/nsfs/test_nsfs_integration.js
  src/test/pipeline/account_test.js
  src/test/pipeline/namespace_test.js
  src/test/pipeline/quota_test.js
  src/test/pipeline/run_dataset.js
  src/test/pipeline/run_namespace_cache_tests.js
  src/test/pipeline/system_config.js
  src/test/qa/agents_matrix.js
  src/test/qa/cloud_test.js
  src/test/qa/data_availability_test.js
  src/test/qa/rebuild_replicas_test.js
  src/test/qa/reclaim_test.js
  src/test/system_tests/sanity_build_test.js
  src/test/system_tests/test_bucket_access.js
  src/test/system_tests/test_bucket_placement.js
  src/test/system_tests/test_cloud_pools.js
  src/test/system_tests/test_md_aggregator.js
  src/test/system_tests/test_node_failure.js
  src/test/system_tests/test_s3_authentication.js
  src/test/utils/agent_functions.js
  src/test/utils/basic_server_ops.js
  src/test/utils/coretest/coretest.js
  src/test/utils/server_functions.js
  src/tools/bcrypt_cli.js
  src/tools/md_blow.js
  src/tools/md_blow_lifecycle.js
  src/tools/nbcat.js
  src/tools/rpc_shell.js
Labels: size/XXL

#9210 bucket logging - adapt s3 conn to aws sdk v3 (dfs 3887)
  package-lock.json
  package.json
  src/manage_nsfs/manage_nsfs_logging.js
  src/server/bg_services/bucket_logs_upload.js
  src/util/bucket_logs_utils.js
Labels: size/M

#9213 SDK | Fix log replication sdk issue
  src/server/bg_services/replication_log_parser.js
  src/server/utils/replication_utils.js
  src/test/unit_tests/internal/test_bucket_log_based_replication.test.js
  src/util/cloud_utils.js
Labels: size/M

#9203 [GLACIER] Fix task ID regex
  src/sdk/glacier_tapecloud.js
Labels: size/M

#9217 [Backport 5.20] PR #9094, #9203, #9211, #9215
  config.js
  package-lock.json
  package.json
  src/agent/block_store_speed.js
  src/api/account_api.js
  src/api/auth_api.js
  src/cmd/api.js
  src/cmd/backingstore.js
  src/rpc/rpc_schema.js
  src/sdk/glacier_tapecloud.js
  src/sdk/nb.d.ts
  src/server/analytic_services/prometheus_reporting.js
  src/server/common_services/auth_server.js
  src/server/node_services/nodes_monitor.js
  src/server/system_services/account_server.js
  src/server/system_services/schemas/account_schema.js
  src/test/external_tests/ceph_s3_tests/test_ceph_s3_config_setup.js
  src/test/external_tests/external_tests_utils.js
  src/test/integration_tests/api/s3/test_bucket_replication.js
  src/test/integration_tests/internal/test_system_servers.js
  src/test/integration_tests/nsfs/test_nsfs_integration.js
  src/test/pipeline/account_test.js
  src/test/pipeline/namespace_test.js
  src/test/pipeline/quota_test.js
  src/test/pipeline/run_dataset.js
  src/test/pipeline/run_namespace_cache_tests.js
  src/test/pipeline/system_config.js
  src/test/qa/agents_matrix.js
  src/test/qa/cloud_test.js
  src/test/qa/data_availability_test.js
  src/test/qa/rebuild_replicas_test.js
  src/test/qa/reclaim_test.js
  src/test/system_tests/sanity_build_test.js
  src/test/system_tests/test_bucket_access.js
  src/test/system_tests/test_bucket_placement.js
  src/test/system_tests/test_cloud_pools.js
  src/test/system_tests/test_md_aggregator.js
  src/test/system_tests/test_node_failure.js
  src/test/system_tests/test_s3_authentication.js
  src/test/utils/agent_functions.js
  src/test/utils/basic_server_ops.js
  src/test/utils/coretest/coretest.js
  src/test/utils/server_functions.js
  src/tools/bcrypt_cli.js
  src/tools/md_blow.js
  src/tools/md_blow_lifecycle.js
  src/tools/nbcat.js
  src/tools/rpc_shell.js
Labels: size/XXL

#9221 Fix - updated stats_api for schema validation failure
  src/api/stats_api.js
Labels: size/S

#9223 Bumping version from 5.20.0 to 5.21.0
  package-lock.json
  package.json
Labels: size/XS

#9224 Bumping deps to avoid CVE (21/09/2025)
  package-lock.json
  package.json
Labels: size/M

#9226 [5.19] Bumping version from 5.19.4 to 5.19.6
  package-lock.json
  package.json
Labels: size/XS

#9227 [Backport into 5.19] Bumping deps to avoid CVE (21/09/2025)
  package-lock.json
  package.json
Labels: size/M

#9222 [DB-Cleaner] fixing find_deleted_objects to hit index
  src/server/object_services/md_store.js
  src/test/integration_tests/db/test_md_store.js
Labels: size/M

#9233 [Backport to 5.20] [DB-Cleaner] fixing find_deleted_objects to hit index
  src/server/object_services/md_store.js
  src/test/integration_tests/db/test_md_store.js
Labels: size/M
