Repository noobaa/noobaa-core, pull requests merged in 2025-07, with the labels that each got.

#9129 Bumping deps to avoid CVE (02/07/2025)
  package-lock.json
  package.json
Labels: size/M

#9127 [5.18] Bumping version from 5.18.6 to 5.18.7
  package-lock.json
  package.json
Labels: size/XS

#9132 [Backport into 5.19] Bumping deps to avoid CVE (02/07/2025)
  package-lock.json
  package.json
Labels: size/M

#9124 [Backport into 5.18] nsfs nsr monitoring - fix last_monitoring when calculating mode (backport of PR #9003, commit 94ceff8)
  src/server/system_services/pool_server.js
Labels: size/XS

#9123 CI | Mint Integration with NooBaa
  .github/workflows/mint-nc-tests.yaml
  .github/workflows/mint-tests.yaml
  .github/workflows/run-pr-tests.yaml
  Makefile
  docs/CI & Tests/Mint.md
  src/endpoint/s3/s3_errors.js
  src/test/system_tests/external_tests_utils.js
  src/test/system_tests/mint/configure_mint.js
  src/test/system_tests/mint/mint_constants.js
  src/test/system_tests/mint/run_mint_on_test_container.sh
  src/test/system_tests/mint/run_nc_mint_on_test_container.sh
  src/test/system_tests/warp/configure_warp.js
  src/test/system_tests/warp/run_warp.js
Labels: size/XL

#9139 Revert objects reclaimer batch and error delays
  config.js
Labels: size/XS

#9121 Mongo | Remove mongo migration code
  src/deploy/NVA_build/noobaa_init.sh
  src/test/unit_tests/test_migration_to_postgres.js
  src/test/unit_tests/test_postgres_upgrade.js
  src/upgrade/migration_to_postgres.js
  src/upgrade/migrator.js
Labels: size/XL, Enable-Auto-Rebase

#9143 fix aws sdk tests following tests directory change
  Makefile
  src/test/different_clients/go_aws_sdkv2_client.go
  src/test/different_clients/run_go_sdkv2_client_script.js
  src/test/external_tests/different_clients/run_go_sdkv2_client_script.js
  src/test/external_tests/test_go_sdkv2_script.js
Labels: size/L

#9144 remove push directive so we will not run tests on merge
  .github/workflows/Validate-package-lock.yaml
  .github/workflows/jest-unit-tests.yaml
  .github/workflows/run-pr-tests.yaml
Labels: size/XS

#9147 S3 | Fix chunked content encoding parsing check
  src/test/integration_tests/api/s3/test_chunked_upload.js
  src/test/utils/index/index.js
  src/test/utils/index/nc_index.js
  src/util/http_utils.js
Labels: size/L

#9067 SDK | Upgrade AWS SDK to v3 - Block Store S3
  package-lock.json
  package.json
  src/agent/block_store_services/block_store_s3.js
  src/test/unit_tests/util_functions_tests/test_cloud_utils.js
  src/util/cloud_utils.js
Labels: size/L

#9154 NC | 5.19.1 Backports
  src/manage_nsfs/nc_lifecycle.js
Labels: size/XS

#9149 Mongo | Remove mongo_pool code(1/2)
  config.js
  src/agent/agent.js
  src/api/hosted_agents_api.js
  src/api/object_api.js
  src/api/pool_api.js
  src/hosted_agents/hosted_agents.js
  src/sdk/map_api_types.js
  src/server/node_services/node_allocator.js
  src/server/node_services/nodes_monitor.js
  src/server/object_services/map_db_types.js
  src/server/object_services/mapper.js
  src/server/system_services/account_server.js
  src/server/system_services/bucket_server.js
  src/server/system_services/pool_server.js
  src/server/system_services/schemas/pool_schema.js
  src/server/system_services/stats_aggregator.js
  src/server/system_services/system_server.js
Labels: size/L

#9155 NC | 5.18.8 Backports
  src/manage_nsfs/nc_lifecycle.js
  src/test/unit_tests/jest_tests/test_nc_lifecycle_gpfs_ilm_integration.test.js
Labels: size/L

#9162 [Backport into 5.18] Bumping deps to avoid CVE (02/07/2025)
  package-lock.json
  package.json
Labels: size/M

#9167 [5.16] Bumping version from 5.16.12 to 5.16.13
  package-lock.json
  package.json
Labels: size/XS

#9169 [5.14] Bumping version from 5.14.20 to 5.14.21
  package-lock.json
  package.json
Labels: size/XS

#9173 [Backport into 5.17] Backport some fixes
  config.js
  package-lock.json
  package.json
  src/util/http_utils.js
Labels: size/M

#9176 [Backport into 5.16] Backport some fixes
  config.js
  package-lock.json
  package.json
  src/util/http_utils.js
Labels: size/M

#9178 [Backport into 5.15] Backport some fixes
  config.js
  package-lock.json
  package.json
  src/util/http_utils.js
Labels: size/M

#9171 [NSFS | Glacier] Disallow UploadPartCopy if the source is not restored
  src/sdk/namespace_fs.js
  src/test/unit_tests/nsfs/test_nsfs_glacier_backend.js
Labels: size/M

#9180 [Backport into 5.14] Backport some fixes
  config.js
  src/util/http_utils.js
Labels: size/XS
