Repository noobaa/noobaa-core, pull requests merged in 2025-08, with the labels that each got.

#9187 Bumping deps to avoid CVE (10/08/2025)
  package-lock.json
  package.json
Labels: size/S

#9189 NC | Remove error on No upgrade required
  src/manage_nsfs/manage_nsfs_cli_responses.js
  src/manage_nsfs/upgrade.js
  src/test/integration_tests/nc/cli/test_cli_upgrade.test.js
  src/test/unit_tests/nc/configuration/test_nc_upgrade_manager.test.js
  src/upgrade/nc_upgrade_manager.js
Labels: size/L

#9182 Mongo | Fix mongo_pool issues
  src/server/system_services/bucket_server.js
  src/server/system_services/pool_server.js
  src/test/integration_tests/internal/test_upgrade_scripts.js
  src/upgrade/upgrade_scripts/5.20.0/remove_mongo_pool.js
Labels: size/L

#9192 Tests | Fix falckyness in test_chunked_upload
  src/test/integration_tests/api/s3/test_chunked_upload.js
Labels: size/S

#9160 lifecycle improvement for none-versionning buckets
  src/server/object_services/md_store.js
  src/server/object_services/object_server.js
  src/test/integration_tests/api/s3/test_lifecycle.js
  src/test/integration_tests/db/test_md_store.js
Labels: size/L

#9194 Backport to 5.20
  config.js
  src/manage_nsfs/manage_nsfs_glacier.js
  src/rpc/ice.js
  src/sdk/glacier.js
  src/sdk/glacier_tapecloud.js
  src/server/object_services/md_store.js
  src/server/object_services/object_server.js
  src/test/integration_tests/api/s3/test_lifecycle.js
  src/test/integration_tests/db/test_md_store.js
  src/test/unit_tests/nsfs/test_nsfs_glacier_backend.js
  src/test/unit_tests/util_functions_tests/test_net_utils.test.js
  src/util/bucket_logs_utils.js
  src/util/file_reader.js
  src/util/http_utils.js
  src/util/native_fs_utils.js
  src/util/net_utils.js
  src/util/notifications_util.js
  src/util/persistent_logger.js
Labels: size/XXL

#9163 SDK | Upgrade AWS SDK to v3 - NamespaceS3
  src/endpoint/s3/s3_utils.js
  src/sdk/namespace_s3.js
  src/sdk/object_sdk.js
  src/test/integration_tests/api/s3/test_s3_ops.js
  src/test/unit_tests/util_functions_tests/test_cloud_utils.js
  src/util/cloud_utils.js
Labels: size/L

#9201 Add no error for cast issue with macos
  src/native/common.gypi
Labels: size/XS

#9200 Fix get_tz_date for UTC
  src/manage_nsfs/manage_nsfs_cli_utils.js
  src/test/integration_tests/nc/cli/test_nc_cli.js
Labels: size/L

#9202 NC | list_mulitpart upload fixes
  src/sdk/namespace_fs.js
Labels: size/XS
