Repository noobaa/noobaa-core, pull requests merged in 2025-06, with the labels that each got.

#9048 bucket notifications - fix diagnose's test notifs (broken after 8951)
  src/manage_nsfs/health.js
Labels: size/XS

#9053 [5.14 hotfix for 2058] Noobaa LONG QUERY causing timeouts on endpoints
  config.js
Labels: size/XS

#9049 [Backport into 5.19] fix diagnose connections
  src/manage_nsfs/health.js
Labels: size/XS

#9059 [Backport into 5.16] Bumping deps to avoid CVE (07/05/2025)
  package-lock.json
  package.json
Labels: size/M

#9050 [Backport into 5.18] fix diagnose connections
  src/manage_nsfs/health.js
Labels: size/XS

#9064 [Backport into 5.18] NC | LIFECYLE | GPFS | add external binary directory and --allow-scan…
  config.js
  src/manage_nsfs/nc_lifecycle.js
  src/nc/nc_constants.js
Labels: size/M

#9065 [Backport into 5.19] NC | LIFECYLE | GPFS | add external binary directory and --allow-scan…
  config.js
  src/manage_nsfs/nc_lifecycle.js
  src/nc/nc_constants.js
Labels: size/M

#9063 [5.15] Bumping version from 5.15.14 to 5.15.15
  .github/workflows/jest-unit-tests.yaml
  package-lock.json
  package.json
Labels: size/XS

#9068 [5.15 hotfix for 2058] Noobaa LONG QUERY causing timeouts on endpoints
  config.js
Labels: size/S

#9045 NC Health | add dedicated servers for each forks for health checks
  config.js
  src/endpoint/endpoint.js
  src/manage_nsfs/health.js
  src/nc/nc_utils.js
  src/test/system_tests/test_utils.js
  src/test/unit_tests/nc_coretest.js
  src/test/unit_tests/test_nc_health.js
  src/test/unit_tests/test_nc_with_a_couple_of_forks.js
  src/util/fork_utils.js
  src/util/http_utils.js
  src/util/ssl_utils.js
Labels: size/L

#9071 Bumping deps to avoid CVE (10/06/2025)
  package-lock.json
  package.json
Labels: size/S

#9069 NC | Lifecycle | GPFS | fix skip of incorrect noobaa uploads internal directory
  src/manage_nsfs/nc_lifecycle.js
  src/test/unit_tests/jest_tests/test_nc_lifecycle_gpfs_ilm_integration.test.js
Labels: size/XS

#9072 [5.14] Bumping version from 5.14.18 to 5.14.19
  .github/workflows/jest-unit-tests.yaml
  package-lock.json
  package.json
Labels: size/XS

#9075 [Backport into 5.19] Bumping deps to avoid CVE (10/06/2025)
  package-lock.json
  package.json
Labels: size/M

#9077 [Backport into 5.18] Bumping deps to avoid CVE (10/06/2025)
  package-lock.json
  package.json
Labels: size/M

#9076 Trying to fine-tune coderabbit
  .coderabbit.yaml
Labels: size/S

#9080 more changes to coderabbit
  .coderabbit.yaml
Labels: size/XS

#9079 [Backport into 5.17] Bumping deps to avoid CVE (10/06/2025)
  package-lock.json
  package.json
Labels: size/S

#9082 [Backport into 5.16] Bumping deps to avoid CVE (10/06/2025)
  package-lock.json
  package.json
Labels: size/S

#9051 CI | seperate noobaa image build to different action
  .github/workflows/ceph-nsfs-s3-tests.yaml
  .github/workflows/ceph-s3-tests.yaml
  .github/workflows/nc_unit.yml
  .github/workflows/postgres-unit-tests.yaml
  .github/workflows/run-pr-tests.yaml
  .github/workflows/sanity-ssl.yaml
  .github/workflows/sanity.yaml
  .github/workflows/unit.yaml
  .github/workflows/warp-nc-tests.yaml
  .github/workflows/warp-tests.yaml
Labels: size/L

#9089 [Backport into 5.17] Noobaa LONG QUERY causing timeouts on endpoints
  config.js
Labels: size/S

#9092 [Backport into 5.14] Noobaa LONG QUERY causing timeouts on endpoints
  config.js
Labels: size/XS

#9090 [Backport into 5.16] Noobaa LONG QUERY causing timeouts on endpoints
  config.js
Labels: size/S

#9097 [Backport to 5.16] Avoid dedup chunks that are relatively new
  config.js
  src/server/object_services/mapper.js
  src/test/unit_tests/test_encryption.js
Labels: size/S

#9086 [Backport 5.19] PR 9043 - add support for uls deletion
  src/cmd/manage_nsfs.js
  src/manage_nsfs/manage_nsfs_constants.js
  src/manage_nsfs/manage_nsfs_help_utils.js
  src/manage_nsfs/manage_nsfs_validations.js
  src/sdk/bucketspace_fs.js
  src/test/unit_tests/jest_tests/test_nc_bucket_cli.test.js
Labels: size/L

#9098 NC | GPFS | ILM policy special chars and tagging fixes
  src/manage_nsfs/nc_lifecycle.js
  src/test/unit_tests/jest_tests/test_nc_lifecycle_gpfs_ilm_integration.test.js
Labels: size/L
