Repository noobaa/noobaa-core, pull requests merged in 2025-01, with the labels that each got.

#8639 [Backport into 5.17] Bumping deps to avoid CVE (30/12/2024)
  package-lock.json
  package.json
  src/test/system_tests/ceph_s3_tests/test_ceph_s3_deploy.sh
Labels: size/M

#8640 CI | Add Validate package-lock.json Tests
  .github/workflows/Validate-package-lock.yaml
Labels: size/M

#8641 [Backport into 5.16] Bumping deps to avoid CVE (30/12/2024)
  package-lock.json
  package.json
Labels: size/S

#8636 NC | Fix test_nc_upgrade_manager cleanup
  src/test/unit_tests/jest_tests/test_nc_upgrade_manager.test.js
Labels: size/S

#8637 CI | Reduce run time | Convert test_file_writer to jest
  src/test/unit_tests/index.js
  src/test/unit_tests/jest_tests/test_file_writer.test.js
  src/test/unit_tests/nc_index.js
Labels: size/M

#8632 [Backport into 5.18] Bucket Notifications - fix event typo after schema change
  src/util/notifications_util.js
Labels: size/XS

#8627 NC | Online Upgrade | add host config dir version to system.json | Health - add blocked hosts check
  src/cmd/nsfs.js
  src/manage_nsfs/health.js
  src/sdk/config_fs.js
  src/test/unit_tests/jest_tests/test_config_fs.test.js
  src/test/unit_tests/jest_tests/test_nc_upgrade_manager.test.js
  src/test/unit_tests/test_nc_health.js
  src/upgrade/nc_upgrade_manager.js
Labels: size/L

#8638 NC | Online upgrade improvements
  docs/NooBaaNonContainerized/Upgrade.md
  src/test/unit_tests/jest_tests/test_nc_upgrade_manager.test.js
  src/upgrade/nc_upgrade_manager.js
  src/upgrade/nc_upgrade_scripts/1.0.0/config_dir_restructure.js
  src/upgrade/upgrade_utils.js
Labels: size/L

#8646 Backport to 5.18 : CI and Online Upgrade
  .github/workflows/Validate-package-lock.yaml
  docs/NooBaaNonContainerized/Upgrade.md
  src/cmd/nsfs.js
  src/manage_nsfs/health.js
  src/sdk/config_fs.js
  src/test/unit_tests/index.js
  src/test/unit_tests/jest_tests/test_config_fs.test.js
  src/test/unit_tests/jest_tests/test_file_writer.test.js
  src/test/unit_tests/jest_tests/test_nc_upgrade_manager.test.js
  src/test/unit_tests/nc_index.js
  src/test/unit_tests/test_nc_health.js
  src/upgrade/nc_upgrade_manager.js
  src/upgrade/nc_upgrade_scripts/1.0.0/config_dir_restructure.js
  src/upgrade/upgrade_utils.js
Labels: size/XL

#8657 bucket notifications - get notif should clone result before altering it (dfsbugs 1286)
  src/endpoint/s3/ops/s3_get_bucket_notification.js
Labels: size/XS

#8658 [Backport into 5.18] bucket notifications - get notif should clone result before altering it (dfsbugs 1286)
  src/endpoint/s3/ops/s3_get_bucket_notification.js
Labels: size/XS

#8655 bucket notifications - fix TopicConfiguration array for get (github issue 8647)
  src/endpoint/s3/ops/s3_get_bucket_notification.js
Labels: size/S

#8659 bucket notifications - go on to next event when checking event filters (gh issue 8652)
  src/util/notifications_util.js
Labels: size/XS

#8663 [Backport into 5.18] Notif backports
  src/endpoint/s3/ops/s3_get_bucket_notification.js
  src/util/notifications_util.js
Labels: size/S

#8628 Added restriction to limit the ID length to 255 characters in bucket lifecycle rules
  src/endpoint/s3/ops/s3_put_bucket_lifecycle.js
  src/endpoint/s3/s3_constants.js
  src/test/lifecycle/common.js
  src/test/system_tests/test_lifecycle.js
Labels: size/M

#8629 Added a check for duplicate Id in bucket lifecycle rules
  src/endpoint/s3/ops/s3_put_bucket_lifecycle.js
  src/test/lifecycle/common.js
  src/test/system_tests/test_lifecycle.js
Labels: size/M

#8662 bucket notification - ensure all lines in a persitent log are processed (gh issue 8653)
  src/util/notifications_util.js
Labels: size/M

#8671 NC | Fix for NooBaa CLI not creating events
  src/cmd/manage_nsfs.js
Labels: size/XS

#8670 NC | Online Upgrade events
  src/manage_nsfs/manage_nsfs_cli_errors.js
  src/manage_nsfs/manage_nsfs_cli_responses.js
  src/manage_nsfs/manage_nsfs_events_utils.js
  src/manage_nsfs/upgrade.js
Labels: size/M

#8645 NC | Online Upgrade | Add nc_upgrade_manager.upgrade_config_dir() unit tests
  src/test/unit_tests/jest_tests/test_nc_upgrade_manager.test.js
Labels: size/L

#8552 NSFS | NC | add option to set account supplemental groups
  docs/NooBaaNonContainerized/AccountsAndBuckets.md
  docs/NooBaaNonContainerized/NooBaaCLI.md
  docs/NooBaaNonContainerized/S3Ops.md
  src/api/account_api.js
  src/api/common_api.js
  src/cmd/manage_nsfs.js
  src/manage_nsfs/manage_nsfs_cli_errors.js
  src/manage_nsfs/manage_nsfs_cli_utils.js
  src/manage_nsfs/manage_nsfs_constants.js
  src/manage_nsfs/manage_nsfs_help_utils.js
  src/manage_nsfs/manage_nsfs_validations.js
  src/native/fs/fs_napi.cpp
  src/native/util/os.h
  src/native/util/os_darwin.cpp
  src/native/util/os_linux.cpp
  src/sdk/accountspace_fs.js
  src/sdk/nb.d.ts
  src/server/system_services/schemas/nsfs_account_schema.js
  src/test/unit_tests/jest_tests/test_nc_nsfs_account_cli.test.js
  src/test/unit_tests/jest_tests/test_nc_nsfs_anonymous_cli.test.js
  src/test/unit_tests/test_nsfs_access.js
  src/util/native_fs_utils.js
Labels: size/XL

#8674 Bumping node from v22.4.1 to v22.11.0
  .nvmrc
Labels: size/XS

#8675 [Backport into 5.18] Bumping node from v22.4.1 to v22.11.0
  .nvmrc
Labels: size/XS

#8676 [5.17] Bumping version from 5.17.2 to 5.17.3
  .github/workflows/Validate-package-lock.yaml
  .nvmrc
  package-lock.json
  package.json
Labels: size/M

#8677 [5.15] Bumping version from 5.15.9 to 5.15.10
  .github/workflows/Validate-package-lock.yaml
  package-lock.json
  package.json
  src/test/system_tests/ceph_s3_tests/test_ceph_s3_deploy.sh
Labels: size/M

#8669 [5.16] Bumping version from 5.16.5 to 5.16.6
  .github/workflows/Validate-package-lock.yaml
  package-lock.json
  package.json
Labels: size/M

#8678 Backport to 5.18 - Bucket Notifications, Lifecycle Rules Validation and NC events
  docs/NooBaaNonContainerized/AccountsAndBuckets.md
  docs/NooBaaNonContainerized/NooBaaCLI.md
  docs/NooBaaNonContainerized/S3Ops.md
  src/api/account_api.js
  src/api/common_api.js
  src/cmd/manage_nsfs.js
  src/endpoint/s3/ops/s3_put_bucket_lifecycle.js
  src/endpoint/s3/s3_constants.js
  src/manage_nsfs/manage_nsfs_cli_errors.js
  src/manage_nsfs/manage_nsfs_cli_responses.js
  src/manage_nsfs/manage_nsfs_cli_utils.js
  src/manage_nsfs/manage_nsfs_constants.js
  src/manage_nsfs/manage_nsfs_events_utils.js
  src/manage_nsfs/manage_nsfs_help_utils.js
  src/manage_nsfs/manage_nsfs_validations.js
  src/manage_nsfs/upgrade.js
  src/native/fs/fs_napi.cpp
  src/native/util/os.h
  src/native/util/os_darwin.cpp
  src/native/util/os_linux.cpp
  src/sdk/accountspace_fs.js
  src/sdk/nb.d.ts
  src/server/system_services/schemas/nsfs_account_schema.js
  src/test/lifecycle/common.js
  src/test/system_tests/test_lifecycle.js
  src/test/unit_tests/jest_tests/test_nc_nsfs_account_cli.test.js
  src/test/unit_tests/jest_tests/test_nc_nsfs_anonymous_cli.test.js
  src/test/unit_tests/jest_tests/test_nc_upgrade_manager.test.js
  src/test/unit_tests/test_nsfs_access.js
  src/util/native_fs_utils.js
  src/util/notifications_util.js
Labels: size/XL

#8654 NC | Online Upgrade | Tests | Config directory restructure upgrade script unit tests
  docs/NooBaaNonContainerized/CI&Tests.md
  src/test/system_tests/test_utils.js
  src/test/unit_tests/jest_tests/test_config_dir_restructure_upgrade_script.test.js
  src/test/unit_tests/jest_tests/test_config_dir_structure.test.js
  src/upgrade/nc_upgrade_scripts/1.0.0/config_dir_restructure.js
  src/util/fs_utils.js
Labels: size/XL

#8681 NC | NSFS | Add Module (`dev-dependency`) `iam-client` For Integration Tests
  package-lock.json
  package.json
Labels: size/XS

#8679 Bumping deps to avoid CVE (13/01/2025)
  package-lock.json
  package.json
Labels: size/S

#8688 [Backport into 5.18] Some tests and CVE fixes (13/01/2025)
  docs/NooBaaNonContainerized/CI&Tests.md
  package-lock.json
  package.json
  src/test/system_tests/test_utils.js
  src/test/unit_tests/jest_tests/test_config_dir_restructure_upgrade_script.test.js
  src/test/unit_tests/jest_tests/test_config_dir_structure.test.js
  src/upgrade/nc_upgrade_scripts/1.0.0/config_dir_restructure.js
  src/util/fs_utils.js
Labels: size/XL

#8668 Noobaa/Quota: Provide correct error message
  src/endpoint/s3/s3_errors.js
  src/server/object_services/object_server.js
Labels: size/XS

#8689 [Backport into 5.17] Bumping deps to avoid CVE (13/01/2025)
  package-lock.json
  package.json
Labels: size/S

#8690 [Backport into 5.16] Bumping deps to avoid CVE (13/01/2025)
  package-lock.json
  package.json
Labels: size/S

#8691 [Backport into 5.15] Bumping deps to avoid CVE (13/01/2025)
  package-lock.json
  package.json
Labels: size/M

#8642 NC | NSFS | Add `stat` to `account_id_cache`
  config.js
  src/sdk/accountspace_fs.js
  src/sdk/config_fs.js
  src/sdk/object_sdk.js
  src/test/unit_tests/test_nc_with_a_couple_of_forks.js
Labels: size/L

#8685 bucket notification - introduce batch param
  config.js
  src/util/notifications_util.js
Labels: size/S

#8693 [Backport into 5.18] bucket notification backports
  config.js
  src/util/notifications_util.js
Labels: size/S

#8692 bucket notifications - allow empty notifications content to facilitate notification conf removal
  src/endpoint/s3/ops/s3_put_bucket_notification.js
  src/util/notifications_util.js
Labels: size/S

#8664 Added a fix for handling invalid_schema_error returning with invalid status value for bucket lifecycle configuration rule
  src/endpoint/s3/ops/s3_put_bucket_lifecycle.js
  src/endpoint/s3/s3_constants.js
  src/endpoint/s3/s3_errors.js
  src/test/lifecycle/common.js
  src/test/system_tests/test_lifecycle.js
Labels: size/S

#8696 Upgrade utils | change variables, errors and log prints to be general to both Containerized and NC environments
  src/test/unit_tests/jest_tests/test_nc_upgrade_manager.test.js
  src/upgrade/upgrade_utils.js
Labels: size/M

#8682 NC | Online Upgrade | Integration tests | Add CLI and S3 integration tests
  docs/NooBaaNonContainerized/CI&Tests.md
  src/test/system_tests/test_utils.js
  src/test/unit_tests/jest_tests/test_nc_online_upgrade_cli_integrations.js
  src/test/unit_tests/nc_index.js
  src/test/unit_tests/test_nc_online_upgrade_s3_integrations.js
Labels: size/L

#8695 [Backport into 5.18] Allow empty content request to facilitate removing notif conf
  src/endpoint/s3/ops/s3_put_bucket_notification.js
  src/util/notifications_util.js
Labels: size/S

#8694 NC | Online Upgrade | Documentation
  docs/NooBaaNonContainerized/NooBaaCLI.md
  docs/NooBaaNonContainerized/Upgrade.md
  src/manage_nsfs/manage_nsfs_help_utils.js
  src/upgrade/nc_upgrade_manager.js
  src/upgrade/nc_upgrade_scripts/1.0.0/config_dir_restructure.js
Labels: size/L

#8673 SSL | Secure service for Noobaa metric
  config.js
  docs/NooBaaNonContainerized/ConfigFileCustomizations.md
  docs/NooBaaNonContainerized/Monitoring.md
  src/cmd/nsfs.js
  src/endpoint/endpoint.js
  src/server/analytic_services/prometheus_reporting.js
  src/util/fork_utils.js
  src/util/http_utils.js
  src/util/ssl_utils.js
Labels: size/L

#8701 NC | RPM build and install github action
  .github/workflows/manual-rpm-build-and-install-test.yaml
  .github/workflows/nightly-rpm-build-and-install-test.yaml
  .github/workflows/rpm-build-and-install-test-base.yaml
  Makefile
Labels: size/M

#8704 Backport to 5.18
  .github/workflows/manual-rpm-build-and-install-test.yaml
  .github/workflows/nightly-rpm-build-and-install-test.yaml
  .github/workflows/rpm-build-and-install-test-base.yaml
  Makefile
  config.js
  docs/NooBaaNonContainerized/CI&Tests.md
  docs/NooBaaNonContainerized/ConfigFileCustomizations.md
  docs/NooBaaNonContainerized/Monitoring.md
  docs/NooBaaNonContainerized/NooBaaCLI.md
  docs/NooBaaNonContainerized/Upgrade.md
  docs/bucket-replication.md
  docs/bucket-types.md
  docs/design/AWS_API_Compatibility.md
  docs/s3-compatibility.md
  src/cmd/nsfs.js
  src/endpoint/endpoint.js
  src/endpoint/s3/ops/s3_put_bucket_lifecycle.js
  src/endpoint/s3/s3_constants.js
  src/endpoint/s3/s3_errors.js
  src/endpoint/s3/s3_rest.js
  src/manage_nsfs/manage_nsfs_help_utils.js
  src/sdk/accountspace_fs.js
  src/sdk/bucketspace_fs.js
  src/sdk/config_fs.js
  src/sdk/object_sdk.js
  src/server/analytic_services/prometheus_reporting.js
  src/server/object_services/object_server.js
  src/test/lifecycle/common.js
  src/test/system_tests/test_lifecycle.js
  src/test/system_tests/test_utils.js
  src/test/unit_tests/jest_tests/test_nc_online_upgrade_cli_integrations.js
  src/test/unit_tests/jest_tests/test_nc_upgrade_manager.test.js
  src/test/unit_tests/nc_index.js
  src/test/unit_tests/test_nc_online_upgrade_s3_integrations.js
  src/test/unit_tests/test_nc_with_a_couple_of_forks.js
  src/test/unit_tests/test_s3_bucket_policy.js
  src/upgrade/nc_upgrade_manager.js
  src/upgrade/nc_upgrade_scripts/1.0.0/config_dir_restructure.js
  src/upgrade/upgrade_utils.js
  src/util/fork_utils.js
  src/util/http_utils.js
  src/util/ssl_utils.js
Labels: size/XXL

#8661 NC | NSFS | IAM | Tech Debts (IAM Integration Tests, Username Validation Move module and Allow IAM User to Create Bucket)
  src/endpoint/iam/iam_rest.js
  src/endpoint/iam/iam_utils.js
  src/manage_nsfs/manage_nsfs_validations.js
  src/sdk/bucketspace_fs.js
  src/test/system_tests/test_utils.js
  src/test/unit_tests/jest_tests/test_iam_utils.test.js
  src/test/unit_tests/jest_tests/test_validation_utils.test.js
  src/test/unit_tests/nc_coretest.js
  src/test/unit_tests/nc_index.js
  src/test/unit_tests/test_bucketspace_fs.js
  src/test/unit_tests/test_nc_iam_basic_integration.js
  src/util/validation_utils.js
Labels: size/XXL

#8705 CI | Increase Timeouts
  src/test/unit_tests/jest_tests/test_nc_nsfs_account_cli.test.js
Labels: size/XS

#8706 Backport to 5.18
  src/deploy/NVA_build/builder.Dockerfile
  src/deploy/RPM_build/noobaa.spec
  src/endpoint/iam/iam_rest.js
  src/endpoint/iam/iam_utils.js
  src/manage_nsfs/manage_nsfs_validations.js
  src/sdk/bucketspace_fs.js
  src/test/system_tests/test_utils.js
  src/test/unit_tests/jest_tests/test_iam_utils.test.js
  src/test/unit_tests/jest_tests/test_nc_nsfs_account_cli.test.js
  src/test/unit_tests/jest_tests/test_validation_utils.test.js
  src/test/unit_tests/nc_coretest.js
  src/test/unit_tests/nc_index.js
  src/test/unit_tests/test_bucketspace_fs.js
  src/test/unit_tests/test_nc_iam_basic_integration.js
  src/util/validation_utils.js
Labels: size/XXL

#8703 remove librdkafka/examples directory from our image - in order to decrease its size
  src/deploy/NVA_build/Base.Dockerfile
Labels: size/XS

#8684 bucket notifications - add action to encrypt connection file
  docs/NooBaaNonContainerized/NooBaaCLI.md
  src/cmd/manage_nsfs.js
  src/manage_nsfs/manage_nsfs_cli_errors.js
  src/manage_nsfs/manage_nsfs_cli_responses.js
  src/manage_nsfs/manage_nsfs_constants.js
  src/manage_nsfs/manage_nsfs_help_utils.js
  src/manage_nsfs/manage_nsfs_validations.js
  src/sdk/config_fs.js
  src/test/unit_tests/jest_tests/test_nc_nsfs_connection_cli.test.js
  src/util/notifications_util.js
Labels: size/XL

#8707 [Backport into 5.18] Notif backports
  docs/NooBaaNonContainerized/NooBaaCLI.md
  src/cmd/manage_nsfs.js
  src/manage_nsfs/manage_nsfs_cli_errors.js
  src/manage_nsfs/manage_nsfs_cli_responses.js
  src/manage_nsfs/manage_nsfs_constants.js
  src/manage_nsfs/manage_nsfs_help_utils.js
  src/manage_nsfs/manage_nsfs_validations.js
  src/sdk/config_fs.js
  src/test/unit_tests/jest_tests/test_nc_nsfs_connection_cli.test.js
  src/util/notifications_util.js
Labels: size/XL

#8713 NSFS | add option to unset supplemental groups using noobaa cli
  docs/NooBaaNonContainerized/NooBaaCLI.md
  src/manage_nsfs/manage_nsfs_cli_utils.js
  src/manage_nsfs/manage_nsfs_help_utils.js
  src/test/unit_tests/jest_tests/test_nc_nsfs_account_cli.test.js
Labels: size/M

#8719 Update ceph_s3_tests_pending_list_status.md
  docs/dev_guide/ceph_s3_tests/ceph_s3_tests_pending_list_status.md
Labels: size/XS

#8720 Backport to 5.18
  docs/NooBaaNonContainerized/NooBaaCLI.md
  docs/dev_guide/ceph_s3_tests/ceph_s3_tests_pending_list_status.md
  src/api/common_api.js
  src/deploy/NVA_build/Base.Dockerfile
  src/endpoint/s3/ops/s3_get_bucket_encryption.js
  src/manage_nsfs/manage_nsfs_cli_utils.js
  src/manage_nsfs/manage_nsfs_help_utils.js
  src/sdk/noobaa_s3_client/noobaa_s3_client_sdkv3.js
  src/server/system_services/bucket_server.js
  src/test/system_tests/ceph_s3_tests/s3-tests-lists/s3_tests_pending_list.txt
  src/test/unit_tests/jest_tests/test_nc_nsfs_account_cli.test.js
  src/test/unit_tests/test_s3_encryption.js
Labels: size/L

#8709 bucket notification - ignore failure if notification was removed
  src/util/notifications_util.js
Labels: size/M

#8687 NSFS | set supplemental groups dynamically to users groups
  docs/NooBaaNonContainerized/AccountsAndBuckets.md
  src/native/util/os_darwin.cpp
  src/native/util/os_linux.cpp
  src/test/system_tests/test_utils.js
  src/test/unit_tests/test_bucketspace_versioning.js
  src/test/unit_tests/test_nsfs_access.js
  src/test/unit_tests/test_nsfs_versioning.js
Labels: size/L

#8721 [Backport into 5.18] Notif backports
  src/util/notifications_util.js
Labels: size/M

#8708 bucket notifications - events for scale
  config.js
  docs/NooBaaNonContainerized/ConfigFileCustomizations.md
  docs/NooBaaNonContainerized/Events.md
  src/endpoint/s3/s3_bucket_logging.js
  src/manage_nsfs/manage_nsfs_events_utils.js
  src/server/system_services/schemas/nsfs_config_schema.js
  src/test/unit_tests/jest_tests/test_nc_nsfs_config_schema_validation.test.js
  src/util/notifications_util.js
Labels: size/L

#8724 bucket notifications - missing await in failure handling, default topic_configuration in put
  src/endpoint/s3/ops/s3_put_bucket_notification.js
  src/util/notifications_util.js
Labels: size/XS

#8725 [Backport into 5.18] Notif backports
  config.js
  docs/NooBaaNonContainerized/ConfigFileCustomizations.md
  docs/NooBaaNonContainerized/Events.md
  src/endpoint/s3/ops/s3_put_bucket_notification.js
  src/endpoint/s3/s3_bucket_logging.js
  src/manage_nsfs/manage_nsfs_events_utils.js
  src/server/system_services/schemas/nsfs_config_schema.js
  src/test/unit_tests/jest_tests/test_nc_nsfs_config_schema_validation.test.js
  src/util/notifications_util.js
Labels: size/L

#8731 NC | Online Upgrade Tests | convert hard coded version to pkg.version
  src/test/unit_tests/jest_tests/test_cli_upgrade.test.js
Labels: size/S

#8667 bucket notifications - validate notifications on change (gh issue 8649)
  src/cmd/manage_nsfs.js
  src/endpoint/s3/ops/s3_put_bucket_notification.js
  src/manage_nsfs/manage_nsfs_validations.js
  src/util/notifications_util.js
Labels: size/M

#8732 [Backport into .18[ bucket notifications - validate notifications conf on change (gh issue 8649)
  src/cmd/manage_nsfs.js
  src/endpoint/s3/ops/s3_put_bucket_notification.js
  src/manage_nsfs/manage_nsfs_validations.js
  src/util/notifications_util.js
Labels: size/M

#8717 Bump version to 5.19.0
  package-lock.json
  package.json
Labels: size/XS

#8734 NC | Related to Issue 8598 | generate_entropy() - Add Disks (Temporary and Partial Fix)
  src/util/nb_native.js
Labels: size/XS

#8737 [5.16] Bumping version from 5.16.6 to 5.16.7
  package-lock.json
  package.json
Labels: size/XS

#8729 Adding upgrade script to bucket CORS - new bucket default will be the same as in 5.18
  config.js
  src/sdk/bucketspace_fs.js
  src/server/system_services/bucket_server.js
  src/test/system_tests/ceph_s3_tests/run_ceph_nsfs_test_on_test_container.sh
  src/test/system_tests/ceph_s3_tests/run_ceph_test_on_test_container.sh
  src/test/unit_tests/test_upgrade_scripts.js
  src/upgrade/upgrade_scripts/5.19.0/upgrade_bucket_cors.js
  src/util/http_utils.js
Labels: size/L

#8738 [5.15] Bumping version from 5.15.10 to 5.15.11
  package-lock.json
  package.json
Labels: size/XS

#8728 Fix to break semaphore circular dependency
  src/agent/agent_cli.js
  src/agent/block_store_services/block_store_mongo.js
  src/agent/func_services/func_node.js
  src/rpc/ice.js
  src/rpc/rpc.js
  src/rpc/rpc_base_conn.js
  src/rpc/rpc_http.js
  src/rpc/rpc_request.js
  src/sdk/map_client.js
  src/sdk/namespace_cache.js
  src/sdk/nb.d.ts
  src/sdk/object_io.js
  src/server/bg_services/log_replication_scanner.js
  src/server/bg_services/replication_scanner.js
  src/server/license_info.js
  src/server/node_services/nodes_monitor.js
  src/server/system_services/system_store.js
  src/test/system_tests/test_files_ul.js
  src/test/unit_tests/test_buffer_pool.js
  src/test/unit_tests/test_promise_utils.js
  src/test/unit_tests/test_semaphore.js
  src/tools/http_speed.js
  src/tools/tcp_speed.js
  src/util/barrier.js
  src/util/bucket_logs_utils.js
  src/util/buffer_utils.js
  src/util/chunk_coder.js
  src/util/defer.js
  src/util/delayed_trigger.js
  src/util/fs_utils.js
  src/util/json_utils.js
  src/util/keys_lock.js
  src/util/keys_semaphore.js
  src/util/persistent_logger.js
  src/util/promise.js
  src/util/semaphore.js
  src/util/ssl_utils.js
  src/util/wait_queue.js
Labels: size/L

#8727 5.15.11 Backports | Pre-signed URL fixes + FileWriter addition (ChunkFS removal)
  config.js
  src/endpoint/s3/s3_errors.js
  src/sdk/namespace_fs.js
  src/test/unit_tests/index.js
  src/test/unit_tests/nc_coretest.js
  src/test/unit_tests/nc_index.js
  src/test/unit_tests/test_bucketspace.js
  src/test/unit_tests/test_chunk_fs.js
  src/test/unit_tests/test_file_writer.js
  src/tools/file_writer_hashing.js
  src/util/chunk_fs.js
  src/util/cloud_utils.js
  src/util/file_writer.js
  src/util/http_utils.js
  src/util/signature_utils.js
Labels: size/XL

#8726 5.16.7 Backports | Pre-signed URL fixes + FileWriter addition (ChunkFS removal)
  config.js
  src/endpoint/s3/s3_errors.js
  src/sdk/namespace_fs.js
  src/test/unit_tests/index.js
  src/test/unit_tests/nc_coretest.js
  src/test/unit_tests/nc_index.js
  src/test/unit_tests/test_bucketspace.js
  src/test/unit_tests/test_chunk_fs.js
  src/test/unit_tests/test_file_writer.js
  src/tools/file_writer_hashing.js
  src/util/chunk_fs.js
  src/util/cloud_utils.js
  src/util/file_writer.js
  src/util/http_utils.js
  src/util/signature_utils.js
Labels: size/XL

#8742 5.18 Backport | add nvme disks to generate_entropy()
  src/util/nb_native.js
Labels: size/XS

#8743 Backport to 5.18
  src/agent/agent_cli.js
  src/agent/block_store_services/block_store_mongo.js
  src/agent/func_services/func_node.js
  src/rpc/ice.js
  src/rpc/rpc.js
  src/rpc/rpc_base_conn.js
  src/rpc/rpc_http.js
  src/rpc/rpc_request.js
  src/sdk/map_client.js
  src/sdk/namespace_cache.js
  src/sdk/nb.d.ts
  src/sdk/object_io.js
  src/server/bg_services/log_replication_scanner.js
  src/server/bg_services/replication_scanner.js
  src/server/license_info.js
  src/server/node_services/nodes_monitor.js
  src/server/system_services/system_store.js
  src/test/system_tests/test_files_ul.js
  src/test/unit_tests/test_buffer_pool.js
  src/test/unit_tests/test_promise_utils.js
  src/test/unit_tests/test_semaphore.js
  src/tools/http_speed.js
  src/tools/tcp_speed.js
  src/util/barrier.js
  src/util/bucket_logs_utils.js
  src/util/buffer_utils.js
  src/util/chunk_coder.js
  src/util/defer.js
  src/util/delayed_trigger.js
  src/util/fs_utils.js
  src/util/json_utils.js
  src/util/keys_lock.js
  src/util/keys_semaphore.js
  src/util/persistent_logger.js
  src/util/promise.js
  src/util/semaphore.js
  src/util/ssl_utils.js
  src/util/wait_queue.js
Labels: size/L

#8497 notifications | unit tests
  config.js
  src/test/unit_tests/coretest.js
  src/test/unit_tests/index.js
  src/test/unit_tests/test_notifications.js
  src/util/notifications_util.js
Labels: size/L
